
<h3>
    Bank Alert Report
</h3>

<div ng-controller="osdBankAlertReportController">

    <div class="col-lg-12 col-sm-12 col-md-12 " style="text-align:right;padding-bottom:10px;">
        <button type="button" class="btn btn-success" ng-click="Bankreport()" title="Export Excel"><i class="fa fa-file-excel-o"><a download="" href="" id="btnpdf" style="display:none;"></a></i></button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <br /><br /><label style="background-color:white;left:90%;"> Export Excel </label>
    </div>
    <div class="row">
        <div class="col-lg-12 col-sm-12 col-md-12">
            <!-- START panel-->
            <div id="panelDemo13" class="panel panel-default">
                <div class="panel-body">
                    <div class="table-responsive">
                        <table datatable="ng" class="table table-striped row-border hover">
                            <thead>
                                <tr class="text-white" style="background-color:#09385f;">
                                    <th>S.No</th>
                                    <th class="nowrap">Business Unit Name</th>
                                    <th class="nowrap">Reference Number</th>
                                    <th class="nowrap">Ticket Created on</th>
                                    <th class="nowrap">Subject</th>
                                    <th class="nowrap">URN</th>
                                    <th class="nowrap">Customer Name</th>
                                    <th class="nowrap">Assigned to Operation</th>
                                    <th class="nowrap">Assigned on Operation</th>
                                    <th class="nowrap">Operation Completed date</th>
                                    <!--<th class="Status">Source</th>-->
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="data in BankReport_list | limitTo:limit">
                                    <td data-title="'S.No'">{{$index+1}}</td>
                                    <td data-title="'Business Unit Name'">{{data.department_name}}</td>
                                    <td data-title="'Reference Number'">{{data.ticketref_no}}</td>
                                    <td data-title="'Ticket Created on'">{{data.created_date}}</td>
                                    <td data-title="'Subject'">{{data.email_subject}}</td>
                                    <td data-title="'URN'">{{data.customer_urn}}</td>
                                    <td data-title="'Customer Name'">{{data.customer_name}}</td>
                                    <td data-title="'Assigned to Operation'">{{data.assigned_toname}}</td>
                                    <td data-title="'Assigned on Operation'">{{data.assigned_date}}</td>
                                    <td data-title="Operation Completed date">{{data.operationstatus_updated_date}}</td>
                                    <!--<td data-title="'Source'" ng-switch="data.source">
                        <label style="font-size:10px" ng-switch-when="E-mail" class="label label-green">E-Mail</label>
                        <label style="font-size:10px" ng-switch-when="KOTAK-API" class="label label-warning">Kotak API</label>
                        <label style="font-size:10px" ng-switch-when="BRS" class="label label-pink">BRS</label>
                    </td>-->
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <br />
                    <div class="text-right">
                        <button class="btn btn-success btn-md" ng-click="incrementLimit()">More</button>

                        <button class="btn btn-warning btn-md" ng-click="decrementLimit()">Less</button>

                    </div>
                    <br />
                </div>
            </div>
        </div>
    </div>
</div>
