
<style type="text/css">
    .picColor:hover {
        box-shadow: none;
        transform: translateY(-3px);
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
        text-decoration: underline;
    }
</style>
<style>
        .modal-content {
                margin-top: 120px;

    }
</style>
<h3>
    My Activity
</h3>


<div ng-controller="OsdTrnWorkMyTicketController">
  

    <div class="panel panel-default tabcontent">
        <br />

        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="col-lg-10 col-md-10 col-sm-10">
                </div>
                <div class="col-lg-2 col-md-2 col-sm-2">
                    <div style="text-align:right;">
                        &nbsp;&nbsp;  <a href="#/app/OsdTrnClosedMyTicket" title="Closed / Rejected" style="color:#141478;font-size:16px;">
                            <u><b>Closed / Rejected</b></u>
                        </a>
                    </div>
                    <br />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="col-lg-2 col-md-6 col-sm-12">
                    <button type="button" class="btn btn-labeled" ng-click="Allotted()" style="width:200px;height:50px;border:1px solid rgb(179, 177, 177);">
                        <div class="pull-right label" style="background-color:#838383;padding-top:5px;padding-bottom:5px;"> <b> {{alloted_count}}</b></div>
                        <b style="font-size: 14px;">Allotted</b>
                    </button>
                    <br />
                </div>
      
                <div class="col-lg-2 col-md-6 col-sm-12">

                    <button type="button" class="btn btn-labeled" ng-click="Work()" style="width:200px;height:50px;border:1px solid rgb(179, 177, 177);background-color: #84cbdb;">
                        <div class="pull-right label" style="background-color:#838383;padding-top:5px;padding-bottom:5px;"> <b> {{workinprogress_count}}</b></div>
                        <b style="font-size: 14px;">Work In Progress</b>
                    </button>
                    <br />
                </div>
               
                <div class="col-lg-2 col-md-6 col-sm-12">

                    <button type="button" class="btn btn-labeled" ng-click="Approval()" style="width:200px;height:50px;border:1px solid rgb(179, 177, 177);">
                        <div class="pull-right label" style="background-color:#838383;padding-top:5px;padding-bottom:5px;"> <b> {{approvalpending_count}}</b></div>
                        <b style="font-size: 14px;">Approval Pending</b>
                    </button>
                    <br />
                </div>
                <div class="col-lg-2 col-md-6 col-sm-12">
                    <button type="button" class="btn btn-labeled" ng-click="External()" style="width:200px;height:50px;border:1px solid rgb(179, 177, 177);">
                        <div class="pull-right label" style="background-color:#838383;padding-top:5px;padding-bottom:5px;"> <b> {{forward_count}}</b></div>
                        <b style="font-size: 14px;">External Transfer</b>
                    </button>
                    <br />
                </div>

                <div class="col-lg-2 col-md-6 col-sm-12">
                    <button type="button" class="btn btn-labeled" ng-click="Internal()" style="width:200px;height:50px;border:1px solid rgb(179, 177, 177);">
                        <div class="pull-right label" style="background-color:#838383;padding-top:5px;padding-bottom:5px;"> <b> {{transfer_count}}</b></div>
                        <b style="font-size: 14px;">Internal Transfer</b>
                    </button>
                    <br />

                </div>

                <div class="col-lg-2 col-md-6 col-sm-12">
                    <button type="button" class="btn btn-labeled" ng-click="Completed()" style="width:200px;height:50px;border:1px solid rgb(179, 177, 177);">
                        <div class="pull-right label" style="background-color:#838383;padding-top:5px;padding-bottom:5px;"><b> {{completed_count}}</b></div>
                        <b style="font-size: 14px;"> Completed</b>
                    </button>
                    <br />
                </div>


                <!--<div class="col-lg-2 col-md-6 col-sm-12">

                    <button type="button" class="btn btn-labeled" ng-click="Closed()" style="width:200px;height:50px;border:1px solid rgb(179, 177, 177);">
                        <div class="pull-right label" style="background-color:#838383;padding-top:5px;padding-bottom:5px;"><b> {{closed_count}}</b></div>
                        <b style="font-size: 14px;">Closed / Rejected</b>
                    </button>
                    <br />
                </div>-->
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="col-lg-3 col-md-6 col-sm-12">
                    <p style="color:#09385f;font-size: 17px;padding-top:20px"><b>Work In Progress Summary</b></p>
                    <hr />
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6">

                </div>

                <div class="col-lg-3 col-md-3 col-sm-3">
                    <br />
                    <a style="background-color:#edb9b9;" class="ng-binding ng-scope label label-pink">
                        <em class="fa"></em>
                    </a>&nbsp;<label> - Color Indicates Reopen Cases</label>
                    &nbsp;
                    <button title="Refresh" ng-click="Refresh()" class="btn btn-primary btn-sm">
                        <em class="fa fa-refresh"></em>
                    </button>
                </div>
            </div>
        </div>
        <div class="table-responsive">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <table datatable="ng" class="table table-hover table-striped mb-mails">
                    <thead>
                        <tr class="text-white" style="background-color:#09385f;">
                            <th class="text-center" style="display:none">S.No</th>
                            <th class="text-nowrap">Request Ref No</th>
                            <th class="text-nowrap">Raised On / By</th>
                            <th class="text-nowrap">Raised By Department</th>
                            <th class="text-nowrap">Raised To Business Unit</th>
                            <th class="text-nowrap">Activity Name</th>
                            <th class="text-nowrap">Request Title</th>
                            <th class="text-nowrap">Approval</th>
                            <th class="text-nowrap">Aging</th>
                            <th class="text-nowrap">Priority</th>
                            <th class="text-nowrap">Business Unit Status</th>
                            <th class="text-nowrap">Source</th>
                            <th class="text-nowrap">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="data in workinprogress_list" ng-switch="data.getapproval_flag" ng-style="data.reopen_flag == 'Y'?{'background-color':'#edb9b9'}:{}">
                            <td data-title="'S.No'" style="display:none">{{$index+1}}</td>
                            <td data-title="'Request Ref No'">{{data.request_refno}}</td>
                            <td data-title="'Raised On / By'">{{data.raised_date}} / {{data.raised_by}}</td>
                            <td data-title="'Raised Department'">{{data.raised_department}}</td>
                            <td data-title="'Department Name'">{{data.departmentname}}</td>
                            <td data-title="'Activity Name'">{{data.activity_name}}</td>
                            <td data-title="'Request Title'">{{data.request_title}}</td>
                            <td data-title="'Approval'" ng-switch="data.approval_status">
                                <label ng-switch-when="Pending" class="label label-info">Initiated</label>
                                <label ng-switch-when="Completed" class="label label-success">Completed</label>
                                <!--<label ng-switch-when="Rejected" class="label label-danger">Rejected</label>-->
                                <label ng-switch-when="NotInitiated" class="label label-danger"></label>
                            </td>
                            <td data-title="'aging'">{{data.aging}}</td>
                            <td data-title="'priority'">{{data.priority}}</td>
                            <td data-title="'Business Unit Status'">{{data.Businessactivity_Status}}</td>
                            <td data-title="'Source'" ng-switch="data.source">
                                <label style="font-size:10px" ng-switch-when="E-mail" class="label label-green">E-Mail</label>
                                <label style="font-size:10px" ng-switch-when="Kotak_Api" class="label label-warning">Kotak API</label>
                                <label style="font-size:10px" ng-switch-when="Kotak_API" class="label label-warning">Kotak API</label>
                                <label style="font-size:10px" ng-switch-when="BRS" class="label label-pink">BRS</label>
                                <label style="font-size:10px" ng-switch-when="Internal" class="label label-primary">Internal</label>
                            </td>
                            <td data-title="'Action'" class="nowrap">
                                <button title="view360" ng-click="workinprogressview360(data.servicerequest_gid, data.bankalert_flag, data.bankalert2allocated_gid, data.customer_gid,data.customer_urn,data.request_refno)" class="btn bg-blue-500">
                                    <em class="fa fa-retweet"></em>
                                </button>
                                <button title="Transfer Allocation" class="btn bg-pink-400"
                                        ng-click="TransferAllocationwithRemarks(data.servicerequest_gid, data.assigned_team, data.assigned_to, data.assigned_membergid, data.assigned_supportteamgid,data.department_gid,data.departmentname,data.activitymaster_gid,data.activity_name)">
                                    <em class="fa fa-external-link text-white"></em>
                                </button>
                                <button title="Get Approval" ng-switch-when="N" ng-click="getApprovalRequest(data.servicerequest_gid,'work')" class="btn bg-success">
                                    <em class="fa fa-thumbs-o-up"></em>
                                </button>
                                <button title="Get Approval" ng-switch-when="Y" ng-click="getApprovalRequest(data.servicerequest_gid,'work')" class="btn btn-green">
                                    <em class="fa fa-thumbs-o-up"></em>
                                </button>
                                <label ng-switch="data.response_flag">
                                    <a ng-switch-when="Y" title="view360" style="color:white;" class="blinking ng-binding ng-scope label label-pink">
                                        <b>New</b>
                                    </a>
                                </label>
                                <button title="Assign Priority" style="background-color:#09385f;" class="btn btn-pink"
                                        ng-click="Priority(data.servicerequest_gid,data.department_gid,data.departmentname)">
                                    <em class="fa fa-plus"></em>

                                </button>
                            </td>
                        </tr>
                        
                    </tbody>
                </table>
            </div>
        </div>
        <br /><br />
    </div>

    <script type="text/ng-template" id="/getApprovalmodal.html">
        <div class="modal-content" style="margin-top:0px">
            <md-toolbar>
                <div class="md-toolbar-tools" style="background-color:rgb(63, 110, 181);">
                    <h2><em class="fa fa-thumbs-o-up"></em>&nbsp;Get Approval</h2>
                    <span flex></span>

                </div>
            </md-toolbar>
            <div class="modal-body ng-scope">
                <form novalidate="" name="teamformsubmit" ng-submit="form.submitForm1()" autocomplete="off" class="form-validate form-horizontal">
                    <div class="pd-sm-10">
                        <div class="row">
                            <div class="col-sm-12 col-lg-12 col-md-12">
                                <br />
                                <label class="col-form-label"><strong>Approval Type &nbsp;<span style="color:red;">*</span></strong></label>
                                <div class="col">
                                    <div class="radio c-radio">
                                        <label>
                                            <input type="radio" id="approvaltype" required=""
                                                   name="approvaltype" value="Sequence"
                                                   ng-model="approval_type" />
                                            &nbsp;&nbsp;<span class="fa fa-circle"></span>Sequence
                                        </label>
                                        &nbsp;
                                        <label>
                                            <input type="radio" id="approvaltype" required=""
                                                   name="approval_type" value="Parallel"
                                                   ng-model="approval_type" />
                                            <span class="fa fa-circle"></span>Parallel
                                        </label>
                                    </div>
                                </div>

                            </div>

                        </div>
                        <br />
                        <div class="row">
                            <div class="col-sm-12 col-lg-12 col-md-12">
                                <label>Approval Person <span style="color:red">*</span></label>
                                <select name="approval_authority" id="approval_authority" chosen="" ng-options="m as m.employee_name for m in employee_list track by m.employee_gid"
                                        ng-change="coreChanged(cboapproval_member)" ng-model="cboapproval_member" class="chosen-select form-control"></select>
                            </div>

                        </div>
                        <br />
                        <!--Tagged Member View Code Starts-->
                        <p class="lead bb text-purple text-bold" style="font-size:16px;">Approval Members List</p>
                        <div class="row">
                            <div class="col-lg-12 col-sm-12 col-md-12">
                                <div class="col-lg-12 col-sm-12 col-md-12">
                                    <div id="statictable">
                                        <table class="table">
                                            <thead>
                                                <tr>
                                                    <th scope="col">S.No</th>
                                                    <th scope="col">Member Name</th>
                                                    <th scope="col">Action</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr class="text-center" ng-repeat="data in approvalmember">
                                                    <td title="S.No">{{$index+1}}</td>
                                                    <td title="Member Name" align="left">{{data.employee_name}}</td>
                                                    <td data-title="Action">

                                                        <a title="Delete" class="btn btn-sm btn-danger" ng-click="ApprovalMembercancel(data.tmpapprovalmember_gid)">
                                                            <span class="icon icon-trash "></span>
                                                        </a>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--Tagged Member View Code End-->
                        <div class="row">
                            <div class="col-sm-12 col-lg-12 col-md-12">
                                <label>Remarks  &nbsp;<span style="color:red">*</span></label>
                                <textarea style="resize:vertical;" ng-model="approval_remarks" placeholder="Enter Remarks" rows="3" maxlength="1000" class="form-control"
                                          required id="input_13" ng-trim="true" aria-multiline="true" tabindex="0" aria-invalid="true"></textarea>
                            </div>
                        </div>
                        <br />
                    </div>
                    <br />
                    <div>
                        <div class="text-center">
                            <button type="button" class="btn btn-success btn-md" ng-disabled="teamformsubmit.$invalid" ng-click="getapprovalclick()"><i class="fa fa-arrow-circle-right"></i>&nbsp;&nbsp;Submit</button>&nbsp;&nbsp;
                            <button ng-click="ok()" class="btn btn-danger"><i class="fa icon-close"></i>&nbsp;&nbsp;Close</button>
                        </div>
                    </div>
                </form>
            </div>
            </div>
    </script>

    <script type="text/ng-template" id="/transferallocationwithremarksmodal.html">
        <md-toolbar>
            <div class="md-toolbar-tools" style="background-color:rgb(63, 110, 181);">
                <h2><em class="fa fa-external-link"></em>&nbsp;Transfer Allocation</h2>
                <span flex></span>

            </div>
        </md-toolbar>
        <div class="modal-body ng-scope">
            <form novalidate="" name="teamformsubmit" ng-submit="form.submitForm1()" autocomplete="off" class="form-validate form-horizontal">
                <div class="pd-sm-10">
                    <div class="row">
                        <div class="col-sm-12 col-lg-12 col-md-12">
                            <label>Business Unit Name <span style="color:red"></span></label>
                            <p>{{department_name}}</p>
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-sm-12 col-lg-12 col-md-12">
                            <label>Activity Name<span style="color:red">*</span></label>
                            <!--<select id="activity_name" name="activity_name" ng-options="m as m.activity_name for m in activitylist track by m.activitymaster_gid"
                    ng-model="cboactivity" class="chosen-select form-control" required chosen="" style="height:37px;"
                    size="1">
                <option value=""> -----Select Activity-----</option>
            </select>-->
                            <select name="activity_name" ng-options="m.activitymaster_gid as m.activity_name for m in activitylist"
                                    ng-model="cboactivity" class="chosen-select form-control" style="height:37px;"
                                    size="1">
                                <option value=""> -----Select Activity-----</option>
                            </select>
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-sm-12 col-lg-12 col-md-12">
                            <label>Transfer Team <span style="color:red">*</span></label>
                            <select chosen="" ng-options="m as m.team_name for m in supportdtllist track by m.supportteam_gid"
                                    ng-model="cbosuppport_team" class="chosen-select form-control" required ng-change="onselectedchangeteam(team_name)"></select>
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-sm-12 col-lg-12 col-md-12">
                            <label>Transfer To <span style="color:red">*</span></label>
                            <select name="approval_authority" chosen=""
                                    ng-options="m.employee_name for m in teammembers_list track by m.employee_gid" required
                                    ng-model="cboemployee_name" class="chosen-select form-control"></select>
                        </div>
                    </div>
                    <br />
                    <!--<div class="row ">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <label>Priority<span style="color:red">*</span></label>
                            <select id="priority" name="priority" chosen="" ng-model="priority" required ng-change="onselectedchangepriority(priority)" class="chosen-select form-control">
                                <option value="High">High</option>
                                <option value="Medium">Medium</option>
                                <option value="Low">Low</option>
                            </select>
                        </div>
                    </div>
                    <br />-->
                    <div class="row">
                        <div class="col-sm-12 col-lg-12 col-md-12">
                            <label>Remarks  &nbsp;<span style="color:red">*</span></label>
                            <textarea style="resize:vertical;" ng-model="team_description" placeholder="Enter Remarks" rows="3" maxlength="1000" class="form-control" required
                                      id="input_15" ng-trim="true" aria-multiline="true" tabindex="0" aria-invalid="true"></textarea>
                        </div>
                    </div>
                    <br />
                    <div class="row" ng-show="transferlist">
                        <div class="col-sm-12 col-lg-12 col-md-12">
                            <label>Transfer Details </label>
                            <div class="table-responsive">
                                <table class="table table-striped table-secondary">
                                    <thead>
                                        <tr>
                                            <th align="center" scope="col">S.No</th>
                                            <th align="center" scope="col">Assigned Team</th>
                                            <th align="center" scope="col">Assigned Member</th>
                                            <!--<th align="center" scope="col">Priority</th>-->
                                            <th align="center" scope="col">Assigned Date/Time</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="data in transferlistdtllist">
                                            <td align="left" scope="col" title="S.No">
                                                {{$index+1}}
                                            </td>
                                            <td align="left" scope="col" title="Assigned Team">
                                                {{data.assigned_team}}
                                            </td>
                                            <td align="left" scope="col" title="Assigned Member">
                                                {{data.assigned_to}}
                                            </td>
                                            <!--<td align="left" scope="col" title="Priority">
                                                {{data.priority}}
                                            </td>-->
                                            <td align="left" scope="col" title="Assigned Date/Time">
                                                {{data.assigned_date}}
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <br />
                </div>
                <br />
                <div>
                    <div class="text-center">
                        <button type="button" class="btn btn-success btn-md" ng-disabled="teamformsubmit.$invalid" ng-click="teamSubmitremarks()"><i class="fa fa-arrow-circle-right"></i>&nbsp;&nbsp;Submit</button>&nbsp;&nbsp;
                        <button ng-click="ok()" class="btn btn-danger"><i class="fa icon-close"></i>&nbsp;&nbsp;Close</button>
                    </div>
                    <br />
                    <!--<div class="row ">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <label>Priority</label>
                            <select id="priority" name="priority" ng-model="priority" ng-change="onselectedchangepriority(priority)" class="chosen-select form-control">
                                <option value=""> -----NON-----</option>
                                <option value="High">High</option>
                                <option value="Medium">Medium</option>
                                <option value="Low">Low</option>
                                <option></option>

                            </select>
                        </div>
                    </div>
                    <br />
                    <div class="row" ng-show="transferlist">
                        <div class="col-sm-12 col-lg-12 col-md-12">
                            <label>Transfer Details </label>
                            <div class="table-responsive">
                                <table class="table table-striped table-secondary">
                                    <thead>
                                        <tr>
                                            <th align="center" scope="col">S.No</th>
                                            <th align="center" scope="col">Assigned Team</th>
                                            <th align="center" scope="col">Assigned Member</th>
                                            <th align="center" scope="col">Priority</th>
                                            <th align="center" scope="col">Assigned Date/Time</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="data in transferlistdtllist">
                                            <td align="left" scope="col" title="S.No">
                                                {{$index+1}}
                                            </td>
                                            <td align="left" scope="col" title="Assigned Team">
                                                {{data.assigned_team}}
                                            </td>
                                            <td align="left" scope="col" title="Assigned Member">
                                                {{data.assigned_to}}
                                            </td>
                                            <td align="left" scope="col" title="Priority">
                                                {{data.priority}}
                                            </td>
                                            <td align="left" scope="col" title="Assigned Date/Time">
                                                {{data.assigned_date}}
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <br />-->
                </div>
            </form>
        </div>
    </script>

    <script type="text/ng-template" id="/getReApprovalmodal.html">
        <md-toolbar>
            <div class="md-toolbar-tools" style="background-color:rgb(63, 110, 181);">
                <h2><em class="fa fa-thumbs-o-up"></em>&nbsp;Get Approval</h2>
                <span flex></span>

            </div>
        </md-toolbar>
        <div class="modal-body ng-scope">
            <form novalidate="" name="teamformsubmit" ng-submit="form.submitForm1()" autocomplete="off" class="form-validate form-horizontal">
                <div class="pd-sm-10">


                    <div class="row">
                        <div class="col-sm-12 col-lg-12 col-md-12">
                            <label>Approval Person <span style="color:red">*</span></label>

                            <select name="approval_authority" id="approval_authority" chosen="" ng-options="m as m.employee_name for m in employee_list track by m.employee_gid"
                                    ng-model="cboapproval_member" class="chosen-select form-control" required></select>
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-sm-12 col-lg-12 col-md-12">
                            <label>Remarks  &nbsp;<span style="color:red">*</span></label>
                            <textarea style="resize:vertical;" ng-model="approval_remarks" placeholder="Enter Remarks" rows="3" maxlength="1000" class="form-control"
                                      required id="input_14" ng-trim="true" aria-multiline="true" tabindex="0" aria-invalid="true"></textarea>
                        </div>
                    </div>
                    <br />
                </div>
                <br />
                <div>
                    <div class="text-center">
                        <button type="button" class="btn btn-success btn-md" ng-disabled="teamformsubmit.$invalid" ng-click="getreapprovalclick()"><i class="fa fa-arrow-circle-right"></i>&nbsp;&nbsp;Submit</button>&nbsp;&nbsp;
                        <button ng-click="ok()" class="btn btn-danger"><i class="fa icon-close"></i>&nbsp;&nbsp;Close</button>
                    </div>
                </div>
            </form>
        </div>
    </script>


    <script type="text/ng-template" id="/prioritymodal.html">
        <md-toolbar>
            <div class="md-toolbar-tools" style="background-color:rgb(63, 110, 181);">
                <h2><em class="fa fa-external-link"></em>&nbsp;Priority</h2>
                <span flex></span>

            </div>
        </md-toolbar>
        <div class="modal-body ng-scope">
            <form novalidate="" name="prioritysubmit" ng-submit="form.submitForm1()" autocomplete="off" class="form-validate form-horizontal">
                <div class="pd-sm-10">
                    <div class="row">
                        <div class="col-sm-12 col-lg-12 col-md-12">
                            <label>Business Unit Name <span style="color:red"></span></label>
                            <p>{{department_name}}</p>
                        </div>
                    </div>
                    <div class="row ">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <label>Priority<span style="color:red">*</span></label>
                            <select id="priority" name="priority" ng-model="priority" required ng-change="onselectedchangepriority(priority)" class="chosen-select form-control">
                                <option value="">None</option>
                                <option value="High">High</option>
                                <option value="Medium">Medium</option>
                                <option value="Low">Low</option>
                            </select>



                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-sm-12 col-lg-12 col-md-12">
                            <label>Priority Details </label>
                            <div class="table-responsive">
                                <table class="table table-striped table-secondary">
                                    <thead>
                                        <tr>
                                            <th align="center" scope="col">S.No</th>
                                            <th align="center" scope="col">Priority</th>
                                            <th align="center" scope="col">Created By</th>
                                            <th align="center" scope="col">Created Date</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="data in prioritylistdtllist">
                                            <td align="left" scope="col" title="S.No">
                                                {{$index+1}}
                                            </td>
                                            <td align="left" scope="col" title="Priority">
                                                {{data.priority}}
                                            </td>
                                            <!--<td align="left" scope="col" title="Assigned Team">
                                                {{data.assigned_team}}
                                            </td>-->
                                            <td align="left" scope="col" title="Created By">
                                                {{data.created_by}}
                                            </td>
                                            <td align="left" scope="col" title="Created Date">
                                                {{data.created_date}}
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <br />
                </div>
                <br />
                <div>
                    <div class="text-center">
                        <button type="button" class="btn btn-success btn-md"  ng-click="prioritySubmit()"><i class="fa fa-arrow-circle-right"></i>&nbsp;&nbsp;Submit</button>&nbsp;&nbsp;
                        <button ng-click="ok()" class="btn btn-danger"><i class="fa icon-close"></i>&nbsp;&nbsp;Close</button>
                    </div>
                    <br />

                </div>
            </form>
        </div>
    </script>

</div>
