<h3>
    Service Request
</h3>
<div ng-controller="osdTrnCancelledRequestSummaryController">
    <div class="row">
        <div class="col-lg-3 col-sm-3 col-md-3">
            <button title="Raise Request" class="btn btn-info btn-sm"
                    ng-click="raiserequest()">
                <em class="fa fa-plus"></em>&nbsp;Raise Request
            </button>
        </div>
        <div class="col-lg-9 col-sm-9 col-md-9">

        </div>
    </div>
    <br />
    <div class="panel">
        <br>
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="col-lg-2 col-md-6 col-sm-12">
                    <p style="color:#09385f;font-size: 17px;"><b>Cancelled Request Summary</b></p>
                    <hr />
                </div>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12">
                <!--<div class="col-lg-2 col-md-6 col-sm-12">
                    <p style="color:#09385f;font-size: 17px;"><b>My Assigned Calls Summary</b></p>
                    <hr />
                </div>-->
                <div class="col-lg-2 col-md-6 col-sm-12">
                    <button type="button" class="btn btn-labeled" ng-click="my_request()" style="width:200px;height:50px;border:1px solid rgb(179, 177, 177);">
                        <div class="pull-right label" style="background-color:#838383;padding-top:5px;padding-bottom:5px;"> <b> {{request_count}}</b></div>
                        <b style="font-size: 14px;">My Request</b>
                    </button>
                    <br />
                </div>
                <div class="col-lg-2 col-md-6 col-sm-12">
                    <button type="button" class="btn btn-labeled" ng-click="tagged_request()" style="width:200px;height:50px;border:1px solid rgb(179, 177, 177);">
                        <div class="pull-right label" style="background-color:#838383;padding-top:5px;padding-bottom:5px;"> <b> {{tagged_count}}</b></div>
                        <b style="font-size: 14px;">Tagged Request</b>
                    </button>
                    <br />
                </div>
                <div class="col-lg-2 col-md-6 col-sm-12">
                    <button type="button" class="btn btn-labeled" ng-click="forward_request()" style="width:200px;height:50px;border:1px solid rgb(179, 177, 177);">
                        <div class="pull-right label" style="background-color:#838383;padding-top:5px;padding-bottom:5px;"> <b> {{forward_count}}</b></div>
                        <b style="font-size: 14px;">Forward Transfer</b>
                    </button>

                </div>
                <div class="col-lg-2 col-md-6 col-sm-12">
                    <button type="button" class="btn btn-labeled" ng-click="Reopen_request()" style="width:200px;height:50px;border:1px solid rgb(179, 177, 177);">
                        <div class="pull-right label" style="background-color:#838383;padding-top:5px;padding-bottom:5px;"><b> {{reopen_count}}</b></div>
                        <b style="font-size: 14px;"> Reopen Request</b>
                    </button>

                </div>
                <div class="col-lg-2 col-md-6 col-sm-12">
                    <button type="button" class="btn btn-labeled" ng-click="Reject_request()" style="width:200px;height:50px;border:1px solid rgb(179, 177, 177);">
                        <div class="pull-right label" style="background-color:#838383;padding-top:5px;padding-bottom:5px;"><b> {{Reject_count}}</b></div>
                        <b style="font-size: 14px;"> Rejected Request</b>
                        </button>

                </div>
                <div class="col-lg-2 col-md-6 col-sm-12">
                    <button type="button" class="btn btn-labeled" ng-click="Close_request()" style="width:200px;height:50px;border:1px solid rgb(179, 177, 177);">
                        <div class="pull-right label" style="background-color:#838383;padding-top:5px;padding-bottom:5px;"><b> {{close_count}}</b></div>
                        <b style="font-size: 14px;"> Closed Request</b>
                    </button>
                    <br />
                </div>
            </div>
        </div>
        <br/>
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="col-lg-2 col-md-6 col-sm-12">
                    <button type="button" class="btn btn-labeled" ng-click="Cancel_request()" style="width:200px;height:50px;border:1px solid rgb(179, 177, 177);background-color: #84cbdb;">
                        <div class="pull-right label" style="background-color:#838383;padding-top:3px;padding-bottom:5px;"> <b>{{cancel_count}}</b></div>
                        <b style="font-size: 14px;">Cancelled Request</b>
                    </button>
                    <br />
                </div>
            </div>
        </div>
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <div class="col-lg-10 col-md-12 col-sm-12">
                    </div>
                    <div class="col-lg-2 col-md-6 col-sm-12">
                        <a style="background-color:#edb9b9;" class="ng-binding ng-scope label label-pink">
                            <em class="fa"></em>
                        </a>&nbsp;<label> - Color Indicates Reopen Cases</label>
                    </div>
                </div>
            </div>
            <br />

            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <div class="table-responsive">
                            <div class="col-lg-12 col-md-12 col-sm-12">
                                <table datatable="ng" class="table table-hover table-striped">
                                    <thead>
                                        <tr class="nowrap text-white" style="background-color:#09385f;">
                                            <th style="display:none;"> S.No </th>
                                            <th>Request Ref.No</th>
                                            <th style="width:160px;">Raised On / By</th>
                                            <th>Raised By Department</th>
                                            <th>Raised To Business Unit</th>
                                            <th>Activity Name</th>
                                            <th>Request Title</th>
                                            <th>Assigned Team</th>
                                            <th>Assigned To</th>
                                            <th>Request Status</th>
                                            <th>Business Unit Status</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="data in cancelledsummary" >
                                            <td data-title="'S.No'" style="display:none;" class="text-center"> {{$index+1}} </td>
                                            <td data-title="'Request Ref.No'">{{data.request_refno}}</td>
                                            <td data-title="'Raised On / By'">{{data.raised_date}} / {{data.raised_by}}</td>
                                            <td data-title="'Raised Department'">{{data.raised_department}}</td>
                                            <td data-title="'Department Name'">{{data.departmentname}}</td>
                                            <td data-title="'Activity Name'">{{data.activity_name}}</td>
                                            <td data-title="'Request Title'">{{data.request_title}}</td>
                                            <td data-title="'Assigned Team'">{{data.assigned_team}}</td>
                                            <td data-title="'Assigned Member'">{{data.assigned_to}}</td>
                                            <td data-title="'Request Status'" ng-switch="data.request_status1">
                                                <label ng-switch-when="Cancelled" class="label label-danger">Cancelled</label>
                                
                                            </td>
                                            <td data-title="'Business Unit Status'">{{data.Businessactivity_Status}}</td>
                                            <td class="nowrap" data-title="'Action'" ng-switch="data.response_flag">
                                                <button title="View" ng-click="viewservicerequest(data.servicerequest_gid,data.bankalert_flag, data.bankalert2allocated_gid, data.customer_gid)" class="btn btn-info">
                                                    <em class="fa fa-eye "></em>
                                                </button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br />
        </div>
    </div>
</div>