
<div ng-controller="SysOneApiDashboardController">
    <div class="panel">
        <div class="row">
            <div class="col-lg-12 col-sm-12 col-md-12">
                <br />
                <h4 style="color:black;" class="text-center animated fadeInDown anim-delay-10"> COMMON </h4>
                <hr />
                <br />
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 col-sm-12 col-md-12">
                <div class="col-lg-12 col-sm-12 col-md-12">
                <div class="col-lg-6 col-sm-6 col-md-6">
                    <p style="font-size:16px;color:#a1257b;"><b> &nbsp; &nbsp;Master </b></p>
                        <hr />
                        <div class="col-lg-4 col-sm-4 col-md-4">
                            <div>
                                <a href='#/app/SysMstEmployeeSummary?lsoneapipage=OneApi'>
                                    <p>Employee</p>
                                </a>
                            </div>
                            <div>
                                <a href='#/app/SysMstOtherApplication?lsoneapipage=OneApi'>
                                    <p>Other Applications</p>
                                </a>
                            </div>
                            <div>
                                <a href='#/app/SysMstTriggerUser?lsoneapipage=OneApi'>
                                    <p>Trigger User</p>
                                </a>
                            </div>
                            <div>
                                <a href='#/app/SysMstBloodGroup?lsoneapipage=OneApi'>
                                    <p>Blood Group</p>
                                </a>
                            </div>
                            <div>
                                <a href='#/app/SysMstBaseLocation?lsoneapipage=OneApi'>
                                    <p>Base Location</p>
                                </a>
                            </div>
                            <div>
                                <a href='#/app/SysMstSalutation?lsoneapipage=OneApi'>
                                    <p>Salutation</p>
                                </a>
                            </div>
                            <div>
                                <a href='#/app/SysMstProjects?lsoneapipage=OneApi'>
                                    <p>Projects</p>
                                </a>
                            </div>
                  
                        </div>
                        <div class="col-lg-4 col-sm-4 col-md-4">                        
                            <div>
                                <a href='#/app/SysMstPhysicalStatus?lsoneapipage=OneApi'>
                                    <p>Physical Status</p>
                                </a>
                            </div>
                            <div>
                                <a href='#/app/SysMstCalendarGroup?lsoneapipage=OneApi'>
                                    <p>Calendar Group</p>
                                </a>
                            </div>
                            <div>
                                <a href='#/app/SysMstClientRole?lsoneapipage=OneApi'>
                                    <p>Sub Function</p> 
                                </a>
                            </div>
                            <!-- <div>
                                <a href='#/app/SysMstProductHead?lsoneapipage=OneApi'>
                                    <p>Product Head</p>
                                </a>
                            </div>
                            <div>
                                <a href='#/app/SysMstBusinessHead?lsoneapipage=OneApi'>
                                    <p>Business Head</p>
                                </a>
                            </div>
                            <div>
                                <a href='#/app/SysMstGroupBusinessHead?lsoneapipage=OneApi'>
                                    <p>Group Business Head</p>
                                </a>
                            </div> -->
                        </div>
                        
                </div>
                <div class="col-lg-6 col-sm-6 col-md-6">
                    <p style="font-size:16px;color:#a1257b;"><b> Setting </b></p>
                    <hr />
                    <div>
                        <a href='#/app/SysMstRoleSummary?lsoneapipage=OneApi'>
                            <p>Role Management</p>
                        </a>
                    </div>
                </div>
                </div>
            </div>
                
        </div>
        <!-- <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <p style="font-size:16px;color:#a1257b; padding-left: 2%;"><b> Master </b></p>
                    <hr />
                    <div class="col-lg-3 col-sm-3 col-md-3">
                        <div>
                            <a href='#/app/SysMstEmployeeSummary?lsoneapipage=OneApi'>
                                <p>Employee Summary</p>
                            </a>
                        </div>
                        <div>
                            <a href='#/app/SysMstHRDocument?lsoneapipage=OneApi'>
                                <p>HR Document</p>
                            </a>
                        </div>

                        <div>
                            <a href='#/app/SysMstOtherApplication?lsoneapipage=OneApi'>
                                <p>Other Applications</p>
                            </a>
                        </div>

                        <div>
                            <a href='#/app/SysMstTriggerUser?lsoneapipage=OneApi'>
                                <p>Trigger User</p>
                            </a>
                        </div>
                        <div>
                            <a href='#/app/SysMstProjects?lsoneapipage=OneApi'>
                                <p>Projects</p>
                            </a>
                        </div>
                    </div>

                    <div class="col-lg-3 col-sm-3 col-md-3">
                        <div>
                            <a href='#/app/SysMstCalendarGroup?lsoneapipage=OneApi'>
                                <p>Calendar Group</p>
                            </a>
                        </div>

                        <div>
                            <a href='#/app/SysMstTask?lsoneapipage=OneApi'>
                                <p>Task</p>
                            </a>
                        </div>

                        <div>
                            <a href='#/app/SysMstMenuMapping?lsoneapipage=OneApi'>
                                <p>Menu Mapping</p>
                            </a>
                        </div>

                        <div>
                            <a href='#/app/SysMstHRNotification?lsoneapipage=OneApi'>
                                <p>HR Notification</p>
                            </a>
                        </div>

                        <div>
                            <a href='#/app/SysMstBaseLocation?lsoneapipage=OneApi'>
                                <p>Base Location</p>
                            </a>
                        </div>
                    </div>

                    <div class="col-lg-3 col-sm-3 col-md-3">
                        <div>
                            <a href='#/app/SysMstBloodGroup?lsoneapipage=OneApi'>
                                <p>Blood Group</p>
                            </a>
                        </div>

                        <div>
                            <a href='#/app/SysMstBusinessHead?lsoneapipage=OneApi'>
                                <p> Business Head</p>
                            </a>
                        </div>

                        <div>
                            <a href='#/app/SysMstClientRole?lsoneapipage=OneApi'>
                                <p> Sub Function</p>
                            </a>
                        </div>

                        <div>
                            <a href='#/app/SysMstClusterHead?lsoneapipage=OneApi'>
                                <p> Cluster Head</p>
                            </a>
                        </div>

                        <div>
                            <a href='#/app/SysMstClusterMapping?lsoneapipage=OneApi'>
                                <p> Cluster Mapping</p>
                            </a>
                        </div>
                    </div>

                    <div class="col-lg-3 col-sm-3 col-md-3">
                        <div>
                            <a href='#/app/SysMstGroupBusinessHead?lsoneapipage=OneApi'>
                                <p> Group Business Head</p>
                            </a>
                        </div>

                        <div>
                            <a href='#/app/SysMstPhysicalStatus?lsoneapipage=OneApi'>
                                <p> Physical Status</p>
                            </a>
                        </div>

                        <div>
                            <a href='#/app/SysMstProductHead?lsoneapipage=OneApi'>
                                <p> Product Head</p>
                            </a>
                        </div>

                        <div>
                            <a href='#/app/SysMstRegionHead?lsoneapipage=OneApi'>
                                <p> Region Head</p>
                            </a>
                        </div>

                        <div>
                            <a href='#/app/SysMstRegionMapping?lsoneapipage=OneApi'>
                                <p> Region Mapping</p>
                            </a>
                        </div>

                        <div>
                            <a href='#/app/SysMstSalutation?lsoneapipage=OneApi'>
                                <p> Salutation</p>
                            </a>
                        </div>

                        <div>
                            <a href='#/app/SysMstZonalHead?lsoneapipage=OneApi'>
                                <p> Zonal Head</p>
                            </a>
                        </div>

                        <div>
                            <a href='#/app/SysMstZoneMapping?lsoneapipage=OneApi'>
                                <p> Zone Mapping</p>
                            </a>
                        </div>

                    </div>
                </div>
            
        </div> -->

    </div>
</div>