
<h3>
   RM Portfolio Change 
   <button type="submit" title="View Report in Full screen " id="toggle-fullscreen" class="btn btn-info btn-xs pull-right" style="text-align:center;" >
     <span class="btn-label"><i class="icon icon-size-fullscreen"></i>
     </span> Full Screen
   </button>
</h3>
<div id="fullscreen-div">
  <div>
      <iframe src="https://apps.powerapps.com/play/e/default-655a0e0e-4a74-4a0c-86d8-370a992e90a6/a/cbece936-200e-4127-a3a9-6aef113e6b2b?tenantId=655a0e0e-4a74-4a0c-86d8-370a992e90a6" frameborder="0" allowFullScreen="true" width='1710px' height='1000px'></iframe>
  </div>
</div>


<script>

  function fullscreenchanged() {
  
   // document.fullscreenElement will point to the element that
  
  // is in fullscreen mode if there is one. If not, the value
  
  // of the property is null.
  
  if (document.fullscreenElement) {
  
   console.log(
  
   `Element: ${document.fullscreenElement.id} entered fullscreen mode.`
  
   );
  
   } else {
  
   console.log("Leaving fullscreen mode.");
  
  }
  
  }
  
  
  
  
  const el = document.getElementById("fullscreen-div");
  
  
  
  
  el.addEventListener("fullscreenchange", fullscreenchanged);
  
  // or
  
  el.onfullscreenchange = fullscreenchanged;
  
  
  
  
  // When the toggle button is clicked, enter/exit fullscreen
  
  document
  
.getElementById("toggle-fullscreen")
  
.addEventListener("click", (event) => {
  
if (document.fullscreenElement) {
  
// exitFullscreen is only available on the Document object.
  
document.exitFullscreen();
  
} else {
  
el.requestFullscreen();
  
}
  
});
  

</script>