<h3>
   Add  Configuration
</h3>
<div ng-controller="brsTrnbankconfigurationaddController">
    <div class="row">
        <form name="addbrsconfiguration" id="addbrsconfiguration" novalidate="" class="form-validate mb-lg" autocomplete="off">
            <div class="panel-body">
                <div class="col-sm-12 col-md-12 col-lg-12">
                    <div class="row">
                        <div class="col-md-12 col-lg-12 col-sm-12">
                            <div class="col-lg-1 col-md-1 col-sm-1">
                                <label> Bank Name <span style="color:red">*</span></label>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-4">
                                <select name="bankdtlname" chosen ng-options="m as m.bankdtl_name for m in bankdtl_list track by m.bankdtl_gid"
                                        type="text" class="form-control parsley-error" ng-model="txtBankName" required="">
                                    <option value=""> ----- Select From Dropdown -----</option>
                                </select>
                                <span ng-show="form.validateInput('bankdtlname', 'required')" class="text-danger">This field is required</span>
                            </div>
                        </div>
                        <div>
                            <div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="row">
                <div class="col-lg-12">
                    <!-- START panel-->
                    <div id="panelDemo13" class="panel panel-default">
                        <div class="panel-body">
                            <div class="row">
                                <br />
                                <div class="col-md-12 col-lg-12 col-sm-12">
                                    <div class="col-lg-3 col-md-3 col-sm-3">
                                        <label class="col-form-label"> Data Starting Row </label> <span style="color:red">*</span>
                                        <br />
                                        <input id="tenure" ng-model="txtdsrrow" placeholder="Row" style="width: 60px" class="form-control ng-pristine ng-valid ng-touched"
                                               required maxlength="15">
                                    </div>

                                    <div class="col-lg-3 col-md-3 col-sm-3">
                                        <label class="col-form-label"> Account Number<span style="color:red"> *</span></label>
                                        <br />
                                        <div class="col-sm-2 col-md-2 col-lg-2">
                                            <input id="tenure" ng-model="txtaccnorow" placeholder="Row" style="width: 60px" class="form-control ng-pristine ng-valid ng-touched"
                                                   required maxlength="15">
                                        </div>
                                        <div class="col-sm-1 col-md-1 col-lg-1">
                                            <input id="tenure" ng-model="txtaccnocol" placeholder="Col" style="width: 60px" class="form-control ng-pristine ng-valid ng-touched"
                                                   required maxlength="15">

                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-md-3 col-sm-3">
                                        <label class="col-form-label"> Transaction Date <span style="color:red"> *</span></label>
                                        <br />
                                        <div class="col-sm-2 col-md-2 col-lg-2">
                                            <input id="tenure" ng-model="txttrndaterow" placeholder="Row" style="width: 60px" class="form-control ng-pristine ng-valid ng-touched"
                                                   required maxlength="15">
                                        </div>
                                        <div class="col-sm-1 col-md-1 col-lg-1">
                                            <input id="tenure" ng-model="txttrndatecol" placeholder="Col" style="width: 60px" class="form-control ng-pristine ng-valid ng-touched"
                                                   required maxlength="15">

                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-md-3 col-sm-3">
                                        <label class="col-form-label"> Value Date <span style="color:red"> *</span></label>
                                        <br />
                                        <div class="col-sm-2 col-md-2 col-lg-2">
                                            <input id="tenure" ng-model="txtvaldaterow" style="width:60px" placeholder="Row" class="form-control ng-pristine ng-valid ng-touched"
                                                   required maxlength="15">
                                        </div>
                                        <div class="col-sm-1 col-md-1 col-lg-1">
                                            <input id="tenure" ng-model="txtvaldatecol" placeholder="Col" style="width: 60px" class="form-control ng-pristine ng-valid ng-touched"
                                                   required maxlength="15">

                                        </div>
                                    </div>
                                </div>
                                <br>
                            </div>
                            <br />
                            <div class="row">
                                <br />
                                <div class="col-md-12 col-lg-12 col-sm-12">
                                    <div class="col-lg-3 col-md-3 col-sm-3">
                                        <label class="col-form-label"> Payment Date </label> <span style="color:red">*</span>
                                        <br />
                                        <div class="col-sm-2 col-md-2 col-lg-2">
                                            <input id="tenure" ng-model="txtpaydaterow" placeholder="Row" style="width: 60px" class="form-control ng-pristine ng-valid ng-touched"
                                                   required maxlength="15">
                                        </div>
                                        <div class="col-sm-1 col-md-1 col-lg-1">
                                            <input id="tenure" ng-model="txtpaydatecol" placeholder="Col" style="width: 60px" class="form-control ng-pristine ng-valid ng-touched"
                                                   required maxlength="15">

                                        </div>
                                    </div>

                                    <div class="col-lg-3 col-md-3 col-sm-3">
                                        <label class="col-form-label"> Transaction Particulars<span style="color:red"> *</span></label>
                                        <br />
                                        <div class="col-sm-2 col-md-2 col-lg-2">
                                            <input id="tenure" ng-model="txttranscparticularrow" placeholder="Row" style="width: 60px" class="form-control ng-pristine ng-valid ng-touched"
                                                   required maxlength="15">
                                        </div>
                                        <div class="col-sm-1 col-md-1 col-lg-1">
                                            <input id="tenure" ng-model="txttranscparticularcol" placeholder="Col" style="width: 60px" class="form-control ng-pristine ng-valid ng-touched"
                                                   required maxlength="15">

                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-md-3 col-sm-3">
                                        <label class="col-form-label"> Debit amt <span style="color:red"> *</span></label>
                                        <br />
                                        <div class="col-sm-2 col-md-2 col-lg-2">
                                            <input id="tenure" ng-model="txtdebamtrow" placeholder="Row" style="width: 60px" class="form-control ng-pristine ng-valid ng-touched"
                                                   required maxlength="15">
                                        </div>
                                        <div class="col-sm-1 col-md-1 col-lg-1">
                                            <input id="tenure" ng-model="txtdebamtcol" placeholder="Col" style="width: 60px" class="form-control ng-pristine ng-valid ng-touched"
                                                   required maxlength="15">

                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-md-3 col-sm-3">
                                        <label class="col-form-label"> Credit amt<span style="color:red"> *</span> </label>
                                        <br />
                                        <div class="col-sm-2 col-md-2 col-lg-2">
                                            <input id="tenure" ng-model="txtcreditamtrow" style="width:60px" placeholder="Row" class="form-control ng-pristine ng-valid ng-touched"
                                                   required maxlength="15">
                                        </div>
                                        <div class="col-sm-1 col-md-1 col-lg-1">
                                            <input id="tenure" ng-model="txtcreditamtcol" placeholder="Col" style="width: 60px" class="form-control ng-pristine ng-valid ng-touched"
                                                   required maxlength="15">

                                        </div>
                                    </div>
                                </div>
                                <br>
                            </div>
                            <br />
                            <div class="row">
                                <br />
                                <div class="col-md-12 col-lg-12 col-sm-12">
                                    <div class="col-lg-3 col-md-3 col-sm-3">
                                        <label class="col-form-label"> CR/DR </label> <span style="color:red">*</span>
                                        <br />
                                        <div class="col-sm-2 col-md-2 col-lg-2">
                                            <input id="tenure" ng-model="txtcrdrrow" placeholder="Row" style="width: 60px" class="form-control ng-pristine ng-valid ng-touched"
                                                   required maxlength="15">
                                        </div>
                                        <div class="col-sm-1 col-md-1 col-lg-1">
                                            <input id="tenure" ng-model="txtcrdrcol" placeholder="Col" style="width: 60px" class="form-control ng-pristine ng-valid ng-touched"
                                                   required maxlength="15">

                                        </div>
                                    </div>

                                    <div class="col-lg-3 col-md-3 col-sm-3">
                                        <label class="col-form-label">Transaction Value<span style="color:red"> *</span></label>
                                        <br />
                                        <div class="col-sm-2 col-md-2 col-lg-2">
                                            <input id="tenure" ng-model="txttrnvalrow" placeholder="Row" style="width: 60px" class="form-control ng-pristine ng-valid ng-touched"
                                                   required maxlength="15">
                                        </div>
                                        <div class="col-sm-1 col-md-1 col-lg-1">
                                            <input id="tenure" ng-model="txttrnvalcol" placeholder="Col" style="width: 60px" class="form-control ng-pristine ng-valid ng-touched"
                                                   required maxlength="15">

                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-md-3 col-sm-3">
                                        <label class="col-form-label"> Cheque Number <span style="color:red"> *</span></label>
                                        <br />
                                        <div class="col-sm-2 col-md-2 col-lg-2">
                                            <input id="tenure" ng-model="txtchqnorow" placeholder="Row" style="width: 60px" class="form-control ng-pristine ng-valid ng-touched"
                                                   required maxlength="15">
                                        </div>
                                        <div class="col-sm-1 col-md-1 col-lg-1">
                                            <input id="tenure" ng-model="txtchqnocol" placeholder="Col" style="width: 60px" class="form-control ng-pristine ng-valid ng-touched"
                                                   required maxlength="15">

                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-md-3 col-sm-3">
                                        <label class="col-form-label"> Branch Name <span style="color:red"> *</span></label>
                                        <br />
                                        <div class="col-sm-2 col-md-2 col-lg-2">
                                            <input id="tenure" ng-model="txtbranchrow" style="width:60px" placeholder="Row" class="form-control ng-pristine ng-valid ng-touched"
                                                   required maxlength="15">
                                        </div>
                                        <div class="col-sm-1 col-md-1 col-lg-1">
                                            <input id="tenure" ng-model="txtbranchcol" placeholder="Col" style="width: 60px" class="form-control ng-pristine ng-valid ng-touched"
                                                   required maxlength="15">

                                        </div>
                                    </div>
                                </div>
                                <br>
                            </div>
                            <br />
                            <div class="row">
                                <br />
                                <div class="col-md-12 col-lg-12 col-sm-12">
                                    <div class="col-lg-3 col-md-3 col-sm-3">
                                        <label class="col-form-label"> Customer Reference Number </label> <span style="color:red">*</span>
                                        <br />
                                        <div class="col-sm-2 col-md-2 col-lg-2">
                                            <input id="tenure" ng-model="txtcustrefnorow" placeholder="Row" style="width: 60px" class="form-control ng-pristine ng-valid ng-touched"
                                                   required maxlength="15">
                                        </div>
                                        <div class="col-sm-1 col-md-1 col-lg-1">
                                            <input id="tenure" ng-model="txtcustrefnocol" placeholder="Col" style="width: 60px" class="form-control ng-pristine ng-valid ng-touched"
                                                   required maxlength="15">

                                        </div>
                                    </div>

                                    <div class="col-lg-3 col-md-3 col-sm-3">
                                        <label class="col-form-label">Balance<span style="color:red"> *</span></label>
                                        <br />
                                        <div class="col-sm-2 col-md-2 col-lg-2">
                                            <input id="tenure" ng-model="txtbalancerow" placeholder="Row" style="width: 60px" class="form-control ng-pristine ng-valid ng-touched"
                                                   required maxlength="15">
                                        </div>
                                        <div class="col-sm-1 col-md-1 col-lg-1">
                                            <input id="tenure" ng-model="txtbalancecol" placeholder="Col" style="width: 60px" class="form-control ng-pristine ng-valid ng-touched"
                                                   required maxlength="15">

                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-md-3 col-sm-3">
                                        <label class="col-form-label">Transaction ID<span style="color:red"> *</span></label>
                                        <br />
                                        <div class="col-sm-2 col-md-2 col-lg-2">
                                            <input id="tenure" ng-model="txttrnidrow" placeholder="Row" style="width: 60px" class="form-control ng-pristine ng-valid ng-touched"
                                                   required maxlength="15">
                                        </div>
                                        <div class="col-sm-1 col-md-1 col-lg-1">
                                            <input id="tenure" ng-model="txttrnidcol" placeholder="Col" style="width: 60px" class="form-control ng-pristine ng-valid ng-touched"
                                                   required maxlength="15">

                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-md-3 col-sm-3">
                                        <label class="col-form-label">Knockedoff by Finance<span style="color:red"> *</span></label>
                                        <br />
                                        <div class="col-sm-2 col-md-2 col-lg-2">
                                            <input id="tenure" ng-model="txtknockofffinrow" placeholder="Row" style="width: 60px" class="form-control ng-pristine ng-valid ng-touched"
                                                   required maxlength="15">
                                        </div>
                                        <div class="col-sm-1 col-md-1 col-lg-1">
                                            <input id="tenure" ng-model="txttknockofffincol" placeholder="Col" style="width: 60px" class="form-control ng-pristine ng-valid ng-touched"
                                                   required maxlength="15">

                                        </div>
                                    </div>
                                </div>
                                <br>
                            </div>

                            <br />
                            <div class="row">
                                <br />
                                <div class="text-center">

                                    <button type="button" class="btn btn-success btn-md" tabindex="6" ng-disabled="addbrsconfiguration.$invalid" ng-click="submitconfiguration()">
                                        <i class="fa fa-arrow-circle-right"></i>&nbsp;&nbsp;Submit
                                    </button>&nbsp;&nbsp;
                                    <button ng-click="back()" class="btn btn-info" tabindex="7">
                                        <i class="fa fa-arrow-circle-left"></i>&nbsp;&nbsp;Back
                                    </button>

                                </div>
                            </div>

                        </div>

                    </div>
                </div>
            </div>
        </form>
    </div>
    </div>



  


