<h3>
    &nbsp;&nbsp;BRS Unreconciliation Transfer View
</h3>

<style>
    #bordersty {
        border: 1px solid #ebebeb;
        padding: 10px;
        border-radius: 25px;
    }
</style>
<style>
    .buttonstyle {
        border: none;
        background-color: rgb(255, 255, 255);
        color: #141478;
    }
</style>
<div ng-controller="brsTrnUnreconcillationTransferController">
    <div class="panel">
        <div class="row">
            <div class="col-lg-12 col-sm-12 col-md-12">
                <div class="col-lg-11 col-sm-11 col-md-11">
                    <h3 style="color:#141478;"> &nbsp;&nbsp;  Unreconciliation Transfer View </h3>
                    <hr />
                </div>
                <div class="col-lg-1 col-sm-1 col-md-1">
                    <br />
                    <a>
                        <button type="button" title="Back to Summary" ng-click="Back()" class="pull-right btn btn-sm btn-primary ">
                            <em class="fa fa-arrow-circle-left fa-1x"></em>
                        </button>
                    </a>

                </div>

            </div>
        </div>


        <div style="margin-bottom:-10px;">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <div id="bordersty" style="background-color: #FAF8F8;">
                            <br />
                            <div class="row">
                                <div class="col-lg-12 col-md-12 col-sm-12">
                                    <div class="col-lg-3 col-md-3 col-sm-3">
                                        <label class="text-primary">
                                            Reference  Number
                                        </label>
                                        <br>
                                        <span>
                                            {{banktransc_gid}}
                                        </span>
                                    </div>
                                    <div class="col-lg-3 col-md-3 col-sm-3">
                                        <label class="text-primary">
                                            Bank Name
                                        </label>
                                        <br>
                                        <span>
                                            {{lblbank_name}}
                                        </span>
                                    </div>
                                    <div class="col-lg-3 col-md-3 col-sm-3">
                                        <!-- <label class="text-primary">
                    Customer Reference No.
                </label>
                <br>
                <span>
                    {{lblcustomer_refno}}
                </span> -->
                                        <label class="text-primary">
                                            Cheque No.
                                        </label>
                                        <br>
                                        <span>
                                            {{lblchq_no}}
                                        </span>
                                    </div>
                                    <div class="col-lg-3 col-md-3 col-sm-3">
                                        <label class="text-primary">
                                            Branch Name
                                        </label>
                                        <br>
                                        <span>
                                            {{lblbranch_name}}
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-lg-12 col-md-12 col-sm-12">
                                    <div class="col-lg-3 col-md-3 col-sm-3">
                                        <label class="text-primary">
                                            Credit/Debit
                                        </label>
                                        <br>
                                        <span>
                                            {{lblcr_dr}}<br>
                                        </span>
                                    </div>
                                    <div class="col-lg-3 col-md-3 col-sm-3">
                                        <label class="text-primary">
                                            Transaction Value
                                        </label>
                                        <br>
                                        <span>
                                            {{lbltransc_value}}
                                        </span>
                                    </div>
                                    <div class="col-lg-3 col-md-3 col-sm-3">
                                        <!-- <label class="text-primary">
                    Transaction Balance
                </label>
                <br>
                <span>
                    {{lbltransc_balance}}
                </span> -->
                                        <label class="text-primary">
                                            Transaction Particulars
                                        </label>
                                        <br>
                                        <span>
                                            {{lbltransact_particulars}}
                                        </span>
                                    </div>
                                    <div class="col-lg-3 col-md-3 col-sm-3">
                                        <label class="text-primary">
                                            Remarks
                                        </label>
                                        <br>
                                        <span>
                                            {{lblremarks}}
                                        </span>
                                    </div>



                                </div>

                                <br />
                            </div>
                            <br />
                            <div class="row">
                                <div class="col-lg-12 col-md-12 col-sm-12">
                                    <div class="col-lg-3 col-md-3 col-sm-3">
                                        <label class="text-primary">
                                            Remaining Amount
                                        </label>
                                        <br>
                                        <span>
                                            {{lblremainingamount}}
                                        </span>
                                    </div>

                                </div>
                            </div>
                            <br />
                            <!-- <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12">

                <div class="col-lg-3 col-md-3 col-sm-3">
                    <label class="text-primary">
                        Base Location
                    </label>
                    <br>
                    <span>
                        {{baselocation_name}}
                    </span>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3">
                    <label class="text-primary">
                        Customer Name
                    </label>
                    <br>
                    <span>
                        {{lblbank_name}}
                    </span>
                </div>
            </div>
    </div> -->
                        </div>
                        <br />

                    </div>
                </div>
            </div>
            <br>
        </div>
        <br />

        <br />

    </div>


    <div class="dd-handle ng-scope">
        <p style="color:#141478;font-size: 16px;"> &nbsp;&nbsp; <b>Transaction Details</b></p>
        <hr class="space" />

        <div class="row">
            <div class="col-lg-12 col-sm-12 col-md-12">
                <div class="col-md-6 col-lg-6 col-sm-6">
                    <label>SamFin Customer</label>
                    <select class="chosen-select form-control" chosen="" id="samfin" ng-options="m.samfincustomer_name  for m in assignedlist" tabindex="0" ng-model="cbosamfin"
                            style="height:37px;" size="1">
                        <option value=""></option>
                    </select>
                </div>
                <div class="col-lg-3 col-sm-3 col-md-3">
                    <label>Adjusted Against </label><span style="color:red;">&nbsp;*</span>

                    <select class="chosen-select form-control" chosen="" ng-options="m.brsactivity_gid as m.brsactivity_name for m in BRSActivity_List"
                            id="brsactivity" tabindex="0" ng-model="cbobrsactivity" style="height:37px;" size="1">
                        <option value=""></option>
                    </select>
                </div>

                <div class="col-lg-3 col-sm-3 col-md-3">
                    <label>Amount</label><span style="color:red;">&nbsp;*</span>
                    <input type="number" id="limit_amount" ng-model="txt_amount" ng-change="limit_amountChange()" style="text-align:right" style="text-align:right" class="form-control" maxlength="25">
                    <span style="font-style:italic;">Number in words:</span>
                    <span id="words_limitamt" style="color:#003c96fc;"
                          class="text-bold"></span>
                </div>
            </div>
        </div>
        <br />

        <div class="row">
            <div class="col-lg-12 col-sm-12 col-md-12">
                <div class="col-lg-3 col-md-3 col-sm-3">
                    <label>Action<span style="color:red">*</span></label>
                    <select class="chosen-select form-control" chosen="" ng-options="m.adjustadvicedetails_gid as m.adjustadvice_name for m in adjustadvicelist"
                            id="adjustadvice" tabindex="0" ng-model="cboaction" style="height:37px;" size="1">
                        <option value=""></option>
                    </select>
                </div>
                <div class="col-lg-9 col-md-9 col-sm-9">
                    <label>Remarks</label><span style="color:red">&nbsp;*</span>
                    <textarea class="form-control" rows="3" tabindex="0" maxlength="500" style="resize:vertical;" ng-model="transactionremarks" placeholder="Only Allowed 500 Characters "></textarea>
                </div>
            </div>
        </div>
        <br />

        <div class="row">
            <div class="text-center">
                <br>
                <strong class="ng-binding w3-text-indigo">
                    <a class="btn btn-sm btn-default" style="background-color:#09385f;color:white; height:35px; padding-top: 7px;" ng-click="addtransaction()"><span class="fa fa-plus"> </span>  Add</a>
                </strong>

            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-lg-12 col-sm-12 col-md-12">
                <div class="col-lg-12 col-sm-12 col-md-12">
                    <div class="table-responsive table-bordered">
                        <table class="table">
                            <thead class="bg-gray text-white">
                                <tr>
                                    <th>S.No</th>
                                    <th>Customer Name </th>
                                    <th>Department </th>
                                    <th>Updated By </th>
                                    <th>Adjusted Against</th>
                                    <th>Amount</th>
                                    <th>Remaining Amount</th>
                                    <th>Action Name</th>
                                    <th>Remarks</th>
                                    <th> Account Number</th>
                                    <th>Transaction Date</th>
                                    <th>Repayment Date</th>
                                    <th>Transaction Id</th>
                                    <th>Urn Number</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="data in unrecontransactionlist">
                                    <td>{{$index+1}}</td>
                                    <td>{{data.samfincustomer_name}}</td>
                                    <td>{{data.department_name}}</td>
                                    <td>{{data.assignby_name}}</td>
                                    <td>{{data.activity_name}}</td>
                                    <td>{{data.amount}}</td>
                                    <td>{{data.remaining_amount}}</td>
                                    <td>{{data.action_name}}</td>
                                    <td align="center">
                                        <em class="fa fa-info-circle" ng-click=remarks(data.transaction_remarks) style="font-size:24px;align-content:center;"></em>
                                    </td>
                                    <td>{{data.account_number}}</td>
                                    <td>{{data.transaction_date}}</td>
                                    <td>{{data.repayment_date}}</td>
                                    <td>{{data.transaction_id}}</td>
                                    <td>{{data.urn_no}}</td>
                                    <td class="text-nowrap">
                                        <a class="btn btn-xs  btn-danger" ng-click="deletetransaction(data.unrecontransactiondetails_gid,data.banktransc_gid)"><span class="fa fa-trash-o"></span></a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <br />
    </div>
    <br />


    <div class="card" style="margin-bottom:6px;">
        <form novalidate="" name="userform" autocomplete="off" class="form-validate mb-lg">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <br />
                        <p style="color:#141478;font-size: 16px;"> &nbsp;&nbsp; <b>Transfer To User </b></p>
                        <hr />
                        <div class="col-lg-2 col-md-2 col-sm-2">
                            <label> Transfer To </label> <span style="color:red;"> *</span>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4">
                            <select name="employeeList" id="employeeList" chosen="" ng-options="m as m.employee_name for m in employee_list track by m.employee_gid"
                                    ng-model="cboemployee" class="chosen-select form-control" required></select>
                        </div>
                        <!--<div class="col-lg-2 col-md-2 col-sm-2">
                            <label> Upload Document </label>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-3">
                            <div class="input-group form-group">
                                <input type="file" id="file" tabindex="5" multiple onchange="angular.element(this).scope().ServiceRequestDocumentUpload(this.files, angular.element(this).scope().documentupload, this.name)"
                                       data-classbutton="btn btn-default" data-classinput="form-control inline" data-button-text="Select" />
                            </div>
                        </div>-->
                        <br />

                    </div>
                </div>

            </div>
            <br />

            <div class="row">
                <div class="col-lg-12 col-sm-12 col-md-12">
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <!-- <div class="col-lg-1 col-md-1 col-sm-1">
                            <label> Remarks </label> <span style="color:red;"> *</span>
                        </div>

                        <div class="col-sm-10 col-lg-10 col-md-10">
                            // Froala Editor
                            <div id="froala-editor">
                            </div>
                        </div>  -->
                        <div class="col-sm-10 col-lg-10 col-md-10 froalaheight">
                            <!-- <textarea placeholder="Enter Remarks..." required tabindex="3"
                                      froala ng-model="txtremarks" class="form-control" rows="3"></textarea> -->
                            <label> Reason </label> <span style="color:red;"> *</span>
                            <textarea ng-model="txtreason" placeholder="Enter Remarks" rows="3" class="form-control"
                                      required id="input_13" ng-trim="true" aria-multiline="true" tabindex="0" aria-invalid="true"></textarea>
                        </div>

                    </div>

                </div>
            </div>


            <br />


            <div class="row">
                <div class="text-center">
                    <button ng-click="Submit()" ng-disabled="userform.$invalid" class="btn btn-success btn-md"><i class="fa fa-arrow-circle-right"></i>&nbsp;&nbsp;Submit</button>
                    <button ng-click="Back()" class="btn btn-info"><i class="fa fa-arrow-circle-left"></i>&nbsp;&nbsp;Back</button>
                </div>
            </div>
        </form><br /><br />
    </div>



    <br />
    <script type="text/ng-template" id="/remarks.html">
        <div class="modal-header bg-primary">
            <h4 class="modal-title">
                <span class="btn-label bg-primary">
                    <i class="fa fa-info-circle"></i>
                </span> Remarks
            </h4>
        </div>
        <div class="modal-body">
            <div class="dd-handle ng-scope">
                <div class="row">
                    <div class="col-lg-12 col-sm-12 col-md-12">
                        <label>Remarks : </label>
                        <br />
                        <p> {{transaction_remarks}}  </p>
                    </div>
                </div>
            </div>
            <br />
            <div align="center">
                <button ng-click="ok()" class="btn btn-danger"><i class="fa icon-close"></i>&nbsp;&nbsp;Close</button>
            </div>
            <br />
        </div>
    </script>
</div>


<br />
<br />
