 
<div ng-controller="adminlogincontroller">
    <div class="md-welcome">
        <div class="md-welcome-msg">
            <div class="container container-md">
                <h1 class="animated fadeInDown anim-delay-10">SAMUNNATI</h1>
                <h2 class="animated fadeInLeft anim-delay-15">Office Management System</h2>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4 col-sm-6 col-md-3">
            <div class="panel bg-purple-300 pt b0 widget">
                <div class="ph">
                    <div class="h3 mt0">Employee Onboarding</div>
                    <div style="font-size:25px;"><em class="icon-user-follow"></em></div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-sm-6 col-md-3">
            <div class="panel bg-info-light pt b0 widget">
                <div class="ph">
                    <div class="h3 mt0">Employee Deboarding</div>
                    <div style="font-size:25px;"><em class="fa fa-user-times"></em></div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-sm-6 col-md-3">
            <div class="panel widget bg-deep-purple-300 pt b0 widget">
                <div class="ph">
                    <div class="h3 mt0">
                        Email Activation
                    </div>
                    <div style="font-size:25px;"><em class="icon-envelope"></em></div>
                </div>

            </div>
        </div>
        <div>
        </div>
    </div>
</div>