<h3>
   UAT Deployment
</h3>
<div ng-controller="sdcTrnUatSummaryController">

    <div class="row">
        <div class="col-lg-11 col-sm-11 col-md-11">
            
        </div>
        <div class="col-lg-1 col-sm-1 col-md-1">
            <button title="Move to Live" class="btn btn-info btn-sm"
                    ng-click="movetoLiveAll()">
                <em class="fa fa-arrow-circle-right"></em>&nbsp;LIVE
                <!--<em class="fa fa-plus"></em>&nbsp;UAT-->
            </button>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-lg-12">
            <!-- START panel-->
            <div id="panelDemo13" class="panel panel-default">
                <div class="panel-body">
                    <div class="table-responsive">

                        <table datatable="ng" class="table table-striped row-border hover">
                            <thead>
                                <tr class="bg-indigo-300">
                                    <th style="color:white; width:10%"><input type="checkbox" id="c2" ng-model="all" ng-change="checkall(all);"> Check All</th>
                                    <th style="color:white;">S.No</th>
                                    <th style="color:white;">File Description</th>
                                    <th style="color:white;">Created By</th>
                                    <th style="color:white;">Status</th>
                                    <th style="color:white;">Deployed By</th>
                                    <th>ACTION</th>
                                </tr>
                            </thead>

                            <tbody>
                                <tr ng-repeat="data in uatsummary_list" ng-switch on="(data.live_flag=='N')&&(data.uatdeploy_flag=='Y')">

                                    <td style="text-align:center;" ng-switch-when="true">
                                        <input style="width:20%" type="checkbox" id="c1" ng-click="demo(data.checked)"
                                               value={{data.checked}} ng-model="data.checked">
                                    </td>
                                    <td style="text-align:center;" ng-switch-when="false">
                                        <input ng-disabled="true" style="width:20%" type="checkbox" id="c1">
                                    </td>
                                    <td data-title="'S.No'"> {{$index+1}} </td>
                                    <td data-title="'CustomerName'">{{data.file_description}}</td>
                                    <td data-title="'created_by'">{{data.created_by}}/{{data.created_date}}</td>
                                    <td data-title="'CustomerState'">{{data.uat_status}}</td>
                                    <td data-title="'created_by'">{{data.deployed_by}}</td>
                                    <td ng-switch="data.testinprogress_flag" style="white-space:nowrap;">
                                        <button title="View" ng-click="uatview(data.uat_gid)" class="btn btn-info" tabindex="0">
                                            <em class="fa fa-eye "></em>
                                        </button>
                                        <label ng-switch on="(data.live_flag=='N')&&(data.uatdeploy_flag=='Y')">
                                            <button ng-switch-when="true" type="button" title="Move to LIVE" class="btn btn-sm btn-info" style="font-size:10px;"
                                                    ng-click="movetoLive(data.uat_gid)">
                                                <b>LIVE</b>
                                            </button>
                                        </label>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                <br />
            </div>
        </div>
    </div>

</div>
