<style>
    .nav.nav-pills .active > a {
        background-color: rgb(19,14,89);
        background: linear-gradient(90deg, rgba(19,14,89,1) 0%, rgba(65,65,185,1) 35%, rgba(0,212,255,1) 100%);
        color: #ffffff;
    }

    .tab {
        overflow: hidden;
        border: 1px solid #ccc;
        background-color: #f8f7f7;
        position: fixed;
        width: 98%;
        z-index: 121;
        top: 121px;
    }
    /* Mobile View */
@media  screen and (min-width:200px) and (max-width:300px) {
    .tab{
        position: absolute;
        width: auto;
        margin-top: 40px;
        top: 0px;
        transform: translate(0);
        -webkit-transform: translate3d(0,0,0);
        }
    .page1{ margin-top: 260px;}
}
@media  screen and (min-width:300px) and (max-width:400px) {
.tab {
    position: absolute;
    width: auto;
    z-index: 121px;
    top: 0px;
    margin-top: 40px;
}
.page1 { 
    margin-top: 220px;
}
}
@media  screen and (min-width:400px) and (max-width:447px) {
    .tab {
    position: absolute;
    width: auto;
    z-index: 121px;
    top: 0px;
    margin-top: 40px;
    }
    .page1 { 
    margin-top: 200px;
}
}
@media  screen and (min-width:448px) and (max-width:480px) {
    .tab {
        position: absolute;
    width: auto;
    z-index: 121px;
        margin-top: 30px; 
        top: 0px;}
    .page1{margin-top: 150px;}
}
@media  screen and (min-width:481px) and (max-width:500px) {
    .tab {
    position: absolute;
    width: auto;
    z-index: 121px;
    top: 0px;
    margin-top: 80px;
}
    .page1{ margin-top: 200px;}
}
@media  screen and (min-width:500px) and (max-width:600px){
.tab {
    position: absolute;
    width: auto;
    z-index: 121px;
    top: 0px;
    margin-top: 90px;
}
.page1 {
    margin-top: 200px;
}
}
@media  screen and (min-width:600px) and (max-width:607px){
    .tab {
    position: absolute;
    width: auto;
    z-index: 121px;
    top: 0px;
    margin-top: 90px;
}
    .page1{
        margin-top: 200px;
    }
}
@media  screen and (min-width:608px) and (max-width:726px){
.tab {
    position: absolute;
    width: auto;
    z-index: 121px;
    top: 0px;
    margin-top: 90px;
}
.page1 {
    margin-top: 150px;
}
}
@media  screen and (min-width:727px) and (max-width:767px){
    .tab{
        position: absolute;
        width: auto;
        z-index: 121px;
        margin-top: 90px;top: 0px;
    }
    .page1{
        margin-top: 150px;
    }
}
@media  screen and (min-width:768px) and (max-width:800px){
    .tab{
        position: absolute;
        width: auto;
        z-index: 121px;
        margin-top: 0px;top: 0px;
    }
    .page1{
        margin-top: 70px;
    }
}
@media  screen and (min-width:801px) and (max-width:900px){
    .tab{
        margin-top: 0px;top: 0px;
    }
    .page1{
        margin-top: 50px;
    }
}
@media  screen and (min-width:900px) and (max-width:1157px){
    .tab{
        margin-top: 0px;top: 0px;
    }
    .page1{ margin-top: 50px;}
}
        /* Style the buttons inside the tab */
        .tab button {
            background-color: inherit;
            float: left;
            border: none;
            outline: none;
            cursor: pointer;
            padding: 14px 16px;
            transition: 0.3s;
            font-size: 14px;
            font-weight: bold;
        }

            /* Change background color of buttons on hover */
            .tab button:hover {
                background-color: rgb(140, 138, 141);
                color: white;
            }

            /* Create an active/current tablink class */
            .tab button.active {
                background-color: #d5591e;
                background-image: linear-gradient(316deg, rgb(236 195 100) 0%, rgb(171 225 166) 74%);
            }

    /* Style the tab content */
    .tabcontent {
        display: none;
        padding: 6px 12px;
        border: 1px solid #fff;
        border-top: none;
    }
     .picColor:hover {
        background-color: transparent;
        box-shadow: none;
        color: #144A6E;
        border: 1px solid #A59F9D;
        transform: translateY(-3px);
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
        text-decoration: underline;
        text-decoration-color: #141478;
    }

    .tab {
        overflow: hidden;
        border: 1px solid #ccc;
        background-color: #f8f7f7;
        height: 58px;
    }

        /* Style the buttons inside the tab */
        .tab button {
            background-color: inherit;
            float: left;
            border: none;
            outline: none;
            cursor: pointer;
            padding: 14px 16px;
            transition: 0.3s;
            font-size: 14px;
            font-weight: bold;
        }

            /* Change background color of buttons on hover */
            .tab button:hover {
                background-color: rgb(226, 221, 221);
                text-decoration: underline;
                height: 56px;
            }


    /* Style the tab content */
    .tabcontent {
        display: none;
        padding: 6px 12px;
        border: 1px solid #fff;
        border-top: none;
    }
    /* Style for blinking the notification button */
    .button {
        background-color: #FCB77E;
        padding: 17px 9px;
        text-align: center;
        text-decoration: double;
    }

    @keyframes glowing {
        0% {
            background-color: #FDECDD;
            box-shadow: 0 0 5px #F9B77F;
        }

        50% {
            background-color: #F7CC46;
            box-shadow: 0 0 20px #FCE4D0;
        }

        100% {
            background-color: #FBD047;
            box-shadow: 0 0 5px #FCE4D0;
        }
    }

    .button {
        animation: glowing 2000ms infinite;
    }
</style>

<script>
    function openApplication(evt, ApplicationName) {
      var i, tabcontent, tablinks;
      tabcontent = document.getElementsByClassName("tabcontent");
      for (i = 0; i < tabcontent.length; i++) {
        tabcontent[i].style.display = "none";
      }
      tablinks = document.getElementsByClassName("tablinks");
      for (i = 0; i < tablinks.length; i++) {
        tablinks[i].className = tablinks[i].className.replace(" active", "");
      }
      document.getElementById(ApplicationName).style.display = "block";
      evt.currentTarget.className += " active";
    }

    // Get the element with id="defaultOpen" and click on it
    document.getElementById("defaultOpen").click();

</script>
<div ng-controller="MstProductsandChargesTabController as dp">
    <div class="tab">
        <button class="tablinks" onclick="openApplication(event, 'General Information')" ng-click="general_Tab()">General Info</button>
        <button class="tablinks" onclick="openApplication(event, 'Add Company Information')" ng-click="company_add()"> Company Info</button>
        <button class="tablinks" onclick="openApplication(event, 'Individual Demographics')" ng-click="Individual_add()">Individual Info</button>
        <button class="tablinks" onclick="openApplication(event, 'Add Group(s)')" ng-click="Group_add()"> Group Info </button>
        <!--<button class="tablinks" onclick="openApplication(event, 'Economic Capital')" ng-click="EconomicCapital_add()">Economic Capital</button>-->
        <button class="tablinks" onclick="openApplication(event, 'Overall Limit')" ng-click="OverallLimit_add()"> Overall Limit</button>
        <button class="tablinks" onclick="openApplication(event, 'Add Loan')" ng-click="ProductCharges_add()">Product</button>
        <button class="tablinks" onclick="openApplication(event, 'Service Charges')" ng-click="ServiceCharges_add()"> Charges</button>
        <button class="tablinks" onclick="openApplication(event, 'Hypothecation')" id="defaultOpen" ng-click="Hypothecation_add"> Hypothecation</button>
        <button class="tablinks" onclick="openApplication(event, 'Bureau Updates')" ng-click="BureauUpdates_add()">Bureau </button>
        <button class="tablinks" onclick="openApplication(event, 'Done')" ng-click="doneclick()">Done</button>
    </div>
    <div class="panel page1">
        <div class="panel-body">
            
            <div id="Hypothecation" class="tabcontent">
                <div >
                    <br />
                    <div ng-show="hypothecation">
                        <div class="dd-handle ng-scope">
                            <form novalidate="" name="hypothecation" ng-submit="form.submitLoan()" autocomplete="off" class="form-validate mb-lg">
                                <div class="row">
                                    <div class="col-lg-12 col-md-12 col-sm-12">
                                        <br />
                                        <p class="text-primary" style="font-size:16px;"><b>&nbsp;&nbsp; Hypothecation Details </b></p>
                                        <hr />
                                        <div class="col-lg-4 col-md-4 col-sm-4">
                                            <label><strong>Security Type</strong> <span style="color:red">*</span></label>
                                            <select name="SecurityType" ng-options="m.security_type for m in securitytype_list" chosen=""
                                                    ng-model="cboSecurityType" class="form-control" style="height:37px;"
                                                    size="1">
                                                <option value=""></option>

                                            </select>
                                        </div>
                                        <div class="col-lg-4 col-md-4 col-sm-4">
                                            <label class="col-form-label"> Security Value  </label>
                                            <br />
                                            <input id="SecurityValue" ng-model="txtSecurity_Value" maxlength="20" class="form-control ng-pristine ng-valid ng-touched"
                                                   ng-change="txtSecurityValuechange()" style="text-align:right;" pattern="^[\d,]+$" >
                                            <span style="font-style:italic;">Number in words:</span>
                                            <span id="words_totalamount6" style="color:#003c96fc;" class="text-bold"></span>
                                        </div>
                                        <div class="col-lg-4 col-md-4 col-sm-4">
                                            <label class="col-form-label"> Security Assessed On</label>
                                            <br />
                                            <p class="input-group">
                                                <input type="text" id="SAO" name="date" ng-model="txtSecurityAssessed_date" datepicker-popup="{{dp.format}}"
                                                       style="height:36px;" is-open="dp.open16" min-date="dp.minDate" datepicker-options="dp.dateOptions"
                                                       close-text="Close" class="form-control" placeholder="DD-MM-YYYY" />
                                                <span class="input-group-btn">
                                                    <button type="button" ng-click="dp.calender16($event)" style="height:36px;" class="btn btn-default">
                                                        <em class="fa fa-calendar"></em>
                                                    </button>
                                                </span>
                                            </p>
                                        </div>

                                    </div>
                                </div>
                                <br />
                                <div class="row">
                                    <div class="col-lg-12 col-md-12 col-sm-12">
                                        <div class="col-lg-4 col-md-4 col-sm-4">
                                            <label class="col-form-label"> Asset ID </label>
                                            <br />
                                            <input type="text" ng-model="txtasset_id" maxlength="20" tabindex="0" class="form-control" />
                                        </div>
                                        <div class="col-lg-4 col-md-4 col-sm-4">
                                            <label class="col-form-label"> ROC Filling ID </label>
                                            <br />
                                            <input type="text" ng-model="txtroc_fillingid" maxlength="20" tabindex="0" class="form-control" />
                                        </div>
                                        <div class="col-lg-4 col-md-4 col-sm-4">
                                            <label class="col-form-label"> CERSAI Filling ID </label>
                                            <br />
                                            <input type="text" ng-model="txtCERSAI_fillingid" maxlength="20" tabindex="0" class="form-control" />
                                        </div>
                                        <div class="col-lg-4 col-md-4 col-sm-4">

                                        </div>
                                    </div>
                                </div>
                                <br />
                                <div class="row">
                                    <div class="col-lg-12 col-md-12 col-sm-12">
                                        <div class="col-lg-12 col-md-12 col-sm-12">
                                            <label class="col-form-label"> Security Description </label>
                                            <br />
                                            <textarea ng-model="txtsecurity_desc" maxlength="5000" rows="2" class="form-control"
                                                      id="input_13" ng-trim="false" aria-multiline="true" tabindex="0" aria-invalid="true"></textarea>

                                        </div>
                                    </div>
                                </div>
                                <br />
                                <div class="row">
                                    <div class="col-lg-12 col-md-12 col-sm-12">
                                        <div class="col-lg-12 col-md-12 col-sm-12">
                                            <label class="col-form-label"> Observation Summary </label>
                                            <br />
                                            <textarea ng-model="txthypoobservation_summary" maxlength="5000" rows="2" class="form-control"
                                                      id="input_13" ng-trim="false" aria-multiline="true" tabindex="0" aria-invalid="true"></textarea>

                                        </div>
                                    </div>
                                </div>
                                <br />
                                <div class="row">
                                    <div class="col-lg-12 col-md-12 col-sm-12">
                                        <div class="col-lg-12 col-md-12 col-sm-12">
                                            <label class="col-form-label"> Primary Security </label>
                                            <br />
                                            <textarea ng-model="txtprimary_security" maxlength="5000" rows="2" class="form-control"
                                                      id="input_13" ng-trim="false" aria-multiline="true" tabindex="0" aria-invalid="true"></textarea>
                                        </div>
                                    </div>
                                </div>
                                <br />
                                <div class="row">
                                    <div class="col-lg-12 col-md-12 col-sm-12">
                                        <div class="dd-handle ng-scope">
                                            <br />
                                            <p class="text-primary" style="font-size:16px;"><b>&nbsp;&nbsp;  Hypothecation Document Upload/b></p>
                                            <hr />
                                            <div class="col-lg-4 col-md-4 col-sm-4">
                                                <label> Document Title </label> <span style="color:red">*</span>
                                                <br />
                                                <select name="DocumentTitle" style="height:37px;"
                                                        ng-model="cbohypodoc_title" class="form-control ng-valid ng-touched ng-valid-parse"
                                                        size="1">
                                                    <option value=""></option>
                                                    <option value="Document Observation"> Document Observation </option>
                                                    <option value="Document Hypothecation"> Document Hypothecation </option>
                                                    <option value="Document Legal Opinion"> Document Legal Opinion </option>
                                                </select>
                                            </div>
                                            <div class="col-lg-6 col-sm-6 col-md-6">
                                                <div class="float-label">
                                                    <strong>Upload Documents</strong>
                                                    <br /><br />
                                                    <input type="file" id="file" tabindex="5" multiple onchange="angular.element(this).scope().uploadhypothecationdoc(this.files, angular.element(this).scope().documentupload, this.name)"
                                                           ng-model="txtbureau_document" data-classbutton="btn btn-default" data-classinput="form-control inline" data-button-text="Select" />
                                                </div>
                                            </div>
                                            <div class="col-lg-2 col-sm-2 col-md-2">
                                            </div>
                                            <br /><br />
                                            <div class="row" ng-show="hypo_documentList!=null">
                                                <div class="col-lg-12 col-sm-12 col-md-12">
                                                    <div class="col-lg-12 col-sm-12 col-md-12">
                                                        <br />
                                                        <div class="table-responsive">
                                                            <table class="table table-striped table-secondary">
                                                                <thead class="bg-gray text-white">
                                                                    <tr width="100%">
                                                                        <th scope="col">S.No</th>
                                                                        <th scope="col">Document Title</th>
                                                                        <th scope="col">Document Name</th>
                                                                        <th align="center" scope="col">
                                                                            Action&nbsp;&nbsp;&nbsp;
                                                                            <a download="" href="" title="Download All" id="btnpdf3" ng-click="downloadallhypo()">
                                                                                <em class="icon-arrow-down"></em>&nbsp;
                                                                            </a>
                                                                        </th>
                                                                    </tr>
                                                                </thead>
                                                                <tbody>
                                                                    <tr ng-repeat="data in hypo_documentList">
                                                                        <td title="S.No">{{$index+1}}</td>
                                                                        <td title="Document Title">{{data.document_title}}</td>
                                                                        <td title="Document Name">{{data.document_name}}</td>
                                                                        <td data-title="Action">
                                                                            <button title="Download" class="btn btn-green btn-sm"
                                                                                    ng-click="downloads(data.document_path,data.document_name)">
                                                                                <em class="fa fa-download"></em>
                                                                                <a download="" href="" id="btnpdf" style="display:none;"></a>
                                                                            </button>
                                                                            <button title="View" class="btn btn-info btn-sm" ng-click="documentviewer(data.document_path,data.document_name)">
                                                                                <a download="" href="" style="display:none;"></a>  <em class="fa fa-file"></em>
                                                                            </button>
                                                                            <a title="Delete" class="btn btn-sm btn-danger" ng-click="hypodoccancel(data.document_gid)">
                                                                                <span class="icon icon-trash "></span>
                                                                            </a>
                                                                        </td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <br /><br />
                                        </div>
                                    </div>
                                </div>
                            </form>

                            <br />
                          
                        </div>

                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12">
                                <br /><br />
                                <div class="text-center">
                                    <button type="button" class="btn btn-success" ng-disabled="hypothecation.$invalid" ng-click="SubmitHypothecation()">
                                        <i class="fa fa-arrow-circle-right"></i>&nbsp;&nbsp;Submit
                                    </button>

                                </div>
                            </div>
                        </div>

                        <br />


                    </div>
                    <div ng-hide="hypothecation">
                        <br /><br />
                        <div class="dd-handle ng-scope" style="background-color: #f9f8f8;">
                            <div class="row">
                                <div class="col-lg-12 col-md-12 col-sm-12">

                                    <h3>Hypothecation Details Already added. For More Info <a ng-click="hypothecationdtl()">Click Here</a>. </h3>
                                    <br />

                                    <br />
                                    <br />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="Done" class="tabcontent">
                <br />
                <div class="row" ng-show="proceed_flag=='Y'">
                    <div class="col-lg-12 col-md-12 col-sm-12">
                            <div class="dd-handle ng-scope">
                                <p class="text-primary" style="font-size:14px;"><b> Approval Hierarchy Details </b></p>
                                <hr />
                                <div class="row">
                                    <div class="col-lg-12 col-md-12 col-sm-12">
                                        <div class="col-lg-2 col-sm-2 col-md-2">
                                            <label style="font-weight:bold;color:#141478;font-size: 12px;">Level 0 - RM</label> <span style="width:90px;text-align: right;font-weight: bold;" class="pull-right"> ---- > </span><br />                                   
                                            {{level_zero}} 
                                        </div>
                                        <div class="col-lg-2 col-sm-2 col-md-2">
                                            <label style="font-weight:bold;color:#db2525;font-size: 12px;">Level 1 - DRM</label> <span style="width:90px;text-align: right;font-weight: bold;" class="pull-right"> ---- > </span><br />                                 
                                           {{level_one}}
                                        </div>
                                        <div class="col-lg-2 col-sm-2 col-md-2">
                                            <label style="font-weight:bold;color:#871490;font-size: 12px;">Level 2 - CH  </label> <span style="width:90px;text-align: right;font-weight: bold;" class="pull-right" >&nbsp;&nbsp;&nbsp;&nbsp; ---- > </span><br />                                  
                                            {{clusterhead}}
                                        </div>
                                        <div class="col-lg-2 col-sm-2 col-md-2">
                                            <label style="font-weight:bold;color:#12574f;font-size: 12px;">Level 3 - RH </label> <span style="width:90px;text-align: right;font-weight: bold;" class="pull-right" >&nbsp;&nbsp;&nbsp;&nbsp; ---- ></span><br />                                 
                                            {{regionhead}}
                                        </div>
                                        <div class="col-lg-2 col-sm-2 col-md-2">
                                            <label style="font-weight:bold;color:#f17a0b;font-size: 12px;">Level 4 - ZH </label> <span style="width:90px;text-align: right;font-weight: bold;" class="pull-right">&nbsp;&nbsp;&nbsp;&nbsp; ---- > </span><br />                                   
                                            {{zonalhead}}
                                        </div>
                                        <div class="col-lg-2 col-sm-2 col-md-2">
                                            <label style="font-weight:bold;color:#ee1c62;font-size: 12px;">Level 5 - BVH</label><br />                                  
                                            {{businesshead}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                    </div>
                </div>
                <div class="dd-handle ng-scope" style="background-color: #f9f8f8;">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <div class="col-lg-5 col-md-5 col-sm-5">
                                <h3>Done!</h3>
                                <br />
                                <div ng-show="done_enable">
                                    <a class="btn btn-sm btn-default" style="background-color:#09385f;color:white;padding-left:9px;" ng-click="overallsubmit_application()"> Proceed to Approval</a>
                                </div>
                                <div ng-show="done_disable">
                                    <a class="btn btn-sm btn-default" style="background-color:#09385f;color:white;padding-left:9px;" ng-disabled="true"> Proceed to Approval</a>
                                </div>
                                <br />
                            </div>
                            <div class="col-lg-3 col-md-3 col-sm-3" style="height:67px;" ng-show="hierarchyshow">
                                <br /><br />
                                <div class="list-group-item picColor button">
                                    <div class="media-box">
                                        <div class="pull-left">
                                            <span>
                                                <em class="fa fa-bell text-white fa-2x" style="color:#110F0F;"></em>
                                            </span>
                                        </div>
                                        <div class="media-box-body clearfix">
                                            <div class="media-box-heading">
                                                <!--<div class="pull-right label" style="font-size:11px;background-color:#FB9235;padding-top:5px;">New</div>-->
                                                <div style="font-size:13px;color:#110F0F;text-align:center;" ng-click="hierarchy_change(application_gid)"><b>Acknowledge Hierarchy </b></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-4">
                                <br/>
                                <p style="font-size: 14px;padding-left: 10px;"><b><u> For Submission : </u></b></p>
                                <ul>
                                    <li>One entry should be selected as applicant</li>
                                    <li>Minimum one loan product must be included</li>
                                    <li>The status of Company / Individual / Group should be "Completed"</li>
                                </ul>
                            </div>
                            <br />
                            <br />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br/>
        <div class="text-center">
            <button ng-click="Back()" class="btn btn-info"><i class="fa fa-arrow-circle-left"></i>&nbsp;&nbsp;Back</button>
        </div>
        <br />
    </div>
    <script type="text/ng-template" id="/addresstype.html">
        <md-toolbar>
            <div class="md-toolbar-tools" style="background-color:rgb(63, 110, 181);">
                <em style="font-size:16px" class="fa fa-plus"></em>&nbsp;<label style="font-size:16px">Add Address</label>
                <span flex></span>
                <button ng-click="ok()" class="pull-right btn btn-primary"><i class="fa fa-close"></i></button>
            </div>

        </md-toolbar>
        <div class="modal-content">
            <div class="modal-body ng-scope">

                <form novalidate="" name="userform1" ng-submit="form.submitLoan()" autocomplete="off" class="form-validate mb-lg">
                    <div class="row">
                        <div class="col-sm-12 col-sm-12 col-sm-12 ">
                            <div class="col-lg-9 col-md-9 col-sm-9">
                                <label><strong>Address Type </strong> <span style="color:red">*</span></label>
                                <select chosen="" ng-options="m as m.address_type for m in addresstype_list track by m.address_gid"
                                        ng-model="cboaddresstype" class="chosen-select form-control" required>
                                    <option value=""></option>
                                </select>
                            </div>
                            <div class="col-lg-3 col-md-3 col-sm-3">
                                <label>Primary Status </label> <span style="color:red">*</span>
                                <div class="radio c-radio">
                                    <label>
                                        <input type="radio" id="primary" name="primaryaddress" required value="Yes" ng-model="rdbprimaryaddress" />
                                        &nbsp;&nbsp;<span class="fa fa-circle"></span>Yes
                                    </label>
                                    <label>
                                        <input type="radio" id="primary" name="primaryaddress" required value="No" ng-model="rdbprimaryaddress" />
                                        <span class="fa fa-circle"></span>No
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-sm-12 col-sm-12 col-sm-12">
                            <div class="col-sm-12 col-sm-12 col-sm-12">
                                <label><strong>Address Line 1 </strong> <span style="color:red">*</span></label>
                                <input type="text" ng-model="txtaddressline1" tabindex="0" class="form-control" maxlength="300" required />
                            </div>
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-sm-12 col-sm-12 col-sm-12">
                            <div class="col-sm-12 col-sm-12 col-sm-12">
                                <label><strong>Address Line 2 </strong></label>
                                <input type="text" ng-model="txtaddressline2" tabindex="0" class="form-control" maxlength="300" />
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-12 col-sm-12 col-sm-12">
                            <div class="col-lg-6 col-md-6 col-sm-6">
                                <div class="mda-form-group">
                                    <label><strong>Land Mark </strong></label>
                                    <input type="text" ng-model="txtLand_Mark" tabindex="0" class="form-control" maxlength="100" />

                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6">
                                <div class="mda-form-group">
                                    <label><strong>Postal Code </strong> <span style="color:red">*</span></label>
                                    <input type="text" ng-model="txtpostal_code" tabindex="0" class="form-control" required
                                           ng-pattern="/^[0-9]*$/" ng-change="onchangepostal_code()" maxlength="6" />

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 col-sm-12 col-sm-12 ">
                            <div class="col-lg-6 col-md-6 col-sm-6">
                                <div class="mda-form-group">
                                    <label>City </label>
                                    <input type="text" ng-model="txtcity" tabindex="0" class="form-control" disabled />
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6">
                                <div class="mda-form-group">
                                    <label>Taluka</label>
                                    <input type="text" ng-model="txttaluka" tabindex="0" class="form-control" disabled />

                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-sm-12 col-sm-12 col-sm-12 ">
                            <div class="col-lg-4 col-md-4 col-sm-4">
                                <div class="mda-form-group">
                                    <label><strong>District</strong> <span style="color:red">*</span></label>
                                    <input type="text" ng-model="txtdistrict" tabindex="0" class="form-control" disabled />
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-4">
                                <div class="mda-form-group">
                                    <label>State </label> <span style="color:red">*</span>
                                    <br />
                                    <input type="text" ng-model="txtstate" tabindex="0" class="form-control" disabled />
                                </div>

                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-4">
                                <div class="mda-form-group">
                                    <label>Country</label> <span style="color:red">*</span>
                                    <input type="text" ng-model="txtcountry" tabindex="0" class="form-control" ng-pattern="/^[ A-Za-z0-9)(}{\]\['\\/.,]*$/" />

                                </div>
                            </div>
                        </div>
                    </div>
                    <br />
                    <div class="text-center">
                        <button type="button" class="btn btn-success btn-md" ng-disabled="userform1.$invalid" ng-click="addressSubmit()"><i class="fa fa-arrow-circle-right"></i>&nbsp;&nbsp;Submit</button>&nbsp;&nbsp;
                        <button ng-click="ok()" class="btn btn-danger"><i class="fa icon-close"></i>&nbsp;&nbsp;Close</button>

                    </div>
                </form>
            </div>
        </div>
    </script>
    <script type="text/ng-template" id="/CICUpload.html">
        <md-toolbar>
            <div class="md-toolbar-tools" style="background-color:rgb(63, 110, 181);">
                <em style="font-size:16px" class="fa fa-plus"></em>&nbsp;<label style="font-size:16px">Bureau Updates</label>
                <span flex></span>
                <button ng-click="ok()" class="pull-right btn btn-primary"><i class="fa fa-close"></i></button>
            </div>

        </md-toolbar>
        <div class="modal-content">
            <div class="modal-body ng-scope">

                <form novalidate="" name="userform1" ng-submit="form.submitLoan()" autocomplete="off" class="form-validate mb-lg">
                    <div class="row">
                        <div class="col-sm-12 col-sm-12 col-sm-12 ">
                            <div class="col-lg-4 col-md-4 col-sm-4">
                                <label><strong> Bureau Name  </strong> <span style="color:red">*</span></label>
                                <select name="BureauName" id="BureauName" chosen="" ng-options="m.bureauname_gid as m.bureauname_name for m in bureau_list"
                                        ng-model="bureau_gid" class="chosen-select form-control" required>
                                    <option value=""></option>
                                </select>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-4">
                                <label> Bureau Score <span style="color:red"> *</span> </label>
                                <input type="text" ng-model="txtbureau_score" tabindex="0" class="form-control" required />
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-4">
                                <label> Score As On </label>
                                <br />
                                <p class="input-group">
                                    <input type="date" id="SAO" name="SAO" ng-model="txtscore_on"
                                           style="width:200px;height:35px" class="form-control">
                                </p>
                            </div>
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-sm-12 col-sm-12 col-sm-12 ">
                            <div class="col-sm-12 col-sm-12 col-sm-12 ">
                                <label> Observations </label>
                                <br />
                                <textarea rows="2" placeholder="Enter Observations..." aria-multiline="true" tabindex="0" aria-invalid="false"
                                          ng-model="txtobservations" class="form-control"></textarea>
                            </div>
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-sm-12 col-sm-12 col-sm-12 ">
                            <div class="col-sm-12 col-sm-12 col-sm-12 ">
                                <label> Bureau Response </label>
                                <br />
                                <textarea rows="2" placeholder="Enter Bureau Response ..." aria-multiline="true" tabindex="0" aria-invalid="false"
                                          ng-model="txtbureau_response" class="form-control"></textarea>
                            </div>
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <div class="dd-handle ng-scope">
                                <br />
                                <p class="text-primary" style="font-size:16px;"><b>&nbsp;&nbsp;  Upload report </b></p>
                                <hr />
                                <div class="col-lg-6 col-sm-6 col-md-6">
                                    <div class="float-label">
                                        <label>Upload Documents<span style="color:red"> *</span></label>
                                        <br /><br />
                                        <input type="file" id="file" tabindex="5" onchange="angular.element(this).scope().CICDocumentUpload(this.files, angular.element(this).scope().documentupload, this.name)"
                                               ng-model="txtcic_document" data-classbutton="btn btn-default" data-classinput="form-control inline" data-button-text="Select" />
                                    </div>
                                </div>
                                <div class="col-lg-6 col-sm-6 col-md-6">
                                </div>
                                <br /><br />
                                <div class="row">
                                    <div class="col-lg-12 col-sm-12 col-md-12">
                                        <div class="col-lg-12 col-sm-12 col-md-12">
                                            <br />
                                            <div class="table-responsive">
                                                <table class="table table-striped table-secondary">
                                                    <thead class="bg-gray text-white">
                                                        <tr width="100%">
                                                            <th scope="col">S.No</th>
                                                            <th scope="col">Document Name</th>
                                                            <th scope="col">Action</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr ng-repeat="data in cicuploaddoc_list">
                                                            <td title="S.No">{{$index+1}}</td>
                                                            <td title="Document Name">{{data.document_name}}</td>
                                                            <td data-title="Action">
                                                                <button title="Download" class="btn btn-green btn-sm"
                                                                        ng-click="downloads(data.document_path,data.document_name)">
                                                                    <em class="fa fa-download"></em>
                                                                    <a download="" href="" id="btnpdf" style="display:none;"></a>
                                                                </button>
                                                                <button title="View" class="btn btn-info btn-sm" ng-click="documentviewer(data.document_path,data.document_name)">
                                                                    <a download="" href="" style="display:none;"></a>  <em class="fa fa-file"></em>
                                                                </button>
                                                                <a title="Delete" class="btn btn-sm btn-danger" ng-click="uploaddocumentcancel(data.tmpcicdocument_gid)">
                                                                    <span class="icon icon-trash "></span>
                                                                </a>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <br />
                            </div>
                        </div>
                    </div>

                    <br />
                    <div class="text-center">
                        <button type="button" class="btn btn-success btn-md" ng-disabled="CICUploaddtlsUpdate.$invalid" ng-click="update_CICUploads()"><i class="fa fa-arrow-circle-right"></i>&nbsp;&nbsp;Update</button>&nbsp;&nbsp;
                        <button ng-click="ok()" class="btn btn-danger"><i class="fa icon-close"></i>&nbsp;&nbsp;Close</button>
                    </div>
                </form>
            </div>
        </div>
    </script>
    <script type="text/ng-template" id="/institutionaddresstype.html">
        <md-toolbar>
            <div class="md-toolbar-tools" style="background-color:rgb(63, 110, 181);">
                <em style="font-size:16px" class="fa fa-plus"></em>&nbsp;<label style="font-size:16px">Add Address</label>
                <span flex></span>
                <button ng-click="ok()" class="pull-right btn btn-primary"><i class="fa fa-close"></i></button>
            </div>

        </md-toolbar>
        <div class="modal-content">
            <div class="modal-body ng-scope">

                <form novalidate="" name="userform1" ng-submit="form.submitLoan()" autocomplete="off" class="form-validate mb-lg">
                    <div class="row">
                        <div class="col-sm-12 col-sm-12 col-sm-12 ">
                            <div class="col-lg-9 col-md-9 col-sm-9">
                                <label><strong>Address Type </strong> <span style="color:red">*</span></label>
                                <select chosen="" ng-options="m as m.address_type for m in addresstype_list track by m.address_gid"
                                        ng-model="cboaddresstype" class="chosen-select form-control" required>
                                    <option value=""></option>
                                </select>
                            </div>
                            <div class="col-lg-3 col-md-3 col-sm-3">
                                <label>Primary Status </label> <span style="color:red">*</span>
                                <div class="radio c-radio">
                                    <label>
                                        <input type="radio" id="primary" name="primaryaddress" required value="Yes" ng-model="rdbprimaryaddress" />
                                        &nbsp;&nbsp;<span class="fa fa-circle"></span>Yes
                                    </label>
                                    <label>
                                        <input type="radio" id="primary" name="primaryaddress" required value="No" ng-model="rdbprimaryaddress" />
                                        <span class="fa fa-circle"></span>No
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-sm-12 col-sm-12 col-sm-12 ">
                            <div class="col-sm-12 col-sm-12 col-sm-12">
                                <label><strong>Address Line 1 </strong> <span style="color:red">*</span></label>
                                <input type="text" ng-model="txtaddressline1" tabindex="0" class="form-control text-wrap" maxlength="300" required />

                            </div>
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-sm-12 col-sm-12 col-sm-12">
                            <div class="col-sm-12 col-sm-12 col-sm-12">
                                <label><strong>Address Line 2 </strong></label>
                                <input type="text" ng-model="txtaddressline2" tabindex="0" class="form-control" maxlength="300" />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 col-sm-12 col-sm-12">
                            <div class="col-lg-6 col-md-6 col-sm-6">
                                <div class="mda-form-group">
                                    <label><strong>Land Mark </strong></label>
                                    <input type="text" ng-model="txtLand_Mark" tabindex="0" class="form-control" maxlength="100" />

                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6">
                                <div class="mda-form-group">
                                    <label><strong>Postal Code </strong> <span style="color:red">*</span></label>
                                    <input type="text" ng-model="txtpostal_code" tabindex="0" class="form-control" required
                                           ng-pattern="/^[0-9]*$/" ng-change="onchangepostal_code()" maxlength="6" />

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 col-sm-12 col-sm-12 ">
                            <div class="col-lg-6 col-md-6 col-sm-6">
                                <div class="mda-form-group">
                                    <label>City </label>
                                    <input type="text" ng-model="txtcity" tabindex="0" class="form-control" disabled />
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6">
                                <div class="mda-form-group">
                                    <label>Taluka</label>
                                    <input type="text" ng-model="txttaluka" tabindex="0" class="form-control" disabled />

                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-sm-12 col-sm-12 col-sm-12 ">
                            <div class="col-lg-4 col-md-4 col-sm-4">
                                <div class="mda-form-group">
                                    <label><strong>District</strong> <span style="color:red">*</span></label>
                                    <input type="text" ng-model="txtdistrict" tabindex="0" class="form-control" disabled />
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-4">
                                <div class="mda-form-group">
                                    <label>State </label> <span style="color:red">*</span>
                                    <br />
                                    <input type="text" ng-model="txtstate" tabindex="0" class="form-control" disabled />
                                </div>

                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-4">
                                <div class="mda-form-group">
                                    <label>Country</label> <span style="color:red">*</span>
                                    <input type="text" ng-model="txtcountry" tabindex="0" class="form-control" ng-pattern="/^[ A-Za-z0-9)(}{\]\['\\/.,]*$/" />

                                </div>
                            </div>
                        </div>
                    </div>
                    <br />
                    <div class="text-center">
                        <button type="button" class="btn btn-success btn-md" ng-disabled="userform1.$invalid" ng-click="institutionaddressSubmit()"><i class="fa fa-arrow-circle-right"></i>&nbsp;&nbsp;Submit</button>&nbsp;&nbsp;
                        <button ng-click="ok()" class="btn btn-danger"><i class="fa icon-close"></i>&nbsp;&nbsp;Close</button>

                    </div>
                </form>
            </div>
        </div>
    </script>
    <script type="text/ng-template" id="/HierarchyChange.html">
        <md-toolbar>
            <div class="md-toolbar-tools" style="background-color:rgb(63, 110, 181);">
                <!--<em style="font-size:16px" class="fa fa-plus"></em>&nbsp;--><label style="font-size:16px"> Acknowledge Hierarchy</label>
                <span flex></span>
                <button ng-click="ok()" class="pull-right btn btn-primary"><i class="fa icon-close"></i></button>
            </div>
        </md-toolbar>
        <div class="modal-body ng-scope">
            <div class="pd-sm-10">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <div class="dd-handle ng-scope">
                            <p class="text-primary" style="font-size:14px;"><b> Approval Hierarchy Details </b></p>
                            <hr />
                            <div class="row">
                                <div class="col-lg-2 col-sm-2 col-md-2">
                                    <label style="font-weight:bold;color:#141478;font-size: 12px;">Level 0 - RM</label> <span style="text-align: right;font-weight: bold;" class="pull-right"> -- > </span><br />
                                    {{rm_name}}
                                </div>
                                <div class="col-lg-2 col-sm-2 col-md-2">
                                    <label style="font-weight:bold;color:#db2525;font-size: 12px;">Level 1 - DRM</label> <span style="text-align: right;font-weight: bold;" class="pull-right"> -- > </span><br />
                                    {{directreportingto_name}}
                                </div>
                                <div class="col-lg-2 col-sm-2 col-md-2">
                                    <label style="font-weight:bold;color:#871490;font-size: 12px;">Level 2 - CH  </label> <span style="text-align: right;font-weight: bold;" class="pull-right"> -- > </span><br />
                                    {{clustermanager_name}}
                                </div>
                                <div class="col-lg-2 col-sm-2 col-md-2">
                                    <label style="font-weight:bold;color:#12574f;font-size: 12px;">Level 3 - RH </label> <span style="text-align: right;font-weight: bold;" class="pull-right"> -- ></span><br />
                                    {{regionhead_name}}
                                </div>
                                <div class="col-lg-2 col-sm-2 col-md-2">
                                    <label style="font-weight:bold;color:#f17a0b;font-size: 12px;">Level 4 - ZH </label> <span style="text-align: right;font-weight: bold;" class="pull-right"> -- > </span><br />
                                    {{zonalhead_name}}
                                </div>
                                <div class="col-lg-2 col-sm-2 col-md-2">
                                    <label style="font-weight:bold;color:#ee1c62;font-size: 12px;">Level 5 - BVH</label><br />
                                    {{businesshead_name}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <p style="font-size: 12px;"><i><b style="color: #c90707;"> Note : Please check your hierarchy and in case of any changes,<span style="color:blue;"> Do not click Confirm button.</span> Reach out to Custopedia team to revise the hierarchy. </b></i></p>
                    </div>
                </div>
                <div class="row">
                    <br />
                    <div class="text-center">
                        <button type="button" class="btn btn-success" ng-click="Update_hierarchy()">
                            <i class="fa fa-arrow-circle-right"></i>&nbsp; Confirm
                        </button>
                        <button ng-click="ok()" class="btn btn-danger"><i class="fa icon-close"></i>&nbsp;&nbsp;Close</button>
                    </div>
                </div>
            </div>

        </div>
    </script>
</div>