
<h3>
    View Assessment Criteria Details
</h3>
<div ng-controller="MstAssessmentCriteriaDetailsViewController" class="ball-clip-rotate">

    <div id="panelDemo8" class="panel panel-primary ">
        <div class="panel-heading">
            <span class="btn-label">

            </span>View Assessment Criteria Details
        </div>
        <div class="panel-body">
            <form novalidate="" name="userform2" ng-submit="form.assessmentUpdate()" autocomplete="off" class="form-validate mb-lg">
                <!--<div class="dd-handle ng-scope" style="background-color: #f9f8f8;">-->
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <div class="col-lg-4 col-md-4 col-sm-4">
                            <label class="col-form-label"><strong>Assessment Criteria</strong></label>
                          <p>{{assessmentcriteria_name}}</p>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4">
                            <label class="col-form-label"> Maximum Score </label>
                            <br />
                            <p>{{edittxtmax_score}}</p>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4">
                            <label class="col-form-label"> Actual Scored </label>
                            <br />
                            <p>{{edittxtactual_score}}</p>
                        </div>
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <div class="col-lg-2 col-md-2 col-sm-2">
                            <label class="col-form-label"> In % </label>
                            <br />
                            <p>{{edittxtin}}</p> 
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-3">
                            <label class="col-form-label"> In Grade </label>
                            <br />
                            <p>{{edittxtin_grade}}</p> 
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-3">
                            <label class="col-form-label"> Shareholders - Male % </label>
                            <br />
                            <p>{{edittxtshareholders_male}}</p> 
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4">
                            <label class="col-form-label"> Shareholders - Female % </label>
                            <br />
                            <p>{{edittxtshareholders_female}}</p> 
                          </div>
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <div class="col-lg-4 col-md-4 col-sm-4">
                            <label class="col-form-label"> BODs - Male % </label>
                            <br />
                            <p>{{edittxtbods_male}}</p> 
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4">
                            <label class="col-form-label"> BODs - Female % </label>
                            <br />
                      <p>{{edittxtbods_female}}</p>  </div>
                    </div>
                </div>
                <br />
                <div class="text-center">
                    <button ng-click="back()" class="btn btn-info"><i class="fa fa-arrow-circle-left"></i>&nbsp;&nbsp;Back</button>
                </div>
            </form>

        </div>
    </div>
</div>