<h3>
    Edit Assessment Criteria Details
</h3>
<div ng-controller="MstAssessmentCriteriaDetailsEditController" class="ball-clip-rotate">

    <div id="panelDemo8" class="panel panel-primary ">
        <div class="panel-heading">
            <span class="btn-label">
                
            </span>Edit Assessment Criteria Details
        </div>
        <div class="panel-body">
            <form novalidate="" name="userform2" ng-submit="form.assessmentUpdate()" autocomplete="off" class="form-validate mb-lg">
                <!--<div class="dd-handle ng-scope" style="background-color: #f9f8f8;">-->
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12">
                   <div class="col-lg-4 col-md-4 col-sm-4">
                 <label class="col-form-label"><strong>Assessment Criteria</strong> <span style="color:red">*</span></label>
                 <select name="Assessment Criteria" required="" chosen="" multiple ng-options="m.assessmentcriteria_name for m in assessmentcriteria_listedit"
                         ng-model="editcboassessmentcriteria_name" class="form-control"
                         size="1">
                     <option value="">------------Select Assessment Criteria--------</option>
                 </select>
             </div>
                        <div class="col-lg-4 col-md-4 col-sm-4">
                            <label class="col-form-label"> Maximum Score </label>
                            <br />
                            <input type="text" ng-model="edittxtmax_score" tabindex="0" ng-pattern="/^[0-9]*$/" maxlength="3" class="form-control" />
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4">
                            <label class="col-form-label"> Actual Scored </label>
                            <br />
                            <input type="text" ng-model="edittxtactual_score" tabindex="0" ng-pattern="/^[0-9]*$/" maxlength="3" class="form-control" />
                        </div>
                    </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <div class="col-lg-2 col-md-2 col-sm-2">
                                <label class="col-form-label"> In % </label>
                                <br />
                                <input type="text" ng-model="edittxtin" tabindex="0" maxlenth="5"  ng-pattern="/^[0-9,]+(\.[0-9]{1,2})?$/" step="0.01" style="text-align:right" class="form-control" />
                            </div>
                            <div class="col-lg-3 col-md-3 col-sm-3">
                                <label class="col-form-label"> In Grade </label>
                                <br />
                                <input type="text" ng-model="edittxtin_grade" tabindex="0" ng-pattern="/^[0-9]*$/" maxlength="2"  class="form-control" />
                            </div>
                            <div class="col-lg-3 col-md-3 col-sm-3">
                                <label class="col-form-label"> Shareholders - Male % </label>
                                <br />
                                <input type="text" ng-model="edittxtshareholders_male" tabindex="0"  ng-pattern="/^[0-9,]+(\.[0-9]{1,2})?$/" step="0.01" maxlength="5" style="text-align:right" class="form-control" />
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-4">
                                <label class="col-form-label"> Shareholders - Female % </label>
                                <br />
                                <input type="text" ng-model="edittxtshareholders_female" tabindex="0"  ng-pattern="/^[0-9,]+(\.[0-9]{1,2})?$/" step="0.01" maxlength="5" style="text-align:right" class="form-control" />
                            </div>
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <div class="col-lg-4 col-md-4 col-sm-4">
                                <label class="col-form-label"> BODs - Male % </label>
                                <br />
                                <input type="text" ng-model="edittxtbods_male" tabindex="0"  ng-pattern="/^[0-9,]+(\.[0-9]{1,2})?$/" step="0.01" maxlength="5" style="text-align:right" class="form-control" />
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-4">
                                <label class="col-form-label"> BODs - Female % </label>
                                <br />
                                <input type="text" ng-model="edittxtbods_female" tabindex="0"  ng-pattern="/^[0-9,]+(\.[0-9]{1,2})?$/" step="0.01" maxlength="5" style="text-align:right" class="form-control" />
                            </div>
                        </div>
                    </div>
                <br/>
                    <div class="text-center">
                        <button type="button" class="btn btn-success btn-md" ng-disabled="userform2.$invalid" ng-click="assessmentUpdate()"><i class="fa fa-arrow-circle-up"></i>&nbsp;&nbsp;Update</button>&nbsp;&nbsp;
                        <button ng-click="back()" class="btn btn-info"><i class="fa fa-arrow-circle-left"></i>&nbsp;&nbsp;Back</button>
                    </div>
</form>
    
        </div>
                </div>
</div>