<h3>
    Credit Status View
</h3>
<div ng-controller="MstBuyer2CreditStatusView">
    <div id="panelDemo8" class="panel panel-primary ">
        <div class="panel-heading">
            <span class="btn-label">
                <i class="fa fa-eye"></i>
            </span>View Crdit Status
        </div>
        <div class="col-lg-12 col-sm-12 col-md-12">
            <div class="col-lg-12 col-sm-12 col-md-12 ">
                <br />
                <div class="dd-handle ng-scope" style="background-color: #f9f8f8;">
                    <div class="row">
                        <div class="col-md-12 col-lg-12 col-sm-12">
                            <br />
                            <p class="text-primary" style="font-size:15px;"><b> Buyer Basic Details </b></p>
                            <hr />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <div class="col-lg-4 col-md-4 col-sm-4">
                                <label class="col-form-label"> Buyer Code </label>
                                <br />
                                {{txtbuyer_code}}
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-4">
                                <label class="col-form-label"> Buyer Name </label>
                                <br />
                                {{txtbuyer_name}}
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-4">
                                <label class="col-form-label"> COI Date </label>
                                <br />
                                {{txtcoi_date}}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 col-lg-12 col-sm-12">
                            <br />
                            <div class="col-lg-4 col-md-4 col-sm-4">
                                <label class="col-form-label"> Business Start Date </label>
                                <br />
                                {{txtbusinessstart_date}}
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-4">
                                <label class="col-form-label"> Year in Business </label>
                                <br />
                                {{txtyearin_business}}
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-4">
                                <label class="col-form-label"> Months in Business </label>
                                <br />
                                {{txtmonthsin_business}}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 col-lg-12 col-sm-12">
                            <br />
                            <div class="col-lg-4 col-md-4 col-sm-4">
                                <label class="col-form-label"> Constitution </label>
                                <br />
                                {{txtconstitution}}
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-4">
                                <label class="col-form-label"> CIN / Reg No </label>
                                <br />
                                {{txtcin_regno}}
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-4">
                                <label class="col-form-label"> PAN </label>
                                <br />
                                {{txtpan}}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 col-lg-12 col-sm-12">
                            <br />
                            <div class="col-lg-4 col-md-4 col-sm-4">
                                <label class="col-form-label"> Contact Person First Name </label>
                                <br />
                                {{txtfirst_name}}
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-4">
                                <label class="col-form-label"> Contact Person Middle Name </label>
                                <br />
                                {{txtmiddle_name}}
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-4">
                                <label class="col-form-label"> Contact Person Last Name </label>
                                <br />
                                {{txtlast_name}}
                            </div>
                        </div>
                    </div>
                </div>
                <br /> <br />
            </div>
            <br />

            <div class="col-lg-12 col-sm-12 col-md-12">
                <div class="dd-handle ng-scope">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <div class="row">
                                <div class="col-lg-12 col-sm-12 col-md-12 ">
                                    <b style="color:darkblue;font-size:15px;">
                                        Buyer GST Details
                                    </b>
                                    <hr />
                                </div>
                                <div class="col-lg-12 col-sm-12 col-md-12">
                                    <div class="table-responsive table-bordered">
                                        <table class="table m0">
                                            <thead>
                                                <tr width="100%" class="bg-gray-light text-white">
                                                    <th>SNo</th>
                                                    <th>GST State</th>
                                                    <th>GST No</th>
                                                    <th>GST Registered</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr ng-repeat="list in buyergst_list">
                                                    <td>{{$index+1}}</td>
                                                    <td>{{list.gststate_name}}</td>
                                                    <td>{{list.gst_no}}</td>
                                                    <td>{{list.gstregister_status}}</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <br /><br />
            </div>
            <br />

            <div class="row">
                <div class="col-lg-12 col-sm-12 col-md-12">
                    <div class="col-lg-6 col-sm-6 col-md-6">
                        <div class="dd-handle ng-scope">
                            <div class="row">
                                <div class="col-lg-12 col-sm-12 col-md-12">
                                    <b style="color:darkblue;font-size:15px;">
                                        Mobile No
                                    </b>
                                    <hr />
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12 col-sm-12 col-md-12">
                                    <div class="table-responsive table-bordered">
                                        <table class="table m0">
                                            <thead>
                                                <tr width="100%" class="bg-gray-light text-white">
                                                    <th>SNo</th>
                                                    <th>Mobile No</th>
                                                    <th>Primary Status</th>
                                                    <th>Whatsapp Number </th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr ng-repeat="list in mobileno_list">
                                                    <td>{{$index+1}}</td>
                                                    <td>{{list.mobile_no}}</td>
                                                    <td>{{list.primary_mobileno}}</td>
                                                    <td>{{list.whatsapp_mobileno}}</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-sm-6 col-md-6">
                        <div class="dd-handle ng-scope">
                            <div class="row">
                                <div class="col-lg-12 col-sm-12 col-md-12">
                                    <b style="color:darkblue;font-size:15px;">
                                        Email Address
                                    </b>
                                    <hr />
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12 col-sm-12 col-md-12">
                                    <div class="table-responsive table-bordered">
                                        <table class="table m0">
                                            <thead>
                                                <tr width="100%" class="bg-gray-light text-white">
                                                    <th>SNo</th>
                                                    <th>Email Address</th>
                                                    <th>Primary Status</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr ng-repeat="data in Emailaddress_list">
                                                    <td>{{$index+1}}</td>
                                                    <td>{{data.email_address}}</td>
                                                    <td>{{data.primary_emailaddress}}</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <br />

            <div class="col-lg-12 col-sm-12 col-md-12">
                <div class="dd-handle ng-scope">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <div class="row">
                                <div class="col-lg-12 col-sm-12 col-md-12 ">
                                    <b style="color:darkblue;font-size:15px;">
                                        Address Details
                                    </b>
                                    <hr />
                                </div>
                                <div class="col-lg-12 col-sm-12 col-md-12">
                                    <div class="table-responsive table-bordered">
                                        <table class="table m0">
                                            <thead class="bg-gray text-white">
                                                <tr width="100%">
                                                    <th scope="col">S.No</th>
                                                    <th scope="col">Address Type</th>
                                                    <th scope="col">Address</th>
                                                    <th scope="col">Land Mark</th>
                                                    <th> Primary Status</th>
                                                    <th> Static Map / Photos</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr ng-repeat="data in address_list" width="100%">
                                                    <td title="S.No">
                                                        {{$index+1}}
                                                    </td>
                                                    <td title="AddressType">{{data.addresstype_name}}</td>
                                                    <td title="Address">
                                                        {{data.addressline1}},{{data.addressline2}},<br />{{data.taluka}},{{data.district}},
                                                        <br />{{data.city}},{{data.state_name}},{{data.country}},{{data.postal_code}}
                                                    </td>
                                                    <td title="Land Mark">{{data.landmark}}</td>
                                                    <td title="primary_address">{{data.primary_address}}</td>
                                                    <td title="Static Map and Photos">
                                                        <button title="View" ng-click="StaticMapAndPhotos_View(data.latitude, data.longitude, data.addressline1, data.addressline2, data.postal_code)" class="btn btn-xs btn-info">
                                                            <em class="fa fa-eye"></em>
                                                        </button>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <br /><br />
            </div>

            <div class="col-lg-12 col-sm-12 col-md-12">
                <div class="dd-handle ng-scope">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <div class="row">
                                <div class="col-lg-12 col-sm-12 col-md-12 ">
                                    <b style="color:darkblue;font-size:15px;">
                                        Bank Details
                                    </b>
                                    <hr />
                                </div>
                                <div class="col-lg-12 col-sm-12 col-md-12">
                                    <div class="table-responsive table-bordered">
                                        <table class="table m0">
                                            <thead>
                                                <tr width="100%" class="bg-gray-light text-white">
                                                    <th>S.No</th>
                                                    <th>Bank Details</th>
                                                    <th>Account Details</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr ng-repeat="data in bankdetail_list" width="100%">
                                                    <td title="S.No">{{$index+1}}</td>
                                                    <td title="Bank Details">
                                                        <b>IFSC Code : </b> {{data.ifsc_code}} <br />
                                                        <b>Bank Name  : </b> {{data.bank_name}}  <br />
                                                        <b>Branch Name : </b> {{data.branch_name}} <br />
                                                        <b>Branch Address : </b> {{data.bank_address}} <br />
                                                        <b>MICR Code : </b> {{data.micr_code}}
                                                    </td>
                                                    <td title="Account Details">
                                                        <b>Bank Account number : </b> {{data.bankaccount_number}} <br />
                                                        <b>Account Holder Name  : </b> {{data.bankaccount_name}}  <br />
                                                        <b>Bank Account Level : </b> {{data.bankaccountlevel_name}} <br />
                                                        <b>Bank Account Type : </b> {{data.bankaccounttype_name}}

                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <br /><br />
            </div>


            <div class="col-lg-12 col-sm-12 col-md-12">
                <div class="dd-handle ng-scope" style="background-color: #f9f8f8;">
                    <div class="row">
                        <div class="col-lg-12 col-sm-12 col-md-12">
                            <p class="text-primary" style="font-size:15px;"><b>&nbsp;&nbsp; Limit Management </b></p>
                            <hr />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 col-lg-12 col-sm-12">
                            <br />
                            <div class="col-lg-4 col-sm-4 col-md-4">
                                <div class="form-group float-label">
                                    <label>Borrower Limit</label>
                                    <br />
                                    {{txtborrower_limit}}
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-4">
                                <label class="col-form-label"> Guarantor Limit </label>
                                <br />
                                {{txtguarantor_limit}}
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-4">
                                <label class="col-form-label"> Buyer Limit </label>
                                <br />
                                {{txtbuyer_limit}}
                            </div>
                            <br />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 col-lg-12 col-sm-12">
                            <div class="col-lg-4 col-md-4 col-sm-4">
                                <label class="col-form-label"> Over All Limit </label>
                                <br />
                                {{txtoverall_limit}}
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-4">
                                <label class="col-form-label"> Cap Limit </label>
                                <br />
                                {{txtcap_limit}}
                            </div>
                            <br />
                        </div>
                    </div>
                    <br />
                </div>
                <br />
            </div>

            <div class="col-lg-12 col-sm-12 col-md-12">
                <div class="dd-handle ng-scope">
                    <div class="row">
                        <div class="col-lg-12 col-sm-12 col-md-12">
                            <b style="color:darkblue;font-size:15px;">
                                Bureau Score
                            </b>
                            <hr />
                        </div>
                    </div>
                    <div class="dd-handle ng-scope" ng-repeat="data in bureauscore_list">
                        <div class="row">
                            <div class="row">
                                <div class="col-lg-12 col-md-12 col-sm-12">
                                    <div class="col-lg-3 col-sm-3 col-md-3">
                                        <label style="font-weight:bold">Bureau Name</label>
                                        <br />
                                        {{data.bureauname_name}}
                                    </div>
                                    <div class="col-lg-3 col-sm-3 col-md-3">
                                        <label style="font-weight:bold">Bureau Score</label>
                                        <br />
                                        {{data.bureau_score}}
                                    </div>
                                    <div class="col-lg-3 col-sm-3 col-md-3">
                                        <label style="font-weight:bold"> Bureau Generated On</label>
                                        <br />
                                        {{data.bureaugenerated_date}}
                                    </div>
                                    <div class="col-lg-3 col-sm-3 col-md-3">
                                        <label style="font-weight:bold">Last Year Turnover</label>
                                        <br />
                                        {{data.lastyear_turnover}}
                                    </div>
                                </div>
                            </div>
                            <br />
                            <div class="row">
                                <div class="col-lg-12 col-md-12 col-sm-12">
                                    <div class="col-lg-3 col-sm-3 col-md-3">
                                        <label style="font-weight:bold"> Assessment Agency</label>
                                        <br />
                                        {{data.assessmentagency_name}}
                                    </div>
                                    <div class="col-lg-3 col-sm-3 col-md-3">
                                        <label style="font-weight:bold">Credit Rating</label>
                                        <br />
                                        {{data.creditrating_name}}
                                    </div>
                                    <div class="col-lg-3 col-sm-3 col-md-3">
                                        <label style="font-weight:bold">Credit Rating as on</label>
                                        <br />
                                        {{data.creditrating_date}}
                                    </div>
                                    <div class="col-lg-3 col-sm-3 col-md-3">
                                        <label style="font-weight:bold">Credit Rating Expiry Date</label>
                                        <br />
                                        {{data.creditratingexpiry_date}}
                                    </div>
                                </div>
                            </div>
                            <br />
                            <div class="row">
                                <div class="col-lg-12 col-md-12 col-sm-12">
                                    <div class="col-lg-3 col-sm-3 col-md-3">
                                        <label style="font-weight:bold">Documents</label>
                                        <br/>
                                        <a download="" href="" id="btnpdf" class="btn btn-primary" title="Documents" ng-click="uploadeddoc_bureauscore(data.bureauscoreadd_GID)"><span class="fa fa-file-text-o"></span></a>
                                    </div>
                                    <div class="col-lg-6 col-sm-6 col-md-6">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <br/>
            </div>
            <br />

        </div>
        <br />
        <div class="row">
        <div class="text-center">
            <button type="button" class="btn btn-info btn-md" ng-click="back()"><i class="fa fa-arrow-circle-left"></i>&nbsp;&nbsp;Back</button>&nbsp;&nbsp;
        </div>
    </div>
        <br /> <br />
    </div>
    <script type="text/ng-template" id="/bureaudocuments.html">
        <md-toolbar>
            <div class="md-toolbar-tools" style="background-color:rgb(63, 110, 181);">
                <em style="font-size:16px" class="fa fa-file-text-o"></em>&nbsp;<label style="font-size:16px">Bureau Documents</label>
                <span flex></span>
                <button ng-click="ok()" class="pull-right btn btn-primary"><i class="fa fa-close"></i></button>
            </div>

        </md-toolbar>
        <div class="modal-content">
            <div class="modal-body ng-scope">

                <form novalidate="" name="userform1" ng-submit="form.submitLoan()" autocomplete="off" class="form-validate mb-lg">
                    <div class="row">
                        <div class="col-lg-12 col-sm-12 col-md-12">
                           
                                <div class="table-responsive">
                                    <table class="table table-striped table-secondary">
                                        <thead class="bg-gray text-white">
                                            <tr width="100%">
                                                <th scope="col">S.No</th>
                                                <th scope="col">Document Name</th>
                                                <th scope="col">Uploaded By / On </th>
                                                <th scope="col">Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="data in bureaudoc_list">
                                                <td title="S.No">{{$index+1}}</td>
                                                <td title="Document Name">{{data.document_name}}</td>
                                                <td title="Document Name">{{data.created_by}} / {{data.created_date}} </td>
                                                <td data-title="Action" class="nowrap">
                                                    <button title="Download" class="btn btn-green btn-sm"
                                                            ng-click="download_bureaudoc(data.document_path,data.document_name)">
                                                        <a download="" href="" id="btnpdf" style="display:none;"></a>
                                                        <em class="fa fa-download"></em>
                                                    </button>
                                                    <button title="View" class="btn btn-info btn-sm" ng-click="documentviewer(data.document_path,data.document_name)">
                                                        <a download="" href="" style="display:none;"></a>  <em class="fa fa-file"></em>
                                                    </button>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                           
                        </div>
                    </div>
                    <br />
                    <div class="text-center">
                        <button ng-click="ok()" class="btn btn-danger"><i class="fa icon-close"></i>&nbsp;&nbsp;Close</button>
                    </div>
                </form>
            </div>
        </div>
    </script>
    <script type="text/ng-template" id="/StaticMapAndPhotosView.html">
        <md-toolbar>
            <div class="md-toolbar-tools" style="background-color:rgb(63, 110, 181);">
                <em style="font-size:16px" class="fa fa-image"></em>&nbsp;<label style="font-size:16px">Static Map and Photos</label>
                <span flex></span>
                <button ng-click="ok()" class="pull-right btn btn-primary"><i class="fa fa-close"></i></button>
            </div>
        </md-toolbar>
        <div class="modal-content">
            <div class="modal-body ng-scope">
                <div class="row">
                    <div class="col-lg-12 col-sm-12 col-md-12">
                        <div class="col-lg-6 col-sm-6 col-md-6">
                            <p class="text-primary" style="font-size:14px;"><b>&nbsp; Static Map </b></p>
                            <img ng-src="{{staticmapImgUrl}}">
                        </div>
                        <div class="col-lg-6 col-sm-6 col-md-6">
                            <p class="text-primary" style="font-size:14px;"><b>&nbsp; Photos </b></p>
                            <div ng-repeat="item in photoUrlList" ng-show="photoFound">
                                <img ng-src="{{item}}">
                                <br />
                                <br />
                            </div>
                            <label style="font-weight:bolder;color:red" ng-show="photoNotFound">Photos not found!</label>
                        </div>
                    </div>
                </div>
                <br />
                <div class="text-center">
                    <button ng-click="ok()" class="btn btn-danger"><i class="fa icon-close"></i>&nbsp;&nbsp;Close</button>
                </div>
            </div>
        </div>
    </script>

</div>