<a href="#/app/MstBuyerSummary">
    <button type="button" title="Back" class="pull-right btn btn-sm btn-primary">
        <em class="fa fa-arrow-circle-left fa-1x"></em>
    </button>
</a>
<h3>
    Buyer View
</h3>
<div ng-controller="MstBuyerViewController">
    <div id="panelDemo8" class="panel panel-primary ">
        <div class="panel-heading">
            <span class="btn-label">
                <i class="fa fa-eye"></i>
            </span>View buyer 
        </div>
        <div class="col-lg-12 col-sm-12 col-md-12 panel">
            <br />
            <!--  <div class="text-center text-primary" style="font-size: 20px;">
                      <label>{{buyer_name}}/{{buyer_code}}</label>
                  </div> -->
            <div class="row">
                <div class="col-lg-12 col-sm-12 col-md-12">
                    <div class="dd-handle ng-scope" style="background-color: #f9f8f8;">
                        <div class="row">
                            <div class="col-lg-12 col-sm-12 col-md-12 ">
                                <div class="row">
                                    <div class="text-center col-lg-12 col-sm-12 col-md-12 ">
                                        <b style="color:darkblue;font-size:18px; text-align:center">
                                            <label>{{buyer_name}}/{{buyer_code}}</label>
                                        </b>
                                        <hr />
                                    </div>
                                    <div class="col-lg-12 col-sm-12 col-md-12">
                                        <div class="row">
                                            <div class="col-lg-12 col-md-12 col-sm-12">
                                                <div class="col-lg-3 col-sm-3 col-md-3">
                                                    <label style="font-weight:bold">Name </label>
                                                    <br />
                                                    {{buyer_name}}
                                                </div>
                                                <div class="col-lg-3 col-sm-3 col-md-3">
                                                    <label style="font-weight:bold">Business Start Date</label>
                                                    <br />
                                                    {{businessstart_date}}
                                                </div>
                                                <div class="col-lg-3 col-sm-3 col-md-3">
                                                    <label style="font-weight:bold">Years in Business</label>
                                                    <br />
                                                    {{year_business}}
                                                </div>
                                                <div class="col-lg-3 col-sm-3 col-md-3">
                                                    <label style="font-weight:bold">Months in Business</label>
                                                    <br />
                                                    {{month_business}}
                                                </div>
                                            </div>
                                        </div>

                                        <br />
                                        <div class="row">
                                            <div class="col-lg-12 col-md-12 col-sm-12">
                                                <div class="col-lg-3 col-sm-3 col-md-3">
                                                    <label style="font-weight:bold">COI Date</label>
                                                    <br />
                                                    {{coi_date}}
                                                </div>
                                                <div class="col-lg-3 col-sm-3 col-md-3">
                                                    <label style="font-weight:bold"> Constitution </label>
                                                    <br />
                                                    {{constitution_name}}
                                                </div>
                                                <div class="col-lg-3 col-sm-3 col-md-3">
                                                    <label style="font-weight:bold"> CIN/Reg No </label>
                                                    <br />
                                                    {{cin_no}}
                                                </div>
                                                <div class="col-lg-3 col-sm-3 col-md-3">
                                                    <label style="font-weight:bold">PAN </label>
                                                    <br />
                                                    {{pan_no}}
                                                </div>
                                            </div>
                                            <br />
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12 col-lg-12 col-sm-12">
                                                <br />
                                                <div class="col-lg-3 col-md-3 col-sm-3">
                                                    <label class="col-form-label"> Contact Person First Name </label>
                                                    <br />
                                                    {{contactperson_fn}}
                                                </div>
                                                <div class="col-lg-3 col-md-3 col-sm-3">
                                                    <label class="col-form-label"> Contact Person Middle Name </label>
                                                    <br />
                                                    {{contactperson_mn}}
                                                </div>
                                                <div class="col-lg-3 col-md-3 col-sm-3">
                                                    <label class="col-form-label"> Contact Person Last Name </label>
                                                    <br />
                                                    {{contactperson_ln}}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <br />
                            </div>
                        </div>
                    </div>
                    <br />


                    <div class="dd-handle ng-scope">
                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12">
                                <div class="row">
                                    <div class="col-lg-12 col-sm-12 col-md-12 ">
                                        <b style="color:darkblue;font-size:15px;">
                                            <label>GST Details</label>
                                        </b>
                                        <hr />
                                    </div>
                                    <div class="col-lg-12 col-sm-12 col-md-12">
                                        <div class="table-responsive table-bordered">
                                            <table class="table m0">
                                                <thead>
                                                    <tr width="100%" class="bg-gray-light text-white">
                                                        <th scope="col">S No.</th>
                                                        <th scope="col">GST State</th>
                                                        <th scope="col">GST No</th>
                                                        <th scope="col">GST Registered</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr ng-repeat="data in buyergst_list">
                                                        <td>{{$index+1}}</td>
                                                        <td>{{data.gststate_name}}</td>
                                                        <td>{{data.gst_no}}</td>
                                                        <td>{{data.gstregister_status}}</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br />
                    <div class="row">

                        <div class="col-lg-6 col-sm-6 col-md-6">
                            <div class="dd-handle ng-scope">
                                <div class="row">
                                    <div class="col-lg-12 col-sm-12 col-md-12">
                                        <b style="color:darkblue;font-size:15px;">
                                            Mobile No
                                        </b>
                                        <hr />
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-12 col-sm-12 col-md-12" >
                                        <div class="table-responsive table-bordered">
                                            <table class="table m0">
                                                <thead>
                                                    <tr width="100%" class="bg-gray-light text-white">
                                                        <th scope="col">S No.</th>
                                                        <th scope="col">Mobile No</th>
                                                        <th scope="col">Primary Status</th>
                                                        <th scope="col">Whatsapp Number</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr ng-repeat="data in mobileno_list">
                                                        <td>{{$index+1}}</td>
                                                        <td>{{data.mobile_no}}</td>
                                                        <td>{{data.primary_mobileno}}</td>
                                                        <td>{{data.whatsapp_mobileno}}</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-6 col-sm-6 col-md-6">
                            <div class="dd-handle ng-scope">
                                <div class="row">
                                    <div class="col-lg-12 col-sm-12 col-md-12">
                                        <b style="color:darkblue;font-size:15px;">
                                            Email Address
                                        </b>
                                        <hr />
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-12 col-sm-12 col-md-12" >
                                        <div class="table-responsive table-bordered">
                                            <table class="table m0">
                                                <thead>
                                                    <tr width="100%" class="bg-gray-light text-white">
                                                        <th scope="col">S No.</th>
                                                        <th scope="col">Email Address</th>
                                                        <th scope="col">Primary Status</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr ng-repeat="data in email_list">

                                                        <td>{{$index+1}}</td>
                                                        <td>{{data.email_address}}</td>
                                                        <td>{{data.primary_emailaddress}}</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br />

                    <div class="dd-handle ng-scope">
                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12">
                                <div class="row">
                                    <div class="col-lg-12 col-sm-12 col-md-12 ">
                                        <b style="color:darkblue;font-size:15px;">
                                            <label>Address Details</label>
                                        </b>
                                        <hr />
                                    </div>
                                    <div class="col-lg-12 col-sm-12 col-md-12">
                                        <div class="table-responsive table-bordered">
                                            <table class="table m0">
                                                <thead>
                                                    <tr width="100%" class="bg-gray-light text-white">
                                                        <th scope="col">S No.</th>
                                                        <th scope="col">Address Type</th>
                                                        <th scope="col">Address</th>
                                                        <th scope="col">Primary Status</th>
                                                        <th> Static Map / Photos</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr ng-repeat="data in address_list">
                                                        <td>{{$index+1}}</td>
                                                        <td title="AddressType">{{data.addresstype_name}}</td>
                                                        <td title="Address">
                                                            {{data.addressline1}},{{data.addressline2}},<br />{{data.taluka}},{{data.district}},
                                                            <br />{{data.state_name}},{{data.country}},{{data.postal_code}}
                                                            <br /> <b>Latitude:</b> {{data.latitude}}
                                                            <br /> <b>Longitude:</b> {{data.longitude}}
                                                        </td>
                                                        <td title="PrimaryStatus">{{data.primary_address}}</td>
                                                        <td title="Static Map and Photos">
                                                            <button title="View" ng-click="StaticMapAndPhotos_View(data.latitude, data.longitude, data.addressline1, data.addressline2, data.postal_code)" class="btn btn-xs btn-info">
                                                                <em class="fa fa-eye"></em>
                                                            </button>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br />

                    <div class="dd-handle ng-scope">
                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12">
                                <div class="row">
                                    <div class="col-lg-12 col-sm-12 col-md-12 ">
                                        <b style="color:darkblue;font-size:15px;">
                                            <label>Bank Details</label>
                                        </b>
                                        <hr />
                                    </div>
                                    <div class="col-lg-12 col-sm-12 col-md-12">
                                        <div class="table-responsive table-bordered">
                                            <table class="table m0">
                                                <thead>
                                                    <tr width="100%" class="bg-gray-light text-white">
                                                        <th>S.No</th>
                                                        <th>Bank Details</th>
                                                        <th>Account Details</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr ng-repeat="data in bankdetail_list" width="100%">
                                                        <td title="S.No">{{$index+1}}</td>
                                                        <td title="Bank Details">
                                                            <b>IFSC Code : </b> {{data.ifsc_code}} <br />
                                                            <b>Bank Name  : </b> {{data.bank_name}}  <br />
                                                            <b>Branch Name : </b> {{data.branch_name}} <br />
                                                            <b>Branch Address : </b> {{data.bank_address}} <br />
                                                            <b>MICR Code : </b> {{data.micr_code}}
                                                        </td>
                                                        <td title="Account Details">
                                                            <b>Bank Account number : </b> {{data.bankaccount_number}} <br />
                                                            <b>Account Holder Name  : </b> {{data.bankaccount_name}}  <br />
                                                            <b>Bank Account Level : </b> {{data.bankaccountlevel_name}} <br />
                                                            <b>Bank Account Type : </b> {{data.bankaccounttype_name}}

                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br />
                    <br />
                </div>
                <br />
                <br />
                <div class="text-center">
                    <button type="button" class="btn btn-info btn-md" ng-click="back()"><i class="fa fa-arrow-circle-left"></i>&nbsp;&nbsp;Back</button>&nbsp;&nbsp;
                </div>
            </div>
            <br />
            <br />
        </div>

    </div>
    <script type="text/ng-template" id="/StaticMapAndPhotosView.html">
        <md-toolbar>
            <div class="md-toolbar-tools" style="background-color:rgb(63, 110, 181);">
                <em style="font-size:16px" class="fa fa-image"></em>&nbsp;<label style="font-size:16px">Static Map and Photos</label>
                <span flex></span>
                <button ng-click="ok()" class="pull-right btn btn-primary"><i class="fa fa-close"></i></button>
            </div>
        </md-toolbar>
        <div class="modal-content">
            <div class="modal-body ng-scope">
                <div class="row">
                    <div class="col-lg-12 col-sm-12 col-md-12">
                        <div class="col-lg-6 col-sm-6 col-md-6">
                            <p class="text-primary" style="font-size:14px;"><b>&nbsp; Static Map </b></p>
                            <img ng-src="{{staticmapImgUrl}}">
                        </div>
                        <div class="col-lg-6 col-sm-6 col-md-6">
                            <p class="text-primary" style="font-size:14px;"><b>&nbsp; Photos </b></p>
                            <div ng-repeat="item in photoUrlList" ng-show="photoFound">
                                <img ng-src="{{item}}">
                                <br />
                                <br />
                            </div>
                            <label style="font-weight:bolder;color:red" ng-show="photoNotFound">Photos not found!</label>
                        </div>
                    </div>
                </div>
                <br />
                <div class="text-center">
                    <button ng-click="ok()" class="btn btn-danger"><i class="fa icon-close"></i>&nbsp;&nbsp;Close</button>
                </div>
            </div>
        </div>
    </script>
</div>
