<h3>
    Business Hierarchy Update History
</h3>
<div ng-controller="MstBusinessHierarchyUpdateHistoryController">
    <div class="panel">
        <div class="panel-heading" style="background-color:rgb(19,14,89);color:#ffffff">
            <h5> Business Hierarchy Update Log Details </h5>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-lg-12 col-sm-12 col-md-12">
                    <div class="table-responsive">
                        <table class="table table-striped table-secondary">
                            <thead class="bg-gray text-white nowrap">                              
                                <tr style="color:#000000;">
                                    <th align="center" width="5%" scope="col">S.No</th>
                                    <th align="center" width="35%" scope="col">Old Record</th>
                                    <th align="center" width="35%" scope="col">Updated Record</th>
                                    <th align="center" width="8%" scope="col">Remarks</th>
                                    <th align="center" width="15%" scope="col">Updated by</th>
                                    <th align="center" width="15%" scope="col">Update date</th>

                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="data in hierarchyupdatedhistory_list">
                                    <td align="left" scope="col" title="S.No">
                                        {{$index+1}}
                                    </td>
                                    <td align="left" scope="col" title="Old Record">
                                        <p ng-show="data.showvertical_name"><b> Vertical Name - </b> {{data.vertical_name}} </p>
                                        <p ng-show="data.showprogram_name"><b> Program Name - </b> {{data.program_name}} </p>                                       
                                        <p ng-show="data.showrelationshipmanager_name"><b> RM Name - </b> {{data.relationshipmanager_name}} </p>
                                        <p ng-show="data.showdrm_name"><b> Reporting To - </b> {{data.drm_name}} </p>
                                        <p ng-show="data.showclustermanager_name"><b> Cluster Head - </b> {{data.clustermanager_name}} </p>
                                        <p ng-show="data.showregionalhead_name"><b> Regional Head - </b> {{data.regionalhead_name}} </p>
                                        <p ng-show="data.showzonalhead_name"><b> Zonal Head - </b> {{data.zonalhead_name}} </p>
                                        <p ng-show="data.showbusinesshead_name"><b> Business Head - </b> {{data.businesshead_name}} </p>
                                    </td>
                                    <td align="left" scope="col" title="Updated Record">
                                        <p ng-show="data.showupdatedvertical_name"><b> Vertical Name - </b> {{data.updatedvertical_name}} </p>
                                        <p ng-show="data.showupdatedprogram_name"><b> Program Name - </b> {{data.updatedprogram_name}} </p>                                       
                                        <p ng-show="data.showupdatedregionalhead_name"><b> RM Name - </b> {{data.updatedrelationshipmanager_name}} </p>
                                        <p ng-show="data.showupdateddrm_name"><b> Reporting To - </b> {{data.updateddrm_name}} </p>
                                        <p ng-show="data.showupdatedclustermanager_name"><b> Cluster Head - </b> {{data.updatedclustermanager_name}} </p>
                                        <p ng-show="data.showupdatedregionalhead_name"><b> Regional Head - </b> {{data.updatedregionalhead_name}} </p>
                                        <p ng-show="data.showupdatedzonalhead_name"><b> Zonal Head - </b> {{data.updatedzonalhead_name}} </p>
                                        <p ng-show="data.showupdatedbusinesshead_name"><b> Business Head - </b> {{data.updatedbusinesshead_name}} </p>
                                    </td>
                                    <td align="left" scope="col" title="Remarks">
                                        <button title="Remarks" ng-click="hierarchy_remarks(data.businesshierarchyupdatelog_gid)" class="btn btn-info">
                                            <em class="fa fa-eye"></em>
                                        </button>
                                    </td>
                                    <td align="left" scope="col" title="Updated By">
                                        {{data.created_by}}
                                    </td>
                                    <td align="left" scope="col" title="Updated Date/Time">
                                        {{data.created_date}}
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="text-center">
                    <br />
                    <button ng-click="Back()" class="btn btn-info"><i class="fa fa-arrow-circle-left"></i>&nbsp;&nbsp;Back</button>
                </div>
                <br />
            </div>
        </div>
    </div>
    <script type="text/ng-template" id="/HierarchyUpdateRemarksView.html">
        <md-toolbar>
            <div class="md-toolbar-tools" style="background-color:rgb(63, 110, 181);">
                <em style="font-size:16px" class="fa fa-eye"></em>&nbsp;<label style="font-size:16px">View Remarks </label>
                <span flex></span>
                <button ng-click="ok()" class="pull-right btn btn-primary"><i class="fa fa-close"></i></button>
            </div>
        </md-toolbar>
        <div class="modal-content">
            <div class="modal-body ng-scope">
                <form novalidate="" name="equipmentview" ng-submit="form.equipmentview()" autocomplete="off" class="form-validate mb-lg">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <div class="dd-handle ng-scope">
                                <div class="row">
                                    <div class="col-sm-12 col-sm-12 col-sm-12">
                                        <label>Remarks : </label>
                                        <br />
                                        {{lblhierarchyupdate_remarks}}
                                    </div>
                                </div>
                                <br />
                            </div>
                        </div>
                    </div>
                    <br />
                    <div class="text-center">
                        <button ng-click="ok()" class="btn btn-danger"><i class="fa icon-close"></i>&nbsp;&nbsp;Close</button>
                    </div>
                </form>
            </div>
        </div>
    </script>
</div>   