<a href="#/app/MstCustomerSummary">
    <button type="button" title="Back" class="pull-right btn btn-sm btn-primary">
        <em class="fa fa-arrow-circle-left fa-1x"></em>
    </button>
</a>
<h3>
    Customer View
</h3>
<div ng-controller="MstCustomertmpView">
    <div id="panelDemo8" class="panel panel-primary ">
        <div class="panel-heading">
            <span class="btn-label">
                <i class="fa fa-eye"></i>
            </span>View Customer - {{customername}}
        </div>
        <div class="row">
            <div class="col-lg-12 col-sm-12 col-md-12">
                <div class="col-lg-12 col-sm-12 col-md-12 ">
                    <br/>
                    <div class="dd-handle ng-scope" style="background-color: #f9f8f8;">
                        <div class="row">
                            <br />
                            <div class="col-lg-12 col-sm-12 col-md-12">
                                <div class="row">
                                    <div class="col-lg-12 col-md-12 col-sm-12">
                                        <div class="col-lg-3 col-sm-3 col-md-3">
                                            <label style="font-weight:bold">Customer URN </label>
                                            <br />
                                            {{customer_urn}}
                                        </div>
                                        <div class="col-lg-3 col-sm-3 col-md-3">
                                            <label style="font-weight:bold">Vertical</label>
                                            <br />
                                            {{vertical}}
                                        </div>
                                        <div class="col-lg-3 col-sm-3 col-md-3">
                                            <label style="font-weight:bold">Constitution 	</label>
                                            <br />
                                            {{constitution}}
                                        </div>
                                        <div class="col-lg-3 col-sm-3 col-md-3">
                                            <label style="font-weight:bold">Strategic Business Unit</label>
                                            <br />
                                            {{business_unit}}
                                        </div>
                                    </div>
                                </div>

                                <br />
                                <div class="row">
                                    <div class="col-lg-12 col-md-12 col-sm-12">
                                        <div class="col-lg-3 col-sm-3 col-md-3">
                                            <label style="font-weight:bold"> Primary Value Chain </label>
                                            <br />
                                            {{primaryvalue_chain}}
                                        </div>
                                        <div class="col-lg-3 col-sm-3 col-md-3">
                                            <label style="font-weight:bold"> Secondary Value Chain </label>
                                            <br />
                                            {{secondaryvalue_chain}}
                                        </div>
                                        <div class="col-lg-3 col-sm-3 col-md-3">
                                            <label style="font-weight:bold">Samunnati Associate</label>
                                            <br />
                                            {{sa_status}}
                                        </div>
                                        <div class="col-lg-3 col-sm-3 col-md-3">
                                            <label style="font-weight:bold">SA ID/Name</label>
                                            <br />
                                            {{sa_idname}}
                                        </div>
                                    </div>
                                    <br />
                                </div>
                            </div>
                        </div>
                        <br />
                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12">
                                <div class="col-lg-3 col-sm-3 col-md-3">
                                    <label style="font-weight:bold">SA Payout %</label>
                                    <br />
                                    {{sa_payout}}
                                </div>
                                <div class="col-lg-3 col-sm-3 col-md-3">
                                    <label style="font-weight:bold">Zonal Head</label>
                                    <br />
                                    {{zonal_head}}
                                </div>
                                <div class="col-lg-3 col-sm-3 col-md-3">
                                    <label style="font-weight:bold">Business Head </label>
                                    <br />
                                    {{business_head}}
                                </div>
                                <div class="col-lg-3 col-sm-3 col-md-3">
                                    <label style="font-weight:bold">Cluster Manager</label>
                                    <br />
                                    {{cluster_manager}}
                                </div>
                            </div>
                        </div>
                        <br />
                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12">
                                <div class="col-lg-3 col-sm-3 col-md-3">
                                    <label style="font-weight:bold">Relationship Manager</label>
                                    <br />
                                    {{rm_name}}
                                </div>
                                <div class="col-lg-3 col-sm-3 col-md-3">
                                    <label style="font-weight:bold">Credit Manager </label>
                                    <br />
                                    {{credit_manager}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <br />
        </div>
        <br />
        <div class="row">
            <div class="col-lg-12 col-sm-12 col-md-12">
                <div class="col-lg-12 col-sm-12 col-md-12">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <div class="table-responsive">
                                <table class="table table-striped row-border hover">
                                    <thead>
                                        <tr class="bg-primary text-white">
                                            <th>S.No</th>
                                            <th class="nowrap">Created Date</th>
                                            <th>Customer Name </th>
                                            <th>User Type</th>
                                            <th class="nowrap">Created By</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="data in customer2userdtl_list">
                                            <td data-title="'S.No'">{{$index+1}}</td>
                                            <td data-title="'Created Date'" class="nowrap">{{data.created_date}}</td>
                                            <td data-title="'Customer Name'">{{data.name}}</td>
                                            <td data-title="'Email Address">{{data.user_type}}</td>
                                            <td data-title="'User Type'">{{data.created_by}}</td>

                                            <td data-title="'Action'" class="nowrap">
                                                <button title="View" ng-click="viewuserdtl(data.customer2usertype_gid)"
                                                        class="btn btn-info">
                                                    <em class="fa fa-eye"></em>
                                                </button>

                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                </div>
            </div>
                <br /><br />


                <div class="row">
                    <div class="text-center">
                        <button type="button" class="btn btn-info btn-md" ng-click="back()"><i class="fa fa-arrow-circle-left"></i>&nbsp;&nbsp;Back</button>&nbsp;&nbsp;
                    </div>
                </div>
                <br />
                <br />
            </div>

        </div>

