<h3>
    Customer Creation  Request
</h3>
<style>
    .picColor:hover {
        background-color: transparent;
        box-shadow: none;
        color: #144A6E;
        border: 1px solid #A59F9D;
        transform: translateY(-3px);
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
        text-decoration: underline;
        text-decoration-color: #141478;
    }

    .tab {
        overflow: hidden;
        border: 1px solid #ccc;
        background-color: #f8f7f7;
        height: 48px;
    }

        /* Style the buttons inside the tab */
        .tab button {
            background-color: inherit;
            float: left;
            border: none;
            outline: none;
            cursor: pointer;
            padding: 14px 16px;
            transition: 0.3s;
            font-size: 14px;
            font-weight: bold;
        }

            /* Change background color of buttons on hover */
            .tab button:hover {
                background-color: rgb(226, 221, 221);
                text-decoration: underline;
                height: 56px;
            }

    /* Style the tab content */
    .tabcontent {
        display: none;
        padding: 6px 12px;
        border: 1px solid #fff;
        border-top: none;
    }

    .tab button.active {
        background-color: #d5591e;
        background-image: linear-gradient(316deg, rgb(236 195 100) 0%, rgb(171 225 166) 74%);
    }
</style>
<script>
    function openApplication(evt, ApplicationName) {
        var i, tabcontent, tablinks;
        tabcontent = document.getElementsByClassName("tabcontent");
        for (i = 0; i < tabcontent.length; i++) {
            tabcontent[i].style.display = "none";
        }
        tablinks = document.getElementsByClassName("tablinks");
        for (i = 0; i < tablinks.length; i++) {
            tablinks[i].className = tablinks[i].className.replace(" active", "");
        }
        document.getElementById(ApplicationName).style.display = "block";
        evt.currentTarget.className += " active";
    }

    // Get the element with id="defaultOpen" and click on it
    document.getElementById("defaultOpen").click();

</script>
<div ng-controller="MstCustomerCreationRequestSummaryController">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="col-lg-9 col-md-9 col-sm-9">
                <div class="tab">
                    <button class="col-lg-3 col-md-3 col-sm-3" onclick="openApplication(event, 'Pending Customer Creation')" id="defaultOpen" ng-click="pending()" style="color:#141478;font-size:12px">
                        <em class="fa fa-user fa-x" style="color:#141478;font-size: 18px;"></em>
                        Pending
                        <br />
                        <!--<div class="label" style="padding-top:4px;font-size: 14px;padding-bottom:4px;color:#141478;">{{cadreview_count}}</div>-->
                    </button>
                    <button class="col-lg-3 col-md-3 col-sm-3" ng-click="urn_update()" style="color:#00796b;font-size:12px">
                        <em class="fa fa-group fa-x" style="color:#00796b;font-size: 18px;"></em>
                        Updated URN
                        <br />
                        <!--<div class="label" style="font-size: 14px;padding-top:4px;padding-bottom:4px;color:#00796b;">{{accept_count}}</div>-->
                    </button>
                    <button class="col-lg-3 col-md-3 col-sm-3" ng-click="rejected()" style="color:#C10B68;font-size:12px">
                        <em class="fa icon-close fa-x" style="color:#C10B68;font-size: 18px;"></em>
                        Rejected
                        <br />
                        <!--<div class="label" style="padding-top:4px;padding-bottom:4px;color:#C10B68;font-size: 14px;">{{urngrouping_count}}</div>-->
                    </button>
                </div>
            </div>
            <div class="col-lg-3 col-sm-3 col-md-3">
                <div class="list-group-item picColor" style="height:50px;">
                    <div class="media-box">
                        <div class="media-box-body clearfix">
                            <div class="media-box-heading" style="padding-top:6px;">
                                <div class="pull-right label" style="background-color:#C10B68;padding-top:6px;padding-bottom:4px;font-size:8px;">{{total_count}}</div>
                                <div style="font-size:14px;color:#C10B68;"><b> Total Applications </b></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br />
    <br />
    <div class="panel" id="Pending Customer Creation">
        <br />
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <div class="table-responsive">
                        <table datatable="ng" class="table table-hover table-striped">
                            <thead>
                                <tr class="text-white" style="background-color:#09385f;">
                                    <th style="display:none;" class="text-center"> S.No</th>
                                    <th>Reference ID</th>
                                    <th>Application Number</th>
                                    <th>Customer Name  </th>
                                    <!--<th>Application Number</th>-->
                                    <th> Initiated By </th>
                                    <th> Initiated Date </th>
                                    <th class="text-center">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="data in initiated_list">
                                    <td data-title="'S.No'" style="display:none;" class="text-center"> {{$index+1}} </td>
                                    <td data-title="'Reference ID'">{{data.cuclms_gid}}</td>
                                    <td data-title="'Application Number'"> {{data.application_no}} </td>
                                    <td data-title="'Customer Name'"> {{data.customer_name}} </td>
                                    <!--<td data-title="'Application Number'"> {{data.application_no}} </td>-->
                                    <!--<td data-title="'Unrecon-Status' " ng-switch="data.lms_status">
        <label style="font-size:10px" ng-switch-when="Initiated" class="label label-pink"> Initiated </label>
    </td>-->
                                    <td data-title="'Initiated By'"> {{data.initiated_by}} </td>
                                    <td data-title="'Initiated Date'"> {{data.initiated_date}} </td>
                                    <td class="nowrap" data-title="'Action'" style="text-align: center;">
                                        <!--<button title="View" ng-click="view(data.application_gid)" class="btn btn-gray">
            <em class="fa fa-eye"></em>
        </button>-->
                                        <button title="URN Update" ng-click="urn_updatelms(data.cuclms_gid,data.application_gid)" class="btn btn-success">
                                            <em class="fa fa-check-square-o"></em>
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <br />
    </div>

</div>
<script type="text/ng-template" id="/Urnupdation.html">
    <div class="modal-header bg-primary ng-scope">

        <h4 id="myModalLabel" class="modal-title">
            &emsp;
            <span class="btn-label bg-primary">
                <i class="fa fa-check-square-o"></i>
            </span>URN Updation
        </h4>
    </div>
    <div class="modal-body ng-scope">
        <form novalidate="" name="urnupdation" ng-submit="form.update_status()" autocomplete="off" class="form-validate form-horizontal">
            <div class="pd-sm-10">
                <div class="row ">
                    <div class="col-sm-12 col-sm-12 col-sm-12 ">
                        <div class="row ">
                            <div class="col-sm-4 col-sm-4 col-sm-4">
                                <label> Gst Number </label>
                            </div>
                            <div class="col-sm-8 col-sm-8 col-sm-8">
                                {{gstnumber}}
                            </div>

                        </div>
                        <br />
                        <div class="row ">
                            <div class="col-sm-4 col-sm-4 col-sm-4">
                                <label>Bank Account Number </label>
                            </div>
                            <div class="col-sm-8 col-sm-8 col-sm-8">
                                {{bankaccno}}
                            </div>

                        </div>

                        <br />


                        <div class="row ">
                            <div class="col-sm-4 col-sm-4 col-sm-4">
                                <label>URN &nbsp;<span style="color:red">*</span> </label>
                            </div>
                            <div class="col-sm-8 col-sm-8 col-sm-8">
                                <input type="text" ng-model="txt_urn" required tabindex="0" ng-trim="true" class="form-control" ng-pattern="/^[ A-Za-z0-9)(}{\]\['\\/,.]*$/" maxlength="18" />

                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div>
                <br />
                <div class="text-center">
                    <button type="button" class="btn btn-success btn-md" ng-disabled="urnupdation.$invalid" ng-click="update_urn()"><i class="fa fa-arrow-circle-right"></i>&nbsp;&nbsp;Submit</button>&nbsp;&nbsp;
                    <button ng-click="ok()" class="btn btn-danger"><i class="fa icon-close"></i>&nbsp;&nbsp;Close</button>
                </div>
            </div>
            <br />
        </form>
    </div>
</script>