<h3>
    URN Grouping
</h3>
<div ng-controller="MstCadUrnAcceptedCustomerDtlsController">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="panel panel-default">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <div style="color :#000000 ;font-size:14px;font-weight :bold;background-color:#3a4ccb;color:white;padding-top:10px;padding-bottom:10px;">
                            <h5>&nbsp;&nbsp; <em class="fa fa-users" style="font-size: 18px;"></em>&nbsp;&nbsp; URN Grouping Details</h5>
                        </div>
                    </div>
                </div>
                <br/>
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <div class="table-responsive">
                                <table datatable="ng" class="table table-hover table-striped">
                                    <thead>
                                        <tr class="text-white nowrap" style="background-color:#09385f;">
                                            <th class="text-center"> S.No</th>
                                            <th> Application Reference Number</th>
                                            <th> Customer Name </th>
                                            <th> RM Name </th>
                                            <th> Overall Limit </th>
                                            <th> Type </th>
                                            <th> CAD Accepted By / Date </th>
                                            <!--<th> CAD Accepted By </th>-->
                                            <th class="text-center">Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="data in urngrouping_list">
                                            <td data-title="'S.No'" class="text-center"> {{$index+1}} </td>
                                            <td data-title="'Application Reference Number'"> {{data.application_no}} </td>
                                            <td data-title="'Customer Name'"> {{data.customer_name}} </td>
                                            <td data-title="'RM Name'"> {{data.relationshipmanager_name}} </td>
                                            <td data-title="'Overall Limit'"> {{data.overalllimit_amount}} </td>
                                            <td data-title="'Type'"> {{data.type}} </td>
                                            <!--<td data-title="'CAD Accepted Date'"> {{data.cadaccepted_date}} </td>-->
                                            <td data-title="'CAD Accepted By'"> {{data.cadaccepted_by}} / {{data.cadaccepted_date}} </td>
                                            <td class="nowrap" data-title="'Action'" style="text-align: center;">
                                                <button title="View" ng-click="view(data.application_gid,data.customer_urn)" class="btn btn-info">
                                                    <em class="fa fa-eye"></em>
                                                </button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <br/>
                <div class="row">
                    <div class="text-center">
                        <button ng-click="Back()" class="btn btn-info"><i class="fa fa-arrow-circle-left"></i>&nbsp;&nbsp;Back</button>
                    </div>
                    <br />
                </div>
            </div>
        </div>
    </div>
</div>
