<style>
  .picColor:hover {
    background-color: transparent;
    color: #144A6E;
    border: 1px solid #A59F9D;  
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    text-decoration: underline;
    text-decoration-color: #141478;
    }  

</style>
<style type="text/css">
    .picColor:hover {
        background-color: transparent;
        box-shadow: none;
        color: #144A6E;
        border: 1px solid #A59F9D;
        transform: translateY(-3px);
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
        text-decoration: underline;
        text-decoration-color: #141478;
    }
</style>
<h3>
    CAD Consolidated Report
</h3>
<div ng-controller="MstCadConsolidatedSoftcopyVettingReportController as dp">
    <div class="row">
        <div class="col-lg-2 col-sm-2 col-md-2">
            <div class="list-group-item picColor" style="height:60px;">
                <div class="media-box">

                    <div class="media-box-body clearfix">
                        <div class="media-box-heading" style="padding-top:10px;">
                            <div class="pull-right label" style="background-color:#AE1151;padding-top:5px;">{{SanctionCount}}</div>
                            <div style="font-size:14px;color:#AE1151;text-align:center;" ng-click="Sanction()"><b>Sanction Letter</b></div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-2 col-sm-2 col-md-2">
            <div class="list-group-item picColor" style="height:60px;">
                <div class="media-box">

                    <div class="media-box-body clearfix">
                        <div class="media-box-heading" style="padding-top:10px;">
                            <div class="pull-right label" style="background-color:#141478;padding-top:5px;">{{LSACount}}</div>
                            <div style="font-size:14px;color:#141478;text-align:center;" ng-click="LSA()"><b>LSA</b></div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-2 col-sm-2 col-md-2">
            <div class="list-group-item picColor" style="height:60px;">
                <div class="media-box">

                    <div class="media-box-body clearfix">
                        <div class="media-box-heading" style="padding-top:10px;">
                            <div class="pull-right label" style="background-color:#871490;padding-top:5px;">{{DocumentCheckListCount}}</div>
                            <div style="font-size:14px;color:#871490;text-align:center;" ng-click="DocumentChecklist()"><b>Document Checklist</b></div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-2 col-sm-2 col-md-2">
            <div class="list-group-item picColor" style="height:60px;">
                <div class="media-box">

                    <div class="media-box-body clearfix">
                        <div class="media-box-heading" style="padding-top:10px;">
                            <div class="pull-right label" style="background-color:#00796b;padding-top:5px;">{{SoftcopyVettingCount}}</div>
                            <div style="font-size:14px;color:#00796b;text-align:center;" ng-click="SoftcopyVetting()"><b>Softcopy Vetting</b></div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-2 col-sm-2 col-md-2">
            <div class="list-group-item picColor" style="height:60px;">
                <div class="media-box">

                    <div class="media-box-body clearfix">
                        <div class="media-box-heading" style="padding-top:10px;">
                            <div class="pull-right label" style="background-color:#1976d2;padding-top:5px;">{{OriginalCopyVettingCount}}</div>
                            <div style="font-size:14px;color:#1976d2;text-align:center;" ng-click="OriginalCopyVetting()"><b>Original Copy Vetting</b></div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <!--<div class="col-lg-2 col-sm-2 col-md-2">
            <div class="list-group-item picColor" style="height:60px;">
                <div class="media-box">
                    <div class="pull-left" style="padding-top:6px;">
                        <span>
                            <em class="fa fa-times-circle text-white fa-2x" style="color:#FF0000;"></em>
                        </span>
                    </div>
                    <div class="media-box-body clearfix">
                        <div class="media-box-heading" style="padding-top:10px;">
                            <div class="pull-right label" style="background-color:#FF0000;padding-top:5px;">{{count_close}}</div>
                            <div style="font-size:14px;color:#FF0000;text-align:center;" ng-click="Close()"><b> Close</b></div>
                        </div>

                    </div>
                </div>
            </div>
        </div>-->
    </div>


    <br />
    <div class="panel">
        <div class="row">
            <div class="col-lg-12 col-sm-12 col-md-12">
                <div class="col-lg-8 col-sm-8 col-md-8">
                    <h3 style="color: #00796b;"> &nbsp;&nbsp; Softcopy Vetting </h3>

                </div>

            </div>
        </div>
        <br />
        <div class="panel-body">


            <div class="table-responsive">
                <table datatable="ng" class="table table-hover table-striped mb-mails">
                    <thead>
                        <tr class="text-white" style="background-color:#09385f;">
                            <th scope="col">S.No</th>
                            <th scope="col">Application No</th>
                            <th scope="col">Application Name</th>
                            <th scope="col">Vertical</th>
                            <th scope="col">Rm uploaded On</th>
                            <!--<th scope="col">CAD Group Name</th>-->

                            <th scope="col">Maker Name </th>
                            <th scope="col">Checker Name </th>
                            <th scope="col">Approval Name </th>
                            <th scope="col">Query Rasied On </th>
                            <th scope="col">Query Closed On </th>
                            <th scope="col">Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="data in assignment_list">
                            <td title="S.No">{{$index+1}}</td>
                            <td title="Application No">{{data.application_no}}</td>
                            <td title="Application Name">{{data.customer_name}}</td>
                            <td title="Vertical">{{data.vertical_name}}</td>
                            <td title="Rm uploaded On">{{data.rmupload_date}}</td>
                            <!--<td title="CAD Group Name">{{data.cadgroup_name}}</td>-->

                            <td title="Maker Name">{{data.maker_name}} </td>
                            <td title="Checker Name">{{data.checker_name}} </td>
                            <td title="Approver Name">{{data.approver_name}} </td>
                            <td title="Query Rasied On">{{data.queryraised_on}} </td>
                            <td title="Query Closed On">{{data.queryclosed_on}} </td>
                            <td data-title="'Status'">
                                <span ng-show="data.maker_approvalflag=='N' && data.checker_approvalflag=='N' && data.approver_approvalflag=='N'">Maker Approval Pending </span>
                                <span ng-show="data.maker_approvalflag=='Y' && data.checker_approvalflag=='N' && data.approver_approvalflag=='N'">Checker Approval Pending </span>
                                <span ng-show="data.maker_approvalflag=='Y' && data.checker_approvalflag=='Y' && data.approver_approvalflag=='N'">Final Approval Pending </span>
                                <span ng-show="data.maker_approvalflag=='Y' && data.checker_approvalflag=='Y' && data.approver_approvalflag=='Y'">Approved </span>

                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>