<h3>
    Original Copy Vetting
</h3>
<div ng-controller="MstCadPhysicalDocCompletedcontroller">
    <div class="panel">
        <br>
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="col-lg-2 col-md-6 col-sm-12">
                    <p style="color:#09385f;font-size: 17px;"><b>Completed Summary</b></p>
                    <hr />
                </div>
                <div class="col-lg-2 col-md-6 col-sm-12">
                    <button type="button" class="btn btn-labeled" ng-click="maker()" style="width:200px;height:50px;border:1px solid rgb(179, 177, 177);">
                        <div class="pull-right label" style="background-color:#838383;padding-top:5px;padding-bottom:5px;">
                            <b> {{overallCountinfo.MakerPendingCount -- overallCountinfo.MakerFollowUpCount}}</b>
                        </div>
                        <b style="font-size: 14px;"> Maker </b>
                    </button>
                    <br />
                </div>
                <div class="col-lg-2 col-md-6 col-sm-12">
                    <button type="button" class="btn btn-labeled" ng-click="checker()" style="width:200px;height:50px;border:1px solid rgb(179, 177, 177);">
                        <div class="pull-right label" style="background-color:#838383;padding-top:5px;padding-bottom:5px;">
                            <b> {{overallCountinfo.CheckerPendingCount -- overallCountinfo.CheckerApprovalPendingCount -- overallCountinfo.CheckerFollowUpCount}}</b>
                        </div>
                        <b style="font-size: 14px;"> Checker </b>
                    </button>
                    <br />
                </div>
                <div class="col-lg-2 col-md-6 col-sm-12">
                    <button type="button" class="btn btn-labeled" ng-click="approval()" style="width:200px;height:50px;border:1px solid rgb(179, 177, 177);">
                        <div class="pull-right label" style="background-color:#838383;padding-top:5px;padding-bottom:5px;">
                            <b> {{overallCountinfo.ApproverPendingCount -- overallCountinfo.ApproverFollowUpCount}}</b>
                        </div>
                        <b style="font-size: 14px;">Approval</b>
                    </button>
                    <br />
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <button type="button" class="btn btn-labeled" ng-click="Completed()" style="width:200px;height:50px;border:1px solid rgb(179, 177, 177); background-color: #84cbdb;">
                        <div class="pull-right label" style="background-color:#838383;padding-top:5px;padding-bottom:5px;">
                            <b> {{overallCountinfo.CompletedCount}}</b>
                        </div>
                        <b style="font-size: 14px;">Completed</b>
                    </button>
                    <br />
                </div>
            </div>
        </div>
        <div class="row panel-body">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="row">
                    <br>
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <div class="table-responsive">
                                <table datatable="ng" class="table table-hover table-striped">
                                    <thead>
                                        <tr class="text-white nowrap" style="background-color:#09385f;">
                                            <th class="nowrap"> S.No </th>
                                            <th class="nowrap"> Application Number</th>
                                            <th class="nowrap"> Customer URN </th>
                                            <th class="nowrap"> Customer Name </th>
                                            <th class="nowrap"> CC Approved Date </th>
                                            <!-- <th> Sanction Reference Number </th> -->
                                            <th class="nowrap"> Status </th>
                                            <!--<th> Sanction Ref.No </th>-->
                                            <!--<th> CAD Group </th>
                                            <th> CAD Accepted Date </th>
                                            <th> CAD Accepted By </th>-->
                                            <th class="nowrap"> Completed Date</th>
                                            <th class="nowrap"> Type </th>
                                            <th class="text-center nowrap">Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="data in scannedmakerapplicationlist">
                                            <td data-title="'S.No'"> {{$index+1}} </td>
                                            <td data-title="'Application Number'"> {{data.application_no}} </td>
                                            <td data-title="'Customer URN'"> {{data.customer_urn}} </td>
                                            <td data-title="'Customer Name'"> {{data.customer_name}} </td>
                                            <td data-title="'CC Approved Date'"> {{data.ccapproved_date}} </td>
                                            <!--<td data-title="'Approval Status'"> {{data.approval_status}} </td>-->
                                            <!--<td data-title="'Sanction Ref.No'"> </td>-->
                                            <!--<td data-title="'CAD Group'"> {{data.cadgroupname}} </td>
                                            <td data-title="'CAD Accepted Date'"> {{data.cadaccepted_date}} </td>
                                            <td data-title="'CAD Accepted By'"> {{data.cadaccepted_by}} </td>-->
                                            <td data-title="'Status'" ng-switch="data.overall_approvalstatus">
                                                <label class="label label-success" style="font-size:11px;" ng-switch-when="Completed">{{data.overall_approvalstatus}}</label> 
                                            </td>
                                            <td data-title="Completed Date">{{data.completed_on}}</td>
                                            <td data-title="'Application Type'" ng-if="data.renewal_flag=='Y'">
                                                <label class="label label-pink" style="font-size:10px;"> Renewal </label>
                                            </td>
                                            <td data-title="'Application Type'" ng-if="data.enhancement_flag=='Y'">
                                                <label class="label label-success" style="font-size:10px;">Enhancement </label>
                                            </td>
                                            <td data-title="'Application Type'" ng-if="data.renewal_flag=='N' && data.enhancement_flag=='N'">
                                                <label class="label label-primary" style="font-size:10px;"> New </label>
                                            </td>
                                            <td align="center" class="nowrap">
                                                <button title="View" ng-click="view(data.application_gid)" class="btn btn-info">
                                                    <em class="fa fa-eye"></em>
                                                </button>
                                                <button title="Process" ng-click="maker_process(data.application_gid, data.created_by)" style="background-color:#871490;" class="btn btn-pink">
                                                    <em class="fa fa-spinner"></em>
                                                </button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <br />
    </div>
</div>