<style>
    .formstatic {
        position: fixed;
        width:22%;
    }
    .formstaticbtn:hover {
        background-color: rgb(89, 86, 90);
        color:rgb(31, 26, 102);
        text-decoration: underline;
        font-weight: bold;
    }
    

</style>
<h3>
    Credit Underwriting
</h3>
<div ng-controller="MstCADCreditIndividualDtlAddController as form">
        <div class="panel">
            <form name="form.formValidate" ng-submit="form.submitForm()" novalidate="" class="form-validate form-horizontal">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <div class="panel-heading" style="background-color: #191370;color:#ffffff"><b>Add Credit Individual Details</b> 
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-lg-12 col-sm-12 col-md-12">
                                <div class="col-lg-3 col-md-3 col-sm-3" style="padding-left:10px;">
                                    <div class="">
                                        <div id="panelPortlet13" class="panel">
                                            <div class="panel-heading portlet-handler text-bold text-center  align-middle" style="background-color:#F1EFEF"><h style="font-size:14px" class="m10">Credit Individual Add Forms</h></div>

                                            <div class="panel-body">
                                                <div class="panel widget">
                                                    <div class="row row-table formstaticbtn" ng-click="individual_addguarantee()" style="background-color:#f7f5f5">
                                                        <div class="col-xs-2 text-center  pv-lg">
                                                            <em class="fa fa-plus fa-x"></em>

                                                        </div>
                                                        <div class="col-xs-10 pv-lg">
                                                            <div class="m10" style="font-size: 13px;"><b>Add Guarantee Details </b></div>
                                                        </div>
                                                    </div>
                                                    <div class="row row-table formstaticbtn" ng-click="individual_docchecklist()" style="background-color: #e9e7e7">
                                                        <div class="col-xs-2 text-center  pv-lg">
                                                            <em class="fa fa-plus fa-x"></em>

                                                        </div>
                                                        <div class="col-xs-10 pv-lg">
                                                            <div class="m10" style="font-size: 13px;"><b>Add Document Checklist </b></div>
                                                        </div>
                                                    </div>
                                                    <div class="row row-table formstaticbtn" ng-click="individual_covenantdocchecklist()" style="background-color: #f7f5f5">
                                                        <div class="col-xs-2 text-center  pv-lg">
                                                            <em class="fa fa-plus fa-x"></em>

                                                        </div>
                                                        <div class="col-xs-10 pv-lg">
                                                            <div class="m10" style="font-size: 13px;"><b>Add Covenant Checklist </b></div>
                                                        </div>
                                                    </div>
                                                    <div class="row row-table formstaticbtn" ng-click="individual_bureauadd()" style="background-color: #e9e7e7">
                                                        <div class="col-xs-2 text-center  pv-lg">
                                                            <em class="fa fa-plus fa-x"></em>

                                                        </div>
                                                        <div class="col-xs-10 pv-lg">
                                                            <div class="m10" style="font-size: 13px;"><b> Add Bureau Details</b></div>
                                                        </div>
                                                    </div>
                                                    <div class="row row-table formstaticbtn" ng-click="individual_bankaccount()" style="background-color: #f7f5f5;">
                                                        <div class="col-xs-2 text-center  pv-lg">
                                                            <em class="fa fa-plus fa-x"></em>

                                                        </div>
                                                        <div class="col-xs-10 pv-lg">
                                                            <div class="m10" style="font-size: 13px;"><b>Add Bank Account Details </b></div>
                                                        </div>
                                                    </div>
                                                    <div class="row row-table formstaticbtn" ng-click="individual_existingbankaccount()" style="background-color: #e9e7e7;">
                                                        <div class="col-xs-2 text-center  pv-lg">
                                                            <em class="fa fa-plus fa-x"></em>

                                                        </div>
                                                        <div class="col-xs-10 pv-lg">
                                                            <div class="m10" style="font-size: 13px;"><b>Add Existing Bank Facility </b></div>
                                                        </div>
                                                    </div>
                                                    <div class="row row-table formstaticbtn" ng-click="individual_repayment()" style="background-color: #f7f5f5;">
                                                        <div class="col-xs-2 text-center  pv-lg">
                                                            <em class="fa fa-plus fa-x"></em>

                                                        </div>
                                                        <div class="col-xs-10 pv-lg">
                                                            <div class="m10" style="font-size: 13px;"><b>Add Repayment Track Record </b></div>
                                                        </div>
                                                    </div>
                                                    <div class="row row-table formstaticbtn" ng-click="individual_PSLdata()" style="background-color: #e9e7e7;">
                                                        <div class="col-xs-2 text-center  pv-lg">
                                                            <em class="fa fa-plus fa-x"></em>

                                                        </div>
                                                        <div class="col-xs-10 pv-lg">
                                                            <div class="m10" style="font-size: 13px;"><b>Add PSL Data Flagging </b></div>
                                                        </div>
                                                    </div>
                                                    <div class="row row-table formstaticbtn" ng-click="company_bankstatement()" style="background-color: #f7f5f5;">
                                                        <div class="col-xs-2 text-center  pv-lg">
                                                            <em class="fa fa-plus fa-x"></em>

                                                        </div>
                                                        <div class="col-xs-10 pv-lg">
                                                            <div class="m10" style="font-size: 13px;"><b>Bank Statement Analysis </b></div>
                                                        </div>
                                                    </div>
                                                    <div class="row row-table formstaticbtn" ng-click="individual_observation()" style="background-color: #e9e7e7;">
                                                        <div class="col-xs-2 text-center  pv-lg">
                                                            <em class="fa fa-plus fa-x"></em>

                                                        </div>
                                                        <div class="col-xs-10 pv-lg">
                                                            <div class="m10" style="font-size: 13px;"><b>Norms Details</b></div>
                                                        </div>
                                                    </div>
                                                    <div class="row row-table panel panel-default" id="panelDemo3">

                                                        <div ng-class="{'panel-heading-collapsed':panelDemo3}" class="panel-heading panel-heading-collapsed" style="background-color: #f7f5f5;">

                                                            <label class="text-primary">  API Verifications</label>
                                                            <paneltool tool-collapse="tool-collapse" ng-init="panelDemo3=true" class="pull-right">
                                                                <a href="#" panel-collapse="" tooltip="Expand / Collapse" ng-click="panelDemo3 = !panelDemo3" class="ng-scope" tabindex="0">
                                                                    <em ng-show="panelDemo3" class="glyphicon glyphicon-chevron-down" aria-hidden="false"></em>
                                                                    <em ng-show="!panelDemo3" class="glyphicon glyphicon-chevron-up ng-hide" aria-hidden="true"></em>
                                                                </a>
                                                            </paneltool>
                                                        </div>
                                                        <div collapse="panelDemo3" class="panel-wrapper collapse" style="height: 0px;">

                                                            <div class="row row-table formstaticbtn" ng-click="iecdetailed_vertification()" style="background-color:#f7f5f5;">
                                                                <div class="col-xs-2 text-center  pv-lg">
                                                                    <em class="fa fa-plus fa-x"></em>

                                                                </div>
                                                                <div class="col-xs-10 pv-lg">
                                                                    <div class="m10" style="font-size: 13px;"><b>IEC Detailed Profile</b></div>
                                                                </div>
                                                            </div>
                                                            <div class="row row-table formstaticbtn" ng-click="fssai_vertification()" style="background-color:#e9e7e7;">
                                                                <div class="col-xs-2 text-center  pv-lg">
                                                                    <em class="fa fa-plus fa-x"></em>

                                                                </div>
                                                                <div class="col-xs-10 pv-lg">
                                                                    <div class="m10" style="font-size: 13px;"><b>FSSAI License </b></div>
                                                                </div>
                                                            </div>
                                                            <div class="row row-table formstaticbtn" ng-click="fda_vertification()" style="background-color:#f7f5f5;">
                                                                <div class="col-xs-2 text-center  pv-lg">
                                                                    <em class="fa fa-plus fa-x"></em>

                                                                </div>
                                                                <div class="col-xs-10 pv-lg">
                                                                    <div class="m10" style="font-size: 13px;"><b>FDA License</b></div>
                                                                </div>
                                                            </div>
                                                            <div class="row row-table formstaticbtn" ng-click="lpgid_vertification()" style="background-color:#e9e7e7;">
                                                                <div class="col-xs-2 text-center  pv-lg">
                                                                    <em class="fa fa-plus fa-x"></em>

                                                                </div>
                                                                <div class="col-xs-10 pv-lg">
                                                                    <div class="m10" style="font-size: 13px;"><b>LPG ID</b></div>
                                                                </div>
                                                            </div>
                                                            <div class="row row-table formstaticbtn" ng-click="shop_vertification()" style="background-color:#f7f5f5;">
                                                                <div class="col-xs-2 text-center  pv-lg">
                                                                    <em class="fa fa-plus fa-x"></em>

                                                                </div>
                                                                <div class="col-xs-10 pv-lg">
                                                                    <div class="m10" style="font-size: 13px;"><b>Shop and Establishment</b></div>
                                                                </div>
                                                            </div>
                                                            <div class="row row-table formstaticbtn" ng-click="rcauthadv_vertification()" style="background-color:#e9e7e7;">
                                                                <div class="col-xs-2 text-center  pv-lg">
                                                                    <em class="fa fa-plus fa-x"></em>

                                                                </div>
                                                                <div class="col-xs-10 pv-lg">
                                                                    <div class="m10" style="font-size: 13px;"><b>Vehicle RC Authentication - Advanced</b></div>
                                                                </div>
                                                            </div>
                                                            <div class="row row-table formstaticbtn" ng-click="rcsearch_vertification()" style="background-color:#f7f5f5;">
                                                                <div class="col-xs-2 text-center  pv-lg">
                                                                    <em class="fa fa-plus fa-x"></em>

                                                                </div>
                                                                <div class="col-xs-10 pv-lg">
                                                                    <div class="m10" style="font-size: 13px;"><b> Vehicle RC Search </b></div>
                                                                </div>
                                                            </div>
                                                            <div class="row row-table formstaticbtn" ng-click="propertytax_vertification()" style="background-color:#e9e7e7;">
                                                                <div class="col-xs-2 text-center  pv-lg">
                                                                    <em class="fa fa-plus fa-x"></em>

                                                                </div>
                                                                <div class="col-xs-10 pv-lg">
                                                                    <div class="m10" style="font-size: 13px;"><b> Property Tax </b></div>
                                                                </div>
                                                            </div>
                                                            <div class="row row-table formstaticbtn" ng-click="crimecheck_record()" style="background-color:#f7f5f5;">
                                                                <div class="col-xs-2 text-center  pv-lg">
                                                                    <em class="fa fa-plus fa-x"></em>

                                                                </div>
                                                                <div class="col-xs-10 pv-lg">
                                                                    <div class="m10" style="font-size: 13px;"><b> CrimeCheck Record </b></div>
                                                                </div>
                                                            </div>
                                                            <div class="row row-table formstaticbtn" ng-click="crimecheckreport_realtime()" style="background-color:#e9e7e7;">
                                                                <div class="col-xs-2 text-center  pv-lg">
                                                                    <em class="fa fa-plus fa-x"></em>

                                                                </div>
                                                                <div class="col-xs-10 pv-lg">
                                                                    <div class="m10" style="font-size: 13px;"><b>CrimeCheck Report - RealTime</b></div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-9 col-md-9 col-sm-9" style="padding-left:0px;" style="padding-right:32px" >
                                    <div class="panel">
                                        <div class="panel-heading portlet-handler text-bold" style="background-color:#F1EFEF;"><h style="font-size:14px" class="m10">Add Bureau Updates</h></div>
                                        <div class="panel-body">
                                            <div class="row">
                                                <div class="col-lg-12 col-sm-12 col-md-12">
                                                    <div class="col-lg-12 col-sm-12 col-md-12">
                                                            <div class="row">
                                                                    <div class="col-sm-12 col-md-12 col-lg-12">
                                                                        <div class="dd-handle ng-scope">
                                                                            <div class="row"> 
                                                                                <div class="col-sm-12 col-md-12 col-lg-12">
                                                                                <p class="text-primary" style="font-size:14px;"><b> Bureau Details </b></p>
                                                                                <hr />
                                                                                <div class="col-lg-4 col-md-4 col-sm-4">
                                                                                    <label class="col-form-label"> Bureau Name <span style="color:red"> *</span></label>
                                                                                    <br />
                                                                                    <select name="BureauName" id="BureauName" chosen="" ng-options="m.bureauname_name for m in bureau_list" 
                                                                                    type="text" class="form-control parsley-error" required="" ng-model="cboBureauName" ng-change="bureauname_change()">
                                                                                        <option value=""> ----- Select Bureau Name -----</option>    
                                                                                    </select>
                                                                                    <span ng-show="form.validateInput('BureauName', 'required')" class="text-danger">This field is required</span>
                                                                                    <a ng-show="reportbureauselected" title="Generate Report" ng-click="generateDetails()" style="color:darkblue;font-weight:bold">
                                                                                        Generate Details
                                                                                    </a>                                                                                
                                                                                </div>
                                                                                        <div class="col-lg-4 col-md-4 col-sm-4">
                                                                                    <label class="col-form-label"> Bureau Score <span style="color:red"> *</span></label>
                                                                                    <br />
                                                                                    <input type="text" ng-model="txtbureau_score" name="BureauScore" id="BureauScore" ng-pattern="/^[0-9+]*$/" tabindex="0" class="form-control" required="" ng-disabled="bureauscore_disabled"/>
                                                                                    <span ng-show="form.validateInput('BureauScore', 'required')" class="text-danger">This field is required</span>
                                                                                </div>
                                                                                <div class="col-lg-4 col-md-4 col-sm-4">
                                                                                    <div ng-controller="MstCreditIndividualDtlAddController as dp">
                                                                                        <label class="col-form-label"> Score As On <span style="color:red"> *</span> </label>
                                                                                        <br />
                                                                                        <p class="input-group">
                                                                                            <input type="text" id="scoreason" name="scoreason" ng-model="$parent.txtbureauscore_date" datepicker-popup="{{dp.format}}"
                                                                                                   style="height:36px;" is-open="dp.open1" min-date="dp.minDate" datepicker-options="dp.dateOptions"
                                                                                                   close-text="Close" class="form-control" placeholder="DD-MM-YYYY" required="" />
                                                                                            <span class="input-group-btn">
                                                                                                <button type="button" ng-click="dp.calender1($event)" style="height:36px;" class="btn btn-default">
                                                                                                    <em class="fa fa-calendar"></em>
                                                                                                </button>
                                                                                            </span>
                                                                                        </p>
                                                                                    </div>
                                                                                </div>
                                                                                </div>
                                                                            </div>
                                                                            <br/>
                                                                            <div class="row">
                                                                                <div class="col-lg-12 col-md-12 col-sm-12">
                                                                                    <div class="col-lg-12 col-md-12 col-sm-12">
                                                                                        <label> Bureau Response <span style="color:red"> *</span> </label>
                                                                                        <textarea style="resize:vertical;" rows="4" name="BureauResponse" id="BureauResponse" placeholder="Enter Bureau Response..." aria-multiline="true" tabindex="0" aria-invalid="false"
                                                                                                  ng-model="txtbureau_response" ng-disabled="bureauresponse_disabled" class="form-control" required=""></textarea>
                                                                                        <br />
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                            <div class="row">
                                                                                <div class="col-lg-12 col-md-12 col-sm-12">
                                                                                    <div class="col-lg-12 col-md-12 col-sm-12">
                                                                                        <label>Observation(s) </label>
                                                                                        <textarea style="resize:vertical;" rows="4" name="observations" id="observations" placeholder="Enter Observation(s)..." aria-multiline="true" tabindex="0" aria-invalid="false"
                                                                                                  ng-model="txtobservations" class="form-control"  ></textarea>
                                                                                        <br />
                                                                                    </div>
                                                                                </div>
                                                                            </div>                                                            
                                                                            <div class="row">
                                                                                <div class="col-lg-12 col-md-12 col-sm-12">
                                                                                    <div class="col-lg-12 col-md-12 col-sm-12">
                                                                                    <div class="col-lg-12 col-md-12 col-sm-12 dd-handle ng-scope">
                                                                                        <div class="row">
                                                                                            <div class="col-lg-12 col-sm-12 col-md-12">
                                                                                        <p class="text-primary" style="font-size:14px;"><b> Upload Report </b></p>
                                                                                        <hr />
                                                                                        <div class="col-lg-2 col-sm-2 col-md-2">
                                                                                            <div class="float-label">
                                                                                                <label> Document Upload  : </label>
                                                                                            </div>
                                                                                        </div>
                                                                                        <div class="col-lg-9 col-sm-9 col-md-9">
                                                                                            <input type="file" id="file" tabindex="5" multiple onchange="angular.element(this).scope().CICDocumentUpload(this.files, angular.element(this).scope().documentupload, this.name)"
                                                                                            ng-model="txtreportdoc_name" data-classbutton="btn btn-default" data-classinput="form-control inline" data-button-text="Select" />
                                                                                        </div>
                                                                                        </div>
                                                                                        </div>
                                                                                        <div class="row">
                                                                                            <div class="col-lg-12 col-sm-12 col-md-12">
                                                                                                    <br />
                                                                                                    <div class="table-responsive">
                                                                                                        <table class="table table-striped table-secondary">
                                                                                                            <thead class="bg-gray text-white">
                                                                                                                <tr width="100%">
                                                                                                                    <th scope="col">S.No</th>
                                                                                                                    <th scope="col">Document Name</th>
                                                                                                                    <th align="center" scope="col">
                                                                                                                        Action&nbsp;&nbsp;&nbsp;
                                                                                                                        <a download="" href="" title="Download All" id="btnpdf2" ng-click="downloadall()">
                                                                                                                            <em class="icon-arrow-down"></em>&nbsp;
                                                                                                                        </a>
                                                                                                                    </th>
                                                                                                                </tr>
                                                                                                            </thead>
                                                                                                            <tbody>
                                                                                                                <tr ng-repeat="data in cicuploaddoc_list">
                                                                                                                    <td title="S.No">{{$index+1}}</td>
                                                                                                                    <td title="Document Name">{{data.document_name}}</td>
                                                                                                                    <td data-title="Action">
                                                                                                                        <button title="View Report" ng-click="report_View(data.tmpcicdocument_gid)" ng-show="data.document_content!=''" class="btn btn-info btn-xs">
                                                                                                                            <em class="fa fa-eye"></em>
                                                                                                                        </button>
                                                                                                                        <button title="Download" class="btn btn-green btn-xs"
                                                                                                                                ng-click="downloads(data.document_path,data.document_name,data.migration_flag)"> 
                                                                                                                            <a download="" href="" id="btnpdf" style="display:none;"></a>
                                                                                                                            <em class="fa fa-download"></em>
                                                                                                                        </button>
                                                                                                                        <button title="View" class="btn btn-info btn-xs" ng-click="documentviewer(data.document_path,data.document_name,data.migration_flag)">
                                                                                                                            <a download="" href="" style="display:none;"></a>  <em class="fa fa-file"></em>
                                                                                                                        </button>
                                                                                                                        <a title="Delete" class="btn btn-xs btn-danger" ng-click="uploaddocumentcancel(data.tmpcicdocument_gid)" ng-show="data.document_content==''">
                                                                                                                            <span class="fa fa-trash-o"></span>
                                                                                                                        </a>
                                                                                                                    </td>
                                                                                                                </tr>
                                                                                                            </tbody>
                                                                                                        </table>
                                                                                                    </div>
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                            <br/>
                                                                            <div class="row">
                                                                                <div class="col-lg-12 col-md-12 col-sm-12">
                                                                                    <div class="text-center">
                                                                                        <button type="submit" class="btn btn-primary" style="background-color:#09385f;color:white;"
                                                                                                 ng-click="add_bureauDtl()"> <i class="fa fa-plus"></i>&nbsp;&nbsp;Add</button>
                    
                                                                                     </div>
                                                                                </div>
                                                                            </div>
                                                                            <br/>
                                                                            <div class="row">
                                                                                <div class="col-lg-12 col-md-12 col-sm-12">
                                                                                    <div class="col-lg-12 col-md-12 col-sm-12">
                                                                                    <div class="col-lg-12 col-md-12 col-sm-12 dd-handle ng-scope">
                                                                                        <p class="text-primary" style="font-size:14px;"><b> Bureau Summary </b></p>
                                                                                        <hr />
                                                                                            <div class="table-responsive table-bordered">
                                                                                                <table class="table">
                                                                                                    <thead class="bg-gray text-white">
                                                                                                        <tr>
                                                                                                            <th>S.No</th>
                                                                                                            <th>Bureau Name </th>
                                                                                                            <th>Bureau Score </th>
                                                                                                            <th>Score As On</th>
                                                                                                            <th>Action</th>
                                                                                                        </tr>
                                                                                                    </thead>
                                                                                                    <tbody>
                                                                                                        <tr ng-repeat="data in contactbureau_list">
                                                                                                            <td>{{$index+1}}</td>
                                                                                                            <td>{{data.bureauname_name}}</td>
                                                                                                            <td>{{data.bureau_score}}</td>
                                                                                                            <td>{{data.bureauscore_date}}</td>
                                                                                                            <td class="text-nowrap">
                                                                                                                <button title="View Bureau" ng-click="bureau_view(data.contact2bureau_gid)" class="btn btn-info btn-xs">
                                                                                                                    <em class="fa fa-eye"></em>
                                                                                                                </button>
                                                                                                                <button title="Edit Bureau" type="button" ng-click="bureau_edit(data.contact2bureau_gid)" class="btn btn-green btn-xs">
                                                                                                                    <em class="fa fa-edit"></em>
                                                                                                                </button>
                                                                                                                <button title="Delete" type="button" ng-click="bureau_delete(data.contact2bureau_gid)"
                                                                                                                        class="btn btn-danger btn-xs">
                                                                                                                    <em class="fa fa-trash-o"></em>
                                                                                                                </button>
                                                                                                                <!-- <button title="High Risk Alert" ng-show="data.bureauname_name == 'TransUnion'" ng-click="highriskalert_view(data.contact2bureau_gid)" class="btn btn-danger btn-xs">
                                                                                                                    <em class="fa fa-warning"></em>
                                                                                                                </button> -->

                                                                                                            </td>
                                                                                                        </tr>
                                                                                                    </tbody>
                                                                                                </table>
                                                                                            </div>
                                                                                       
                                                                                    </div>
                                                                                </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                            </div>

                                                            <br/>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="text-center">
                                <br />
                                <button ng-click="Back()" type="button" class="btn btn-info"><i class="fa fa-arrow-circle-left"></i>&nbsp;&nbsp;Back</button>
                            </div>
                            <br />
                        </div>
                    </div>
                </div>
            </div>
        </form>
        </div>

        <script type="text/ng-template" id="/viewHighRiskAlert.html">
            <md-toolbar>
                <div class="md-toolbar-tools" style="background-color:rgb(63, 110, 181);">
                    <em style="font-size:16px" class="fa fa-eye"></em>&nbsp;<label style="font-size:16px">High Risk Alert Details</label>
                    <span flex></span>
                    <button ng-click="ok()" class="pull-right btn btn-primary"><i class="fa fa-close"></i></button>
                </div>
    
            </md-toolbar>
            <div class="modal-content">
                <div class="modal-body ng-scope">
    
                    <form novalidate="" name="userform1" ng-submit="form.submitLoan()" autocomplete="off" class="form-validate mb-lg">
                        <div class="row">
                            <div class="col-lg-12 col-sm-12 col-md-12">
                                <div class="dd-handle ng-scope">
                                    <div class="row">
                                        <div class="col-lg-12 col-md-12 col-sm-12">
                                            <div class="col-lg-3 col-md-3 col-sm-3">
                                                <label> No of Phones first reported in 3 months </label>
                                                <br />
                                                <p>{{noofph_rep3mon}}</p>
                                            </div>
                                            <div class="col-lg-3 col-md-3 col-sm-3">
                                                <label> No of addresses first reported in 3 months</label>
                                                <br />
                                                <p>{{noofad_rep3mon}}</p>
                                            </div>
                                            <div class="col-lg-3 col-md-3 col-sm-3">
                                                <label> Number of distinct phones reported in last 3 months and enriched through Enquiry</label>
                                                <br />
                                                <p>{{noofdistph_rep3mon}}</p>
                                            </div>
                                            <div class="col-lg-3 col-md-3 col-sm-3">
                                                <label> Number of distinct addresses reported in last 3 months and enriched through Enquiry</label>
                                                <br />
                                                <p>{{noofdistad_rep3mon}}</p>
                                            </div>
                                            
                                        </div>
                                    </div>
    
                                    <div class="row">
                                        <div class="col-lg-12 col-md-12 col-sm-12">
                                            <div class="col-lg-3 col-md-3 col-sm-3">
                                                <label> Number of distinct IDs reported in last 3 months </label>
                                                <br />
                                                <p>{{noofdistid_rep3mon}}</p>
                                            </div>
                                            <div class="col-lg-3 col-md-3 col-sm-3">
                                                <label> Number of distinct pincodes reported in last 3 months </label>
                                                <br />
                                                <p>{{noofdistpin_3mon}}</p>
                                            </div>
                                            <div class="col-lg-3 col-md-3 col-sm-3">
                                                <label> Enquiry with different lenders for same product in last 30 days </label>
                                                <br />
                                                <p>{{enqdifflend_30days}}</p>
                                            </div>
                                            <div class="col-lg-3 col-md-3 col-sm-3">
                                                <label> New Loans opened with different lenders in last 30 days </label>
                                                <br />
                                                <p>{{newloanopened_30days}}</p>
                                            </div>
                                        </div>
                                    </div>
    
                                    <div class="row">
                                        <div class="col-lg-12 col-md-12 col-sm-12">
                                            <div class="col-lg-3 col-md-3 col-sm-3">
                                                <label> Number of distinct Unsecured enquires by the borrower in the last 3 months </label>
                                                <br />
                                                <p>{{distunsecenq_3mon}}</p>
                                            </div>
                                            <div class="col-lg-3 col-md-3 col-sm-3">
                                                <label> HML segmentation basis Rank </label>
                                                <br />
                                                <p>{{ranksegment_hml}}</p>
                                            </div>                                            
                                        </div>
                                    </div>
    
                                </div>
                        <br />
                        <div class="text-center">
                            <button ng-click="ok()" class="btn btn-danger"><i class="fa icon-close"></i>&nbsp;&nbsp;Close</button>
                        </div>
                    </form>
                </div>
            </div>
        </script>
        
</div>