<style>
    .space {
        margin: 10px 0px;
    }
</style>
<h3>
    Individual Farmer View
</h3>
<div ng-controller="MstDisbIndividualFarmerDtlViewController">
    <div id="panelDemo8" class="panel panel-primary ">
        <div class="panel-heading" style="background-color:rgb(19,14,89);background: linear-gradient(90deg, rgba(19,14,89,1) 0%, rgba(65,65,185,1) 35%, rgba(0,212,255,1) 100%);color:#ffffff">
            <em class="fa fa-eye"></em>&nbsp; Individual Farmer Details - {{lblindividual_name}}
            <button type="button" title="Window Close" class="pull-right btn btn-sm btn-default" ng-click="close()">
                <em class="fa fa-close text-danger fa-1x">&nbsp;Close</em>
            </button>
        </div>
        <div class="col-lg-12 col-sm-12 col-md-12">
                <div class="dd-handle ng-scope">
                    <div class="row">
                        <div class="col-md-12 col-lg-12 col-sm-12">
                            <p class="text-primary" style="font-size:14px;"><b> Individual Basic Details </b></p>
                            <hr class="space">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <div class="col-lg-4 col-md-4 col-sm-4">
                                <label class="col-form-label"> Application Number </label>
                                <br />
                                {{lblapplication_no}}
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-4">
                                <label class="col-form-label"> Urn Status </label>
                                <br />
                                {{lblurn_status}}
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-4">
                                <label class="col-form-label">URN </label>
                                <br />
                                {{lblurn}}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 col-lg-12 col-sm-12">
                            <br />
                            <div class="col-lg-4 col-md-4 col-sm-4">
                                <label class="col-form-label"> Pan Status </label>
                                <br />
                                {{lblpan_status}}
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-4">
                                <label class="col-form-label"> Pan Number </label>
                                <br />
                                {{lblpan_no}}
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-4">
                                <label class="col-form-label"> Aadhar Number </label>
                                <br />
                                {{lblaadhar_no}}
                            </div>                           
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 col-lg-12 col-sm-12">
                            <br />
                            <div class="col-lg-4 col-md-4 col-sm-4">
                                <label class="col-form-label"> Individual Date of Birth </label>
                                <br />
                                {{lblindividual_dob}}
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-4">
                                <label class="col-form-label"> Designation </label>
                                <br />
                                {{lbldesignation_name}}
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-4">
                                <label class="col-form-label"> Educational Qualification </label>
                                <br />
                                {{lbleducationalqualification_name}}
                            </div>                          
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 col-lg-12 col-sm-12">
                            <br />
                            <div class="col-lg-4 col-md-4 col-sm-4">
                                <label class="col-form-label"> Main Occupation </label>
                                <br />
                                {{lblmain_occupation}}
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-4">
                                <label class="col-form-label"> Annual Income </label>
                                <br />
                                {{lblannual_income}}
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-4">
                                <label class="col-form-label"> Monthly Income </label>
                                <br />
                                {{lblmonthly_income}}
                            </div>                           
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 col-lg-12 col-sm-12">
                            <br />
                            <div class="col-lg-4 col-md-4 col-sm-4">
                                <label class="col-form-label"> Politically Exposed Person (PEP) </label>
                                <br />
                                {{lblpep_status}}
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-4">
                                <label class="col-form-label"> PEP Verified on </label>
                                <br />
                                {{lblpepverified_date}}
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-4">
                                <label class="col-form-label"> Stakeholder Type </label>
                                <br />
                                {{lblstakeholder_type}}
                            </div>
                        </div>
                    </div>
                    <br/>
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <div class="col-lg-4 col-md-4 col-sm-4">
                                <label class="col-form-label"> Marital Status </label>
                                <br />
                                {{maritalstatus_name}}
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-4">
                                <label class="col-form-label"> Years in Current Residence </label>
                                <br />
                                {{lblcurrentresidence_years}}
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-4">
                                <label class="col-form-label"> Distance from Branch/Regional Office (In Kms.) </label>
                                <br />
                                {{lblbranch_distance}}
                            </div>
                        </div>
                    </div>
                    <br/>
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <div class="col-lg-4 col-md-4 col-sm-4">
                                <label class="col-form-label"> Created By </label>
                                <br />
                                {{lblcreated_by}}
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-4">
                                <label class="col-form-label"> Created Date </label>
                                <br />
                                {{lblcreated_date}}
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-4">

                            </div>
                        </div>
                    </div>
                </div>
                    <div class="dd-handle ng-scope">
                        <div class="row">
                            <div class="col-md-12 col-lg-12 col-sm-12">
                                <p class="text-primary" style="font-size:14px;"><b> Family Details </b></p>
                                <hr class="space">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12">
                                <div class="col-lg-4 col-md-4 col-sm-4">
                                    <label class="col-form-label"> Father's Name </label>
                                    <br />
                                    {{lblfather_name}}
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-4">
                                    <label class="col-form-label"> Nominee Status </label>
                                    <br />
                                    {{lblfathernominee_status}}
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-4">
                                    <label class="col-form-label"> Date of Birth </label>
                                    <br />
                                    {{lblfather_dob}}
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 col-lg-12 col-sm-12">
                                <br />
                                <div class="col-lg-4 col-md-4 col-sm-4">
                                    <label class="col-form-label"> Mother's Name </label>
                                    <br />
                                    {{lblmother_name}}
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-4">
                                    <label class="col-form-label"> Nominee Status </label>
                                    <br />
                                    {{lblmothernominee_status}}
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-4">
                                    <label class="col-form-label"> Date of Birth </label>
                                    <br />
                                    {{lblmother_dob}}
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 col-lg-12 col-sm-12">
                                <br />
                                <div class="col-lg-4 col-md-4 col-sm-4">
                                    <label class="col-form-label"> Spouse Name </label>
                                    <br />
                                    {{lblspouse_name}}
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-4">
                                    <label class="col-form-label"> Nominee Status </label>
                                    <br />
                                    {{lblspousenominee_status}}
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-4">
                                    <label class="col-form-label"> Date of Birth </label>
                                    <br />
                                    {{lblspouse_dob}}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="dd-handle ng-scope">
                        <div class="row">
                            <div class="col-md-12 col-lg-12 col-sm-12">
                                <p class="text-primary" style="font-size:14px;"><b> Bank Details </b></p>
                                <hr class="space">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 col-lg-12 col-sm-12">
                                <div class="col-lg-4 col-md-4 col-sm-4">
                                    <label class="col-form-label"> IFSC Code </label>
                                    <br />
                                    {{lblifsc_code}}
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-4">
                                    <label class="col-form-label"> Bank Name </label>
                                    <br />
                                    {{lblbank_name}}
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-4">
                                    <label class="col-form-label"> Branch Name </label>
                                    <br />
                                    {{lblbranch_name}}
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 col-lg-12 col-sm-12">
                                <br />
                                <div class="col-lg-4 col-md-4 col-sm-4">
                                    <label class="col-form-label"> Branch Address </label>
                                    <br />
                                    {{lblbranch_address}}
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-4">
                                    <label class="col-form-label"> MICR Code </label>
                                    <br />
                                    {{lblmicr_code}}
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-4">
                                    <label class="col-form-label"> Bank Account Number </label>
                                    <br />
                                    {{lblbankaccount_number}}
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 col-lg-12 col-sm-12">
                                <br />
                                <div class="col-lg-4 col-md-4 col-sm-4">
                                    <label class="col-form-label"> Account Holder Name </label>
                                    <br />
                                    {{lblaccountholder_name}}
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-4">
                                    <label class="col-form-label"> Account Type </label>
                                    <br />
                                    {{lblaccount_type}}
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-4">
                                    <label class="col-form-label"> Joint Account </label>
                                    <br />
                                    {{lbljoint_account}}
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 col-lg-12 col-sm-12">
                                <br />
                                <div class="col-lg-4 col-md-4 col-sm-4">
                                    <label class="col-form-label"> Joint Account Holder Name </label>
                                    <br />
                                    {{lbljointaccountholder_name}}
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-4">
                                    <label class="col-form-label"> Is Cheque Book Facility Available </label>
                                    <br />
                                    {{lblchequebookfacility_available}}
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-4">
                                    <label class="col-form-label"> Account Open Date </label>
                                    <br />
                                    {{lblaccountopen_date}}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="dd-handle ng-scope">
                        <div class="row">
                            <div class="col-md-12 col-lg-12 col-sm-12">
                                <p class="text-primary" style="font-size:14px;"><b> Mobile Number Details </b></p>
                                <hr class="space">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12">
                                <div class="col-lg-4 col-md-4 col-sm-4">
                                    <label class="col-form-label"> Mobile Number </label>
                                    <br />
                                    {{lblmobile_no}}
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-4">
                                    <label class="col-form-label"> Primary Status </label>
                                    <br />
                                    {{lblmobileno_primarystatus}}
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-4">
                                    <label class="col-form-label"> Whatsapp Number </label>
                                    <br />
                                    {{lblwhatsapp_no}}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="dd-handle ng-scope">
                        <div class="row">
                            <div class="col-md-12 col-lg-12 col-sm-12">
                                <p class="text-primary" style="font-size:14px;"><b> Email Address Details </b></p>
                                <hr class="space">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12">
                                <div class="col-lg-4 col-md-4 col-sm-4">
                                    <label class="col-form-label"> Email Address </label>
                                    <br />
                                    {{lblemail_address}}
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-4">
                                    <label class="col-form-label"> Primary Status </label>
                                    <br />
                                    {{lblemailprimary_status}}
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-4">

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="dd-handle ng-scope">
                        <div class="row">
                            <div class="col-md-12 col-lg-12 col-sm-12">
                                <p class="text-primary" style="font-size:14px;"><b> Address Details </b></p>
                                <hr class="space">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12">
                                <div class="col-lg-4 col-md-4 col-sm-4">
                                    <label class="col-form-label"> Address Tyoe </label>
                                    <br />
                                    {{lbladdresstype_name}}
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-4">
                                    <label class="col-form-label"> Primary Status </label>
                                    <br />
                                    {{lbladdressprimary_status}}
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-4">
                                    <label class="col-form-label"> Address Line 1 </label>
                                    <br />
                                    {{lbladdressline1}}
                                </div>
                            </div>
                        </div>
                        <br/>
                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12">
                                <div class="col-lg-4 col-md-4 col-sm-4">
                                    <label class="col-form-label"> Address Line 2 </label>
                                    <br />
                                    {{lbladdressline2}}
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-4">
                                    <label class="col-form-label"> Postal Code </label>
                                    <br />
                                    {{lblpostal_code}}
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-4">
                                    <label class="col-form-label"> City </label>
                                    <br />
                                    {{lblcity}}
                                </div>
                            </div>
                        </div>
                        <br/>
                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12">
                                <div class="col-lg-4 col-md-4 col-sm-4">
                                    <label class="col-form-label"> Taluka </label>
                                    <br />
                                    {{lbltaluka}}
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-4">
                                    <label class="col-form-label"> District </label>
                                    <br />
                                    {{lbldistrict}}
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-4">
                                    <label class="col-form-label"> State </label>
                                    <br />
                                    {{lblstate}}
                                </div>
                            </div>
                        </div>
                        <br/>
                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12">
                                <div class="col-lg-4 col-md-4 col-sm-4">
                                    <label class="col-form-label"> Country </label>
                                    <br />
                                    {{lblcountry}}
                                </div>
                                <div class="col-lg-8 col-md-8 col-sm-8">

                                </div>
                            </div>
                        </div>
                    </div>
                    <br /> 
        </div>
        <div class="row">

        </div>
        <br />
    </div>
</div>
