<h3>
    My Disbursement
</h3>
<div ng-controller="MstMyDisbursementCompletedSummaryController">
    <div class="panel">
        <br>
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="col-lg-3 col-md-6 col-sm-12">
                    <p style="color:#09385f;font-size: 17px;"><b>Approval Completed Summary</b></p>
                    <hr />
                </div>
                <div class="col-lg-2 col-md-6 col-sm-12">
                    <button type="button" class="btn btn-labeled" ng-click="maker()" style="width:200px;height:50px;border:1px solid rgb(179, 177, 177);">
                        <div class="pull-right label" style="background-color:#838383;padding-top:5px;padding-bottom:5px;"> <b> {{makerpending_count -- makerfollowup_count}} </b></div>
                        <b style="font-size: 12px;"> Maker </b>
                    </button>
                    <br />
                </div>
                <div class="col-lg-2 col-md-6 col-sm-12">
                    <button type="button" class="btn btn-labeled" ng-click="checker()" style="width:200px;height:50px;border:1px solid rgb(179, 177, 177);">
                        <div class="pull-right label" style="background-color:#838383;padding-top:5px;padding-bottom:5px;"> <b> {{checker_count}}</b></div>
                        <b style="font-size: 12px;"> Checker </b>
                    </button>
                    <br />
                </div>
                <div class="col-lg-2 col-md-6 col-sm-12">
                    <button type="button" class="btn btn-labeled" ng-click="approvalcompleted()" style="width:200px;height:50px;border:1px solid rgb(179, 177, 177); background-color: #84cbdb;">
                        <div class="pull-right label" style="background-color:#838383;padding-top:5px;padding-bottom:5px;"> <b>  {{approvedcompleted_count}}</b></div>
                        <b style="font-size: 12px;">Approved Disbursement</b>
                    </button>
                    <br />
                </div>
                <div class="col-lg-2 col-md-6 col-sm-12">
                    <button type="button" class="btn btn-labeled" ng-click="disbursementrejected()" style="width:200px;height:50px;border:1px solid rgb(179, 177, 177);">
                        <div class="pull-right label" style="background-color:#838383;padding-top:5px;padding-bottom:5px;"> <b>  {{rejected_count}}</b></div>
                        <b style="font-size: 12px;"> Rejected Disbursement </b>
                    </button>
                    <br />
                </div>
                <div class="col-lg-2 col-md-6 col-sm-12">

                </div>
            </div>
        </div>
        <div class="row panel-body">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <div class="table-responsive">
                        <table datatable="ng" class="table table-hover table-striped">
                            <thead>
                                <tr class="text-white nowrap" style="background-color:#09385f;">
                                    <th> S.No </th>
                                    <th> Disbursement Request ID </th>
                                    <th> Application Number</th>
                                    <th> Customer Name </th>
                                    <!--<th> Sanction Ref No </th>-->
                                    <th> LSA Ref No</th>
                                    <th> Product Type </th>
                                    <th> Disbursement To </th>
                                    <th> Approved By </th>
                                    <th> Approved Date </th>
                                    <th> Created By </th>
                                    <th class="text-center">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="data in disbursementcompleted_list">
                                    <td data-title="'S.No'"> {{$index+1}} </td>
                                    <td data-title="'Disbursement Request ID'"> {{data.disbursementrequest_code}} </td>
                                    <td data-title="'Application Number'"> {{data.application_no}} </td>
                                    <td data-title="'Customer Name'"> {{data.customer_name}} </td>
                                    <!--<td data-title="'Sanction Ref No'"> {{data.sanction_refno}} </td>-->
                                    <td data-title="'LSA Ref No'"> {{data.lsareference_number}} </td>
                                    <td data-title="'Product Type'"> {{data.product_type}} </td>
                                    <td data-title="'Disbursement To'"> {{data.disbursement_to}} </td>                               
                                    <td data-title="'Approved By'"> {{data.checker_name}} </td>
                                    <td data-title="'Approved Date'"> {{data.checker_approveddate}} </td>
                                    <td data-title="'Approved Date'"> {{data.created_by}} </td>
                                    <td align="center" class="nowrap">
                                        <button title="View" ng-click="view(data.application_gid)" class="btn btn-info">
                                            <em class="fa fa-eye"></em>
                                        </button>
                                        <button title="Process" ng-click="completed_process(data.application_gid, data.application2sanction_gid, data.application2loan_gid,data.customer_urn,data.rmdisbursementrequest_gid,data.lsareference_gid)" style="background-color:#871490;" class="btn btn-pink">
                                            <em class="fa fa-spinner"></em>
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <br />
    </div>
</div>