
<h3>
    Assessed Score
</h3>
<div ng-controller="MstRMAssessedScoreViewController">
    <div class="panel">
        <div class="panel-heading" style="background-color:rgb(19,14,89);background: linear-gradient(90deg, rgba(19,14,89,1) 0%, rgba(65,65,185,1) 35%, rgba(0,212,255,1) 100%);color:#ffffff">
            <em class="fa fa-eye"></em>&nbsp; RM Assessed Score View
            <button type="button" title="Window Close" class="pull-right btn btn-sm btn-default" ng-click="close()">
                <em class="fa fa-close text-danger fa-1x">&nbsp;Close</em>
            </button>
        </div>
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <div class="panel-body">
                        <br />
                          <div class="dd-handle ng-scope" style="background-color: #f9f8f8;">
                                <div class="row">
                                    <div class="col-lg-12 col-md-12 col-sm-12">
                                        <br />
                                        <p class="text-primary" style="font-size:16px;"><b>&nbsp;&nbsp; Assessed Score Details </b></p>
                                        <hr />
                                        <div class="col-lg-4 col-md-4 col-sm-4">
                                            <label class="col-form-label"> Date of Survey </label>
                                            <br/>
                                            <p>{{txtdateofsurvey_date}}</p>
                                        </div>
                                        <div class="col-lg-4 col-md-4 col-sm-4">
                                            <label class="col-form-label"> Overall FPO Rating </label>
                                            <br />
                                            <p>{{txtoverallfpo_rating}}</p>
                                        </div>
                                        <div class="col-lg-4 col-md-4 col-sm-4">
                                            <label class="col-form-label"> Overall FPO Grade </label>
                                            <br />
                                            <p>{{txtoverallfpo_grade}}</p>
                                        </div>
                                    </div>
                                </div>
                                <br />
                                <div class="row">
                                    <div class="col-lg-12 col-md-12 col-sm-12">
                                        <div class="col-lg-6 col-md-6 col-sm-6">
                                            <label><viewstrong> Major Crops </viewstrong></label>
                                            <p>{{txtmajor_crops}}</p>
                                        </div>
                                        <div class="col-lg-6 col-md-6 col-sm-6">
                                            <label><strong> Alternative Source of Income  </strong></label>
                                            <p>{{txtalternative_income}}</p>
                                        </div>
                                    </div>
                                </div>
                                <br />
                                <div class="row">
                                    <div class="col-lg-12 col-md-12 col-sm-12">
                                        <div class="col-lg-6 col-md-6 col-sm-6">
                                            <label><strong> Objective of the FPO  </strong> </label>
                                            <p>{{txtobjective_FPO}}</p>
                                        </div>
                                        <div class="col-lg-6 col-md-6 col-sm-6">
                                            <label><strong> Recommendation  </strong></label>
                                            <p>{{txtrecommendation}}</p>
                                        </div>
                                    </div>
                                </div>
                                <br />
                            </div>
                            <br />
                       
                            <div class="dd-handle ng-scope">                          
                                <div class="row">
                                    <div class="col-lg-12 col-md-12 col-sm-12">
                                        <div class="table-responsive table-bordered">                                             
                                                    <table class="table">
                                                        <thead class="bg-gray text-white">
                                                            <tr>
                                                                <th>S.No</th>
                                                                <th>Assessment Criteria</th>
                                                                <th>Assessment Criteria Details</th>
                                                                <th>Shareholders</th>
                                                                <th>BODs</th>
                                                               
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr ng-repeat="list in assesment_list">
                                                                <td>{{$index+1}}</td>
                                                                <td>{{list.assessmentcriteria_name}}</td>
                                                                <td title="Assesment Criteria Details">
                                                                    <b>Maximum Score : </b> {{list.maximum_score}} <br />
                                                                    <b>Actual Scored : </b> {{list.actual_score}}  <br />
                                                                    <b>In %          : </b> {{list.assessment_in}}<br />
                                                                    <b>In Grade      : </b> {{list.assessment_ingrade}}
                                                                </td>
                                                                <td title="Shareholders">
                                                                    <b>Shareholders - Male %   : </b> {{list.shareholders_male}} <br />
                                                                    <b>Shareholders - Female % : </b> {{list.shareholders_female}}  <br />
                                                                </td>
                                                                <td title="BODs">
                                                                    <b>BODs - Male %   : </b> {{list.bodmale_in}} <br />
                                                                    <b>BODs - Female % : </b> {{list.bodfemale_in}}  <br />
                                                                </td>
                                                                
                                                            </tr>

                                                        </tbody>
                                                    </table>
                                              
                                        </div>
                                    </div>
                                </div>                       
                            </div>
                            <br />                        
                            <div class="dd-handle ng-scope" style="background-color: #f9f8f8;">
                                <div class="row">
                                    <div class="col-lg-12 col-md-12 col-sm-12">
                                        <br />
                                        <p class="text-primary" style="font-size:16px;"><b>&nbsp;&nbsp; FPO Details </b></p>
                                        <hr />
                                        <div class="col-lg-3 col-md-3 col-sm-3">
                                            <label class="col-form-label"> FPO AC Score </label>
                                            <br />
                                            <p>{{txtfpoac_score}}</p>
                                        </div>
                                        <div class="col-lg-3 col-md-3 col-sm-3">
                                            <label class="col-form-label"> Number of Active FIGs </label>
                                            <br />
                                            <p>{{txtnumber_activefigs}}</p>
                                        </div>
                                        <div class="col-lg-3 col-md-3 col-sm-3">
                                            <label class="col-form-label"> Number of Existing Lending - Direct & Indirect </label>
                                            <br />
                                            <p>{{txtn0_existingleading}}</p>
                                        </div>
                                        <div class="col-lg-3 col-md-3 col-sm-3">
                                            <label class="col-form-label"> All non-negotiable conditions met? </label>
                                            <br />
                                            <p>{{txtnon_negotiable}}</p>
                                        </div>
                                    </div>
                                </div>
                                <br />
                                <div class="row">
                                    <div class="col-lg-12 col-md-12 col-sm-12">
                                        <div class="col-lg-4 col-md-4 col-sm-4">
                                            <label class="col-form-label"> Outstanding Portfolio with Members (Rs.in Lakhs) - Direct & Indirect </label>
                                            <br />
                                            <p>{{txtout_portfolio}}</p>
                                        </div>
                                        <div class="col-lg-4 col-md-4 col-sm-4">
                                            <label class="col-form-label"> Does the Institution have Direct Borrowing or Indirect Borrowing </label>
                                            <br />
                                            <p>{{txtout_portfolio1}}</p>
                                        </div>
                                        <div class="col-lg-4 col-md-4 col-sm-4">
                                            <label class="col-form-label"> Total Disbursements by other Direct Lenders in the last 12 months (Rs. in Lakhs) </label>
                                            <br />
                                            <p>{{txtpar90_lending}}</p>
                                        </div>
                                    </div>
                                </div>
                                <br />
                                <div class="row">
                                    <div class="col-lg-12 col-md-12 col-sm-12">
                                        <div class="col-lg-6 col-md-6 col-sm-6">
                                            <label><strong> PAR 90 of groups managed by the Institution-Only Direct  </strong></label>
                                            <p>{{txtpar_90groups}}</p>
                                         </div>
                                        <div class="col-lg-6 col-md-6 col-sm-6">
                                            <label><strong> Recommendation  </strong></label>
                                            <p>{{txtrecommendation1}}</p>
                                        </div>

                                    </div>
                                </div>
                                <br />
                            </div>
                            <br />
                            <div class="dd-handle ng-scope">
                                <div class="row">
                                    <div class="col-lg-12 col-md-12 col-sm-12">
                                        <br />
                                        <p class="text-primary" style="font-size:16px;"><b>&nbsp;&nbsp; Geographic Details </b></p>
                                        <hr />
                                        <div class="col-lg-2 col-md-2 col-sm-2">
                                            <label class="col-form-label"> Number of states </label>
                                            <br />
                                            <p>{{txtno_states}}</p>
                                        </div>
                                        <div class="col-lg-2 col-md-2 col-sm-2">
                                            <label class="col-form-label">Number of Districts </label>
                                            <br />
                                            <p>{{txtno_districts}}</p>
                                        </div>
                                        <div class="col-lg-2 col-md-2 col-sm-2">
                                            <label class="col-form-label"> Number of Branches </label>
                                            <br />
                                            <p>{{txtno_branches}}</p>
                                        </div>
                                        <div class="col-lg-2 col-md-2 col-sm-2">
                                            <label class="col-form-label"> Number of Members </label>
                                            <br />
                                            <p>{{txtno_members}}</p>
                                        </div>
                                        <div class="col-lg-2 col-md-2 col-sm-2">
                                            <label class="col-form-label">Number of Active Members  </label>
                                            <br />
                                            <p>{{txtno_activemembers}}</p>
                                        </div>
                                        <div class="col-lg-2 col-md-2 col-sm-2">
                                            <label class="col-form-label">Number of Groups </label>
                                            <br />
                                            <p>{{txtno_groups}}</p>
                                        </div>
                                    </div>
                                </div>
                               
                                <br />
                                <div class="row">
                                    <div class="col-lg-12 col-md-12 col-sm-12">
                                        <div class="col-lg-2 col-md-2 col-sm-2">
                                            <label class="col-form-label"> Zonal Offices </label>
                                            <br />
                                            <p>{{txtzonal_offices}}</p>
                                        </div>
                                        <div class="col-lg-2 col-md-2 col-sm-2">
                                            <label class="col-form-label"> Regional Offices </label>
                                            <br />
                                            <p>{{txtreginal_offices}}</p>
                                        </div>
                                        <div class="col-lg-2 col-md-2 col-sm-2">
                                            <label class="col-form-label">Branches </label>
                                            <br />
                                            <p>{{txtbranches}}</p>
                                        </div>
                                        <div class="col-lg-2 col-md-2 col-sm-2">
                                            <label class="col-form-label">Admin Staff </label>
                                            <br />
                                            <p>{{txtadmin_staff}}</p>
                                        </div>
                                        <div class="col-lg-2 col-md-2 col-sm-2">
                                            <label class="col-form-label"> Field Staff </label>
                                            <br />
                                            <p>{{txtfield_staff}}</p>
                                        </div>
                                        <div class="col-lg-2 col-md-2 col-sm-2">
                                            <label class="col-form-label"> Field Staff to Group ratio </label>
                                            <br />
                                            <p>{{txtfield_togroupratio}}</p>

                                        </div>
                                    </div>
                                </div>
                                <br />
                            </div>
                        <br />
                    </div>
                </div>
            </div>
        </div>
        <br />

     
    </div>
</div>