<h3>
    Customer 360
</h3>
<div ng-controller="MstRmMyTeamCustomerSummaryController">
    <div class="panel">
        <div class="panel-body">
            <br />
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <div class="col-lg-3 col-md-6 col-sm-12">
                        <p style="color:#09385f;font-size: 17px;"><b> My Team Customer List Summary</b></p>
                        <hr />
                    </div>
                    <div class="col-lg-2 col-md-6 col-sm-12">
                        <button type="button" class="btn btn-labeled" ng-click="mycustomerlist_summary()" style="width:200px;height:50px;border:1px solid rgb(179, 177, 177);">
                            <b style="font-size: 14px;">  My Customer List </b>
                        </button>
                        <br />
                    </div>
                    <div class="col-lg-2 col-md-6 col-sm-12">
                        <button type="button" class="btn btn-labeled" ng-click="myteamcustomer_list()" style="width:200px;height:50px;border:1px solid rgb(179, 177, 177); background-color: #84cbdb;">
                            <b style="font-size: 14px;"> My Team Customer List </b>
                        </button>
                        <br />
                    </div>
                    <div class="col-lg-5 col-md-6 col-sm-12">

                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <div class="table-responsive">
                        <table datatable="ng" class="table table-striped row-border hover">
                            <thead>
                                <tr class="bg-primary text-white">
                                    <th>S.No</th>
                                    <th>Application No.</th>
                                    <th>Customer URN</th>
                                    <th>Customer Name</th>
                                    <th>Vertical</th>
                                    <!--<th>RM Name</th>-->
                                    <th>Customer Type</th>
                                    <th>Overall Limit</th>
                                    <!--<th>CC Group Name</th>-->
                                    <th>Approval Staus</th>
                                    <th>Created Date</th>
                                    <th>Created By</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="data in myteamcustomer_data">
                                    <td>{{$index +1}}</td>
                                    <td data-title="'Application No.'">{{data.application_no}}</td>
                                    <td data-title="'Customer URN'">{{data.customer_urn}}</td>
                                    <td data-title="'Customer Name'">{{data.customer_name}}</td>
                                    <td data-title="'Vertical Code'">{{data.vertical_name}}</td>
                                    <!--<td data-title="'RM Name'">{{data.relationshipMgmtGid}}</td>-->
                                    <td data-title="'Customer Type'">{{data.applicant_type}}</td>
                                    <td data-title="'Overall Limit'">{{data.overalllimit_amount}}</td>
                                    <!--<td data-title="'CC Group Name'">{{data.ccgroup_name}}</td>-->
                                    <td data-title="'Approval Staus'">{{data.approval_status}}</td>
                                    <td data-title="'Created Date'">{{data.created_date}}</td>
                                    <td data-title="'Created by'">{{data.created_by}}</td>
                                    <td data-title="'Action'" class="nowrap">
                                        <button class="btn btn-info" ng-click="customerView(data.application_gid)">
                                            <span class="fa fa-eye"></span>
                                        </button>
                                        <button title="Process" ng-click="process(data.application_gid)" style="background-color:#871490;" class="btn btn-pink">
                                            <em class="fa fa-spinner"></em>
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>    
        </div>
    </div>

</div>