<h3>
    Samunnati Associate Onboarding
</h3>
<div ng-controller="MstSAOnboardingBussDevtVerificationController as dp">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <span class="btn-label">
                <i class="fa fa-plus"></i>
            </span>Business Development Verification
        </div>
        <form novalidate="" name="submitBDV" ng-submit="form.submitBDV()" autocomplete="off" class="form-validate">
            <md-content class="md-padding">
                <div class="dd-handle ng-scope">
                    <!--Individual-->

                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <p class="text-primary" style="font-size:16px;">
                                <b>&nbsp;&nbsp; Individual Details</b>
                            </p>
                            <hr />
                        </div>

                        <div class="col-lg-4 col-md-4 col-sm-4">
                            <label style="padding-top: 13px;">PAN number  <span style="color:red;"> * </span></label>
                            <input type="text" ng-model="txt_pannumber" required
                                   ng-pattern="/^[A-Z]{5}[0-9]{4}[A-Z]{1}$/" maxlength="10" tabindex="0"
                                   class="form-control" ng-change="PANValidation()" />
                            <label class="fa fa-check" style="color:green"
                                   ng-show="panvalidation"></label>&nbsp;<label style="font-weight:bolder;color:green"
                                                                                ng-show="panvalidation">Verified</label>
                        </div>
                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12 ">


                                <div class="col-lg-4 col-md-4 col-sm-4">
                                    <label style="padding-top: 13px;"> SBA First Name</label>
                                    <input name="entity" ng-model="txtfirstname" ng-readonly="false" type="text" id="entityid" class="form-control" maxlength="68">

                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-4">
                                    <label style="padding-top: 13px;"> Middle Name</label>
                                    <input name="entity" ng-model="txtmiddlename" ng-readonly="false" type="text" id="entityid" class="form-control" maxlength="68">
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-4">
                                    <label style="padding-top: 13px;"> Last Name</label>
                                    <input name="entity" ng-model="txtlastname" ng-readonly="false" type="text" id="entityid" class="form-control" maxlength="68">
                                </div>

                                <br />
                                <div class="row">
                                    <div class="col-lg-12 col-md-12 col-sm-12 ">

                                        <div class="col-lg-4 col-md-4 col-sm-4">
                                            <label>Aadhar Number  <span style="color:red;"> * </span></label>
                                            <input type="text" ng-model="txtaadhar_number" ng-pattern="/^[0-9]*$/" maxlength="12" class="form-control">
                                        </div>



                                        <div class="col-lg-4 col-md-4 col-sm-4">
                                            <label class="col-form-label">Date of Birth <span style="color:red"> *</span></label>
                                            <br />
                                            <p class="input-group">
                                                <input type="text" id="dob_date" name="dob_date" ng-model="cbodob_date" datepicker-popup="{{Ctrl.format}}"
                                                       style="height:36px;" is-open="Ctrl.open06" min-date="Ctrl.minDate" datepicker-options="Ctrl.dateOptions"
                                                       close-text="Close" class="form-control" required placeholder="DD-MM-YYYY" />
                                                <span class="input-group-btn">
                                                    <button type="button" ng-click="Ctrl.calender06($event)" style="height:36px;" class="btn btn-default">
                                                        <em class="fa fa-calendar"></em>
                                                    </button>
                                                </span>
                                            </p>
                                        </div>
                                        <div class="col-lg-4 col-md-4 col-sm-4">
                                            <label>Educational Qualification  <span style="color:red;"> * </span></label>
                                            <select name="educationalqualification" chosen="" ng-options="m.qualification for m in reportingtoList"
                                                    ng-model="cboeducationalqualification" class="chosen-select form-control" required="">
                                                <option value=""> Select Educational Qualification </option>
                                            </select>
                                        </div>

                                    </div>
                                </div>
                                <br />

                                <div class="row">
                                    <div class="col-lg-12 col-md-12 col-sm-12 ">

                                        <div class="col-lg-4 col-md-4 col-sm-4">
                                            <label>Present Occupation <span style="color:red;"> * </span></label>
                                            <input name="presentoccupation" ng-model="txtpresentoccupation" type="text" id="nameid" class="form-control"
                                                   maxlength="68" required="">
                                        </div>

                                        <div class="col-lg-4 col-md-4 col-sm-4">
                                            <label>Work experience (years)  <span style="color:red;"> * </span></label>
                                            <input name="workexperience" ng-model="txtworkexperience" type="text" id="nameid" class="form-control"
                                                   maxlength="68" required="">
                                        </div>

                                        <div class="col-lg-4 col-md-4 col-sm-4">
                                            <label>Experience in Agri business Industry  <span style="color:red;"> * </span></label>
                                            <input name="expinagribusiness" ng-model="txtexpinagribusiness" type="text" id="nameid" class="form-control"
                                                   maxlength="68" required="">
                                        </div>


                                    </div>

                                </div>

                                <br />

                                <div class="row">
                                    <div class="col-lg-12 col-md-12 col-sm-12 ">


                                        <div class="col-lg-4 col-md-4 col-sm-4">
                                            <label>Father's Name <span style="color:red;"> * </span></label>
                                            <input name="firstname" ng-model="txtfathersname" type="text" id="nameid" class="form-control"
                                                   maxlength="68" required="">
                                        </div>

                                    </div>
                                </div>


                                <div class="row">
                                    <div class="col-lg-12 col-md-12 col-sm-12">
                                        <p class="text-primary" style="font-size:14px;"><b>&nbsp;&nbsp;Contact Details </b></p>
                                        <hr />
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-12 col-md-12 col-sm-12 ">


                                        <div class="col-lg-4 col-md-4 col-sm-4">
                                            <label style="padding-top: 13px;">Mobile Number</label>
                                            <input type="text" name="mobilenumber" maxlength="10" ng-pattern="/^[a-zA-Z0-9]$/"
                                                   ng-model="txtmobilenumber" class="form-control">
                                            <!--<div ng-messages="employeeform.mobilenumber.$dirty && employeeform.mobilenumber.$error">-->
                                            <!--<p class="text-danger" ng-message="pattern">This field must be a valid mobile number</p>
            </div>-->
                                        </div>

                                        <div class="col-lg-4 col-md-4 col-sm-4">
                                            <label style="padding-top: 13px;">Email Address</label>
                                            <input type="email" name="userpersonalemail" maxlength="64" ng-change="email_check()" ng-pattern="/^[a-zA-Z0-9](\.?[a-zA-Z0-9_-]){0,}@[a-z0-9-]+\.([a-z]{1,6}\.)?[a-z]{2,6}$/"
                                                   ng-model="txtpersonalemail" class="form-control">
                                            <div ng-messages="employeeform.userpersonalemail.$dirty && employeeform.userpersonalemail.$error">

                                                <p class="text-danger" ng-message="pattern">This field must be a valid email address</p>
                                            </div>
                                        </div>
                                        <div class="col-lg-4 col-md-4 col-sm-4">
                                            <label style="padding-top: 13px;">Address1  <span style="color:red;"> * </span></label>
                                            <input name="address1" ng-model="txtaddress1" type="text" id="nameid" class="form-control"
                                                   maxlength="68" required="">
                                        </div>

                                        <div class="col-lg-4 col-md-4 col-sm-4">
                                            <label style="padding-top: 13px;">Address2  <span style="color:red;"> * </span></label>
                                            <input name="address2" ng-model="txtaddress2" type="text" id="nameid" class="form-control"
                                                   maxlength="68" required="">
                                        </div>
                                    </div>
                                    <br />

                                    </div>
                                </div>

                    </div>
                      </div>
                                <br />
                                <div class="dd-handle ng-scope">
                                    <div class="row">
                                        <div class="col-lg-12 col-md-12 col-sm-12">
                                            <p class="text-primary" style="font-size:14px;"><b>&nbsp;&nbsp; Document Upload </b></p>
                                            <hr />
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-12 col-md-12 col-sm-12 ">

                                            <div class="col-lg-1 col-md-1 col-sm-1">
                                                <label class="col-form-label "><strong>PAN Upload</strong></label>
                                            </div>

                                            <div class="col-lg-3 col-md-3 col-sm-3">
                                                <input type="file" id="addupload" ng-model="test_document" onchange="angular.element(this).scope().upload(this.files, angular.element(this).scope().documentupload, this.name)"
                                                       data-classbutton="btn btn-default" data-classinput="form-control inline" data-button-text="Select" accept="images/jpg,images/jpeg,images/tif,images/tiff,images/pdf" />
                                            </div>



                                            <div class="col-lg-1 col-md-1 col-sm-1">
                                                <label class="col-form-label "><strong>Aadhaar Upload</strong></label>
                                            </div>

                                            <div class="col-lg-3 col-md-3 col-sm-3">
                                                <input type="file" id="addupload" ng-model="test_document" onchange="angular.element(this).scope().upload(this.files, angular.element(this).scope().documentupload, this.name)"
                                                       data-classbutton="btn btn-default" data-classinput="form-control inline" data-button-text="Select" accept="images/jpg,images/jpeg,images/tif,images/tiff,images/pdf" />
                                            </div>



                                            <div class="col-lg-1 col-md-1 col-sm-1">
                                                <label class="col-form-label "><strong>Passport size photo</strong></label>
                                            </div>

                                            <div class="col-lg-3 col-md-3 col-sm-3">
                                                <input type="file" id="addupload" ng-model="test_document" onchange="angular.element(this).scope().upload(this.files, angular.element(this).scope().documentupload, this.name)"
                                                       data-classbutton="btn btn-default" data-classinput="form-control inline" data-button-text="Select" accept="images/jpg,images/jpeg,images/tif,images/tiff,images/pdf" />
                                            </div>



                                        
                                    </div>
                                    </div>
                                </div>
                    
                                    <br />
                    </div>

                <div class="dd-handle ng-scope">
                    <div class="row">
                        <div class="col-lg-5 col-md-5 col-sm-5">
                            <label> Bureau Check</label> <span style="color:red">*</span>
                            <input type="text" ng-model="txtbureau_check" maxlength="50" class="form-control">
                        </div>
                        <div class="col-lg-5 col-md-5 col-sm-5">
                            <label> Crime Check</label> <span style="color:red">*</span>
                            <input type="text" ng-model="txtcrime_check" maxlength="50" class="form-control">
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4">
                            <label>Training Status  <span style="color:red;"> * </span></label>
                            <select name="trainingstatus" chosen="" ng-options="m.qualification for m in reportingtoList"
                                    ng-model="cbotraining_status" class="chosen-select form-control" required="">
                                <option value=""> Select Training Status </option>
                            </select>
                        </div>

                        <div class="col-lg-5 col-md-5 col-sm-5">
                            <label> Remarks </label> <span style="color:red">*</span>
                            <input type="text" ng-model="txtremarks" maxlength="50" class="form-control">
                        </div>

                        <div class="col-lg-4 col-md-4 col-sm-4">
                            <label>Tag RM Employee  <span style="color:red;"> * </span></label>
                            <select name="rmemployee" chosen="" ng-options="m.qualification for m in reportingtoList"
                                    ng-model="cborm_employee" class="chosen-select form-control" required="">
                                <option value=""> Select RM Employee </option>
                            </select>
                        </div>

                    </div>
                    <br>
                    <div class="row text-center">

                        <button type="button" class="btn btn-success btn-md" ng-click="submit_company()" ng-disabled="submitcomapany.$invalid">
                            <i class="fa fa-arrow-circle-right"></i>&nbsp;&nbsp;Approve\Reject
                        </button>&nbsp;&nbsp;
                        <button ng-click="back()" class="btn btn-info">
                            <i class="fa fa-arrow-circle-left"></i>&nbsp;&nbsp;Back
                        </button>
                    </div>
                    <div class="row" ng-show="mandatoryfields">
                        <div class="col-sm-12 col-md-12 col-lg-12 text-left">
                            <label style="color:red;"> Enter All Mandatory Values</label>
                            <br />
                        </div>
                        <br>
                    </div>

                </div>
                

                </md-content>


        </form>
        </div>
    </div>
