<h3>
    Softcopy Vetting Followup
</h3>
<div ng-controller="MstSoftcopyVettingFollowupReportController">
    <div class="panel">
        <br>
      
        <div class="row panel-body">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <tabset justified="true">
                 
                      
                        <div class="row">
                            <br>
                            <div class="col-lg-12 col-md-12 col-sm-12">
                                <div class="col-lg-12 col-md-12 col-sm-12">
                                    <div class="table-responsive">
                                        <table datatable="ng" class="table table-hover table-striped">
                                            <thead>
                                                <tr class="text-white nowrap" style="background-color:#09385f;">
                                                    <th> S.No </th>
                                                    <th> Application Number</th>
                                                    <th> Customer URN </th>
                                                    <th> Customer Name </th>
                                                    <th> CC Approved Date </th>
                                                    <th> Sanction Reference Number </th>
                                                    <!--<th> Approval Status </th>-->                                                  
                                                    <th> Cad Status </th>
                                                    <!--<th> CAD Accepted Date </th>
                                                    <th> CAD Accepted By </th>
                                                    <th class="text-center">Action</th>-->
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr ng-repeat="data in scannedmakerpendinglist">
                                                    <td data-title="'S.No'"> {{$index+1}} </td>
                                                    <td data-title="'Application Number'"> {{data.application_no}} </td>
                                                    <td data-title="'Customer URN'"> {{data.customer_urn}} </td>
                                                    <td data-title="'Customer Name'"> {{data.customer_name}} </td>
                                                    <td data-title="'CC Approved Date'"> {{data.ccapproved_date}} </td>
                                                    <td data-title="'Sanction Reference Number'"> {{data.sanction_refno}}</td>
                                                    <!--<td data-title="'Approval Status'"> {{data.approval_status}} </td>-->                                                   
                                                    <td data-title="'Cad Status'"> {{data.followupstatus}} </td>
                                                    <!--<td data-title="'CAD Accepted Date'"> {{data.cadaccepted_date}} </td>
                                                    <td data-title="'CAD Accepted By'"> {{data.cadaccepted_by}} </td>-->
                                                    <!--<td align="center" class="nowrap">
                                                        <button title="View" ng-click="view(data.application_gid)" class="btn btn-info">
                                                            <em class="fa fa-eye"></em>
                                                        </button>
                                                        <button title="Process" ng-click="maker_process(data.application_gid, data.created_by, data.processtypeassign_gid)" style="background-color:#871490;" class="btn btn-pink">
                                                            <em class="fa fa-spinner"></em>
                                                        </button>
                                                    </td>-->
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                  
                   
                </tabset>
            </div>
        </div>


        <br />
    </div>
</div>