<h3>
    Sanction Management
</h3>
<div ng-controller="MstSanctionSummaryController">
    <div class="panel">
        <br>
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="col-lg-2 col-md-6 col-sm-12">
                    <p style="color:#09385f;font-size: 17px;"><b>Maker Summary</b></p>
                    <hr />
                </div>
                <div class="col-lg-2 col-md-6 col-sm-12">
                    <button type="button" class="btn btn-labeled" ng-click="maker()" style="width:200px;height:60px;border:1px solid rgb(179, 177, 177); background-color: #84cbdb;">
                        <b style="font-size: 13px;"> Maker </b>
                        <br />
                        <div class="label" style="background-color: #838383; padding-top: 4px; padding-bottom: 4px;"> <b> {{MakerPendingCount -- MakerFollowUpCount}}</b></div>
                    </button>
                    <br />
                </div>
                <div class="col-lg-2 col-md-6 col-sm-12">
                    <button type="button" class="btn btn-labeled" ng-click="checker()" style="width: 200px; height: 60px; border: 1px solid rgb(179, 177, 177);">
                        <b style="font-size: 13px;"> Checker </b>
                        <br />
                        <div class="label" style="background-color: #838383; padding-top: 4px; padding-bottom: 4px; "> <b> {{CheckerPendingCount -- CheckerFollowUpCount}}</b></div>
                    </button>
                    <br />
                </div>
                <div class="col-lg-2 col-md-6 col-sm-12">
                    <button type="button" class="btn btn-labeled" ng-click="approval()" style="width: 200px; height: 60px; border: 1px solid rgb(179, 177, 177);">
                        <b style="font-size: 13px;">Approval</b>
                        <br />
                        <div class="label" style="background-color: #838383; padding-top: 4px; padding-bottom: 4px; "> <b> {{ApproverPendingCount}}</b></div>
                    </button>
                <br />
            </div>
            <div class="col-lg-2 col-md-6 col-sm-12">
                <button type="button" class="btn btn-labeled" ng-click="approvalcompleted()" style="width: 200px; height: 60px; border: 1px solid rgb(179, 177, 177);">
                    <b style="font-size: 13px;">CAD Approval Completed</b>
                    <br />
                    <div class="label" style="background-color: #838383; padding-top: 4px; padding-bottom: 4px; "> <b> {{CompletedCount}}</b></div>
                </button>
                    <br />
                </div>
                <div class="col-lg-2 col-md-6 col-sm-12">
                    <button type="button" class="btn btn-labeled" ng-click="accepted()" style="width: 200px; height: 60px; border: 1px solid rgb(179, 177, 177);">
                        <b style="font-size: 13px;">Customer Accepted</b>
                        <br />
                        <div class="label" style="background-color: #838383; padding-top: 4px; padding-bottom: 4px; "> <b> {{AcceptedCount}}</b></div>
                    </button>
                    <br />
                </div>
            </div>
        </div>
        <div class="row panel-body">
            <br>
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <tabset justified="true">
                        <tab ng-click="makerPendingSUmmary()">
                            <tab-heading>
                                Pending <label style="font-size:11px;" class="label label-info pull-right">{{MakerPendingCount}}</label>
                            </tab-heading>
                            <div class="table-responsive">
                                <table datatable="ng" class="table table-hover table-striped">
                                    <thead>
                                        <tr class="text-white nowrap" style="background-color:#09385f;">
                                            <th class="nowrap"> S.No </th>
                                            <th class="nowrap"> Application Number</th>
                                            <th class="nowrap"> Customer URN </th>
                                            <th class="nowrap"> Customer Name </th>
                                            <th class="nowrap"> CC Approved Date </th>
                                            <th class="nowrap"> Sanction Reference Number</th>
                                            <!--<th> Approval Status </th>-->
                                            <!--<th> CC Group </th>-->
                                            <!--<th> CAD Group </th>
                                            <th> CAD Accepted Date </th>
                                            <th> CAD Accepted By </th>-->
                                            <th class="nowrap" align="center">Status</th>
                                            <th class="nowrap"> Type </th>
                                            <th class="text-center nowarp">Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="data in sanctionmaker_list" ng-switch="data.sanction_status">
                                            <td data-title="'S.No'"> {{$index+1}} </td>
                                            <td data-title="'Application Number'"> {{data.application_no}} </td>
                                            <td data-title="'Customer URN'"> {{data.customer_urn}} </td>
                                            <td data-title="'Customer Name'"> {{data.customer_name}} </td>
                                            <td data-title="'CC Approved Date'"> {{data.ccapproved_date}} </td>
                                            <td data-title="'Sanction Reference Number'"> {{data.sanction_refno}} </td>
                                            <!--<td data-title="'Approval Status'"> {{data.approval_status}} </td>-->
                                            <!--<td data-title="'CC Group'"> {{data.ccgroup_name}} </td>-->
                                            <!--<td data-title="'CAD Group'"> {{data.cadgroupname}} </td>
                                            <td data-title="'CAD Accepted Date'"> {{data.cadaccepted_date}} </td>
                                            <td data-title="'CAD Accepted By'"> {{data.cadaccepted_by}} </td>-->
                                            <td data-title="'Status'">
                                                <label class="label label-success" ng-switch-when='Approved' style="font-size:10px;">Approved</label>
                                                <label class="label label-warning" ng-switch-when='Approval Pending' style="font-size:10px;">Approval Pending</label>
                                                <label class="label label-purple" ng-switch-when='Pushback' style="font-size:10px;">Pushback</label>
                                                <label class="label label-danger" ng-switch-when='Rejected' style="font-size:10px;">Rejected</label>
                                            </td>
                                            <td data-title="'Application Type'" ng-if="data.renewal_flag=='Y'">
                                                <label class="label label-pink" style="font-size:10px;"> Renewal </label>
                                            </td>
                                            <td data-title="'Application Type'" ng-if="data.enhancement_flag=='Y'">
                                                <label class="label label-success" style="font-size:10px;">Enhancement </label>
                                            </td>
                                            <td data-title="'Application Type'" ng-if="data.renewal_flag=='N' && data.enhancement_flag=='N'">
                                                <label class="label label-primary" style="font-size:10px;"> New </label>
                                            </td>
                                            <td align="center" class="nowrap">
                                                <button title="View" ng-click="view(data.application_gid ,data.created_by)" class="btn btn-info">
                                                    <em class="fa fa-eye"></em>
                                                </button>
                                                <!--<button title="Edit" ng-click="edit(data.application_gid)" class="btn btn-green">
                                                    <em class="icon-pencil"></em>
                                                </button>-->
                                                <button title="Process" ng-click="maker_process(data.application_gid, data.created_by)" style="background-color:#871490;" class="btn btn-pink">
                                                    <em class="fa fa-spinner"></em>
                                                </button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </tab>

                        <tab ng-click="makerfollowupSUmmary()">
                            <tab-heading>
                                Followup <label style="font-size:11px;" class="label label-info pull-right">{{MakerFollowUpCount}}</label>
                            </tab-heading>
                            <div class="table-responsive">
                                <table datatable="ng" class="table table-hover table-striped">
                                    <thead>
                                        <tr class="text-white nowrap" style="background-color:#09385f;">
                                            <th class="nowrap"> S.No </th>
                                            <th class="nowrap"> Application Number</th>
                                            <th class="nowrap"> Customer URN </th>
                                            <th class="nowrap"> Customer Name </th>
                                            <th class="nowrap"> CC Approved Date </th>
                                            <th class="nowrap"> Sanction Reference Number</th>
                                            <!--<th> Approval Status </th>-->
                                            <!--<th> CC Group </th>-->
                                            <!--<th> CAD Group </th>
                                            <th> CAD Accepted Date </th>
                                            <th> CAD Accepted By </th>-->
                                            <th class="nowrap" align="center">Status</th>
                                            <th class="nowrap"> Type </th>
                                            <th class="text-center nowrap">Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="data in sanctionmaker_list" ng-switch="data.sanction_status">
                                            <td data-title="'S.No'"> {{$index+1}} </td>
                                            <td data-title="'Application Number'"> {{data.application_no}} </td>
                                            <td data-title="'Customer URN'"> {{data.customer_urn}} </td>
                                            <td data-title="'Customer Name'"> {{data.customer_name}} </td>
                                            <td data-title="'CC Approved Date'"> {{data.ccapproved_date}} </td>
                                            <td data-title="'Sanction Reference Number'"> {{data.sanction_refno}} </td>
                                            <!--<td data-title="'Approval Status'"> {{data.approval_status}} </td>-->
                                            <!--<td data-title="'CC Group'"> {{data.ccgroup_name}} </td>-->
                                            <!--<td data-title="'CAD Group'"> {{data.cadgroupname}} </td>
                                            <td data-title="'CAD Accepted Date'"> {{data.cadaccepted_date}} </td>
                                            <td data-title="'CAD Accepted By'"> {{data.cadaccepted_by}} </td>-->
                                            <td data-title="'Status'">
                                                <label class="label label-success" ng-switch-when='Approved' style="font-size:10px;">Approved</label>
                                                <label class="label label-warning" ng-switch-when='Checker Approval Pending' style="font-size:10px;">Checker Approval Pending</label>
                                                <label class="label label-warning" ng-switch-when='Final Approval Pending' style="font-size:10px;">Final Approval Pending</label> 
                                                <label class="label label-purple" ng-switch-when='Pushback' style="font-size:10px;">Pushback</label>
                                                <label class="label label-danger" ng-switch-when='Rejected' style="font-size:10px;">Rejected</label>
                                            </td>
                                            <td data-title="'Application Type'" ng-if="data.renewal_flag=='Y'">
                                                <label class="label label-pink" style="font-size:10px;"> Renewal </label>
                                            </td>
                                            <td data-title="'Application Type'" ng-if="data.enhancement_flag=='Y'">
                                                <label class="label label-success" style="font-size:10px;">Enhancement </label>
                                            </td>
                                            <td data-title="'Application Type'" ng-if="data.renewal_flag=='N' && data.enhancement_flag=='N'">
                                                <label class="label label-primary" style="font-size:10px;"> New </label>
                                            </td>
                                            <td align="center" class="nowrap">
                                                <button title="View" ng-click="view(data.application_gid,data.created_by)" class="btn btn-info">
                                                    <em class="fa fa-eye"></em>
                                                </button>
                                                <!--<button title="Edit" ng-click="edit(data.application_gid)" class="btn btn-green">
                                                    <em class="icon-pencil"></em>
                                                </button>-->
                                                <button title="Process" ng-click="maker_process(data.application_gid, data.created_by)" style="background-color:#871490;" class="btn btn-pink">
                                                    <em class="fa fa-spinner"></em>
                                                </button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </tab>
                    </tabset>

                </div>
            </div>
        </div>
        <br />
    </div>
</div>