

<h3>
    Tele Calling - Inbound
</h3>
<div ng-controller="MstTeleCallingFollowupCallsController">
    <button type="button" class="btn btn-info button-sm" ng-click="addinbound()">
        <span class="btn-label">
            <i class="fa fa-plus"></i></span>
            Add Inbound Call
    </button>
    <br><br>
    <div class="panel">
        <br>
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="col-lg-2 col-md-6 col-sm-12">
                    <p style="color:#09385f;font-size: 17px;"><b>Follow Up Calls Summary</b></p>
                    <hr />
                </div>
                <div class="col-lg-2 col-md-6 col-sm-12">
                    <button type="button" class="btn btn-labeled" ng-click="assignedcall()" style="width:200px;height:50px;border:1px solid rgb(179, 177, 177);">
                        <div class="pull-right label" style="background-color:#838383;padding-top:5px;padding-bottom:5px;"> <b> {{assigned_count}}</b></div>
                        <b style="font-size: 14px;">Assigned Calls</b>
                    </button>
                    <br />
                </div>
                <div class="col-lg-2 col-md-6 col-sm-12">
                    <button type="button" class="btn btn-labeled" ng-click="completedcall()" style="width:200px;height:50px;border:1px solid rgb(179, 177, 177);">
                        <div class="pull-right label" style="background-color:#838383;padding-top:5px;padding-bottom:5px;"> <b> {{completed_count}}</b></div>
                        <b style="font-size: 14px;">Completed Calls</b>
                    </button>
                    <br />
                </div>
                <div class="col-lg-2 col-md-6 col-sm-12">
                    <button type="button" class="btn btn-labeled" ng-click="followupcall()" style="width:200px;height:50px;border:1px solid rgb(179, 177, 177);  background-color: #84cbdb;">
                        <div class="pull-right label" style="background-color:#838383;padding-top:5px;padding-bottom:5px;"> <b> {{follow_count}}</b></div>
                        <b style="font-size: 14px;">Follow Up Calls</b>
                    </button>
                    <br />
                </div>
                <div class="col-lg-2 col-md-6 col-sm-12">
                    <button type="button" class="btn btn-labeled" ng-click="closedcall()" style="width:200px;height:50px;border:1px solid rgb(179, 177, 177);">
                        <div class="pull-right label" style="background-color:#838383;padding-top:5px;padding-bottom:5px;"> <b> {{closed_count}}</b></div>
                        <b style="font-size: 14px;">Closed Calls</b>
                    </button>
                    <br />
                </div>
            </div>
        </div>
        <div class="row">
            <br>
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <div class="table-responsive">
                        <table datatable="ng" class="table table-hover table-striped">
                            <thead>
                                <tr class="text-white" style="background-color:#09385f;">
                                    <th> S.No </th>
                                    <th> Ticket Ref.No</th>
                                    <th> Customer Type</th>
                                    <th> Call Follow up Date</th>
                                    <th> Caller Name</th>
                                    <th> Created Date </th>
                                    <th> Created By</th>
                                    <th class="text-center">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="data in followup_list">
                                    <td data-title="'S.No'"> {{$index+1}} </td>
                                    <td data-title="'Ticket Ref.No'"> {{data.ticketref_no}}</td>
                                    <td data-title="'Customer Type'"> {{data.customer_type}}</td>
                                    <td data-title="'Call Follow up Date'"> {{data.callfollowup_date}}</td>
                                    <td data-title="'Caller Name'"> {{data.caller_name}}</td>
                                    <td data-title="'Created Date'"> {{data.created_date}} </td>
                                    <td data-title="'Created By'"> {{data.created_by}} </td>
                                    <td align="center">
                                       
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>