<a href="#/app/MstHRLoanHRDocument">
    <button type="button" title="Back" class="pull-right btn btn-sm btn-primary ">
        <em class="fa fa-arrow-circle-left fa-1x"></em>
    </button>
</a>
<h3>
    HR Document
</h3>
<div ng-controller="MstHRLoanHRDocumentViewController">
    <div id="panelDemo8" class="panel panel-primary ">
        <div class="panel-heading">
            <span class="btn-label">
                <i class="fa fa-eye"></i>
            </span> View HR Document
        </div>
        <div class="panel-body">           
            <br />
            <div class="row">
                <div class="col-lg-12 col-sm-12 col-md-12">
                    <div class="dd-handle ng-scope">
                        <div class="row">
                            <div class="col-lg-12 col-sm-12 col-md-12 ">
                                <div class="row">
                                    <div class="col-lg-12 col-sm-12 col-md-12 ">
                                        <b style="color:darkblue;font-size:15px;">
                                            <label>Basic Details</label>
                                        </b>
                                        <hr />
                                    </div>
                                    <div class="col-lg-12 col-sm-12 col-md-12">
                                        <div class="row">
                                            <div class="col-lg-12 col-md-12 col-sm-12">
                                                <div class="col-lg-4 col-sm-4 col-md-4">
                                                    <label style="font-weight:bold">HR Document Name </label>
                                                    <p> {{lblhrdocument_name}} </p>
                                                </div>
                                                <div class="col-lg-4 col-sm-4 col-md-4">
                                                    <label style="font-weight:bold">Document Type</label>
                                                    <p> {{lblhrdocument}} </p>
                                                </div>                                              
                                            </div>
                                            <div class="col-lg-12 col-md-12 col-sm-12">                                              
                                                <div class="col-lg-4 col-sm-4 col-md-4">
                                                    <label style="font-weight:bold">LMS Code</label>
                                                    <p> {{lbllms_code}} </p>
                                                </div>
                                                <div class="col-lg-4 col-sm-4 col-md-4">
                                                    <label style="font-weight:bold">Bureau Code </label>
                                                    <p> {{lblbureau_code}} </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br />                

                    <div class="dd-handle ng-scope">
                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12">
                                <div class="row">
                                    <div class="col-lg-12 col-sm-12 col-md-12 ">
                                        <b style="color:darkblue;font-size:15px;">
                                            <label> Check List Details</label>
                                        </b>
                                        <hr />
                                    </div>
                                    <div class="col-lg-12 col-md-12 col-sm-12">
                                        <div class="col-lg-12 col-md-12 col-sm-12">
                                            <table class="table">
                                                <thead class="bg-gray text-white">
                                                    <tr>
                                                        <th>SNo</th>
                                                        <th>Check List</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr ng-repeat="data in checklistview_list">
                                                        <td>{{$index+1}}</td>
                                                        <td style="white-space: pre-wrap;width:100%; word-wrap: break-word; display: inline-block;">{{data.hrdocumentchecklist_name}}</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                        <br />
                                    </div>
                                    <br />
                                </div>
                            </div>
                        </div>
                    </div>
                    <br />
                </div>
            </div>
            <div class="text-center">                
                <button ng-click="Back()" class="btn btn-info"><i class="fa fa-arrow-circle-left"></i>&nbsp;&nbsp;Back</button>
            </div>
            <br />
        </div>
    </div>
</div>
