<h3>
    HR Document
    <a href="#/app/MstHRLoanHRDocument">
        <button type="button" title="Back" class="pull-right btn btn-sm btn-primary ">
            <em class="fa fa-arrow-circle-left fa-1x"></em>
        </button>
    </a>
</h3>
<div ng-controller="MstHRLoanHRDocumentAddController">
    <div class="panel panel-primary">
        <div class="panel-heading">
            &nbsp;<span class="btn-label bg-primary">
                <i class="fa fa-plus "></i>
            </span> Add HR Document
        </div>
        <div class="panel-body">
            <form novalidate="" name="Addhrdocument" ng-submit="form.Addhrdocument()" autocomplete="off" class="form-validate form-horizontal">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12">                      
                        <div class="dd-handle ng-scope">
                            <div class="row ">
                                <div class="col-lg-12 col-md-12 col-sm-12">
                                    <br>
                                    <div class="col-lg-4 col-md-4 col-sm-4">
                                        <label class="col-form-label"> HR Document Name </label> <span style="color:red">*</span>
                                        <br />
                                        <input type="text" ng-model="txthrdocument_name" required tabindex="0" class="form-control" />
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-sm-4">
                                        <label class="col-form-label">HR Document Type &nbsp;<span style="color:red">*</span></label>
                                        <br />
                                        <select name="Document_type" id="Document_type" ng-options="m.hrloantypeoffinancialassistance_name for m in document_list" chosen=""
                                            ng-model="cbohrdocument" class="chosen-select form-control" required style="height:37px;">
                                            <option value=""></option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-lg-12 col-md-12 col-sm-12">
                                    <br>
                                    <div class="col-lg-4 col-md-4 col-sm-4">                                               
                                        <label>LMS Code &nbsp;</label>
                                        <input ng-model="txtlms_code" 
                                            tabindex="1" aria-required="true" aria-invalid="true" maxlength="1000" class="form-control">
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-sm-4">                                                
                                        <label>Bureau Code &nbsp;</label>
                                        <input ng-model="txtbureau_code" 
                                            tabindex="1" aria-required="true" aria-invalid="true" maxlength="1000" class="form-control">
                                    </div>
                                </div>                                    
                            </div>
                            <br />                                  
                        </div>
                        <div class="row ">
                            <br />
                            <div class="col-lg-12 col-md-12 col-sm-12">
                                <div class="dd-handle ng-scope">
                                    <div class="row ">
                                        <div class="col-lg-12 col-md-12 col-sm-12">
                                            <div class="col-lg-6 col-md-6 col-sm-6">
                                                <label class="col-form-label"> Check List  </label> 
                                                <br />
                                                <textarea ng-model="txtchecklist" style="resize:vertical;"  rows="4" aria-multiline="true" tabindex="0" aria-invalid="false" class="mda-form-control"></textarea>
                                            </div>
                                            <div class="col-lg-3 col-md-3 col-sm-3" style="padding-top:7px;">
                                                <br />
                                                <a class="btn btn-sm btn-default" style="background-color:#09385f;color:white;padding-left:9px;" ng-click="checklist_add()"><span class="fa fa-plus" /></a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <br />
                                        <div class="col-lg-12 col-md-12 col-sm-12">
                                            <div class="col-lg-12 col-md-12 col-sm-12">
                                                <table class="table">
                                                    <thead class="bg-gray text-white">
                                                        <tr>
                                                            <th>S.No</th>
                                                            <th>Check List</th>
                                                            <th>Action</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr  ng-repeat="data in checklist_list">
                                                            <td>{{$index+1}}</td>
                                                            <td>{{data.hrdocumentchecklist_name}}</td>
                                                            <td class="text-nowrap">
                                                                <button title="Delete" ng-click="checklist_delete(data.hrdocumentchecklist_gid)"
                                                                        class="btn btn-danger btn-xs ">
                                                                    <em class="fa fa-trash-o"></em>
                                                                </button>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                            <br />
                                        </div>
                                        <br />
                                    </div>
                                    <br />
                                </div>
                            </div>
                        </div>     
                    </div>
                </div>
                <br />                        
                <div class="text-center">                           
                    <button type="button" class="btn btn-success btn-md" ng-disabled="Addhrdocument.$invalid" ng-click="submit()"><i class="fa fa-arrow-circle-right"></i>&nbsp;&nbsp;Submit</button>&nbsp;&nbsp;
                    <button ng-click="Back()" class="btn btn-info"><i class="fa fa-arrow-circle-left"></i>&nbsp;&nbsp;Back</button>                       
                </div>
                <br />                
            </form>
        </div>
    </div>
</div>