<h3>
    HR Payment
</h3>
<script type="text/ng-template" id="/hrqueryDescriptionView.html">
    <md-toolbar>
        <div class="md-toolbar-tools" style="background-color:rgb(63, 110, 181);">
            <em class="fa fa-eye"></em>&nbsp;<label style="font-size:16px">Query Description & Query Response View</label>
            <span flex></span>
            <button ng-click="ok()" class="pull-right btn btn-primary"><i class="fa fa-close"></i></button>
        </div>

    </md-toolbar>
    <div class="modal-content">
        <div class="modal-body ng-scope">
            <form novalidate="" name="userform1" ng-submit="form.submitLoan()" autocomplete="off" class="form-validate mb-lg">
                <div class="row">
                    <div class="col-lg-12 col-sm-12 col-md-12">
                        <div class="dd-handle ng-scope">
                            <div class="row">
                                <div class="col-lg-12 col-md-12 col-sm-12">
                                    <label> Query Description : </label>
                                    <br />
                                    <p>{{lblquery_desc}}</p>
                                </div>
                            </div>
                            <br />
                            <div class="row">
                                <div class="col-lg-12 col-md-12 col-sm-12">
                                    <label> Query Response : </label>
                                    <br />
                                    <p>{{lblqueryresponse_remarks}}</p>
                                </div>
                            </div>
                            <br />
                            <div class="row">
                                <div class="col-lg-12 col-md-12 col-sm-12">
                                    <label> Query Response By : </label>
                                    <br />
                                    <p>{{lblquery_responseby}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <br />
                <div class="text-center">
                    <button ng-click="ok()" class="btn btn-danger"><i class="fa icon-close"></i>&nbsp;&nbsp;Close</button>
                </div>
            </form>
        </div>
    </div>
</script>