 <h3>
     Documentation List
 </h3>
<div ng-controller="documentationcontroller">
    <div class="row">
        <div class="col-lg-12 col-sm-12 col-md-12">
            <button title="Add Documentation" class="btn btn-info btn-sm"
                    ng-click="addDocument()">
                <em class="fa fa-plus"></em>&nbsp;Add Documentation
            </button>
        </div>
    </div>
    <br />
    <div class="panel">
        <div class="panel-body">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <div class="col-lg-4 col-md-4 col-sm-4">
                        Showing 1 to {{totalDisplayed}} of {{total}} Entries
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4">

                        Show <input ng-model="pagecount" id="pagecount" type="number" />
                        <button class="btn" id="loadmore" ng-click="loadMore(pagecount)">Load More</button>

                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4">
                        <div class="input-group">
                            <input type="text" ng-model="searchtxt" placeholder="Search Here .." class="form-control input-sm" />
                            <span class="input-group-btn">
                                <button type="submit" class="btn btn-default btn-sm">
                                    <i class="fa fa-search"></i>
                                </button>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <br/>
            <div class="table-responsive">
                <table class="table hover table-striped row-border">
                    <thead>
                        <tr class="bg-primary-light text-white">
                            <th>S.NO</th>
                            <th>Documentation Type</th>
                            <th>Ref.No</th>
                            <th >Documentation Title</th>
                            <th>Created By</th>
                            <th>Created Date</th>
                            <th class="text-nowrap">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="data in documentation_list|filter :searchtxt|limitTo:totalDisplayed">
                            <td data-title="'S.No'">{{$index+1}}</td>
                            <td data-title="Documentation Type " style="width:20%;">{{data.documentation_type}}</td>
                            <td data-title="Documentation Ref.No">{{data.documentation_refno}}</td>
                            <td data-title="Documentation Title" style="width:30%;">{{data.documentation_name}}</td>
                            <td data-title="Created By">{{data.created_by}}</td>
                            <td data-title="Created Date">{{data.created_date}}</td>
                            <td class="text-nowrap">
                                <button title="Edit" class="btn btn-success btn-sm"
                                        ng-click="editdocument(data.customer2document_gid)">
                                    <em class="fa fa-edit"></em>
                                </button>
                                <button title="delete" class="btn btn-danger btn-sm"
                                        ng-click="deleteDocumentation(data.customer2document_gid)">
                                    <em class="fa fa-trash"></em>
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

        </div>

    </div>


    <script type="text/ng-template" id="/addDocumentModalContent.html">
        <md-toolbar>
            <div class="md-toolbar-tools" style="background-color:rgb(63, 110, 181);">
                <h2><em class="fa fa-plus"></em>&nbsp;Add Documentation</h2>
                <span flex></span>

            </div>
        </md-toolbar>
        
        <div class="modal-body ng-scope">
            <div class="pd-sm-10">

                <div class="row">
                    <form name="documentAddform" id="documentAddform" novalidate="" class="form-validate mb-lg" autocomplete="off">

                        <div class="col-lg-12 col-sm-12 col-md-12">
                            <!--<div class="row">
                                <div class="col-lg-12 col-sm-12 col-md-12">
                                    <div class="mda-form-group float-label">
                                        <input ng-model="txtdocumentrefno" class="mda-form-control ng-pristine ng-valid ng-touched" required>
                                        <label>Documentation Ref.No <span style="color:red">*</span></label>
                                    </div>
                                </div>
                            </div>-->
                            <div class="row">
                                <div class="col-lg-12 col-sm-12 col-md-12">
                                    <div class="mda-form-group float-label">
                                        <input ng-model="txtdocumentationname" type="text" class="mda-form-control ng-pristine ng-valid ng-touched" required>
                                        <label>Documentation Title <span style="color:red">*</span></label>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-lg-12 col-sm-12 col-md-12">
                                    <div class="mda-form-group float-label">
                                        <input ng-model="txtdocumentationtype" type="text" class="mda-form-control ng-pristine ng-valid ng-touched"
                                               required>
                                        <label>Documentation Type <span style="color:red">*</span></label>
                                    </div>
                                </div>
                            </div>

                            <div class="class">
                                <div class="text-center">
                                    <button class="btn btn-success" ng-click="documentformSubmit()" ng-disabled="documentAddform.$invalid">
                                        <em class="fa fa-check"></em>
                                        <span>Submit</span>
                                    </button>
                                    <a class="btn btn-danger" ng-click="ok()">
                                        <em class="fa fa-close"></em>
                                        <span>Cancel</span>
                                    </a>
                                </div>
                            </div>
                        </div>

                    </form>
                </div>

            </div>

        </div>
    </script>

    <script type="text/ng-template" id="/EditDocumentModalContent.html">
        <md-toolbar>
            <div class="md-toolbar-tools" style="background-color:rgb(63, 110, 181);">
                <h2><em class="fa fa-edit"></em>&nbsp;Edit Documentation</h2>
                <span flex></span>

            </div>
        </md-toolbar>
       
        <div class="modal-body ng-scope">
            <div class="pd-sm-10">

                <div class="row">
                    <form name="documenteditform" id="documenteditform" novalidate="" class="form-validate mb-lg" autocomplete="off">

                        <div class="col-lg-12 col-sm-12 col-md-12">
                            <div class="row">
                                <div class="col-lg-12 col-sm-12 col-md-12">
                                    <div>
                                        <p>Ref.No : &nbsp;<span class="text-bold">{{txteditdocumentrefno}}</span></p> 
                                    </div>
                                </div>
                            </div>
                            <br/>
                            <div class="row">
                                <div class="col-lg-12 col-sm-12 col-md-12">
                                    <div class="mda-form-group">
                                        <input ng-model="txteditdocumentationname" type="text" class="mda-form-control ng-pristine ng-valid ng-touched" required>
                                        <label>Documentation Title <span style="color:red">*</span></label>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-lg-12 col-sm-12 col-md-12">
                                    <div class="mda-form-group">
                                        <input ng-model="txteditdocumentationtype" type="text" class="mda-form-control ng-pristine ng-valid ng-touched" required>
                                        <label>Documentation Type <span style="color:red">*</span></label>
                                    </div>
                                </div>
                            </div>

                            <div class="class">
                                <div class="text-center">
                                    <button class="btn btn-success" ng-click="documentformUpdate()" ng-disabled="documenteditform.$invalid">
                                        <em class="fa fa-check"></em>
                                        <span>Update</span>
                                    </button>
                                    <a class="btn btn-danger" ng-click="ok()">
                                        <em class="fa fa-close"></em>
                                        <span>Cancel</span>
                                    </a>
                                </div>
                            </div>
                        </div>

                    </form>
                </div>

            </div>

        </div>
    </script>

</div>