
<h3>
    Vendor Consultant Register
</h3>
<div ng-controller="externalregisterViewEdit">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <em class="fa fa-edit"></em>&nbsp; Edit Vendor Consultant
        </div>
        <div class="panel-body">
            <div class="row">
                <form name="registrationForm" id="registrationForm" novalidate="" class="form-validate mb-lg" autocomplete="off">

                    <div class="col-lg-12 col-sm-12 col-md-12">
                        <fieldset>
                            <div class="row">
                                <div class="col-lg-4 col-sm-4 col-md-4">
                                    <div class="form-group float-label">
                                        <label>Vendor Code </label>
                                        <br/>
                                        <p>{{txtexternal_vendorcode}}</p>
                                        
                                    </div>
                                </div>
                                <div class="col-lg-4 col-sm-4 col-md-4">
                                    <div class="form-group float-label">
                                        <label>Vendor Name <span style="color:red">*</span></label>
                                        <input ng-model="txtexternal_vendorName" class="form-control ng-pristine ng-valid ng-touched" required>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-sm-4 col-md-4">
                                    <div class="form-group float-label">
                                        <label>Contact Person <span style="color:red">*</span></label>
                                        <input ng-model="txtcontact_person" class="form-control ng-pristine ng-valid ng-touched" required>
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                        <fieldset>
                            <div class="row">
                                
                                <div class="col-lg-6 col-sm-6 col-md-6">
                                    <div class="form-group float-label">
                                        <label>Email Address <span style="color:red">*</span></label>
                                        <input ng-model="txtemail_ID" type="email"
                                               class="form-control ng-pristine ng-valid ng-touched" required>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-sm-6 col-md-6">
                                    <div class="form-group float-label">
                                        <label>Contact No. <span style="color:red">*</span></label>
                                        <input ng-model="txtcontact_Number" type="number"
                                               class="form-control ng-pristine ng-valid ng-touched" required>
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                        <fieldset>
                            <div class="row">
                                <div class="col-lg-6 col-sm-6 col-md-6 form-group">
                                    <label>Address Line 1 <span style="color:red">*</span></label>
                                    <textarea name="specificcondition" placeholder="Enter Address Line 1..." required
                                              ng-model="txtaddress_line1" class="form-control" rows="4"></textarea>
                                </div>
                                <div class="col-lg-6 col-sm-6 col-md-6 form-group">
                                    <label>Address Line 2 </label>
                                    <textarea name="specificcondition" placeholder="Enter Address Line 2..."
                                              ng-model="txtaddress_line2" class="form-control" rows="4"></textarea>
                                </div>
                            </div>
                        </fieldset>
                        <fieldset>
                            <div class="row">
                                <div class="col-lg-4 col-md-4 col-sm-4">
                                    <div class="form-group float-label">
                                        <label>State</label>
                                        <select id="cbostatename" name="cbostatename" dropzone="" ng-model="cbostategid" required=""
                                                ng-options="data.state_gid as data.state_name for data in statedtl"
                                                class="form-control ng-valid ng-touched ng-valid-parse" ng-change="onchangestate(cbostategid)">
                                            <option value=""> Select State </option>

                                        </select>
                                    </div>
                                </div>

                                <div class="col-lg-4 col-md-4 col-sm-4">
                                    <div class="form-group float-label">
                                        <label>District</label>
                                        <select id="cbodistrictname" name="cbodistrictname" dropzone="" ng-model="cbodistrict_gid" required=""
                                                ng-options="district.district_gid as district.district_name for district in districtdtl"
                                                class="form-control ng-valid ng-touched ng-valid-parse">
                                            <option value=""> Select District </option>

                                        </select>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-4">
                                    <div class="form-group float-label">
                                        <label>Country</label>
                                        <input ng-model="txtcountry" type="text" class="form-control ng-pristine ng-valid ng-touched">
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                        <fieldset>
                            <div class="row">
                                <div class="col-lg-4 col-md-4 col-sm-4">
                                    <div class="form-group float-label">
                                        <label>Postal Code</label>
                                        <input ng-model="txtpostalCode" type="text" class="form-control ng-pristine ng-valid ng-touched">
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                        <div class="row">
                            <div class="text-center">
                                <button class="btn btn-success" ng-click="registrationUpdate()" ng-disabled="registrationForm.$invalid">
                                    <em class="fa fa-check"></em>
                                    <span>Update</span>
                                </button>
                                <a class="btn btn-danger" ng-click="cancel()">
                                    <em class="fa fa-close"></em>
                                    <span>Cancel</span>
                                </a>
                            </div>
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>