<h3>
    Action / Observation Report
</h3>
<div ng-controller="rmObservationReport as dp">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <em class="fa fa-file-o"></em>&nbsp; Action / Observation Report
        </div>
        <form name="sanctionform" id="sanctionform" novalidate="" class="form-validate mb-lg" autocomplete="off">
            <div class="panel-body">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <div class="row col-lg-12 col-sm-12 col-md-12  text-center">

                            <label class="text-primary" style="font-size:16px;">RISK MONITORING DEPARTMENT</label>
                            <br />
                            <p>(Visit Based Initial Report)</p>
                        </div>
                    </div>
                </div>
                <div class="row text-center">
                    <div class="col-lg-4 col-md-4 col-sm-4">

                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4" ng-switch="cboriskcode">
                        <label>Risk Code : </label>
                        <label ng-switch-when="Green" class="label label-success" style="font-size:12px;">Green</label>
                        <label ng-switch-when="Amber" class="label label-warning">Amber</label>
                        <label ng-switch-when="Red" class="label label-danger">Red</label>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4">

                    </div>

                </div>
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <div class="col-lg-4 col-sm-4 col-md-4 form-group float-label">
                            <label>Name Of the Customer </label>
                            <br />
                            <p>{{customer_name}} / {{customer_urn}}</p>
                        </div>
                        <div class="col-lg-4 col-sm-4 col-md-4 form-group float-label">
                            <label>Date of RMD Visit </label>
                            <br />
                            <p>{{visit_date}}</p>
                        </div>
                        <div class="col-lg-4 col-sm-4 col-md-4 form-group float-label">
                            <label>Report Pertaining to <span style="color:red">*</span></label>
                            <br />
                            <input ng-model="txtreportpertaining" class="form-control ng-pristine ng-valid ng-touched" required>
                            <!--<textarea name="reportpertaining" required
                                      ng-model="txtreportpertaining" class="form-control" rows="2"></textarea>-->

                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <div class="col-lg-4 col-sm-4 col-md-4">
                            <label>Vertical </label>
                            <br />
                            <p>{{vertical_code}}</p>
                        </div>
                        <div class="col-lg-4 col-sm-4 col-md-4">
                            <label>Disbursement Amount </label>
                            <br />
                            <p>{{disbursement_amount}}</p>
                        </div>
                        <div class="col-lg-4 col-sm-4 col-md-4 ">
                            <div class="form-group">
                                <label>Approving Authority <span style="color:red">*</span></label>
                                <div class="col">
                                    <p class="mda-radio">
                                        <input type="radio" name="approval_authority" ng-model="cboapproval_authority" value="CC1">
                                        <em class="bg-teal-500"></em> CC1
                                    </p>
                                </div>
                                <div class="col">
                                    &nbsp; &nbsp;
                                </div>
                                <div class="col">
                                    <p class="mda-radio">
                                        <input type="radio" name="approval_authority" ng-model="cboapproval_authority" value="CC2">
                                        <em class="bg-teal-500"></em> CC2
                                    </p>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <div class="col-lg-4 col-sm-3 col-md-3 form-group float-label">
                            <label>Loan Sanction Date <span style="color:red">*</span></label>
                            <p class="input-group">
                                <input type="text" datepicker-popup="{{dp.format}}" ng-model="txtsanction_date" is-open="dp.open1"
                                       datepicker-options="dp.dateOptions" ng-required="true"
                                       close-text="Close" class="form-control" />
                                <span class="input-group-btn">
                                    <button type="button" ng-click="dp.calender1($event)" class="btn btn-default">
                                        <em class="fa fa-calendar"></em>
                                    </button>
                                </span>
                            </p>
                        </div>
                        <div class="col-lg-4 col-sm-4 col-md-4 ">
                            <div class="form-group">
                                <label>RM Name  </label>
                                <br />
                                <p>{{relationship_manager_name}}</p>
                            </div>
                        </div>
                        <div class="col-lg-4 col-sm-4 col-md-4 ">
                            <div class="form-group">
                                <label>PPA Name  <span style="color:red">*</span></label>
                                <br />
                                <input ng-model="txtPPA_name" class="form-control ng-pristine ng-valid ng-touched" required>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <div class="col-lg-4 col-sm-4 col-md-4 ">
                            <div class="form-group">
                                <label>RMD Visit Official Name	</label>
                                <br />
                                <p>{{RMD_visitname}}</p>
                            </div>
                        </div>
                        <div class="col-lg-4 col-sm-4 col-md-4 ">
                            <div class="form-group">
                                <label>Loan Disbursement Date </label>
                                <br />
                                <p>{{disbursement_date}}</p>
                            </div>
                        </div>
                        <div class="col-lg-4 col-sm-4 col-md-4 ">
                            <div class="form-group">
                                <label>People who accompanied RMD <span style="color:red">*</span></label>
                                <input ng-model="txtpeopleaccompanied_RMD" class="form-control ng-pristine ng-valid ng-touched" required>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <div class="col-lg-4 col-sm-4 col-md-4 ">
                            <div class="form-group">
                                <label>Sanction Amount  </label>
                                <br />
                                <p>{{sanction_amount}}</p>
                            </div>
                        </div>
                        <div class="col-lg-4 col-sm-4 col-md-4">
                            <div class="form-group float-label">
                                <label>Outstanding Amount <span style="color:red">*</span></label>
                                <br/>
                                <p ng-model="txtoutstanding_amount">{{txtoutstanding_amount}}</p>
                                <!--<input id="outstanding_amount" ng-model="txtoutstanding_amount" class="form-control ng-pristine ng-valid ng-touched"
                                       ng-change="outstandingamountchange()" required style="text-align:right;">
                                <label><span style="color:#ff001882;">* Accept Number Format Only</span></label>-->
                            </div>
                        </div>

                        <div class="col-lg-4 col-sm-4 col-md-4 ">
                            <div class="form-group">
                                <label>Current DPD / Overdue </label>
                                <input ng-model="txtcurrent_DPD" class="form-control ng-pristine ng-valid ng-touched" required>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 form-group">
                        <label class="text-primary" style="text-decoration:underline;">
                            Name of Personnel who was met :
                        </label>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 form-group">

                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <label>Contact Details 1: <span style="color:red">*</span></label>
                            <textarea name="specificcondition" placeholder="Enter Contact Details 1..." required
                                      ng-model="txtcontact_details1" class="form-control" rows="3"></textarea>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <label>Contact Details 2:  <span style="color:red">*</span></label>
                            <textarea name="specificcondition" placeholder="Enter Contact Details 2..." required
                                      ng-model="txtcontact_details2" class="form-control" rows="3"></textarea>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 form-group">
                        <p>
                            During the visit, the following critical observations were made. Based on our discussions thereafter,
                            we have tabulated the actionable along with the observations for sake of clarity and tracking.
                        </p>
                        <div class="row">
                            <div class="col-lg-12 col-sm-12 col-md-12">
                                <button title="Add" class="btn btn-info btn-sm"
                                        ng-click="observations(customer_name,customer_urn)">
                                    <em class="fa fa-plus"></em>&nbsp;Add
                                </button>
                            </div>
                        </div>
                        <br />
                        <div class="col-lg-12">
                            <div class="table-responsive table-bordered">
                                <table class="table">
                                    <thead class="bg-indigo-400">
                                        <tr>
                                            <th>S.No</th>
                                            <th colspan="2">Criteria </th>
                                            <th colspan="2">RMD Observations</th>
                                            <th colspan="2">Actionable Recommended </th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody  ng-repeat="data in criticalobservation">
                                        <tr>
                                            <td> {{$index+1}} </td>
                                            <td colspan="2">
                                                <textarea name="specificcondition"
                                                          ng-model="data.criteria" class="form-control"
                                                          rows="3" disabled></textarea>
                                            </td>
                                            <td colspan="2">
                                                <textarea name="specificcondition"
                                                          ng-model="data.RMD_observations" class="form-control"
                                                          rows="3" disabled></textarea>
                                            </td>
                                            <td colspan="2">
                                                <textarea name="specificcondition"
                                                          ng-model="data.actionable_recommended" class="form-control"
                                                          rows="3" disabled></textarea>

                                            </td>
                                            <td ng-switch="trn_status">
                                                <button ng-switch-when="N" title="delete" class="btn btn-danger btn-sm"
                                                        ng-click="deleteCriticalObservation(data.tmpcritical_observationgid)">
                                                    <em class="fa fa-trash"></em>
                                                </button>
                                                <button  ng-switch-when="Y" title="trndelete" class="btn btn-danger btn-sm"
                                                        ng-click="trndeleteCriticalObservation(data.critical_observationgid)">
                                                    <em class="fa fa-trash"></em>
                                                </button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div ng-switch="subbutton"  class="text-center">
                    <a ng-switch-when="Y" class="btn btn-success" ng-click="observationreportSubmit()" ng-disabled="sanctionform.$invalid">
                        <em class="fa fa-check"></em>
                        <span>Submit</span>
                    </a>
                    <a ng-switch-when="N" class="btn btn-success" ng-click="observationreportSubmit()" ng-disabled="sanctionform.$invalid">
                        <em class="fa fa-check"></em>
                        <span>Update</span>
                    </a>
                    <a class="btn btn-info" href="#/app/rmVisitReport">
                        <em class="fa fa-arrow-left"></em>
                        <span>Back</span>
                    </a>

                </div>
            </div>
            <br />
        </form>
    </div>
    <script type="text/ng-template" id="/criticalobservationModal.html">
        <md-toolbar>
            <div class="md-toolbar-tools" style="background-color:rgb(63, 110, 181);">
                <h2><em class="fa fa-plus"></em>&nbsp;Critical Observations </h2>
                <span flex></span>

            </div>
        </md-toolbar>

        <div class="modal-body ng-scope">
            <div class="pd-sm-10">

                <div class="row">
                    <form name="criticalobservationadd" id="criticalobservationadd" novalidate="" class="form-validate mb-lg" autocomplete="off">

                        <div class="col-lg-12 col-sm-12 col-md-12">
                            <div class="row">
                                <div class="col-lg-12 col-sm-12 col-md-12 text-center">
                                    <label class="text-primary">{{customer_name}} / {{customer_urn}}</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12 col-sm-12 col-md-12">
                                    <label>Criteria <span style="color:red">*</span> </label>
                                    <textarea name="specificcondition" required
                                              ng-model="txtcriteria" class="form-control" rows="4"></textarea>

                                </div>

                            </div>
                            <br />
                            <div class="row">
                                <div class="col-lg-12 col-sm-12 col-md-12">
                                    <label>RMD Observations <span style="color:red">*</span> </label>
                                    <textarea name="specificcondition" required
                                              ng-model="txtRMD_observations" class="form-control" rows="4"></textarea>
                                </div>

                            </div>
                            <br />
                            <div class="row">
                                <div class="col-lg-12 col-sm-12 col-md-12">
                                    <label>Actionable Recommended <span style="color:red">*</span> </label>
                                    <textarea name="specificcondition" required
                                              ng-model="txtactionable_recommend" class="form-control" rows="4"></textarea>
                                </div>
                            </div>
                            <br />
                            <!--<div class="row">
                                <div class="col-lg-12 col-sm-12 col-md-12">
                                    <label>Relationship Manager Remarks <span style="color:red">*</span></label>
                                    <textarea name="specificcondition" placeholder="Enter Remarks..." required
                                              ng-model="txtrelationshipmangerremarks" class="form-control" rows="3"></textarea>
                                </div>
                            </div>-->
                            <br />
                            <div class="class">
                                <div  class="text-center">
                                    <button  class="btn btn-success" ng-click="criticalobservationsubmit()" ng-disabled="criticalobservationadd.$invalid">
                                        <em class="fa fa-check"></em>
                                        <span>Submit</span>
                                    </button>
                                    <a class="btn btn-danger" ng-click="ok()">
                                        <em class="fa fa-close"></em>
                                        <span>Cancel</span>
                                    </a>
                                </div>
                            </div>
                        </div>

                    </form>
                </div>

            </div>

        </div>
    </script>
</div>