<h3>
    Tier 2 Preparation - View
</h3>
<div ng-controller="tier2PreparationView">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <em class="fa fa-eye"></em>&nbsp; Tier 2 Preparation - View
        </div>
        <div class="panel-body">
            <div class="col-lg-12 col-sm-12 col-md-12" ng-show="viewtier2dtl">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 text-center">
                        <label class="text-inverse text-bold" style="font-size:15px;">Zonal : <span class="text-primary text-bold">{{zonal_name}}</span></label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4 col-sm-4 col-md-4 form-group float-label">
                        <label>Month </label>
                        <br />
                        <input type="text" ng-model="monthname" class="form-control" disabled />
                    </div>
                    <div class="col-lg-4 col-sm-4 col-md-4 form-group float-label">
                        <label>Vertical </label>
                        <br />
                        <input type="text" ng-model="vertical" class="form-control" disabled />
                    </div>
                    <div class="col-lg-4 col-sm-4 col-md-4 form-group float-label">
                        <label>Head RMD </label>
                        <br />
                        <input type="text" ng-model="headRMD_name" class="form-control" disabled />
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <div class="table-responsive table-striped table-bordered table-hover">
                            <table class="table">
                                <thead class="bg-indigo-100">
                                    <tr>
                                        <th>Tier 1 Approved Date</th>
                                        <th>URN</th>
                                        <th>Customer Name</th>
                                        <th>Tier 2 Code</th>
                                        <th>Risk Manager</th>
                                        <th>Risk Code-History</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="data in tierallocationdtl">
                                        <td>{{data.tier1_approveddate}}</td>
                                        <td>{{data.customer_urn}}</td>
                                        <td>{{data.customer_name}}</td>
                                        <td>{{data.tier2_code}}</td>
                                        <td>{{data.riskmanager}}</td>
                                        <td>
                                            <button title="Risk Code-History" class="btn btn-primary btn-sm"
                                                    ng-click="riskcodehistory(data.allocationdtl_gid,data.customer_name,data.customer_urn,data.tier2_code)">
                                                <em class="fa fa-history"></em>
                                            </button>
                                        </td>
                                        <td>
                                            <button title="Allocation 360" class="btn btn-primary btn-sm"
                                                    ng-click="viewcustomerdtl(data.allocationdtl_gid,data.tier1format_gid)">
                                                <em class="fa fa-retweet"></em>
                                            </button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <label> Tier 2 Remarks: </label>
                        <textarea name="remarks" placeholder="Enter Remarks..." disabled
                                  ng-model="txttier2_remarks" class="form-control" rows="3"></textarea>
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <label> Document Upload </label>
                        <div ng-repeat="document in uploaddocument_list">
                            <div class="list-group-item">
                                <div class="media-box-body clearfix">
                                    <div class="col-lg-12 col-sm-12 col-md-12">

                                        <div class="row">
                                            <div class="col-lg-2 col-sm-2 col-md-2">
                                                <label>Document Type </label>
                                            </div>
                                            <div class="col-lg-4 col-sm-4 col-md-4">
                                                {{document.document_title}}
                                            </div>
                                            <div class="col-lg-2 col-sm-2 col-md-2">
                                                <label>Document Name </label>
                                            </div>
                                            <div class="col-lg-4 col-sm-4 col-md-4">
                                                {{document.document_name}}
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-2 col-sm-2 col-md-2">
                                                <label>Uploaded By</label>
                                            </div>
                                            <div class="col-lg-4 col-sm-4 col-md-4">
                                                {{document.created_by}}
                                            </div>
                                            <div class="col-lg-2 col-sm-2 col-md-2">
                                                <label>Uploaded Date</label>
                                            </div>
                                            <div class="col-lg-4 col-sm-4 col-md-4">
                                                {{document.created_date}}
                                            </div>
                                            <div class="row">
                                                <div class="col-lg-6 col-sm-6 col-md-6">
                                                    <a title="Download" class="btn btn-green btn-sm" download="" href="" id="btnpdf"
                                                       ng-click="downloads(document.document_path,document.document_name)">
                                                        <em class="fa fa-download"></em>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>

                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <br />
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <label class="text-primary" style="font-size:16px;">Tier 2 - Approval History </label>
                    </div>
                    <br />
                    <div class="col-lg-12" ng-repeat="data in tier2approvallog" ng-show="historyapproval">
                        <div class="list-group-item">
                            <div class="media-box-body clearfix">
                                <div class="row">
                                    <div class="col-lg-12 col-sm-12 col-md-12">
                                        <h4 class="popover-title">{{data.approval_status}} On {{data.approved_date}} by {{data.approved_by}}</h4>
                                        <div class="popover-content">
                                            <p><span class="text-bold">Approval Remarks:</span> {{data.approval_remarks}}</p>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12" ng-show="nohistoryapproval">

                        <div class="list-group-item">
                            <div class="media-box-body clearfix">
                                <div class="row">
                                    <div class="col-lg-12 col-sm-12 col-md-12">
                                        <h4 class="popover-title">No Approval History</h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <br />
                <div class="class text-center">

                    <a class="btn btn-info" href="#/app/tier2Preparation">
                        <em class="fa fa-arrow-left"></em>
                        <span>Back</span>
                    </a>
                </div>
            </div>
            <div class="row" ng-show="edittier2dtl">
                <form name="tier2Addform" id="tier2Addform" novalidate="" class="form-validate mb-lg" autocomplete="off">

                    <div class="col-lg-12 col-sm-12 col-md-12">
                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12 text-center">
                                <label class="text-inverse text-bold" style="font-size:15px;">Zonal : <span class="text-primary text-bold">{{zonal_name}}</span></label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-4 col-sm-4 col-md-4 form-group float-label">
                                <label>Month <span style="color:red">*</span></label>
                                <select id="cbomonthname" name="cbomonthname" dropzone="" ng-model="cbomonth"  disabled ng-change="monthchange(cbomonth)"
                                        ng-options="data.month as data.month_name for data in monthname_list"
                                        class="form-control ng-valid ng-touched ng-valid-parse">
                                    <option value=""> Select Month </option>

                                </select>

                            </div>
                            <div class="col-lg-4 col-sm-4 col-md-4 form-group float-label">
                                <label>Vertical <span style="color:red">*</span></label>
                                <select id="cboverticalname" name="cboverticalname" dropzone="" ng-model="cbovertical_gid" disabled 
                                        ng-change="verticalchange(cbovertical_gid)"
                                        ng-options="data.vertical_gid as data.vertical_code for data in vertical_list"
                                        class="form-control ng-valid ng-touched ng-valid-parse">
                                    <option value=""> Select Vertical </option>

                                </select>
                            </div>
                            <div class="col-lg-4 col-sm-4 col-md-4 form-group float-label">
                                <label>Head RMD <span style="color:red">*</span></label>
                                <select id="cboemployeename" name="cboemployeename" dropzone="" ng-model="cboemployeegid"
                                        ng-options="data.employee_gid as data.employee_name for data in employee_list" disabled
                                        class="form-control ng-valid ng-touched ng-valid-parse">
                                    <option value=""> Select Head RMD </option>
                                </select>
                            </div>
                        </div>
                        <br />
                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12">
                                <div class="table-responsive table-striped table-bordered table-hover">
                                    <table class="table">
                                        <thead class="bg-indigo-100">
                                            <tr>
                                                <th>Tier 1 Approved Date</th>
                                                <th>URN</th>
                                                <th>Customer Name</th>
                                                <th>Tier 2 Code</th>
                                                <th>Risk Manager</th>
                                                <!--<th>Tier 2-Code Change</th>-->
                                                <th>Edit Risk Code</th>
                                                <th>Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="data in tierallocationdtl">
                                                <td>{{data.tier1_approveddate}}</td>
                                                <td>{{data.customer_urn}}</td>
                                                <td>{{data.customer_name}}</td>
                                                <td>{{data.tier2_code}}</td>
                                                <td>{{data.riskmanager}}</td>
                                                <!--<td>{{data.tier2_codechange}}</td>-->
                                                <td>
                                                    <button title="Edit Risk Code" class="btn btn-primary btn-sm"
                                                            ng-click="riskcodechange(data.allocationdtl_gid,data.tierallocation_gid,data.tier2preparation_gid,data.customer_name,data.customer_urn,data.tier2_code)">
                                                        <em class="fa fa-edit"></em>
                                                    </button>
                                                </td>
                                                <td>
                                                    <button title="Allocation 360" class="btn btn-primary btn-sm"
                                                            ng-click="viewcustomerdtl(data.allocationdtl_gid,data.tier1format_gid)">
                                                        <em class="fa fa-retweet"></em>
                                                    </button>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                             
                        </div>
                       
                        <div class="row">
                            <br />
                        </div>
                        <div class="row">
                            
                            <div class="col-lg-12 col-md-12 col-sm-12">
                                
                                <label> Remarks: <span style="color:red">*</span></label>
                                <textarea name="remarks" placeholder="Enter Remarks..." required
                                          ng-model="txttier2_remarks" class="form-control" rows="4"></textarea>
                            </div>
                        </div>
                        <br />
                        
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-6">
                                <div class="lead text-primary text-bold">
                                    &nbsp;  <em class="fa fa-file-powerpoint-o  text-danger fa-md"></em>   &nbsp;
                                    <label class="text-primary" style="font-size:16px;">Document Upload</label>
                                </div>
                                <div class="row">
                                    <div class="col-lg-6 col-sm-6 col-md-6">
                                        <div class="form-group float-label">
                                            <label>Document Title <span style="color:red">*</span></label>
                                            <input ng-model="txtdocument_title" class="form-control ng-pristine ng-valid ng-touched">
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-sm-4 col-md-4">
                                        <label> Document Upload <span style="color:red">*</span></label>
                                        <input type="file" id="addExternalupload" ng-model="test_document" multiple
                                               onchange="angular.element(this).scope().uploaddocument(this.files, angular.element(this).scope().documentupload, this.name)"
                                               data-classbutton="btn btn-default" data-classinput="form-control inline" data-button-text="Select"
                                               accept="images/jpg,images/jpeg,images/tif,images/tiff,images/pdf" />
                                    </div>

                                </div>
                                <div class="row">
                                    <br />
                                    <div class="col-lg-11 col-sm-12 col-md-12">
                                        <div ui-scroll-viewport="" style="height:245px; overflow-y: auto;" class="row">
                                            <div class="col-lg-12 col-sm-12 col-md-12">
                                                <div class="table-responsive table-striped table-bordered table-hover">
                                                    <table class="table">
                                                        <thead class="bg-indigo-100">
                                                            <tr>
                                                                <th>Document Title</th>
                                                                <th>Document Name</th>
                                                                <th>Action</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr ng-repeat="upload in uploaddocument_list">
                                                                <td>{{upload.document_title}}</td>
                                                                <td>{{upload.document_name}}</td>
                                                                <td>
                                                                    <button title="Cancel" class="btn btn-danger btn-sm"
                                                                            ng-click="uploadcancel(upload.tier2document_gid)">
                                                                        <em class="fa fa-close"></em>
                                                                    </button>
                                                                    <button title="Download" class="btn btn-success btn-sm"
                                                                            ng-click="downloads(upload.document_path,upload.document_name)">
                                                                        <em class="fa fa-download"></em>
                                                                    </button>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6">
                                <div class="col-lg-12 col-md-12 col-sm-12" ng-show="historyapproval">
                                    <label class="text-primary" style="font-size:16px;">Tier 2 - Approval History </label>
                                </div>
                                
                                <div class="col-lg-12" ng-repeat="data in tier2approvallog" ng-show="historyapproval">
                                    <br />
                                    <div class="list-group-item">
                                        <div class="media-box-body clearfix">
                                            <div class="row">
                                                <div class="col-lg-12 col-sm-12 col-md-12">
                                                    <h4 class="popover-title">{{data.approval_status}} On {{data.approved_date}} by {{data.approved_by}}</h4>
                                                    <div class="popover-content">
                                                        <p><span class="text-bold">Approval Remarks:</span> {{data.approval_remarks}}</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!--<div class="col-lg-12" ng-show="nohistoryapproval">

                                    <div class="list-group-item">
                                        <div class="media-box-body clearfix">
                                            <div class="row">
                                                <div class="col-lg-12 col-sm-12 col-md-12">
                                                    <h4 class="popover-title">No Approval History</h4>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>-->
                            </div>
                        </div>

                        <br />
                        <div class="class">
                            <div class="text-center">
                                <button class="btn btn-success" ng-click="updatetier2()" ng-disabled="tier2Addform.$invalid">
                                    <em class="fa fa-check"></em>
                                    <span>Update</span>
                                </button>
                                <a class="btn btn-danger" href="#/app/tier2Preparation">
                                    <em class="fa fa-close"></em>
                                    <span>Cancel</span>
                                </a>
                                <a class="btn btn-info" href="#/app/tier2Preparation">
                                    <em class="fa fa-arrow-left"></em>
                                    <span>Back</span>
                                </a>
                            </div>
                        </div>
                    </div>

                </form>
            </div>
        </div>

    </div>

    <script type="text/ng-template" id="/riskcodechangeModal.html">
        <md-toolbar>
            <div class="md-toolbar-tools" style="background-color:rgb(63, 110, 181);">
                <h2><em class="fa fa-edit"></em>&nbsp;Edit Risk Code </h2>
                <span flex></span>

            </div>
        </md-toolbar>

        <div class="modal-body ng-scope">
            <div class="pd-sm-10">

                <div class="row">
                    <form name="criticalobservationadd" id="criticalobservationadd" novalidate="" class="form-validate mb-lg" autocomplete="off">

                        <div class="col-lg-12 col-sm-12 col-md-12">
                            <div class="row">
                                <div class="col-lg-12 col-sm-12 col-md-12 text-center">
                                    <label class="text-primary">{{customer_name}} / {{customer_urn}}</label>
                                </div>
                            </div>
                            <div class="row text-center">

                                <div class="col-lg-6 col-md-6 col-sm-6">
                                    <div class="form-group">

                                        <div class="col">
                                            <label>Risk Code <span style="color:red">*</span></label> &emsp;
                                            <p class="mda-radio">
                                                <input ng-model="cboriskcode" type="radio" name="radio_status"
                                                       value="Green" required ng-change="cboriskcodechange(cboriskcode)">
                                                <em class="bg-teal-500"></em><span class="label label-success">Green</span>
                                            </p>
                                        </div>
                                        <div class="col">
                                            &nbsp; &nbsp;
                                        </div>
                                        <div class="col">
                                            <p class="mda-radio">
                                                <input ng-model="cboriskcode" type="radio" name="radio_status"
                                                       value="Amber" required ng-change="cboriskcodechange(cboriskcode)">
                                                <em class="bg-teal-500"></em><span class="label label-warning">Amber</span>
                                            </p>
                                        </div>
                                        <div class="col">
                                            &nbsp; &nbsp;
                                        </div>
                                        <div class="col">
                                            <p class="mda-radio">
                                                <input ng-model="cboriskcode" type="radio" name="radio_status"
                                                       value="Red" required ng-change="cboriskcodechange(cboriskcode)">
                                                <em class="bg-teal-500"></em><span class="label label-danger">Red</span>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-4">

                                </div>

                            </div>
                            <div class="row" ng-show="codechangereasonshow">
                                <div class="col-lg-12 col-md-12 col-sm-12">
                                    <div class="form-group float-label">
                                        <label>Risk Code - Change Reason <span style="color:red">*</span></label>
                                        <textarea name="specificcondition" placeholder="Enter Reason..." id="idcodechange"
                                                  ng-model="txtcode_changereason" class="form-control" rows="3"></textarea>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="text-center">
                                        <button class="btn btn-success" ng-click="riskcodechangesubmit()" ng-disabled="criticalobservationadd.$invalid">
                                            <em class="fa fa-check"></em>
                                            <span>Update</span>
                                        </button>
                                        <a class="btn btn-danger" ng-click="ok()">
                                            <em class="fa fa-close"></em>
                                            <span>Cancel</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <br />
                            <div class="row">
                                <div class="col-lg-12 col-sm-12 col-md-12">
                                    <div class="table-responsive table-striped table-bordered table-hover">
                                        <table class="table">
                                            <thead class="bg-indigo-100">
                                                <tr>
                                                    <th>Stage</th>
                                                    <th>Risk Code</th>
                                                    <th>Risk Code - Change Reason</th>
                                                    
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr ng-repeat="data in tiercodedtl" ng-switch="{{data.delete_flag}}">
                                                    <td>{{data.tier_stage}}</td>
                                                    <td>{{data.tier_code}}</td>
                                                    <td>{{data.tiercode_changereason}}</td>
                                                     
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>

                            </div>

                            <div class="class">
                                <div class="text-center">
                                    <br/>
                                    <a class="btn btn-danger" ng-click="ok()">
                                        <em class="fa fa-close"></em>
                                        <span>Close</span>
                                    </a>
                                </div>
                            </div>
                        </div>

                    </form>
                </div>

            </div>

        </div>
    </script>

    <script type="text/ng-template" id="/riskcodeHistoryModal.html">
        <md-toolbar>
            <div class="md-toolbar-tools" style="background-color:rgb(63, 110, 181);">
                <h2><em class="fa fa-history"></em>&nbsp;Risk Code - History </h2>
                <span flex></span>

            </div>
        </md-toolbar>

        <div class="modal-body ng-scope">
            <div class="pd-sm-10">

                <div class="row">
                    <form name="criticalobservationadd" id="criticalobservationadd" novalidate="" class="form-validate mb-lg" autocomplete="off">

                        <div class="col-lg-12 col-sm-12 col-md-12">
                            <div class="row">
                                <div class="col-lg-12 col-sm-12 col-md-12 text-center">
                                    <label class="text-bold" style="font-size:16px;">{{customer_name}} / {{customer_urn}}</label>

                                </div>
                            </div>
                            <div class="row">

                                <div class="col-lg-12 col-md-12 col-sm-12  text-center" ng-switch="cboriskcode">
                                    <label>Risk Code : </label>
                                    <label ng-switch-when="Green" class="label label-success" style="font-size:12px;">Green</label>
                                    <label ng-switch-when="Amber" class="label label-warning">Amber</label>
                                    <label ng-switch-when="Red" class="label label-danger">Red</label>
                                </div>

                            </div>
                            <br />
                            <div class="row">
                                <div class="col-lg-12 col-sm-12 col-md-12">
                                    <div class="table-responsive table-striped table-bordered table-hover">
                                        <table class="table">
                                            <thead class="bg-indigo-100">
                                                <tr>
                                                    <th>Stage</th>
                                                    <th>Risk Code</th>
                                                    <th>Risk Code - Change Reason</th>

                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr ng-repeat="data in tiercodedtl">
                                                    <td>{{data.tier_stage}}</td>
                                                    <td>{{data.tier_code}}</td>
                                                    <td>{{data.tiercode_changereason}}</td>

                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>

                            </div>

                            <div class="class">
                                <div class="text-center">
                                    <br />
                                    <a class="btn btn-danger" ng-click="ok()">
                                        <em class="fa fa-close"></em>
                                        <span>Close</span>
                                    </a>
                                </div>
                            </div>
                        </div>

                    </form>
                </div>

            </div>

        </div>
    </script>
</div>
