<h3>
    Allocation Transfer - Approval
</h3>
<div ng-controller="transferApproval360controller">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <em class="fa fa-retweet"></em>&nbsp; Allocation 360
        </div>
        <form name="sanctionform" id="sanctionform" novalidate="" class="form-validate mb-lg" autocomplete="off">
            <div class="panel-body">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <div class="row col-lg-12 col-sm-12 col-md-12  text-center">

                            <label class="text-primary" style="font-size:16px;">{{customerdetails.customerNameedit}}</label>
                            <br />
                            URN No:&nbsp;<label class="text-pink" style="font-size:16px;">{{customer_urn}}</label>
                        </div>
                        <!--<div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12">
                                <div class="lead bb text-primary text-bold">
                                    &nbsp;  <em class="fa fa-share-square-o  text-danger fa-lg"></em>   &nbsp;
                                    <label class="text-primary" style="font-size:16px;">Allocation Details</label>
                                </div>
                                <div class="col-lg-12 col-sm-12 col-md-12">
                                    <div class="row">
                                        <div class="col-lg-12 col-sm-12 col-md-12">
                                            <div class="col-lg-6 col-sm-6 col-md-6">
                                                <label>State </label>
                                                <br />
                                                <p>{{state_name}}</p>
                                            </div>
                                            <div class="col-lg-6 col-sm-6 col-md-6">
                                                <label>District</label>
                                                <br />
                                                <p>{{district_name}}</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-12 col-sm-12 col-md-12">
                                            <div class="col-lg-6 col-sm-6 col-md-6">
                                                <label>Zonal Risk Manager </label>
                                                <p>{{ZonalRMname}}</p>
                                            </div>
                                            <div class="col-lg-6 col-sm-6 col-md-6">
                                                <label>Allocate RM Name </label>
                                                <p>{{assigned_RM}}</p>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>-->
                    </div>
                </div>

                <div class="col-lg-12 col-sm-12 col-md-12">
                    <div class="lead bb text-primary text-bold">
                        &nbsp;  <em class="fa fa-user  text-danger fa-lg"></em>   &nbsp;
                        <label class="text-primary" style="font-size:16px;">Customer Details</label>
                    </div>

                    <div class="panel-body">
                        <div class="container-fluid">
                            <div class="row">

                                <div class="animated fadeInLeft anim-delay-5">
                                    <div class="row">

                                        <div class="col-sm-6 col-md-6 col-lg-6">
                                            <div class="row">
                                                <div class="col-sm-12 col-md-12 col-lg-12">
                                                    <div class="col-lg-4 col-sm-4 col-md-4">
                                                        <label class="col-form-label">Contact Person </label>
                                                    </div>
                                                    <div class="col-lg-8 col-sm-8 col-md-8">
                                                        {{customerdetails.contactPersonedit}}
                                                    </div>
                                                </div>
                                            </div>
                                            <br />
                                            <div class="row">
                                                <div class="col-sm-12 col-md-12 col-lg-12">
                                                    <div class="col-lg-4 col-sm-4 col-md-4">
                                                        <label class="col-form-label">Contact Number </label>
                                                    </div>
                                                    <div class="col-lg-8 col-sm-8 col-md-8">
                                                        {{customerdetails.mobileNoedit}}
                                                    </div>
                                                </div>
                                            </div>
                                            <br />
                                            <div class="row">
                                                <div class="col-sm-12 col-md-12 col-lg-12">
                                                    <div class="col-lg-4 col-sm-4 col-md-4">
                                                        <label class="col-form-label">Address Line 1</label>
                                                    </div>
                                                    <div class="col-lg-8 col-sm-8 col-md-8">
                                                        {{customerdetails.addressline1edit}}
                                                    </div>
                                                </div>
                                            </div>
                                            <br />
                                            <div class="row">
                                                <div class="col-sm-12 col-md-12 col-lg-12">
                                                    <div class="col-lg-4 col-sm-4 col-md-4">
                                                        <label class="col-form-label">Address Line 2</label>
                                                    </div>
                                                    <div class="col-lg-8 col-sm-8 col-md-8">
                                                        {{customerdetails.addressline2edit}}
                                                    </div>
                                                </div>
                                            </div>
                                            <br />
                                            <div class="row">
                                                <div class="col-sm-12 col-md-12 col-lg-12">
                                                    <div class="col-lg-4 col-sm-4 col-md-4">
                                                        <label class="col-form-label">Vertical</label>
                                                    </div>
                                                    <div class="col-lg-8 col-sm-8 col-md-8">
                                                        {{customerdetails.vertical_code}}
                                                    </div>
                                                </div>
                                            </div>
                                            <!--<br />
                                            <div class="row">
                                                <div class="col-sm-12 col-md-12 col-lg-12">
                                                    <div class="col-lg-4 col-sm-4 col-md-4">
                                                        <label class="col-form-label">Zonal / State</label>
                                                    </div>
                                                    <div class="col-lg-8 col-sm-8 col-md-8">
                                                        {{zonal_name}} / {{state_name}}
                                                    </div>
                                                </div>
                                            </div>
                                            <br />
                                            <div class="row">
                                                <div class="col-sm-12 col-md-12 col-lg-12">
                                                    <div class="col-lg-4 col-sm-4 col-md-4">
                                                        <label class="col-form-label">District</label>
                                                    </div>
                                                    <div class="col-lg-8 col-sm-8 col-md-8">
                                                        {{district_name}}
                                                    </div>
                                                </div>
                                            </div>-->
                                        </div>

                                        <div class="col-sm-6 col-md-6 col-lg-6">
                                            <div class="row">
                                                <div class="col-sm-12 col-md-12 col-lg-12">
                                                    <div class="col-lg-4 col-sm-4 col-md-4">
                                                        <label class="col-form-label">Zonal Head</label>
                                                    </div>
                                                    <div class="col-lg-8 col-sm-8 col-md-8">
                                                        {{customerdetails.zonal_name}}
                                                    </div>
                                                </div>
                                            </div>
                                            <br />
                                            <div class="row">
                                                <div class="col-sm-12 col-md-12 col-lg-12">
                                                    <div class="col-lg-4 col-sm-4 col-md-4">
                                                        <label class="col-form-label">Business Head</label>
                                                    </div>
                                                    <div class="col-lg-8 col-sm-8 col-md-8">
                                                        {{customerdetails.businesshead_name}}
                                                    </div>
                                                </div>
                                            </div>
                                            <br />
                                            <div class="row">
                                                <div class="col-sm-12 col-md-12 col-lg-12">
                                                    <div class="col-lg-4 col-sm-4 col-md-4">
                                                        <label class="col-form-label">Cluster Manager</label>
                                                    </div>
                                                    <div class="col-lg-8 col-sm-8 col-md-8">
                                                        {{customerdetails.cluster_manager_name}}
                                                    </div>
                                                </div>
                                            </div>
                                            <br />
                                            <div class="row">
                                                <div class="col-sm-12 col-md-12 col-lg-12">
                                                    <div class="col-lg-4 col-sm-4 col-md-4">
                                                        <label class="col-form-label">Relationship Manager</label>
                                                    </div>
                                                    <div class="col-lg-8 col-sm-8 col-md-8">
                                                        {{customerdetails.relationshipmgmt_name}}
                                                    </div>
                                                </div>
                                            </div>
                                            <br />
                                            <div class="row">
                                                <div class="col-sm-12 col-md-12 col-lg-12">
                                                    <div class="col-lg-4 col-sm-4 col-md-4">
                                                        <label class="col-form-label">Credit Manager</label>
                                                    </div>
                                                    <div class="col-lg-8 col-sm-8 col-md-8">
                                                        {{customerdetails.creditmanager_name}}
                                                    </div>
                                                </div>
                                            </div>
                                            <!--<br />
                                            <div class="row">
                                                <div class="col-sm-12 col-md-12 col-lg-12">
                                                    <div class="col-lg-4 col-sm-4 col-md-4">
                                                        <label class="col-form-label">Zonal Risk Manager</label>
                                                    </div>
                                                    <div class="col-lg-8 col-sm-8 col-md-8">
                                                        {{ZonalRMname}}
                                                    </div>
                                                </div>
                                            </div>
                                            <br />
                                            <div class="row">
                                                <div class="col-sm-12 col-md-12 col-lg-12">
                                                    <div class="col-lg-4 col-sm-4 col-md-4">
                                                        <label class="col-form-label">Risk Manager</label>
                                                    </div>
                                                    <div class="col-lg-8 col-sm-8 col-md-8">
                                                        {{assigned_RM}}
                                                    </div>
                                                </div>
                                            </div>-->
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <br />
                            <div class="row">
                                <label class="ng-scope text-primary" style="font-size:15px;">Customer Guarantors</label>
                                <div class="col-lg-12">
                                    <div class="table-responsive table-bordered">
                                        <table class="table" style="padding: 0px 0px">
                                            <thead class="bg-indigo-400">
                                                <tr>
                                                    <th>S.No</th>
                                                    <th>Guarantors Name</th>
                                                    <th>Age</th>
                                                    <th>Net Worth</th>
                                                    <th>Basic of NW</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr ng-repeat="guarantordata in customerguarantorlist">
                                                    <td>{{$index+1}}</td>
                                                    <td>{{guarantordata.guarantors_name}}</td>
                                                    <td>{{guarantordata.guarantor_age}}</td>
                                                    <td>{{guarantordata.networth}}</td>
                                                    <td>{{guarantordata.basisofNW}}</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <br />
                            <div class="row">
                                <label class="ng-scope text-primary" style="font-size:15px;">Customer Promotors</label>
                                <div class="col-lg-12">
                                    <div class="table-responsive table-bordered">
                                        <table class="table">
                                            <thead class="bg-indigo-400">
                                                <tr>
                                                    <th>S.No</th>
                                                    <th>Promotor Name</th>
                                                    <th>Designation</th>
                                                    <th>Age</th>
                                                    <th>Mobile No.</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr ng-repeat="promotordata in customerPromotorlist">
                                                    <td>{{$index+1}}</td>
                                                    <td>{{promotordata.promoter_name}}</td>
                                                    <td>{{promotordata.designation}}</td>
                                                    <td>{{promotordata.promoter_age}}</td>
                                                    <td>{{promotordata.mobile}}</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>

                            </div>
                            
                            <br />
                            <div class="row">
                                <label class="ng-scope text-primary">Collateral Details</label>

                                <div class="col-lg-12" ng-repeat="collateral in customerCollateral">
                                    <a class="list-group-item">
                                        <div class="media-box">

                                            <div class="media-box-body clearfix">

                                                <strong class="media-box-heading text-primary">
                                                    <span class="circle circle-pink circle-lg text-left"></span>{{$index+1}}
                                                </strong>

                                                <div class="col-lg-12 col-sm-12 col-md-12">
                                                    <br />

                                                    <div class="row">

                                                        <div class="col-lg-6 col-sm-6 col-md-6">
                                                            <label>Type of Security </label>
                                                            <br />
                                                            <p>{{collateral.security_type}}</p>
                                                        </div>
                                                        <div class="col-lg-6 col-sm-6 col-md-6">
                                                            <label>Account Status</label>
                                                            <br />
                                                            <p>{{collateral.account_status}}</p>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-lg-12 col-sm-12 col-md-12">
                                                            <label> Security Information </label>
                                                            <br />
                                                            <p>{{collateral.security_description}}</p>
                                                        </div>

                                                    </div>

                                                </div>

                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <br />
                            <div class="row">
                                <label class="ng-scope text-primary">Sanction & Loan Details</label>
                                <div class="col-lg-12">
                                    <div class="table-responsive table-bordered">
                                        <table class="table">
                                            <thead class="bg-indigo-400">
                                                <tr>
                                                    <th></th>
                                                    <th>S.No</th>
                                                    <th colspan="2" class="text-center">Sanction Ref No.</th>
                                                    <th colspan="2" class="text-center">Sanction Date</th>
                                                    <th colspan="2" class="text-center">Sanction Amount</th>
                                                    <th colspan="2" class="text-center">Entity</th>
                                                    <th colspan="2" class="text-center">Colending Status</th>
                                                </tr>
                                            </thead>
                                            <tbody ng-repeat="loop in sanctiondetails">
                                                <tr>
                                                    <td>
                                                        <a ng-hide="loop.expand" ng-click="loop.expand=true">
                                                            <button title="Click to Expand Loan Details">
                                                                <em class="fa fa-chevron-circle-down" style="font-size:14px;"></em>
                                                            </button>
                                                        </a>
                                                        <a ng-show="loop.expand" ng-click="loop.expand=false">
                                                            <button title="Click to Collapse Loan Details">
                                                                <em class="fa fa-chevron-circle-up" style="font-size:14px;"></em>
                                                            </button>
                                                        </a>
                                                    </td>
                                                    <td> {{$index+1}} </td>
                                                    <td colspan="2" class="text-center"> {{loop.sanction_refno}}</td>
                                                    <td colspan="2" style="text-align:center;"> {{loop.sanction_date}} </td>
                                                    <td colspan="2" style="text-align:center;">{{loop.sanction_amount}}</td>
                                                    <td colspan="2" class="text-center">{{loop.entity}}</td>
                                                    <td colspan="2" class="text-center"> {{loop.colanding_status}}  <span ng-show="sanction.colanding_status=='Yes'"> / {{sanction.colander_name}} </span></td>
                                                </tr>

                                                <tr ng-show="loop.expand" class="bg-indigo-300 text-white">
                                                    <th></th>
                                                    <th colspan="3" class="text-center"> Loan Facility Ref No </th>
                                                    <th colspan="3" class="text-center"> Loan Facility Type </th>
                                                    <th colspan="3" class="text-center"> Tenure </th>
                                                    <th colspan="3" class="text-center"> Expiry date </th>
                                                </tr>
                                                <tr ng-show="loop.expand" class="bg-indigo-100" ng-repeat="nest in loop.loandetails">
                                                    <td></td>
                                                    <td colspan="3" style="text-align:center;">  {{nest.loanfacilityref_no}}  </td>
                                                    <td colspan="3" class="text-center"> {{nest.loanfacility_type}}</td>
                                                    <td colspan="3" class="text-center">  {{nest.tenure}}  </td>
                                                    <td colspan="3" style="text-align:center;"> {{nest.expiry_date}}</td>
                                                </tr>

                                            </tbody>
                                        </table>
                                    </div>
                                </div>

                            </div>
                            <br />
                            <div ng-switch="demand_status">
                                <div class="row" ng-switch-default>
                                    <md-content class="md-padding">
                                        <label class="ng-scope text-primary" style="font-size:15px;"> Demand Notice</label>

                                        <md-tabs md-dynamic-height="" md-border-bottom="" md-border-width="20px">
                                            <md-tab label="Demand Notice 1">
                                                <md-content class="md-padding">

                                                    <div class="">
                                                        <div class="table-responsive table-bordered">
                                                            <table class="table">
                                                                <thead>
                                                                    <tr class="bg-indigo-400 text-white">
                                                                        <th>S.NO</th>
                                                                        <th>DN1 Status</th>
                                                                        <th>DN1 Send Date</th>
                                                                        <th>DN1 Send By </th>
                                                                    </tr>
                                                                </thead>
                                                                <tbody>
                                                                    <tr ng-repeat="data in demandnotice_list" class="bg-indigo-100">
                                                                        <td data-title="'S.No'">{{$index+1}}</td>
                                                                        <td data-title="'DN Status'">{{data.dn1status}}</td>
                                                                        <td data-title="'Sent Date'">{{data.dn1send_date}}</td>
                                                                        <td data-title="'Sent by'">{{data.dn1send_by}}</td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>
                                                        </div>
                                                    </div>
                                                </md-content>
                                            </md-tab>
                                            <md-tab label="Demand Notice 2">
                                                <md-content class="md-padding">
                                                    <div class="">

                                                        <div class="table-responsive table-bordered">
                                                            <table class="table">
                                                                <thead>
                                                                    <tr class="bg-indigo-400 text-white">
                                                                        <th>S.NO</th>
                                                                        <th>DN2 Status</th>
                                                                        <th>DN2 Send Date</th>
                                                                        <th>DN2 Send By </th>
                                                                    </tr>
                                                                </thead>
                                                                <tbody>
                                                                    <tr ng-repeat="data in demandnotice_list" class="bg-indigo-100">
                                                                        <td data-title="'S.No'">{{$index+1}}</td>
                                                                        <td data-title="'DN Status'">{{data.dn2status}}</td>
                                                                        <td data-title="'Sent Date'">{{data.dn2send_date}}</td>
                                                                        <td data-title="'Sent by'">{{data.dn2send_by}}</td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>
                                                        </div>
                                                    </div>
                                                </md-content>
                                            </md-tab>
                                            <md-tab label="Demand Notice 3">
                                                <md-content class="md-padding">

                                                    <div class="">
                                                        <div class="table-responsive table-bordered">
                                                            <table class="table">
                                                                <thead>
                                                                    <tr class="bg-indigo-400 text-white">
                                                                        <th>S.NO</th>
                                                                        <th>DN3 Status</th>
                                                                        <th>DN3 Send Date</th>
                                                                        <th>DN3 Send By</th>
                                                                    </tr>
                                                                </thead>
                                                                <tbody>
                                                                    <tr ng-repeat="data in demandnotice_list" class="bg-indigo-100">
                                                                        <td data-title="'S.No'">{{$index+1}}</td>
                                                                        <td data-title="'DN Status'">{{data.dn3status}}</td>
                                                                        <td data-title="'Sent Date'">{{data.dn3send_date}}</td>
                                                                        <td data-title="'Sent by'">{{data.dn3send_by}}</td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>
                                                        </div>
                                                    </div>
                                                </md-content>
                                            </md-tab>
                                        </md-tabs>
                                    </md-content>
                                </div>
                                <div class="row" ng-switch-when="empty">
                                    <div class="col-md-12 col-sm-12 col-lg-12">
                                        <label class="ng-scope text-primary" style="font-size:15px;"> Demand Notice</label>
                                        <br />
                                        <h4><b>&nbsp;&nbsp;Demand Notice not sent </b></h4>
                                    </div>
                                </div>
                            </div>
                            <br />
                        </div>
                    </div>
                    <div>
                        <div class="lead bb text-primary text-bold">
                            &nbsp;  <em class="fa fa-file  text-danger fa-lg"></em>   &nbsp;
                            <label class="text-primary" style="font-size:16px;">Pre-visit Documents</label>
                        </div>
                        <div class="row">
                            <div class="col-lg-12" ng-repeat="document in upload_list">
                                <div class="list-group-item">
                                    <div class="media-box-body clearfix">
                                        <div class="col-lg-12 col-sm-12 col-md-12">

                                            <div class="row">
                                                <div class="col-lg-2 col-sm-2 col-md-2">
                                                    <label>Document Type </label>
                                                </div>
                                                <div class="col-lg-4 col-sm-4 col-md-4">
                                                    {{document.document_type}}
                                                </div>
                                                <div class="col-lg-2 col-sm-2 col-md-2">
                                                    <label>Document Name </label>
                                                </div>
                                                <div class="col-lg-4 col-sm-4 col-md-4">
                                                    {{document.document_name}}
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-lg-2 col-sm-2 col-md-2">
                                                    <label>Uploaded By</label>
                                                </div>
                                                <div class="col-lg-4 col-sm-4 col-md-4">
                                                    {{document.created_by}}
                                                </div>
                                                <div class="col-lg-2 col-sm-2 col-md-2">
                                                    <label>Uploaded Date</label>
                                                </div>
                                                <div class="col-lg-4 col-sm-4 col-md-4">
                                                    {{document.created_date}}
                                                </div>
                                                <div class="row">
                                                    <div class="col-lg-6 col-sm-6 col-md-6">
                                                        <a title="Download" class="btn btn-green btn-sm" download="" href="" id="btnpdf"
                                                           ng-click="downloads(document.document_path,document.document_name)">
                                                            <em class="fa fa-download"></em>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>

                                    </div>
                                </div>
                            </div>
                            
                        </div>
                        <br/>
                        <div class="row">
                            <div class="lead bb text-primary text-bold">
                                &nbsp;  <em class="fa fa-exchange text-danger fa-lg"></em>   &nbsp;
                                <label class="text-primary" style="font-size:16px;">Allocation Transfer Details</label>
                            </div>
                            <div class="col-lg-12 col-sm-12 col-md-12">
                                <div class="row">
                                    <div class="col-lg-12 col-md-12 col-sm-12">

                                        <div class="col-lg-4 col-sm-4 col-md-4">
                                            <label>Initiated By </label>
                                            <br />
                                            <p>{{transapprovaldtl.created_by}}</p>
                                        </div>
                                        <div class="col-lg-4 col-sm-4 col-md-4">
                                            <label>Initiated Date</label>
                                            <br />
                                            <p>{{transapprovaldtl.created_date}}</p>
                                        </div>
                                        <div class="col-lg-4 col-sm-4 col-md-4">
                                            <label>Transfer</label>
                                            <br />
                                            <p>{{transapprovaldtl.transfer_status}}</p>
                                        </div>
                                    </div>
                                </div>
                                <br />
                                <div class="row">
                                    <div class="col-lg-12 col-md-12 col-sm-12">
                                        <div class="col-lg-4 col-sm-4 col-md-4">
                                            <label>Allocated Location </label>
                                            <br />
                                            <p>{{transapprovaldtl.allocatedLocation}}</p>
                                        </div>
                                        <div class="col-lg-4 col-sm-4 col-md-4">
                                            <label>Zonal Risk Manager</label>
                                            <br />
                                            <p>{{transapprovaldtl.ZonalRMname}}</p>
                                        </div>
                                        <div class="col-lg-4 col-sm-4 col-md-4">
                                            <label>Allocate Risk Manager</label>
                                            <br />
                                            <p>{{transapprovaldtl.transfer_from}}</p>
                                        </div>
                                    </div>
                                </div>
                                <br />
                                <div class="row">
                                    <div class="col-lg-12 col-md-12 col-sm-12">
                                        <div class="col-lg-4 col-sm-4 col-md-4">
                                            <label>Transfer Location </label>
                                            <br />
                                            <p>{{transapprovaldtl.zonaltransferdtl}}</p>
                                        </div>
                                        <div class="col-lg-4 col-sm-4 col-md-4">
                                            <label>Transfer Zonal Risk Manager </label>
                                            <br />
                                            <p>{{transapprovaldtl.zonal_approvaltoname}}</p>
                                        </div>
                                        <div class="col-lg-4 col-sm-4 col-md-4">
                                            <label>Transfer Risk Manager</label>
                                            <br />
                                            <p>{{transapprovaldtl.transfer_to}}</p>
                                        </div>
                                    </div>
                                </div>
                                <br />
                                <div class="row">
                                    <div class="col-lg-12 col-md-12 col-sm-12">
                                        <div class="col-lg-12 col-md-12 col-sm-12">
                                            <label>Transfer Remarks </label>
                                            <br />
                                            <p>{{transapprovaldtl.transfer_remarks}}</p>
                                        </div>

                                    </div>
                                </div>
                                <div class="dd-handle ng-scope">
                                    <div class="row">
                                       
                                        <div ng-switch="transapprovaldtl.transfer_status">
                                            <div ng-switch-when="WithinZone">
                                                <div>
                                                    <div class="col-lg-12 col-md-12 col-sm-12">
                                                        <div class="col-lg-2 col-sm-2 col-md-2">
                                                            <label style="font-weight:bold">Zonal Risk Manager</label>
                                                        </div>
                                                        <div class="col-lg-4 col-sm-4 col-md-4">
                                                            {{transapprovaldtl.zonal_approvalfromname}}
                                                        </div>
                                                        <div class="col-lg-2 col-sm-2 col-md-2">
                                                            <label style="font-weight:bold">Approval Status</label>
                                                        </div>
                                                        <div class="col-lg-4 col-sm-4 col-md-4" ng-switch="transapprovaldtl.zonalapprovalfrom_status">
                                                            <label class="text-success" ng-switch-when="Approved">Approved..</label>
                                                            <label class="text-danger" ng-switch-when="Rejected">Rejected..</label>
                                                            <label class="text-info" ng-switch-when="Pending">Pending..</label>
                                                        </div>
                                                    </div>
                                                </div>
                                                <br />
                                                <div>
                                                    <div class="col-lg-12 col-md-12 col-sm-12">
                                                        <div class="col-lg-2 col-sm-2 col-md-2">
                                                            <label style="font-weight:bold">Approval Remarks </label>
                                                        </div>
                                                        <div class="col-lg-4 col-sm-4 col-md-4">
                                                            {{transapprovaldtl.zonalapprovalFrom_remarks}}
                                                        </div>
                                                        <div class="col-lg-2 col-sm-2 col-md-2">
                                                            <label style="font-weight:bold">Approved / Rejected Date </label>
                                                        </div>
                                                        <div class="col-lg-4 col-sm-4 col-md-4">
                                                            {{transapprovaldtl.zonalapprovalFrom_Date}}
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div ng-switch-when="CrossZone">
                                                <div>
                                                    <label class="text-primary text-bold" style="font-size:15px;">&emsp;Approval 1</label>
                                                    <div>
                                                        <div class="col-lg-12 col-md-12 col-sm-12">
                                                            <div class="col-lg-2 col-sm-2 col-md-2">
                                                                <label style="font-weight:bold">Zonal Risk Manager</label>
                                                            </div>
                                                            <div class="col-lg-4 col-sm-4 col-md-4">
                                                                {{transapprovaldtl.zonal_approvalfromname}}
                                                            </div>
                                                            <div class="col-lg-2 col-sm-2 col-md-2">
                                                                <label style="font-weight:bold">Approval Status</label>
                                                            </div>
                                                            <div class="col-lg-4 col-sm-4 col-md-4" ng-switch="transapprovaldtl.zonalapprovalfrom_status">
                                                                <label class="text-success" ng-switch-when="Approved">Approved..</label>
                                                                <label class="text-danger" ng-switch-when="Rejected">Rejected..</label>
                                                                <label class="text-info" ng-switch-when="Pending">Pending..</label>

                                                            </div>

                                                        </div>
                                                    </div>
                                                    <br />
                                                    <div>
                                                        <div class="col-lg-12 col-md-12 col-sm-12">
                                                            <div class="col-lg-2 col-sm-2 col-md-2">
                                                                <label style="font-weight:bold">Approval Remarks </label>
                                                            </div>
                                                            <div class="col-lg-4 col-sm-4 col-md-4">
                                                                {{transapprovaldtl.zonalapprovalFrom_remarks}}
                                                            </div>
                                                            <div class="col-lg-2 col-sm-2 col-md-2">
                                                                <label style="font-weight:bold">Approved / Rejected Date </label>
                                                            </div>
                                                            <div class="col-lg-4 col-sm-4 col-md-4">
                                                                {{transapprovaldtl.zonalapprovalFrom_Date}}
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div>
                                                    <label class="text-primary text-bold" style="font-size:15px;">&emsp;Approval 2 </label>
                                                    <div>
                                                        <div class="col-lg-12 col-md-12 col-sm-12">
                                                            <div class="col-lg-2 col-sm-2 col-md-2">
                                                                <label style="font-weight:bold">Zonal Risk Manager</label>
                                                            </div>
                                                            <div class="col-lg-4 col-sm-4 col-md-4">
                                                                {{transapprovaldtl.zonal_approvaltoname}}
                                                            </div>
                                                            <div class="col-lg-2 col-sm-2 col-md-2">
                                                                <label style="font-weight:bold">Approval Status</label>
                                                            </div>
                                                            <div class="col-lg-4 col-sm-4 col-md-4" ng-switch="transapprovaldtl.zonalapprovalTo_status">
                                                                <label class="text-success" ng-switch-when="Approved">Approved..</label>
                                                                <label class="text-danger" ng-switch-when="Rejected">Rejected..</label>
                                                                <label class="text-info" ng-switch-when="Pending">Pending..</label>

                                                            </div>

                                                        </div>
                                                    </div>
                                                    <br />
                                                    <div>
                                                        <div class="col-lg-12 col-md-12 col-sm-12">
                                                            <div class="col-lg-2 col-sm-2 col-md-2">
                                                                <label style="font-weight:bold">Approval Remarks </label>
                                                            </div>
                                                            <div class="col-lg-4 col-sm-4 col-md-4">
                                                                {{transapprovaldtl.zonalapprovalFromTo_remarks}}
                                                            </div>
                                                            <div class="col-lg-2 col-sm-2 col-md-2">
                                                                <label style="font-weight:bold">Approved / Rejected Date </label>
                                                            </div>
                                                            <div class="col-lg-4 col-sm-4 col-md-4">
                                                                {{transapprovaldtl.zonalapprovalTo_Date}}
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                        <br/>
                        <fieldset ng-switch="MyApprovalPage">
                            <div class="row" ng-switch-when="Y">
                                <div class="col-lg-12 col-sm-12 col-md-12 form-group">
                                    <label>Approval Remarks <span style="color:red">*</span></label>
                                    <textarea name="textapprovalRemarks" placeholder="Enter Approval Remarks..." required
                                              ng-model="$parent.textapprovalRemarks" class="form-control" rows="4"></textarea>
                                </div>
                            </div>
                        </fieldset>
                    </div>
                    <br />
                    <div class="row">
                        <div class="text-center" ng-switch="MyApprovalPage">

                            <button class="btn btn-success" ng-click="tranferApprove()" ng-disabled="sanctionform.$invalid" ng-switch-when="Y">
                                <em class="fa fa-check"></em>
                                <span>Approve</span>
                            </button>
                            <a class="btn btn-danger" ng-click="tranferReject()" ng-disabled="sanctionform.$invalid" ng-switch-when="Y">
                                <em class="fa fa-close"></em>
                                <span>Reject</span>
                            </a>
                            <a class="btn btn-info" href="#/app/transferApproval" ng-switch-when="Y">
                                <em class="fa fa-arrow-left"></em>
                                <span>Back</span>
                            </a>
                            <a class="btn btn-info" href="#/app/allocationTransfer" ng-click="cancel()" ng-switch-when="N">
                                <em class="fa fa-arrow-left"></em>
                                <span>Back</span>
                            </a>
                        </div>
                    </div>
                </div>


            </div>
        </form>
    </div>
</div>