
<h3>
    Collateral Management
</h3>
<div id="defid" ng-controller="collateralSummaryController">
    <div>
        <button type="button" title="Create Deferral" class="btn btn-success btn-sm" ng-click="popupcollateral()">
            <span class="btn-label">
                <i class="fa fa-plus"></i>
            </span>CREATE COLLATERAL
        </button>
    </div>
    <br />
    <div class="row">
        <div class="col-lg-12">
            <!-- START panel-->
            <div id="panelDemo13" class="panel panel-default">
                <div class="panel-body">
                    <div class="table-responsive">

                        <table datatable="ng" class="row-border hover">
                            <thead>
                                <tr class="bg-success text-white">
                                    <th>S.NO</th>
                                    <th>CREATED DATE</th>
                                    <th>CUSTOMER</th>
                                    <th>SECURITY TYPE</th>
                                    <th>ACCOUNT STATUS</th>
                                    <th>SECURITY DESCRIPTION</th>
                                    <th>CREATED BY</th>
                                    <th>ACTION</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="data in collateral_data">
                                    <td data-title="'S.No'">{{$index+1}}</td>
                                    <td data-title="'Created Date'">{{data.created_date}}</td>
                                    <td data-title="'Customer Name'">{{data.customer_name}}</td>
                                    <td data-title="'Security Type'">{{data.security_type}}</td>
                                    <td data-title="'Account Status'">{{data.account_status}}</td>
                                    <td data-title="'Security Description'">{{data.security_description}}</td>
                                    <td data-title="'Created By'">{{data.created_by}}</td>
                                    <td data-title="'Action'" class="nowrap">
                                        <button title="Edit" ng-click="edit(data.collateral_gid)" class="btn btn-green">
                                            <em class="fa fa-edit "></em>
                                        </button>

                                        <button title="Delete" ng-click="delete(data.collateral_gid)" class="btn btn-danger">
                                            <em class="icon icon-trash "></em>
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <!-- END panel-->
            </div>
        </div>




    </div>
</div>