
<h3>
    Customer Management
</h3>
<div ng-controller="customeredit">
    <div class="panel  panel-success">
        <div class="panel-heading"> 
            <span class="btn-label">
                <i class="fa fa-edit"></i>
            </span>EDIT CUSTOMER
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-lg-12 col-sm-12 col-md-12">
                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <div class="mda-form-group">
                            <input ng-model="customerCodeedit" required="" tabindex="0" aria-required="true" aria-invalid="true"
                                    class="mda-form-control ng-pristine ng-invalid ng-invalid-required ng-touched" style="">
                            <label>Customer ID *</label>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <div class="mda-form-group">
                            <input ng-model="customerNameedit" required="" tabindex="0" aria-required="true" aria-invalid="true"
                                    class="mda-form-control ng-pristine ng-invalid ng-invalid-required ng-touched" style="">
                            <label>Customer Name *</label>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-12 col-sm-12 col-md-12">
                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <div class="mda-form-group">
                            <input ng-model="contactpersonedit" required="" tabindex="0" aria-required="true" aria-invalid="true"
                                   class="mda-form-control ng-pristine ng-invalid ng-invalid-required ng-touched" style="">
                            <label>Contact Person</label>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <div class="mda-form-group">
                            <input ng-model="contactnumberedit" required="" tabindex="0" aria-required="true" aria-invalid="true"
                                   class="mda-form-control ng-pristine ng-invalid ng-invalid-required ng-touched" style="">
                            <label>Contact Number</label>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-12 col-sm-12 col-md-12">
                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <div class="mda-form-group">
                            <input type="email" ng-model="emailedit" tabindex="0" aria-required="true" aria-invalid="true"
                                class="mda-form-control ng-pristine ng-invalid ng-invalid-required ng-touched" style="">
                            <label>Email Address </label>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <div class="mda-form-group">
                            <input ng-model="mobileNoedit" tabindex="0" aria-required="true" aria-invalid="true"
                             class="mda-form-control ng-pristine ng-invalid ng-invalid-required ng-touched" style="">
                            <label>Mobile No  </label>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-12 col-sm-12 col-md-12">
                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <md-input-container flex="" class="md-default-theme" style="height: auto;">
                            <label for="input_13">Address Line 1</label>
                            <textarea ng-model="txtaddress1" rows="3" md-maxlength="1000" class="ng-valid md-input ng-valid-md-maxlength ng-touched ng-dirty ng-valid-parse"
                                      id="input_13" ng-trim="false" aria-multiline="true" tabindex="0" aria-invalid="true"></textarea>
                        </md-input-container>

                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <md-input-container flex="" class="md-default-theme" style="height: auto;">
                            <label for="input_13">Address Line 2</label>
                            <textarea ng-model="txtaddress2" rows="3" md-maxlength="1000" class="ng-valid md-input ng-valid-md-maxlength ng-touched ng-dirty ng-valid-parse"
                                      id="input_13" ng-trim="false" aria-multiline="true" tabindex="0" aria-invalid="true"></textarea>
                        </md-input-container>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-12 col-sm-12 col-md-12">
                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <label class="col-form-label control-label"><strong>Vertical *</strong></label>
                        <select id="segment_name" name="segment_name" dropzone="" ng-model="segment" required="" class="mda-form-control">
                            <option value="">-----Select Vertical----</option>
                            <option data-ng-repeat="data in segment_list" value="{{data.segment_gid}}">{{data.segment_code}}</option>
                        </select>
                    </div>{{data.segment_gid}}
                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <label class="col-form-label control-label"><strong>State *</strong></label>
                        <select id="statename" name="state_name" dropzone="" ng-model="state_gid" class="mda-form-control" required="">
                            <option value="">---Select State---</option>
                            <option data-ng-repeat="data in state_list" value="{{data.state_gid}}">
                                {{data.state_name}}
                            </option>
                        </select>
                    </div>
                </div>
            </div>
            <br/>
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <label class="col-form-label control-label"><strong>Zonal Head *</strong></label>
                        <select id="employee_name" name="employee_name" dropzone="" ng-model="employee_gid" class="mda-form-control" required="">
                            <option value="">---Select Zonal Head---</option>
                            <option data-ng-repeat="data in employee_list" value="{{data.employee_gid}}">
                                {{data.employee_name}}
                            </option>
                        </select>
                    </div>
                    <!--<div class="col-lg-6 col-md-6 col-sm-6">
                        <label class="col-form-label"><strong>Business Head *</strong></label>
                        <select id="businessHead_name" name="businessHead" dropzone="" ng-model="businessHead" required="" 
                                class="mda-form-control ng-pristine ng-invalid-required ng-valid md-default-theme ng-touched" size="1">
                            <option value="">-----Select Business Head----</option>
                            <option data-ng-repeat="data in employee_list" value="{{data.employee_gid}}">{{data.employee_name}}</option>
                        </select>
                    </div>-->
                </div>
            </div>

        </div>
        <div class="panel-footer">
            <button ng-click="customereditback()" class="btn btn-danger"><i class="fa fa-arrow-circle-left"></i>&nbsp;&nbsp;Back</button>
        </div>
    </div>
</div>