<div ng-controller="ecmsDashboard">
    <div class="panel">
        <div class="row">
            <div class="col-lg-12 col-sm-12 col-md-12">
                <br />
                <h4 style="color:black;" class="text-center animated fadeInDown anim-delay-10"> {{welcome_msg}} </h4>
                <hr />
                <br />
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 col-sm-12 col-md-12">
                <!--<div ng-switch="customer_show">
                    <div class="col-lg-2 col-sm-6 col-md-3" ng-switch-default>

                        <div class="panel-body text-center" style="background-color:#F0EFEF;">

                            <em style="color:grey;" class="fa fa-user fa-2x"></em>
                            <md-tooltip> No Access </md-tooltip>
                            <h5 style="color:grey;"><b>Customer</b></h5>
                        </div>
                    </div>
                    <div ng-switch-when="Y">
                        <a href='#/app/customerMaster'>
                            <div class="col-lg-2 col-sm-6 col-md-3">

                                <div class="panel-body bg-pink-100 text-center">

                                    <em class="fa fa-user fa-2x" style="color:#c33364;"></em>
                                    <md-tooltip>Customer</md-tooltip>
                                    <h5 style="color:black;"><b>Customer</b></h5>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>-->
                <div ng-switch="loanmgmt_show">
                    <div class="col-lg-2 col-sm-6 col-md-3" ng-switch-default>

                        <div class="panel-body text-center" style="background-color:#F0EFEF;">

                            <em style="color:grey;" class="fa fa-rupee fa-2x"></em>
                            <md-tooltip> No Access </md-tooltip>
                            <h5 style="color:grey;"><b>Loan Management</b></h5>
                        </div>
                    </div>
                    <div ng-switch-when="Y">
                        <a href='#/app/loanManagement'>
                            <div class="col-lg-2 col-sm-6 col-md-3">

                                <div class="panel-body text-center bg-indigo-100">

                                    <em class="fa fa-rupee fa-2x" style="color:#334bde;"></em>
                                    <md-tooltip>Loan Management</md-tooltip>
                                    <h5 style="color:black;"><b>Loan Management</b></h5>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div ng-switch="deferralmgmt_show">
                    <div class="col-lg-2 col-sm-6 col-md-3" ng-switch-default>

                        <div class="panel-body text-center" style="background-color:#F0EFEF;">

                            <em style="color:grey;" class="icon icon-notebook fa-2x"></em>
                            <md-tooltip> No Access </md-tooltip>
                            <h5 style="color:grey;"><b>Deferral Management</b></h5>
                        </div>
                    </div>
                    <div ng-switch-when="Y">
                        <a href='#/app/DeferralManagement'>
                            <div class="col-lg-2 col-sm-6 col-md-3">

                                <div class="panel-body bg-purple-100 text-center">

                                    <em class="icon icon-notebook fa-2x" style="color:#ab13c5;"></em>
                                    <md-tooltip>Deferral Management</md-tooltip>
                                    <h5 style="color:black;"><b>Deferral Management</b></h5>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div ng-switch="checkerapproval_show">
                    <div class="col-lg-2 col-sm-6 col-md-3" ng-switch-default>

                        <div class="panel-body text-center" style="background-color:#F0EFEF;">

                            <em style="color:grey;" class="icon-user-following fa-2x"></em>
                            <md-tooltip> No Access </md-tooltip>
                            <h5 style="color:grey;"><b>Checker Approval</b></h5>
                        </div>
                    </div>
                    <div ng-switch-when="Y">
                        <a href='#/app/checkerApprovalSummary'>
                            <div class="col-lg-2 col-sm-6 col-md-3">

                                <div class="panel-body bg-pink-100 text-center">

                                    <em class="icon-user-following fa-2x" style="color:#c33364;"></em>
                                    <md-tooltip>Checker Approval</md-tooltip>
                                    <h5 style="color:black;"><b>Checker Approval</b></h5>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div ng-switch="rmdeferral_show">
                    <div class="col-lg-2 col-sm-6 col-md-3" ng-switch-default>

                        <div class="panel-body text-center" style="background-color:#F0EFEF;">

                            <em style="color:grey;" class="icon-users fa-2x"></em>
                            <md-tooltip> No Access </md-tooltip>
                            <h5 style="color:grey;"><b>RM Deferral</b></h5>
                        </div>
                    </div>
                    <div ng-switch-when="Y">
                        <a href='#/app/rmManagement'>
                            <div class="col-lg-2 col-sm-6 col-md-3">
                                <div class="panel-body bg-teal-100 text-center">
                                    <em class="icon-users fa-2x" style="color:#0c8a7f;"></em>
                                    <md-tooltip>RM Deferral</md-tooltip>
                                    <h5 style="color:black;"><b>RM Deferral</b></h5>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div ng-switch="transferrm_show">
                    <div class="col-lg-2 col-sm-6 col-md-3" ng-switch-default>

                        <div class="panel-body text-center" style="background-color:#F0EFEF;">

                            <em style="color:grey;" class="fa fa-exchange fa-2x"></em>
                            <md-tooltip> No Access </md-tooltip>
                            <h5 style="color:grey;"><b>Transfer RM</b></h5>
                        </div>
                    </div>
                    <div ng-switch-when="Y">
                        <a href='#/app/transferRM'>
                            <div class="col-lg-2 col-sm-6 col-md-3">
                                <div class="panel-body  bg-brown-200 text-center">
                                    <em class="fa fa-exchange fa-2x" style="color:#7d4640;"></em>
                                    <md-tooltip>Transfer RM</md-tooltip>
                                    <h5 style="color:black;"><b>Transfer RM</b></h5>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div ng-switch="deferralapproval_show">
                    <div class="col-lg-2 col-sm-6 col-md-3" ng-switch-when="N">

                        <div class="panel-body text-center" style="background-color:#F0EFEF;">

                            <em style="color:grey;" class="icon-layers fa-2x"></em>
                            <md-tooltip> No Access </md-tooltip>
                            <h5 style="color:grey;"><b>Deferral Approval</b></h5>
                        </div>
                    </div>
                    <div ng-switch-when="Y">
                        <a href='#/app/cadApproval'>
                            <div class="col-lg-2 col-sm-6 col-md-3">

                                <div class="panel-body text-center bg-green-200">
                                    <em class="icon-layers fa-2x" style="color:#205a24;"></em>
                                    <md-tooltip>Deferral Approval</md-tooltip>
                                    <h5 style="color:black;"><b>Deferral Approval</b></h5>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-lg-12 col-sm-12 col-md-12">
                
                <div ng-switch="reopendeferrals_show">
                    <div class="col-lg-2 col-sm-6 col-md-3" ng-switch-when="N">

                        <div class="panel-body text-center" style="background-color:#F0EFEF;">

                            <em style="color:grey;" class="fa fa-share-square-o fa-2x"></em>
                            <md-tooltip> No Access </md-tooltip>
                            <h5 style="color:grey;"><b>ReOpen Deferrals</b></h5>
                        </div>
                    </div>
                    <div ng-switch-when="Y">
                        <a href='#/app/reopen'>
                            <div class="col-lg-2 col-sm-6 col-md-3">

                                <div class="panel-body text-center bg-purple-100">
                                    <em class="fa fa-share-square-o fa-2x" style="color:#ab13c5;"></em>
                                    <md-tooltip>ReOpen Deferrals</md-tooltip>
                                    <h5 style="color:black;"><b>ReOpen Deferrals</b></h5>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div ng-switch="coltralmgmnt_show">
                    <div class="col-lg-2 col-sm-6 col-md-3" ng-switch-when="N">

                        <div class="panel-body text-center" style="background-color:#F0EFEF;">

                            <em style="color:grey;" class="icon-folder fa-2x"></em>
                            <md-tooltip> No Access </md-tooltip>
                            <h5 style="color:grey;"><b>Collateral Management</b></h5>
                        </div>
                    </div>
                    <div ng-switch-when="Y">
                        <a href='#/app/collateralsummary'>
                            <div class="col-lg-2 col-sm-6 col-md-3">

                                <div class="panel-body bg-cyan-A100  text-center">

                                    <em class="icon-folder fa-2x" style="color:#14BBBB;"></em>
                                    <md-tooltip>Collateral Management</md-tooltip>
                                    <h5 style="color:black;"><b>Collateral Management</b></h5>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div ng-switch="penaltyalert_show">
                    <div class="col-lg-2 col-sm-6 col-md-3" ng-switch-when="N">

                        <div class="panel-body text-center" style="background-color:#F0EFEF;">

                            <em style="color:grey;" class="icon-action-undo fa-2x"></em>
                            <md-tooltip> No Access </md-tooltip>
                            <h5 style="color:grey;"><b>Penalty Alert</b></h5>
                        </div>
                    </div>
                    <div ng-switch-when="Y">
                        <a href='#/app/penalityAlert'>
                            <div class="col-lg-2 col-sm-6 col-md-3">

                                <div class="panel-body bg-green-200 text-center">

                                    <em class="icon-action-undo fa-2x" style="color:#205a24;"></em>
                                    <md-tooltip>Penalty Alert</md-tooltip>
                                    <h5 style="color:black;"><b>Penalty Alert</b></h5>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div ng-switch="customeralert_show">
                    <div class="col-lg-2 col-sm-6 col-md-3" ng-switch-default>

                        <div class="panel-body text-center" style="background-color:#F0EFEF;">

                            <em style="color:grey;" class="fa fa-navicon fa-2x"></em>
                            <md-tooltip> No Access </md-tooltip>
                            <h5 style="color:grey;"><b>Customer Alert</b></h5>
                        </div>
                    </div>
                    <div ng-switch-when="Y">
                        <a href='#/app/customerAlert'>
                            <div class="col-lg-2 col-sm-6 col-md-3">

                                <div class="panel-body  bg-cyan-200 text-center">

                                    <em class="fa fa-navicon fa-2x" style="color:#0c8a7f;"></em>
                                    <md-tooltip>Customer Alert</md-tooltip>
                                    <h5 style="color:black;"><b>Customer Alert</b></h5>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div ng-switch="mailmgmt_show">
                    <div class="col-lg-2 col-sm-6 col-md-3" ng-switch-default>

                        <div class="panel-body text-center" style="background-color:#F0EFEF;">

                            <em style="color:grey;" class="icon icon-envelope fa-2x"></em>
                            <md-tooltip> No Access </md-tooltip>
                            <h5 style="color:grey;"><b>Mail Management</b></h5>
                        </div>
                    </div>
                    <div ng-switch-when="Y">
                        <a href='#/app/mailManagement'>
                            <div class="col-lg-2 col-sm-6 col-md-3">

                                <div class="panel-body bg-lime-300 text-center">
                                    <em class="icon icon-envelope fa-2x" style="color:#A0AF16;"></em>
                                    <md-tooltip>Mail Management</md-tooltip>
                                    <h5 style="color:black;"><b>Mail Management</b></h5>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div ng-switch="deferralreport_show">
                    <div class="col-lg-2 col-sm-6 col-md-3" ng-switch-default>

                        <div class="panel-body text-center" style="background-color:#F0EFEF;">

                            <em style="color:grey;" class="icon icon-docs fa-2x"></em>
                            <md-tooltip> No Access </md-tooltip>
                            <h5 style="color:grey;"><b>Deferral Report</b></h5>
                        </div>
                    </div>
                    <div ng-switch-when="Y">
                        <a href='#/app/deferralReport'>
                            <div class="col-lg-2 col-sm-6 col-md-3">

                                <div class="panel-body bg-deep-purple-100 text-center">

                                    <em class="icon icon-docs fa-2x" style="color:#552aad;"></em>
                                    <md-tooltip>Deferral Report</md-tooltip>
                                    <h5 style="color:black;"><b>Deferral Report</b></h5>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-lg-12 col-sm-12 col-md-12">
                <div ng-switch="cadreport_show">
                    <div class="col-lg-2 col-sm-6 col-md-3" ng-switch-default>

                        <div class="panel-body text-center" style="background-color:#F0EFEF;">

                            <em style="color:grey;" class="fa fa-joomla fa-2x"></em>
                            <md-tooltip> No Access </md-tooltip>
                            <h5 style="color:grey;"><b>CAD Report</b></h5>
                        </div>
                    </div>
                    <div ng-switch-when="Y">
                        <a href='#/app/cadReport'>
                            <div class="col-lg-2 col-sm-6 col-md-3">

                                <div class="panel-body bg-teal-100 text-center">

                                    <em class="fa fa-joomla fa-2x" style="color:#0c8a7f;"></em>
                                    <md-tooltip>CAD Report</md-tooltip>
                                    <h5 style="color:black;"><b>CAD Report</b></h5>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div ng-switch="userreport_show">
                    <div class="col-lg-2 col-sm-6 col-md-3" ng-switch-default>

                        <div class="panel-body text-center" style="background-color:#F0EFEF;">

                            <em style="color:grey;" class="icon icon-user fa-2x"></em>
                            <md-tooltip> No Access </md-tooltip>
                            <h5 style="color:grey;"><b>User Report</b></h5>
                        </div>
                    </div>
                    <div ng-switch-when="Y">
                        <a href='#/app/userReport'>
                            <div class="col-lg-2 col-sm-6 col-md-3">

                                <div class="panel-body bg-red-100 text-center">

                                    <em class="icon icon-user fa-2x" style="color:#d4081b;"></em>
                                    <md-tooltip>User Report</md-tooltip>
                                    <h5 style="color:black;"><b>User Report</b></h5>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div ng-switch="userreport2_show">
                    <div class="col-lg-2 col-sm-6 col-md-3" ng-switch-default>

                        <div class="panel-body text-center" style="background-color:#F0EFEF;">

                            <em style="color:grey;" class="icon icon-user fa-2x"></em>
                            <md-tooltip> No Access </md-tooltip>
                            <h5 style="color:grey;"><b>User Report2</b></h5>
                        </div>
                    </div>
                    <div ng-switch-when="Y">
                        <a href='#/app/DtsRptUserReport2'>
                            <div class="col-lg-2 col-sm-6 col-md-3">

                                <div class="panel-body bg-pink-100 text-center">

                                    <em class="icon icon-user fa-2x" style="color:#c33364;"></em>
                                    <md-tooltip>User Report2</md-tooltip>
                                    <h5 style="color:black;"><b>User Report2</b></h5>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-12 col-sm-6 col-md-12"></div>
        <br /><br /><br /><br /><br /><br /><br /><br /><br />
        <br /><br /><br /><br /><br /><br /><br /><br /><br />
        <br /><br /><br /><br /><br /><br /><br />
    </div>
</div>
