
<div class="am-mainpanel" ng-controller="landingcontroller">
    <div class="am-pagebody main-panel">
        <div class="card pd-20 pd-sm-40">
            <div class="row mg-b-20">
                <div class="col-md w3-animate-zoom">
                    <div class="list-group-item  rounded-top-0 bg-gray-200 hover" ng-click="newserviceticket()">
                        <div class="media">
                            <div class="d-flex box-bg">
                                <i class="glyph-icon glyph-icon flaticon-tickets tx-info tx-30 tx"></i>
                            </div>
                            <div class="media-body">
                                <h6 class="tx-inverse">New Service Ticket</h6>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md w3-animate-zoom">
                    <div class="list-group-item  rounded-top-0 bg-gray-200 hover" ng-click="viewserviceticket()">
                        <div class="media">
                          
                            <span class="topright fa fa-comments" style="font-size:16px; color:#F1714F;" ng-if="count_response != 0">  {{count_response}}</span>
                            <div class="d-flex box-bg">
                                <i class="glyph-icon flaticon-movie-tickets tx-info tx-30 tx"></i>
                            </div>
                            <div class="media-body">
                                <h6 class="tx-inverse">View Service Ticket</h6>

                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md w3-animate-zoom">
                    <div class="list-group-item  rounded-top-0 bg-gray-200" ng-click="myapprovals()">
                        <div class="media">
                            <span class="topright w3-badge w3-teal" ng-if="count_myapprovals != 0">{{count_myapprovals}}</span>
                            <div class="d-flex box-bg">
                                <i class="glyph-icon flaticon-hiring tx-info tx-30 tx"></i>
                            </div>
                            <div class="media-body">
                                <h6 class="tx-inverse">My Approvals</h6>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mg-b-20">
                <div class="col-md w3-animate-zoom">
                    <div class="list-group-item  rounded-top-0 bg-gray-200 hover" ng-click="newtaskrequest()">
                        <div class="media">
                            <div class="d-flex box-bg2">
                                <i class="glyph-icon flaticon-list-1 tx-info tx-40 tx"></i>
                            </div>
                            <div class="media-body">
                                <h6 class="tx-inverse">New Task Request</h6>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md w3-animate-zoom">
                    <div class="list-group-item  rounded-top-0 bg-gray-200">
                        <div class="media">
                            <div class="d-flex box-bg2">
                                <i class="glyph-icon flaticon-file tx-info tx-30 tx"></i>
                            </div>
                            <div class="media-body">
                                <h6 class="tx-inverse">View Tasks</h6>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md w3-animate-zoom">
                    <div class="list-group-item  rounded-top-0 bg-gray-200">
                        <div class="media">
                            <div class="d-flex box-bg2">
                                <i class="glyph-icon flaticon-website tx-info tx-30 tx"></i>
                            </div>
                            <div class="media-body">
                                <h6 class="tx-inverse">New Software Request</h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mg-b-20">
                <div class="col-md w3-animate-zoom">
                    <div class="list-group-item  rounded-top-0 bg-gray-200" ng-click="view(employee_id ,count_myasset)">
                        <div class="media">
                           
                            <span class="topright w3-badge w3-teal" ng-if="count_myasset != 0">{{count_myasset}}</span>
                            <div class="d-flex box-bg">
                                <i class="glyph-icon flaticon-view tx-info tx-30 tx"></i>
                            </div>
                            <div class="media-body">
                                <h6 class="tx-inverse">View My Asset</h6>

                            </div>
                            
                        </div>
                    </div>
                </div>
                <div class="col-md w3-animate-zoom">
                    <div class="list-group-item  rounded-top-0 bg-gray-200" ng-click="acknowledge(employee_id ,count_acknowledgement)">
                        <div class="media">
                            <span class="topright w3-badge w3-teal" ng-if="count_acknowledgement != 0">{{count_acknowledgement}}</span>
                            <div class="d-flex box-bg">
                                <i class="glyph-icon flaticon-book tx-info tx-30 tx"></i>
                            </div>
                            <div class="media-body">
                                <h6 class="tx-inverse">Acknowledge My Asset</h6>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md w3-animate-zoom">
                    <div class="list-group-item  rounded-top-0 bg-gray-200" ng-click="temporaryhandover(employee_id,count_temporaryhandover)">
                        <div class="media">
                            <span class="topright w3-badge w3-teal" ng-if="count_temporaryhandover != 0">{{count_temporaryhandover}}</span>
                            <div class="d-flex box-bg">
                                <i class="glyph-icon flaticon-web-settings tx-info tx-30 tx"></i>
                            </div>
                            <div class="media-body">
                                <h6 class="tx-inverse">Temporary Handover</h6>

                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="row mg-b-20">

                <div class="col-md w3-animate-zoom">
                    <div class="list-group-item  rounded-top-0 bg-gray-200">
                        <div class="media">
                            <div class="d-flex box-bg2">
                                <i class="glyph-icon flaticon-repair tx-info tx-30 tx"></i>
                            </div>
                            <div class="media-body">
                                <h6 class="tx-inverse">New IT Asset Request</h6>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md w3-animate-zoom">
                    <div class="list-group-item  rounded-top-0 bg-gray-200">
                        <div class="media">
                            <div class="box-bg2">
                                <i class="glyph-icon flaticon-gear tx-info tx-30 tx"></i>
                            </div>
                            <div class="media-body">
                                <h6 class="tx-inverse">New Fixed Asset Request</h6>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md w3-animate-zoom">
                    <div class="list-group-item  rounded-top-0 bg-gray-200" ng-click="surrender(employee_id,count_surrender)">
                        <div class="media">
                            <span class="topright w3-badge w3-teal" ng-if="count_surrender != 0">{{count_surrender}}</span>
                            <div class="d-flex box-bg">
                                <i class="glyph-icon flaticon-market tx-info tx-30 tx"></i>
                            </div>
                            <div class="media-body">
                                <h6 class="tx-inverse">Surrender Asset</h6>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
