
<h3>
    Send Mail
</h3>
<div ng-controller="sendMailalert">


    <div class="panel panel-default">
        <div class="panel-body">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 ">
                   
                    <p class="lead bb text-primary text-bold text-center" >{{customermail_list.customername}}<label style="font-weight:bold">/</label>{{customermail_list.customercode}}</p>
                    <form class="form-horizontal p-20">
                        <div class="row">
                            <div class="col-md-12 col-lg-12 col-sm-12 ">
                                <div class="col-lg-12">
                                    <label class="col-form-label">Address</label>
                                    <br />
                                    <p style="font-size:14px;">{{customermail_list.contactperson}}<br />{{customermail_list.addressline1edit}}<br />{{customermail_list.addressline2edit}}
                                    <br />{{customermail_list.mobileNoedit}}</p>
                                  
                                </div>
                               
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12 col-md-12 col-lg-12">
                                <div class="col-lg-4">
                                    <label class="col-form-label">Vertical</label>
                                    <br />
                                    <p style="font-size:14px;">{{customermail_list.vertical_code}}</p>
                                </div>
                                <div class="col-lg-4">
                                    <label class="col-form-label">Zonal Head</label>
                                    <br />
                                    <p ng-model="vertical_code" style="font-size:14px;">{{customermail_list.zonalGid}}</p>
                                </div>
                                <div class="col-lg-4">
                                    <label class="col-form-label">Business Head</label>
                                    <br />
                                    <p style="font-size:14px;">{{customermail_list.businessHeadGid}}</p>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12 ">

                                <div class="col-lg-4">
                                    <label class="col-form-label">Cluster Manager</label>
                                    <br />
                                    <p ng-model="vertical_code" style="font-size:14px;">{{customermail_list.clustermanagerGid}}</p>
                                </div>
                                <div class="col-lg-4">
                                    <label class="col-form-label">Relationship Manager</label>
                                    <br />
                                    <p style="font-size:14px;">{{customermail_list.relationshipMgmtGid}}</p>
                                </div>
                                <div class="col-lg-4">
                                    <label class="col-form-label">Credit Manager</label>
                                    <br />
                                    <p ng-model="vertical_code" style="font-size:14px;">{{customermail_list.creditmanagerName}}</p>
                                </div>
                            </div>
                        </div>

                        

                    </form>
                </div>
            </div>
            <br />
            <div class="row">

                <div class="col-lg-12 col-md-12 col-sm-12">
                    <div class="col-lg-12 col-md-12 col-sm-12">

                        <div class="text-purple  text-bold" style="font-size:16px;">Mail Details</div>
                    </div>
                </div>

            </div>
            <p class="lead bb text-purple text-bold text-center" style="font-size:16px;"></p>
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <div class="col-lg-12 col-md-12 col-sm-12 ">

                        <p id="test">

                        </p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 col-lg-12 col-sm-12">
                    <div class="col-md-12 col-lg-12 col-sm-12">

                        <div class="table-responsive">
                            <table class="row-border hover" id="statictable">
                                <thead>
                                    <tr class="bg-success text-white">
                                        <th width="3%">S.NO</th>
                                        <th width="13%">RECORD ID</th>
                                   
                                        <th width="10%">DEFERRAL TYPE</th>
                                       
                                        <th width="10%">DUE DATE</th>
                                   
                                        <th width="20%">REMARKS</th>
                                        
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="subdata in mailalert_list" class="bg-indigo-50 row-border" style="grid-row:auto" width="100%">
                                        <td class="text-center">{{$index +1}}</td>
                                        <td title="'Issue Date'">{{subdata.record_id}}</td>
                                       
                                        <td data-title="'Issue Status'">{{subdata.deferral_name}}</td>
                                      
                                        <td data-title="'Remarks'">{{subdata.due_date}}</td>
                                       
                                        <td data-title="'Remarks'">{{subdata.customer_remarks}}</td>
                                       
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

            </div>
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 ">
                    <div class="col-lg-12 col-md-12 col-sm-12 ">
                        <br />
                        <p style="font-size:14px;">In case of any clarification / requirements, Kindly be in touch with Samunnati’s Relationship Manager</p>
                       
                        <br />
                        <p style="font-size:14px;">Thanking You,</p>
                        <br />
                        <p style="font-size:14px;">Yours Sincerely,<br />Samunnati Financial Intermediation & Services Pvt Ltd</p>
                        <p style="font-size:14px;"></p>
                    </div>
                </div>
            </div>
            <br />

            <br />

            <br />
            <div class="ng-scope">
                <div class="text-center">

                    <button type="button" class="btn btn-green" ng-click="sendmail(data.customeralert_gid)" ng-disabled="userform.$invalid"><i class="fa fa-arrow-circle-up"></i> &nbsp;&nbsp;Send</button>
                    <button ng-click="sendback()" class="btn btn-info"><i class="fa fa-arrow-circle-left"></i>&nbsp;&nbsp;Back</button>
                </div>
            </div>
        </div>
    </div>

</div>
