<h3>
    My Approvals
</h3>
<div ng-controller="departmentApprovalView">
    <div id="panelDemo8" class="panel panel-primary">
        <div class="panel-heading">
             Approval History - View Ticket Details
        </div>
        <div class="panel-body">
            <div class=".table-responsive">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-12 col-sm-12 col-md-12">
                            <div class="col-lg-2 col-sm-2 col-md-2">
                                <label style="font-weight:bold">Ticket Ref No</label>
                            </div>
                            <div class="col-lg-4 col-sm-4 col-md-4">
                                {{viewdepartment.complaint_refno}}
                            </div>
                            <div class="col-lg-2 col-sm-2 col-md-2">
                                <label style="font-weight:bold">Raised On</label>
                            </div>
                            <div class="col-lg-4 col-sm-4 col-md-4">
                                {{viewdepartment.complaint_date}}
                            </div>
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-lg-12 col-sm-12 col-md-12">
                            <div class="col-lg-2 col-sm-2 col-md-2">
                                <label style="font-weight:bold">Category</label>
                            </div>
                            <div class="col-lg-4 col-sm-4 col-md-4">
                                {{viewdepartment.category_name}}
                            </div>
                            <div class="col-lg-2 col-sm-2 col-md-2">
                                <label style="font-weight:bold">Raised By</label>
                            </div>
                            <div class="col-lg-4 col-sm-4 col-md-4">
                                {{viewdepartment.raisedfor_employee}}
                            </div>
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-lg-12 col-sm-12 col-md-12">
                            <div class="col-lg-2 col-sm-2 col-md-2">
                                <label style="font-weight:bold">Ticktet Subject</label>
                            </div>
                            <div class="col-lg-4 col-sm-4 col-md-4">
                                {{viewdepartment.complaint_title}}
                            </div>
                            <div class="col-lg-2 col-sm-2 col-md-2">
                                <label style="font-weight:bold">Ticktet Description</label>
                            </div>
                            <div class="col-lg-4 col-sm-4 col-md-4">
                                {{viewdepartment.complaint_remarks}}
                            </div>
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-lg-12 col-sm-12 col-md-12">
                            <div class="col-lg-2 col-sm-2 col-md-2">
                                <label style="font-weight:bold">Overall Approval Status</label>
                            </div>
                            <div class="col-lg-4 col-sm-4 col-md-4">
                                {{viewdepartment.approvalstatus}}
                            </div>
                            <div class="col-lg-2 col-sm-2 col-md-2">
                                <label style="font-weight:bold">Department Approval</label>
                            </div>
                            <div class="col-lg-4 col-sm-4 col-md-4">
                                {{viewdepartment.department_approval}}
                            </div>
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-lg-12 col-sm-12 col-md-12">
                            <div class="col-lg-2 col-sm-2 col-md-2">
                                <label style="font-weight:bold">Management Approval</label>
                            </div>
                            <div class="col-lg-4 col-sm-4 col-md-4">
                                {{viewdepartment.management_approval}}
                            </div>
                            <div class="col-lg-2 col-sm-2 col-md-2">
                                <label style="font-weight:bold">Service Approval</label>
                            </div>
                            <div class="col-lg-4 col-sm-4 col-md-4">
                                {{viewdepartment.service_approval}}
                            </div>
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-lg-12 col-sm-12 col-md-12">
                            <div class="col-lg-12 col-sm-12 col-md-12">
                                <label style="font-size:14px" class="text-primary" >
                                Ticket Approval details</label>
                            </div>
                        </div>
                        <br />
                        <div class="col-lg-12 col-sm-12 col-md-12">
                            <div class="table-responsive">
                                <table class="table hover table-striped row-border">
                                    <thead>
                                        <tr class="bg-gray text-white">
                                            <th>Approval</th>
                                            <th>Approval Person</th>
                                            <th>Approval Status - Approved Date</th>
                                            <th>Remarks</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td title="Approval">Department Approval</td>
                                            <td title="Approval Person">{{viewdepartment.department_approval}}</td>
                                            <td data-title="Approval Status">{{viewdepartment.department_approvedstatus}} - {{viewdepartment.department_approveddate}}</td>
                                            <td title="Remarks">{{viewdepartment.departmentrejected_remarks}}</td>
                                        </tr>
                                        <tr ng-switch="management_approveddate!=''">
                                            <td title="Approval">Management Approval</td>
                                            <td title="Approval Person">{{viewdepartment.management_approval}}</td>
                                            <td data-title="Approval Status">{{viewdepartment.management_approvedstatus}} - {{viewdepartment.management_approveddate}}</td>
                                            <td title="Remarks">{{viewdepartment.managementrejected_remarks}}</td>
                                        </tr>
                                        <tr ng-switch="service_approveddate!=''">
                                            <td title="Approval">Service Approval</td>
                                            <td title="Approval Person">{{viewdepartment.service_approval}}</td>
                                            <td data-title="Approval Status">{{viewdepartment.service_approvedstatus}} - {{viewdepartment.service_approveddate}}</td>
                                            <td title="Remarks">{{viewdepartment.servicerejected_remarks}}</td>
                                        </tr>

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
           
        </div>
        <div class="panel-footer">
            <div class="text-center">
                <a class="btn btn-info" ng-click="back()">
                    <i class="fa fa-arrow-left" style="font-size:15px;">
                        &nbsp;Back
                    </i>
                </a>
            </div>
        </div>
    </div>
</div>