<script>
    var hosts = window.location.origin; 
    var imgurl = hosts+ '/WebApplication1/home/UploadImage'; 
    $('div#froala-editor-p').on('froalaEditor.image.inserted', function (e, editor, $img, response) {
        $img.after("<p></p>");
    });

</script> 
<h3>
    Contract Letter Generate
</h3>
<div ng-controller="AgrMstAppSanctionLetterGenerationController">
    <div id="panelDemo8" class="panel panel-primary ">
        <div class="panel-heading">
            <span class="btn-label">
                <i class="fa fa-file"></i>
            </span>Contract Letter Generate
        </div>
        <div class="panel-body">
            <div id="panelDemo9" class="panel panel-primary">
                <div class="panel-heading" style="background-color: #d5591e;
                                    background-image: linear-gradient(316deg, rgb(236 195 100) 0%,  rgb(171 225 166) 74%);color:#000000;">
                    <b> Create Contract </b>
                </div>
                <div class="panel-body">
                    <div>
                        <div class="row" style="display:none;">
                            <div class="col-lg-12 col-md-12 col-sm-12 ">
                                <div class="col-lg-6 col-md-6 col-sm-6 ">
                                    <input name="customer_gid" id="customer_gid" style="font-size:12px" placeholder="Enter Customer gid"
                                           ng-model="customer_gid" class="form-control">
                                </div>
                            </div>
                        </div>

                        <div class="modal-body ng-scope">
                            <div class="pd-sm-10">
                                <div class="row">
                                    <div class="col-lg-12 col-md-12 col-sm-12">
                                        <div class="col-sm-2 col-md-2 col-lg-2">
                                            <label> Contract ID </label>
                                            <p>{{txtcontract_id}}</p>
                                        </div>
                                        <div class="col-sm-2 col-md-2 col-lg-2">
                                            <label> Agreement ID </label>
                                            <p>{{txtbuyeragreement_id}}</p>
                                        </div>

                                        <div class="col-sm-2 col-md-2 col-lg-2">
                                            <label>Contract From (Validity)</label>
                                            <br />
                                            <p>{{txtvalidityfrom_date}}</p>
                                        </div>
                                        < <div class="col-sm-2 col-md-2 col-lg-2">
                                            <label>Contract To (Validity)</label>
                                            <br />
                                            <p>{{txtvalidityto_date}}</p>
                                        </div>
                                        <div class="col-sm-2 col-md-2 col-lg-2">
                                            <label>Contract Date <span style="color:red"></span></label>

                                            <p>{{txtcontract_date}}</p>
                                        </div>
                                    </div>
                                </div>
                                <br />
                                <!--<div class="row" ng-show="customer_pnl">-->
                                <div class="row">
                                    <div class="col-lg-12 col-md-12 col-sm-12">
                                        <div class="dd-handle ng-scope">

                                            <p class="text-primary" style="font-size:16px;"><b>&nbsp;&nbsp;  Upload Documents </b></p>
                                            <hr />

                                            <div class="row">
                                                <div class="col-lg-12 col-sm-12 col-md-12">
                                                    <div class="col-lg-12 col-sm-12 col-md-12">
                                                        <div class="table-responsive">
                                                            <table class="table table-striped table-secondary">
                                                                <thead class="bg-gray text-white">
                                                                    <tr width="100%">
                                                                        <th scope="col">S.No</th>
                                                                        <th scope="col">Document Name</th>
                                                                        <th align="center" scope="col">
                                                                            Action&nbsp;&nbsp;&nbsp;
                                                                            <a download="" href="" title="Download All" id="btnpdf1" ng-click="downloadall()">
                                                                                <em class="icon-arrow-down"></em>&nbsp;
                                                                            </a>
                                                                        </th>
                                                                    </tr>
                                                                </thead>
                                                                <tbody>
                                                                    <tr ng-repeat="data in upload_list">
                                                                        <td title="S.No">{{$index+1}}</td>
                                                                        <td title="Document Name">{{data.document_name}}</td>
                                                                        <td data-title="Action">
                                                                            <button title="Download" class="btn btn-green btn-sm"
                                                                                    ng-click="downloads(data.document_path,data.document_name)">
                                                                                <em class="fa fa-download"></em>
                                                                                <a download="" href="" id="btnpdf" style="display:none;"></a>
                                                                            </button>
                                                                            <button title="View" class="btn btn-info btn-sm" ng-click="documentviewer(data.document_path,data.document_name)">
                                                                                <a download="" href="" style="display:none;"></a>  <em class="fa fa-file"></em>
                                                                            </button>

                                                                        </td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <br />
                                        </div>
                                    </div>
                                </div>
                                <br />


                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--<button ng-click="refrehtemplate()" class="btn btn-info"> &nbsp;&nbsp;Refresh</button>-->
            <br />
            <div class="row text-right" ng-if="sanctionletter_flag!='Y'" ng-show="sanctionletter_status=='Generated' && lspage!='SanctionApprovalCompleted'">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <!--<div ng-show="sanctionletter_status=='Generated'">-->
                    <a download="" href="" id="btnpdf" ng-click="download_signature(lspath,lsname)"><b><em class="icon-arrow-down"></em> Click Here to Download Document </b></a>&nbsp;&nbsp;
                    <!--</div>-->
                    <button ng-click="proceedtochecker()" class="btn btn-success"><i class="fa fa-arrow-circle-right"></i>&nbsp;&nbsp;Proceed To Checker</button>
                </div>

            </div>
            <div class="row text-right" ng-if="sanctionletter_flag=='Y' && checkerletter_flag=='N'" ng-show="sanctionletter_status=='Generated' &&  (lspage=='ContractChecker' )">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <!--<div ng-show="sanctionletter_status=='Generated'">-->
                    <a download="" href="" id="btnpdf" ng-click="download_signature(lspath,lsname)"><b><em class="icon-arrow-down"></em> Click Here to Download Document </b></a>&nbsp;&nbsp;
                    <!--</div>-->
                    <button ng-click="proceedtocheckerapproval()" class="btn btn-success"><i class="fa fa-arrow-circle-right"></i>&nbsp;&nbsp;Proceed To Approval</button>
                </div>

            </div>

            <div class="row text-right" ng-if="sanctionletter_flag=='Y' && checkerletter_flag=='Y' && checkerapproval_flag=='N'" ng-show="sanctionletter_status=='Generated' &&  ( lspage=='ContractApproval')">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <!--<div ng-show="sanctionletter_status=='Generated'">-->
                    <a download="" href="" id="btnpdf" ng-click="download_signature(lspath,lsname)"><b><em class="icon-arrow-down"></em> Click Here to Download Document </b></a>&nbsp;&nbsp;
                    <!--</div>-->
                    <button ng-click="checkerapprove()" class="btn btn-success"><i class="fa fa-thumbs-o-up"></i>&nbsp;&nbsp;Approve</button>
                    <button ng-click="checkerreject()" class="btn btn-danger"><i class="fa fa-thumbs-o-down"></i>&nbsp;&nbsp;Reject</button>
                </div>

            </div>
            <div class="row text-right" ng-if="sanctionletter_flag=='Y'" ng-show="sanctionletter_status=='Generated' && lspage=='ContractMaker'">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <!--<div ng-show="sanctionletter_status=='Generated'">-->
                    <a download="" href="" id="btnpdf" ng-click="download_signature(lspath,lsname)"><b><em class="icon-arrow-down"></em> Click Here to Download Document </b></a>&nbsp;&nbsp;
                    <!--</div>-->

                </div>

            </div>
            <div class="row text-right" ng-if="sanctionletter_flag=='Y' && checkerletter_flag=='Y'" ng-show="sanctionletter_status=='Generated' &&  (lspage=='ContractChecker' )">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <!--<div ng-show="sanctionletter_status=='Generated'">-->
                    <a download="" href="" id="btnpdf" ng-click="download_signature(lspath,lsname)"><b><em class="icon-arrow-down"></em> Click Here to Download Document </b></a>&nbsp;&nbsp;
                    <!--</div>-->

                </div>

            </div>
            <div class="row text-right" ng-if="sanctionletter_flag=='Y' && checkerletter_flag=='Y' && checkerapproval_flag=='Y'" ng-show="sanctionletter_status=='Generated' &&  ( lspage=='ContractApproval')">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <!--<div ng-show="sanctionletter_status=='Generated'">-->
                    <a download="" href="" id="btnpdf" ng-click="download_signature(lspath,lsname)"><b><em class="icon-arrow-down"></em> Click Here to Download Document </b></a>&nbsp;&nbsp;
                    <!--</div>-->

                </div>

            </div>
            <div class="col-lg-12 col-sm-12 col-md-12" ng-show="showmstcontent=='Y'">
                <div class="col-lg-5 col-sm-5 col-md-5">
                    <label class="col-form-label"> Template <span style="color:red"> *</span></label>
                    <br />
                    <select name="template" id="template" chosen="" ng-options="m.template_name for m in MdlTemplatelist"
                            ng-model="cbotemplate" ng-change="changeTemplate()" class="chosen-select form-control" required>
                        <option value=""></option>
                    </select>
                </div>
                <div class="col-lg-7 col-md-7 col-sm-7">
                    <br /> <br />
                    <button ng-click="TemplateConfirm(content)" ng-disabled="!cbotemplate" class="btn btn-success">
                        <i class="fa fa-check"></i>&nbsp;&nbsp;Confirm
                    </button>
                </div>
            </div>
            <div class="col-lg-12 col-sm-12 col-md-12" ng-show="showmstcontent=='N'">
                <div class="col-lg-5 col-sm-5 col-md-5">
                    <label class="col-form-label"> Template Name</label>
                    <br />
                    <p>{{template_name}}</p>
                </div>

            </div>
            <div class="row" ng-show="sanction_template_bind && ( lspage=='ContractApproval' || lspage=='ContractChecker' || lspage=='ContractMaker' || lspage=='SanctionApprovalCompleted')">
                <br />
                <div class="col-lg-12 col-md-12 col-sm-12" ng-show="sanctionletter_flag!='Y'">
                    <br />
                    <div class="col-lg-9 col-md-9 col-sm-9" ng-show="showmstcontent=='N'">
                        <label class="text-primary" style="font-size:14px;">
                            <span ng-show="showdefaulttemplate">Default</span>
                            <span ng-show="showedittemplate">Edit</span>
                            <span ng-show="showpreviewtemplate">Preview</span>
                        </label>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3" ng-show="showmstcontent=='N'">
                        <button ng-click="closetemplate(content)"
                                ng-class="(showdefaulttemplate==true) ? 'btn btn-grey' : 'btn btn-primary'">
                            <i class="fa fa-file"></i>&nbsp;&nbsp;Default
                        </button> &nbsp;
                        <button ng-click="editfielddetail(content)" ng-class="(showedittemplate==true) ? 'btn btn-grey' : 'btn btn-success'">
                            <i class="fa fa-edit"></i>&nbsp;&nbsp;Edit
                        </button> &nbsp;
                        <button ng-click="previewcontent(content)" ng-class="(showpreviewtemplate==true) ? 'btn btn-grey' : 'btn btn-info'">
                            <i class="fa fa-eye"></i>&nbsp;&nbsp;Preview
                        </button> &nbsp;
                        <br />
                    </div>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12" ng-show="sanctionletter_flag=='Y' && (lspage=='ContractApproval' || lspage=='ContractChecker' )">
                    <br />
                    <div class="col-lg-9 col-md-9 col-sm-9" ng-show="showmstcontent=='N'">
                        <label class="text-primary" style="font-size:14px;">
                            <span ng-show="showdefaulttemplate">Default</span>
                            <span ng-show="showedittemplate">Edit</span>
                            <span ng-show="showpreviewtemplate">Preview</span>
                        </label>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3" ng-show="showmstcontent=='N'">
                        <button ng-click="closetemplate(content)"
                                ng-class="(showdefaulttemplate==true) ? 'btn btn-grey' : 'btn btn-primary'">
                            <i class="fa fa-file"></i>&nbsp;&nbsp;Default
                        </button> &nbsp;
                        <button ng-click="editfielddetail(content)" ng-class="(showedittemplate==true) ? 'btn btn-grey' : 'btn btn-success'">
                            <i class="fa fa-edit"></i>&nbsp;&nbsp;Edit
                        </button> &nbsp;
                        <button ng-click="previewcontent(content)" ng-class="(showpreviewtemplate==true) ? 'btn btn-grey' : 'btn btn-info'">
                            <i class="fa fa-eye"></i>&nbsp;&nbsp;Preview
                        </button> &nbsp;
                        <br />
                    </div>
                </div>
                <hr />
                <div class="col-lg-12 col-md-12 col-sm-12" ng-show="showdefaulttemplate">
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <div class="simple">
                            <textarea id="sanctiontemplate" ng-show="editMode" froala ng-model="content" class="nw-editor__src"> </textarea>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12" ng-show="showedittemplate">
                    <div class="col-lg-8 col-md-8 col-sm-8">
                        <div id="froala-editor">
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4">
                        <div class="dd-handle ng-scope">
                            <div class="row">
                                <div class="col-lg-12 col-md-12 col-sm-12">
                                    <p class="text-primary" style="font-size:16px;"><b>&nbsp;&nbsp; Fill the Details </b></p>
                                    <hr />
                                    <form novalidate="" name="editinputtextbox" ng-submit="form.editinputtextbox()" autocomplete="off" class="form-validate form-horizontal">
                                        <div class="col-lg-12 col-md-12 col-sm-12" ng-repeat="m in inputlist">
                                            <label>{{m.input_fieldname}} <span ng-show="{{m.input_mandatory}}" style="color:red;">*</span></label>
                                            <br />
                                            <div ng-if="m.input_type=='text'">
                                                <input class="form-control" id="{{m.index}}" name="{{m.input_placeholder}}"
                                                       placeholder="{{m.input_placeholder}}" type="text" ng-model="m.input_givendata" ng-required="{{m.input_mandatory}}"
                                                       maxlength="{{m.inputmax_length}}" /> <span class="text-info"> Allow only {{m.inputmax_length}} characters</span>
                                            </div>
                                            <div ng-if="m.input_type=='textarea'">
                                                <textarea class="form-control" id={{m.index}} name="{{m.input_placeholder}}"
                                                          placeholder="{{m.input_placeholder}}" ng-required="{{m.input_mandatory}}"
                                                          ng-model="m.input_givendata" type="textarea"></textarea>
                                            </div>
                                            <div ng-if="m.input_type=='select-one' && m.DBInput==false">
                                                <select chosen="" name="{{m.input_placeholder}}" required="" id={{m.index}}
                                                        ng-options="k.trntemplateinputlistdtl_gid as k.preview_text for k in m.MdlInputlistDtls"
                                                        ng-model="m.input_givendata" class="chosen-select form-control" style="height:37px;" ng-required="{{m.input_mandatory}}"
                                                        size="1">
                                                    <option value="">----{{m.input_placeholder}}----</option>
                                                </select>
                                            </div>
                                            <div ng-if="m.input_type=='select-one' && m.DBInput==true">
                                                <select chosen="" name="{{m.input_type}}" required="" id={{m.index}}
                                                        ng-options="k.input_fieldvalue as k.input_fieldvalue for k in m.MdlInputGivenList"
                                                        ng-model="m.input_givendata" class="chosen-select form-control" style="height:37px;" ng-required="{{m.input_mandatory}}"
                                                        size="1">
                                                    <option value="">----{{m.input_placeholder}}----</option>
                                                </select>
                                            </div>
                                            <div ng-if="m.input_type=='radio'">
                                                <div class="radio c-radio">
                                                    <label ng-repeat="data in m.MdlInputlistDtls">
                                                        <input type="radio" id={{m.index}} ng-required="{{m.input_mandatory}}" name="{{data.preview_text}}" value="{{data.trntemplateinputlistdtl_gid}}" ng-model="m.input_givendata" />
                                                        &nbsp;&nbsp;<span class="fa fa-circle"></span>{{data.preview_text}}
                                                    </label>
                                                </div>
                                            </div>
                                            <div ng-if="m.input_type=='checkbox'">

                                                <div class="mb">
                                                    <span class="mda-checkbox">
                                                        <input type="checkbox" ng-model="m.input_givendata" ng-required="{{m.input_mandatory}}" />
                                                        <em class="bg-indigo-500"></em> {{m.input_previewtext}}
                                                    </span>
                                                </div>

                                            </div>
                                            <br />
                                        </div>

                                        <div class="col-lg-12 col-md-12 col-sm-12 text-center">
                                            <br />
                                            <button ng-click="updateinputTemplate()" ng-disabled="editinputtextbox.$invalid" class="btn btn-success">
                                                <i class="fa fa-check"></i>&nbsp;&nbsp;Update
                                            </button>
                                            <button ng-click="closetemplate()" class="btn btn-danger">
                                                <i class="icon icon-close"></i>&nbsp;&nbsp;Close
                                            </button>
                                        </div>

                                    </form>

                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12" ng-show="showpreviewtemplate">
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <div id="froala-editorpreview">
                        </div>
                    </div>

                    <!-- <div id="new" contenteditable="false">
                        <p id="sanctiontemplatepreview" froala ng-model="txtpreviewcontent" class="nw-editor__src"> </textarea>
                    </div> -->
                </div>
                <br />
            </div>
            <div class="row text-center" ng-show="sanction_template_bind && sanctionletter_flag!='Y'">
                <br />
                <button type="button" class="btn btn-info" ng-click="sanctionletterSave()"
                        title="Save">
                    <i class="fa fa-save"></i> &nbsp;&nbsp;Save
                </button>
                <button type="button" class="btn btn-success" ng-click="sanctionletterSubmit()"
                        title="Generate">
                    <i class="fa fa-check"></i> &nbsp;&nbsp;Generate
                </button>
                <button ng-click="sanctionletterback()" class="btn btn-info"><i class="fa fa-arrow-circle-left"></i>&nbsp;&nbsp;Back</button>
            </div>

            <div class="row text-center" ng-if="sanctionletter_flag=='Y' && ($scope.checkerletter_flag != 'Y'  )  && (lspage=='ContractChecker' )">
                <br />
                <button type="button" class="btn btn-info" ng-click="sanctionletterSave()"
                        title="Save">
                    <i class="fa fa-save"></i> &nbsp;&nbsp;Save
                </button>
                <button type="button" class="btn btn-success" ng-click="sanctionletterSubmit()"
                        title="Generate">
                    <i class="fa fa-check"></i> &nbsp;&nbsp;Generate
                </button>
                <button ng-click="sanctionletterback()" class="btn btn-info"><i class="fa fa-arrow-circle-left"></i>&nbsp;&nbsp;Back</button>
            </div>
            <div class="row text-center" ng-if="sanctionletter_flag=='Y' && ( $scope.checkerapproval_flag != 'Y' )  && ( lspage=='ContractApproval')">
                <br />
                <button type="button" class="btn btn-info" ng-click="sanctionletterSave()"
                        title="Save">
                    <i class="fa fa-save"></i> &nbsp;&nbsp;Save
                </button>
                <button type="button" class="btn btn-success" ng-click="sanctionletterSubmit()"
                        title="Generate">
                    <i class="fa fa-check"></i> &nbsp;&nbsp;Generate
                </button>
                <button ng-click="sanctionletterback()" class="btn btn-info"><i class="fa fa-arrow-circle-left"></i>&nbsp;&nbsp;Back</button>
            </div>

            <div class="row text-center" ng-show="sanction_template_bind && sanctionletter_flag=='Y' && lspage=='ContractMaker'">
                <br />
                <button ng-click="sanctionletterback()" class="btn btn-info"><i class="fa fa-arrow-circle-left"></i>&nbsp;&nbsp;Back</button>
            </div>
            <div class="row text-center" ng-if="sanctionletter_flag=='Y' && ($scope.checkerletter_flag == 'Y'  ) && ( $scope.checkerapproval_flag == 'N' )  && (lspage=='ContractChecker' )">
                <br />
                <button ng-click="sanctionletterback()" class="btn btn-info"><i class="fa fa-arrow-circle-left"></i>&nbsp;&nbsp;Back</button>
            </div>
            <div class="row text-center" ng-if="sanctionletter_flag=='Y' && ( $scope.checkerapproval_flag == 'Y' )  && ( lspage=='ContractApproval')">
                <br />
                <button ng-click="sanctionletterback()" class="btn btn-info"><i class="fa fa-arrow-circle-left"></i>&nbsp;&nbsp;Back</button>
            </div>
            <!--<div class="row text-center" ng-if="sanctionletter_flag=='Y' && ($scope.checkerletter_flag != 'Y' || $scope.checkerapproval_flag != 'Y' )  && (lspage=='ContractChecker' || lspage=='ContractApproval')">
                <br />
                <button ng-click="sanctionletterback()" class="btn btn-info"><i class="fa fa-arrow-circle-left"></i>&nbsp;&nbsp;Back</button>
            </div>-->
        </div>
    </div>


    <script type="text/ng-template" id="/templatefield.html">
        <div class="modal-header bg-primary ng-scope">

            <h4 id="myModalLabel" class="modal-title">
                <span class="btn-label bg-primary">
                    <i class="fa fa-edit ">&nbsp; Fill the Details</i>
                </span>
            </h4>
        </div>
        <div class="modal-body ng-scope">
            <div class="dd-handle ng-scope">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12">

                        <form novalidate="" name="editinputtextbox" ng-submit="form.editinputtextbox()" autocomplete="off" class="form-validate form-horizontal">
                            <div class="col-lg-12 col-md-12 col-sm-12" ng-repeat="m in inputlist">
                                <label>{{m.inputgroup_name}} <span ng-show="{{m.input_mandatory}}" style="color:red;">*</span></label>
                                <br />
                                <div ng-if="m.input_type=='text'">
                                    <input class="form-control" id="{{m.index}}" name="{{m.input_placeholder}}"
                                           placeholder="{{m.input_placeholder}}" type="text" ng-model="m.inputgivendata" ng-required="{{m.input_mandatory}}"
                                           maxlength="{{m.inputmax_length}}" />
                                </div>
                                <div ng-if="m.input_type=='textarea'">
                                    <textarea class="form-control" id={{m.index}} name="{{m.input_placeholder}}"
                                              placeholder="{{m.input_placeholder}}" ng-required="{{m.input_mandatory}}"
                                              ng-model="m.inputgivendata" type="textarea"></textarea>
                                </div>
                                <br />
                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12 text-center">
                                <br />
                                <button ng-click="updatetemplate()" ng-disabled="editinputtextbox.$invalid" class="btn btn-success">
                                    <i class="fa fa-check"></i>&nbsp;&nbsp;Update
                                </button>
                                <button ng-click="ok()" class="btn btn-danger">
                                    <i class="icon icon-close"></i>&nbsp;&nbsp;Close
                                </button>
                            </div>

                        </form>

                    </div>
                </div>
            </div>
        </div>
    </script>

    <script type="text/ng-template" id="/rejectsanctionpopup.html">
        <md-toolbar>
            <div class="md-toolbar-tools" style="background-color:rgb(63, 110, 181);">
                <h2><em class="fa fa-thumbs-o-down"></em>&nbsp;Reject Sanction</h2>
                <span flex></span>
            </div>
        </md-toolbar>
        <div class="modal-body ng-scope">
            <form novalidate="" name="rejectformsubmit" ng-submit="form.submitForm1()" autocomplete="off" class="form-validate form-horizontal">
                <div class="pd-sm-10">
                    <div class="row">
                        <div class="col-sm-12 col-lg-12 col-md-12">
                            <label>Remarks <span style="color:red">*</span></label>
                            <textarea ng-model="reject_remarks" placeholder="Enter Remarks" rows="3" class="form-control" style="resize:vertical;"
                                      required="" id="input_13" ng-trim="false" aria-multiline="true" tabindex="0" aria-invalid="true"></textarea>
                        </div>
                    </div>
                    <br />
                </div>
                <br />
                <div>
                    <div class="text-center">
                        <button type="button" class="btn btn-success btn-md" ng-disabled="rejectformsubmit.$invalid" ng-click="RejectSanctionSubmit()"><i class="fa fa-arrow-circle-right"></i>&nbsp;&nbsp;Submit</button>&nbsp;&nbsp;
                        <button ng-click="close()" class="btn btn-danger"><i class="fa icon-close"></i>&nbsp;&nbsp;Close</button>
                    </div>
                </div>
            </form>
            <br />
        </div>
    </script>
</div>