<style>
    .menu-bar1 {
        width: auto;
        max-height: 200px;
        overflow: auto;
        overflow-y: scroll;
    }
    /* custom scrollbar */
    ::-webkit-scrollbar {
        width: 20px;
    }

    ::-webkit-scrollbar-track {
        background-color: transparent;
    }

    ::-webkit-scrollbar-thumb {
        background-color: #d6dee1;
        border-radius: 20px;
        border: 8px solid transparent;
        background-clip: content-box;
    }

        ::-webkit-scrollbar-thumb:hover {
            background-color: #a8bbbf;
        }
</style>
<h3>
    Warehouse Report
</h3>
<div ng-controller="AgrMstWarehouseReportController">
    <div class="col-lg-12 col-sm-12 col-md-12 " style="text-align:right;padding-bottom:10px;">
        <button type="button" class="btn btn-success" ng-click="warehousereport()" title="Export Excel"><i class="fa fa-file-excel-o"><a download="" href="" id="btnpdf" style="display:none;"></a></i></button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <br /><br /><label style="background-color:white;left:90%;"> Export Excel </label>
    </div>
    <div class="row">
        <div class="col-lg-12 col-sm-12 col-md-12">
            <!-- START panel-->
            <div id="panelDemo13" class="panel panel-default">
                <div class="panel-body">
                    <div class="table-responsive">
                        <table datatable="ng" class="table table-striped row-border hover">
                            <thead>
                                <tr class="text-white" style="background-color:#09385f;">
                                    <th class="text-center" style="display:none"> S.No</th>
                                    <th> Warehouse Code </th>
                                    <th> Warehouse Name </th>
                                    <th> Commodity Name </th>
                                    <th> Created by </th>
                                    <th> Created date </th>
                                    <!-- <th> Approval Status </th> -->
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="data in warehouse_list">
                                    <td data-title="'S.No'" class="text-center" style="display:none"> {{$index+1}}</td>
                                    <td data-title="'Warehouse Code'"> {{data.warehouse_ref_no}} </td>
                                    <td data-title="'Warehouse Name'"> {{data.warehouse_name}} </td>                                    
                                    <td data-title="'Commodity Name'"> {{data.product_name}} </td>                                  
                                    <td data-title="'Created by"> {{data.created_by}} </td>
                                    <td data-title="'Created date'"> {{data.created_date}} </td>
                                    <!-- <td data-title="'Status'"><label class="label label-info" style="font-size:12px;">{{data.approval_status}} </label> </td> -->
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
