<h3>
    Credit Allocation Report
</h3>

<div ng-controller="AgrMstCreditAllocationReportController">
    <div class="row">
        <div class="col-lg-12 col-sm-12 col-md-12">
            <div class="col-lg-10 col-sm-10 col-md-10">
            </div>
            <div class="col-lg-2 col-sm-2 col-md-2 " style="text-align:right;padding-bottom:10px;">
                <button type="button" class="btn btn-success" ng-click="excelreport()" title="Export Excel"><i class="fa fa-file-excel-o"><a download="" href="" id="btnpdf" style="display:none;"></a></i></button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <br /><label style="background-color:white;left:90%;"> Export Excel </label>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 col-sm-12 col-md-12">
            <!-- START panel-->
            <div id="panelDemo13" class="panel panel-default">
                <div class="panel-body">
                    <div class="table-responsive">
                        <table datatable="ng" class="table table-striped row-border hover">
                            <thead>
                                <tr class="text-white" style="background-color:#09385f;">
                                    <th>S.No</th>
                                    <th class="nowrap">Application Ref number</th>
                                    <!--<th class="nowrap">Applicant Name</th>-->
                                    <th class="nowrap">Customer Name</th>
                                    <th class="nowrap">Submitted Date</th>
                                    <th class="nowrap">Submitted By</th>
                                    <th>Vertical</th>
                                    <!--<th>Customer/Supplier Type </th>-->
                                    <th>Region</th>
                                    <th class="nowrap">Overall Limit</th>
                                    <th class="nowrap">Product Credit Group</th>
                                    <th class="nowrap">Approved Date</th>
                                    <th class="nowrap">Allocation to</th>
                                    <th class="nowrap">Allocation Date</th>
                                    <th class="nowrap">Allocation by</th>
                                    <th class="nowrap">RCM</th>
                                    <th class="nowrap">NCM</th>
                                    <th class="nowrap">CH</th>
                                    <th>Status</th>
                                    <th class="nowrap">AC Submitted date</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="data in MstCreditReport_list">
                                    <td data-title="'S.No'">{{$index+1}}</td>
                                    <td data-title="'Application Number'">{{data.application_no}}</td>
                                    <td data-title="'Applicant Name'">{{data.customer_name}}</td>
                                    <td data-title="'Submitted Date'">{{data.updated_date}}</td>
                                    <td data-title="'Submitted By'"> {{data.created_by}} </td>
                                    <td data-title="'Vertical'">{{data.vertical_name}}</td>
                                    <td data-title="'Region'"> {{data.region}} </td>
                                    <td data-title="'Overall Limit'"> {{data.overalllimit_amount}} </td>
                                    <td data-title="'Credit Group'"> {{data.creditgroup_name}} </td>
                                    <td data-title="'Approved Date'"> {{data.headapproval_date}} </td>
                                    <td data-title="'Allocation to'"> {{data.creditassigned_to}} </td>
                                    <td data-title="'Allocation Date'"> {{data.creditassigned_date}} </td>
                                    <td data-title="'Allocation by'"> {{data.creditassigned_by}} </td>
                                    <td data-title="'RCM'"> {{data.creditregionalmanager_name}} </td>
                                    <td data-title="'NCM'"> {{data.creditnationalmanager_name}} </td>
                                    <td data-title="'CH'"> {{data.credithead_name}} </td>
                                    <td data-title="'Status'">{{data.approval_status}}</td>
                                    <td data-title="CC Submitted date">{{data.ccsubmitted_date}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br />
</div>