<style>
    .nav.nav-pills .active > a {
        background-color: rgb(19,14,89);
        background: linear-gradient(90deg, rgba(19,14,89,1) 0%, rgba(65,65,185,1) 35%, rgba(0,212,255,1) 100%);
        color: #ffffff;
    }
</style>
<h3>
    Credit Underwriting
</h3>
<div ng-controller="AgrTrnCreditBankAccountDtlEditController as form">
    <div class="panel">
        <div class="panel-heading" style="background-color:rgb(19,14,89);background: linear-gradient(90deg, rgba(19,14,89,1) 0%, rgba(65,65,185,1) 35%, rgba(0,212,255,1) 100%);color:#ffffff">
            <h5> Edit Bank Account Details </h5>
        </div>
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <div class="panel-body">
                        <div class="row">
                            <form name="form.formValidate" ng-submit="form.submitForm()" novalidate="" class="form-validate form-horizontal">
                                <div class="col-lg-12 col-md-12 col-sm-12">
                                    <div class="row">
                                        <div class="col-sm-12 col-md-12 col-lg-12">
                                            <div class="dd-handle ng-scope">
                                                <div class="row">
                                                    <div class="col-sm-12 col-md-12 col-lg-12">
                                                        <p class="text-primary" style="font-size:14px;"><b> Bank Account Details </b></p>
                                                        <hr />
                                                        <div class="col-lg-4 col-md-4 col-sm-4">
                                                            <label class="col-form-label"> IFSC Code <span style="color:red"> *</span></label>
                                                            <br />
                                                            <input type="text" ng-model="txtIFSC_Code" name="IFSCCode" id="IFSCCode" required="" 
                                                                    ng-change="IFSCValidation()"  tabindex="0" class="form-control" />
                                                            <label class="fa fa-check" style="color:green" ng-show="ifscvalidation"></label>&nbsp;<label style="font-weight:bolder;color:green" ng-show="ifscvalidation">Verified</label>
                                                             <span ng-show="form.validateInput('IFSCCode', 'required')" class="text-danger">This field is required</span>
                                                        </div>
                                                        <div class="col-lg-4 col-md-4 col-sm-4">
                                                            <label class="col-form-label"> Bank Name </label>
                                                            <br />
                                                            <input type="text" ng-model="txtBank_Name" name="BankName" id="BankName"  tabindex="0" class="form-control" disabled />
                                                        </div>
                                                        <div class="col-lg-4 col-md-4 col-sm-4">
                                                            <label class="col-form-label"> Branch Name<span style="color:red"> *</span></label>
                                                            <br />
                                                            <input type="text" ng-model="txtBranch_Name" name="BranchName" id="BranchName" tabindex="0" class="form-control" />
                                                        </div>
                                                    </div>
                                                </div>
                                                <br />
                                                <div class="row">
                                                    <div class="col-sm-12 col-md-12 col-lg-12">
                                                        <div class="col-lg-8 col-md-8 col-sm-8">
                                                            <label class="col-form-label"> Branch Address<span style="color:red"> *</span></label>
                                                            <br />
                                                            <input type="text" ng-model="txtBank_Address" name="BankAddress" id="BankAddress" tabindex="0" class="form-control"  />
                                                        </div>
                                                        <div class="col-lg-4 col-md-4 col-sm-4">
                                                            <label class="col-form-label"> MICR Code </label>
                                                            <br />
                                                            <input type="text" ng-model="txtMICR_Code" name="MICRCode" id="MICRCode"  tabindex="0" class="form-control" disabled />
                                                        </div>
                                                    </div>
                                                </div>
                                                <br />
                                                <div class="row">
                                                    <div class="col-sm-12 col-md-12 col-lg-12">
                                                        <div class="col-lg-6 col-md-6 col-sm-6">
                                                            <label class="col-form-label"> Bank Account Number <span style="color:red"> *</span></label>
                                                            <br />
                                                            <input type="text" ng-model="txtbankacct_no" name="BankAccountNumber" id="BankAccountNumber" required="" ng-pattern="/^([A-Z0-9]{9,18})$/" tabindex="0" class="form-control" maxlength="30" />
                                                            <span ng-show="form.validateInput('BankAccountNumber', 'required')" class="text-danger">This field is required</span>
                                                            <label class="fa fa-check" style="color:green" ng-show="bankaccvalidation"></label>&nbsp;<label style="font-weight:bolder;color:green" ng-show="bankaccvalidation">Verified</label>
                                                            <label ng-if="bankaccvalidation == false" style="font-weight:bolder;color:red">Not Verified</label>
                                                        </div>
                                                        <div class="col-lg-6 col-md-6 col-sm-6">
                                                            <label class="col-form-label"> Confirm Account Number<span style="color:red"> *</span></label>
                                                            <br />
                                                            <input type="text" ng-model="txtconfirmbankacct_no" name="ConfirmBankAccountNumber" id="ConfirmBankAccountNumber" ui-validate="'$value==txtbankacct_no'" ui-validate-watch="'txtconfirmbankacct_no'" ng-pattern="/^([A-Z0-9]{9,18})$/" required="" tabindex="0" class="form-control" maxlength="30" ng-change="BankAccValidation()" />
                                                            <span ng-show="form.formValidate.ConfirmBankAccountNumber.$dirty &amp;&amp; form.formValidate.ConfirmBankAccountNumber.$error.validator" class="text-danger">Bank Account number does not match</span>
                                                            <span ng-show="form.validateInput('ConfirmBankAccountNumber', 'required')" class="text-danger">This field is required</span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <br />
                                                <div class="row">
                                                    <div class="col-sm-12 col-md-12 col-lg-12">
                                                        <div class="col-lg-6 col-md-6 col-sm-6">
                                                            <label class="col-form-label"> Account Holder Name <span style="color:red"> *</span></label>
                                                            <br />
                                                            <input type="text" ng-model="txtacctholder_name" name="accounttholdername" id="accounttholdername" required="" tabindex="0" class="form-control" />
                                                            <span ng-show="form.validateInput('accounttholdername', 'required')" class="text-danger">This field is required</span>
                                                        </div>
                                                        <div class="col-lg-4 col-md-4 col-sm-4">
                                                            <label class="col-form-label"> Account Type <span style="color:red"> *</span></label>
                                                            <br />
                                                            <select name="AccountType" id="AccountType" chosen="" ng-options="m.bankaccounttype_gid as m.bankaccounttype_name for m in accounttype_list"
                                                                    type="text" class="form-control parsley-error" required="" ng-model="cboAccountType">
                                                                <option value=""> ----- Select From Dropdown -----</option>
                                                            </select>
                                                            <span ng-show="form.validateInput('AccountType', 'required')" class="text-danger">This field is required</span>
                                                        </div>
                                                        <div class="col-lg-2 col-md-2 col-sm-2">
                                                            <label> Joint Account <span style="color:red"> *</span></label>
                                                            <div class="radio c-radio">
                                                                <label>
                                                                    <input type="radio" id="JointAccount" name="JointAccount" value="Yes" ng-model="rdbJoint_Account" required="" />
                                                                    &nbsp;&nbsp;<span class="fa fa-circle"></span>Yes
                                                                </label>
                                                                <label>
                                                                    <input type="radio" id="JointAccount" name="JointAccount" ng-change="change()" value="No" ng-model="rdbJoint_Account" required="" />
                                                                    <span class="fa fa-circle"></span>No
                                                                </label>
                                                            </div>
                                                            <span ng-show="form.validateInput('JointAccount', 'required')" class="text-danger">This field is required</span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <br />
                                                <div class="row">
                                                    <div class="col-sm-12 col-md-12 col-lg-12">
                                                        <div class="col-lg-5 col-md-5 col-sm-5" ng-show="rdbJoint_Account=='Yes'">
                                                            <label class="col-form-label"> Joint Account Holder Name  <span style="color:red"> *</span></label>
                                                            <br />
                                                            <input type="text" ng-model="txtjointacctholder_name" name="jointacctholdername" id="jointacctholdername" tabindex="0" class="form-control" maxlength="50" />
                                                        </div>
                                                        <div class="col-lg-5 col-md-5 col-sm-5" ng-show="rdbJoint_Account!='Yes'">
                                                            <label class="col-form-label"> Joint Account Holder Name</label>
                                                            <br />
                                                            <input type="text" ng-model="test" disabled name="jointacctholdername" id="jointacctholdername" class="form-control" maxlength="50" />
                                                        </div>
                                                        
                                                        <div class="col-lg-3 col-md-3 col-sm-3">
                                                            <label> Is Cheque Book Facility Available  <span style="color:red"> *</span></label>
                                                            <div class="radio c-radio">
                                                                <label>
                                                                    <input type="radio" id="CheckBook" name="CheckBook" value="Yes"  ng-model="rdbCheque_Book" required="" />
                                                                    &nbsp;&nbsp;<span class="fa fa-circle"></span>Yes
                                                                </label>
                                                                <label>
                                                                    <input type="radio" id="CheckBook" name="CheckBook" value="No" ng-change="change()" ng-model="rdbCheque_Book" required="" />
                                                                    <span class="fa fa-circle"></span>No
                                                                </label>
                                                            </div>
                                                            <span ng-show="form.validateInput('CheckBook', 'required')" class="text-danger">This field is required</span>
                                                        </div>
                                                        <div class="col-lg-4 col-md-4 col-sm-4">
                                                            <div ng-controller="MstCreditIndividualBankAcctEditController as dp">
                                                                <label class="col-form-label"> Account Open Date </label>
                                                                <br />
                                                                <p class="input-group">
                                                                    <input type="text" id="AccountOpenDate" name="AccountOpenDate" ng-model="$parent.txtAccountOpen_Date" datepicker-popup="{{dp.format}}"
                                                                           style="height:36px;" is-open="dp.open1" min-date="dp.minDate" datepicker-options="dp.dateOptions"
                                                                           close-text="Close" class="form-control" placeholder="DD-MM-YYYY" />
                                                                    <span class="input-group-btn">
                                                                        <button type="button" ng-click="dp.calender1($event)" style="height:36px;" class="btn btn-default">
                                                                            <em class="fa fa-calendar"></em>
                                                                        </button>
                                                                    </span>
                                                                </p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <br />
                                                <div class="row">
                                                    <div class="col-lg-12 col-md-12 col-sm-12">
                                                        <div class="col-lg-12 col-md-12 col-sm-12">
                                                            <div class="col-lg-12 col-md-12 col-sm-12 dd-handle ng-scope">
                                                                <div class="col-lg-12 col-md-12 col-sm-12">
                                                                    <p class="text-primary" style="font-size:14px;"><b> Upload cheque leaf </b></p>
                                                                    <div class="col-lg-8 col-md-8 col-sm-8">
                                                                        <div class="mda-form-group float-label">
                                                                            <input ng-model="txtdocument_title" tabindex="0" maxlength="75" aria-required="true" aria-invalid="true" class="mda-form-control ng-pristine ng-invalid ng-invalid-required ng-touched">
                                                                            <label>Document Title </label>
                                                                        </div>
                                                                    </div>

                                                                    <div class="col-lg-4 col-md-4 col-sm-4">
                                                                        <div class="mda-form-group float-label">
                                                                            <strong>Upload Documents</strong>
                                                                            <input type="file" id="chequefilefile" tabindex="5" multiple onchange="angular.element(this).scope().chequeleafdocumentUpload(this.files, angular.element(this).scope().documentupload, this.name)"
                                                                                   ng-model="chequefilefile" data-classbutton="btn btn-default" data-classinput="form-control inline" data-button-text="Select" />
                                                                        </div>
                                                                    </div>
                                                                </div>

                                                                <div class="row">
                                                                    <div class="col-lg-12 col-sm-12 col-md-12">
                                                                        <br />
                                                                        <div class="table-responsive">
                                                                            <table class="table table-striped table-secondary">
                                                                                <thead class="bg-gray text-white">
                                                                                    <tr width="100%">
                                                                                        <th scope="col">S.No</th>
                                                                                        <th scope="col">Document Title</th>
                                                                                        <th scope="col">Document Name</th>
                                                                                        <!-- <th scope="col">Action</th> -->
                                                                                        <th align="center" scope="col">
                                                                                            Action&nbsp;&nbsp;&nbsp;
                                                                                            <a download="" href="" title="Download All" id="btnpdf1" ng-click="downloadall()">
                                                                                                <em style="font-size: 1.5em;" class="icon-arrow-down"></em>&nbsp;
                                                                                            </a>
                                                                                        </th>
                                                                                    </tr>
                                                                                </thead>
                                                                                <tbody>
                                                                                    <tr ng-repeat="data in credituploaddocument_list">
                                                                                        <td title="S.No">{{$index+1}}</td>
                                                                                        <td title="Document Name">{{data.document_title}}</td>
                                                                                        <td title="Document Name">{{data.chequeleaf_name}}</td>
                                                                                        <td data-title="Action">
                                                                                            <button title="Download" class="btn btn-green btn-xs"
                                                                                                    ng-click="downloads(data.chequeleaf_path,data.chequeleaf_name)">
                                                                                                <a download="" href="" id="btnpdf" style="display:none;"></a>
                                                                                                <em class="fa fa-download"></em>
                                                                                            </button>
                                                                                            <button title="View" class="btn btn-info btn-xs" ng-click="documentviewer(data.chequeleaf_path,data.chequeleaf_name)">
                                                                                                <a download="" href="" style="display:none;"></a>  <em class="fa fa-file"></em>
                                                                                            </button>
                                                                                            <a title="Delete" class="btn btn-xs btn-danger" ng-click="uploaddocumentcancel(data.creditbankdtl2cheque_gid)">
                                                                                                <span class="fa fa-trash-o"></span>
                                                                                            </a>
                                                                                        </td>
                                                                                    </tr>
                                                                                </tbody>
                                                                            </table>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-12 col-md-12 col-sm-12">
                                            <br /> <br />
                                            <div class="text-center">
                                                <button type="submit" class="btn btn-success btn-md" ng-click="update_Bankacctdtl()"><i class="fa fa-arrow-circle-right"></i>&nbsp;&nbsp;Update</button>&nbsp;&nbsp;
                                                <button ng-click="Bankacctdtl_Back()" type="button" class="btn btn-info"><i class="fa fa-arrow-circle-left"></i>&nbsp;&nbsp;Back</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <br />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>