<h3>
    CC Meeting Skip History
</h3>

<div ng-controller="AgrTrnCcMeetingSkipHistoryController">
    <div class="panel">
        <div class="panel-heading" style="background-color:rgb(19,14,89);color:#ffffff">
            <h5> {{txtbasiccustomer_name}} / {{txtapplication_no}} </h5>
        </div>
        <br />
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12">
                <div class="col-sm-12 col-md-12 col-lg-12">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <div class="table-responsive table-bordered">
                                <table class="table">
                                    <thead class="bg-gray text-white">
                                        <tr style="font-size: 13px;">
                                            <th class="text-center">S.No</th>
                                            <th>CC Meeting Skip By</th>
                                            <th>CC Meeting Skip Date</th>
                                            <th class="text-center">Reason </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="data in ccmeetingskiphistory_list">
                                            <td class="text-center">{{$index+1}}</td>
                                            <td>{{data.ccmeetingskip_by}}</td>
                                            <td>{{data.ccmeetingskip_date}}</td>
                                            <td data-title="'CC Skipped Reason'" class="text-center">
                                                <button ng-click="ccskipped_reason(data.ccmeetingskip_gid)" class="btn btn-info">
                                                    <em class="fa fa-eye"></em>
                                                </button>
                                            </td>
                                        </tr>

                                    </tbody>
                                </table>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="row">
            <div class="text-center">
                <br /><br />
                <button ng-click="Back()" class="btn btn-info"><i class="fa fa-arrow-circle-left"></i>&nbsp;&nbsp;Back</button>
            </div>
            <br />
        </div>
    </div>
    <br />
    <script type="text/ng-template" id="/ccskippedreason.html">
        <div class="modal-header bg-primary ng-scope">
            <h5 id="myModalLabel" class="modal-title">
                <span class="bg-primary">
                    <em class="fa fa-eye"></em>
                </span> <b>CC Meeting Skip</b>
            </h5>
        </div>
        <div class="modal-body ng-scope">
            <form novalidate="" name="ccmeetingskip" ng-submit="form.ccmeetingskip()" autocomplete="off" class="form-validate form-horizontal">
                <div class="pd-sm-10">
                    <div class="row">
                        <div class="col-sm-12 col-md-12 col-lg-12">
                            <div class="ng-scope dd-handle">
                                <div class="row">
                                    <div class="col-lg-12 col-md-12 col-sm-12">
                                        <label> CC Meeting Skip Reason : </label>
                                        <br />
                                        <p>{{lblccmeetingskipreason}}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <br />
                            <div class="text-center">
                                <button ng-click="ok()" class="btn btn-danger"><i class="fa icon-close"></i>&nbsp;&nbsp;Close</button>
                            </div>
                        </div>
                        <br />
                    </div>
                </div>
            </form>
        </div>
    </script>
</div>
