<style>
    .formstatic {
        position: fixed;
        width: 22%;
    }

    .formstaticbtn:hover {
        background-color: rgb(89, 86, 90);
        color: rgb(31, 26, 102);
        text-decoration: underline;
        font-weight: bold;
    }
</style>
<h3>
    Credit Underwriting
</h3>
<div ng-controller="AgrTrnSuprCreditCompanyDtlAddController as form">
    <div class="panel">
        <form name="form.formValidate" ng-submit="form.submitForm()" novalidate="" class="form-validate form-horizontal">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <div class="panel-heading" style="background-color: #191370;color:#ffffff">
                        <b>Add Credit Company Details - {{txtinstitution_name}} / {{txtstakeholder_type}}</b>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-lg-12 col-sm-12 col-md-12">
                                <div class="col-lg-3 col-md-3 col-sm-3" style="padding-left:10px;">
                                    <div class="">
                                        <div id="panelPortlet13" class="panel">
                                            <div class="panel-heading portlet-handler text-bold text-center  align-middle" style="background-color:#F1EFEF"><h style="font-size:14px" class="m10">Credit Company Add Forms</h></div>

                                            <div class="panel-body">
                                                <div class="panel widget">
                                                    <div class="row row-table formstaticbtn" ng-click="company_deferraldocchecklist()" style="background-color:#f7f5f5">
                                                        <div class="col-xs-2 text-center  pv-lg">
                                                            <em class="fa fa-plus fa-x"></em>

                                                        </div>
                                                        <div class="col-xs-10 pv-lg">
                                                            <div class="m10" style="font-size: 13px;"><b>Add Deferral Checklist </b></div>
                                                        </div>
                                                    </div>
                                                    <div class="row row-table formstaticbtn" ng-click="company_covenantdocchecklist()" style="background-color:#e9e7e7">
                                                        <div class="col-xs-2 text-center  pv-lg">
                                                            <em class="fa fa-plus fa-x"></em>

                                                        </div>
                                                        <div class="col-xs-10 pv-lg">
                                                            <div class="m10" style="font-size: 13px;"><b>Add Covenant Checklist </b></div>
                                                        </div>
                                                    </div>
                                                    <div class="row row-table formstaticbtn" ng-click="institution_bureauadd()" style="background-color:#f7f5f5">
                                                        <div class="col-xs-2 text-center  pv-lg">
                                                            <em class="fa fa-plus fa-x"></em>

                                                        </div>
                                                        <div class="col-xs-10 pv-lg">
                                                            <div class="m10" style="font-size: 13px;"><b> Add Bureau Details</b></div>
                                                        </div>
                                                    </div>
                                                    <div class="row row-table formstaticbtn" ng-click="company_geneticadd()" style="background-color:#e9e7e7">
                                                        <div class="col-xs-2 text-center  pv-lg">
                                                            <em class="fa fa-plus fa-x"></em>

                                                        </div>
                                                        <div class="col-xs-10 pv-lg">
                                                            <div class="m10" style="font-size: 13px;"><b>Add Genetic Code</b></div>
                                                        </div>
                                                    </div>
                                                    <div class="row row-table formstaticbtn" ng-click="company_economicadd()" style="background-color:#f7f5f5;">
                                                        <div class="col-xs-2 text-center  pv-lg">
                                                            <em class="fa fa-plus fa-x"></em>

                                                        </div>
                                                        <div class="col-xs-10 pv-lg">
                                                            <div class="m10" style="font-size: 13px;"><b>Add Economic Capital </b></div>
                                                        </div>
                                                    </div>
                                                    <div class="row row-table formstaticbtn" ng-click="company_PSLdata()" style="background-color:#e9e7e7;">
                                                        <div class="col-xs-2 text-center  pv-lg">
                                                            <em class="fa fa-plus fa-x"></em>

                                                        </div>
                                                        <div class="col-xs-10 pv-lg">
                                                            <div class="m10" style="font-size: 13px;"><b>Add PSL Data Flagging </b></div>
                                                        </div>
                                                    </div>
                                                    <div class="row row-table formstaticbtn" ng-click="company_supplier()" style="background-color:#f7f5f5;">
                                                        <div class="col-xs-2 text-center  pv-lg">
                                                            <em class="fa fa-plus fa-x"></em>

                                                        </div>
                                                        <div class="col-xs-10 pv-lg">
                                                            <div class="m10" style="font-size: 13px;"><b>Add Supplier Details </b></div>
                                                        </div>
                                                    </div>
                                                    <div class="row row-table formstaticbtn" ng-click="company_buyer()" style="background-color:#e9e7e7;">
                                                        <div class="col-xs-2 text-center  pv-lg">
                                                            <em class="fa fa-plus fa-x"></em>

                                                        </div>
                                                        <div class="col-xs-10 pv-lg">
                                                            <div class="m10" style="font-size: 13px;"><b> Add Buyer Details </b></div>
                                                        </div>
                                                    </div>
                                                    <div class="row row-table formstaticbtn" ng-click="company_bankaccount()" style="background-color:#f7f5f5;">
                                                        <div class="col-xs-2 text-center  pv-lg">
                                                            <em class="fa fa-plus fa-x"></em>

                                                        </div>
                                                        <div class="col-xs-10 pv-lg">
                                                            <div class="m10" style="font-size: 13px;"><b>Add Bank Account Details </b></div>
                                                        </div>
                                                    </div>
                                                    <div class="row row-table formstaticbtn" ng-click="company_existingbankaccount()" style="background-color:#e9e7e7;">
                                                        <div class="col-xs-2 text-center  pv-lg">
                                                            <em class="fa fa-plus fa-x"></em>

                                                        </div>
                                                        <div class="col-xs-10 pv-lg">
                                                            <div class="m10" style="font-size: 13px;"><b>Add Existing Bank Facility </b></div>
                                                        </div>
                                                    </div>
                                                    <div class="row row-table formstaticbtn" ng-click="company_repayment()" style="background-color:#f7f5f5;">
                                                        <div class="col-xs-2 text-center  pv-lg">
                                                            <em class="fa fa-plus fa-x"></em>

                                                        </div>
                                                        <div class="col-xs-10 pv-lg">
                                                            <div class="m10" style="font-size: 13px;"><b>Add Repayment Track Record </b></div>
                                                        </div>
                                                    </div>
                                                    <div class="row row-table formstaticbtn" ng-click="company_bankstatement()" style="background-color:#e9e7e7;">
                                                        <div class="col-xs-2 text-center  pv-lg">
                                                            <em class="fa fa-plus fa-x"></em>

                                                        </div>
                                                        <div class="col-xs-10 pv-lg">
                                                            <div class="m10" style="font-size: 13px;"><b>Bank Statement Analysis </b></div>
                                                        </div>
                                                    </div>
                                                    <div class="row row-table formstaticbtn" ng-click="company_fsa()" style="background-color:#f7f5f5;">
                                                        <div class="col-xs-2 text-center  pv-lg">
                                                            <em class="fa fa-plus fa-x"></em>

                                                        </div>
                                                        <div class="col-xs-10 pv-lg">
                                                            <div class="m10" style="font-size: 13px;"><b>FSA Details</b></div>
                                                        </div>
                                                    </div>
                                                    <div class="row row-table formstaticbtn" ng-click="company_observation()" style="background-color:#e9e7e7;">
                                                        <div class="col-xs-2 text-center  pv-lg">
                                                            <em class="fa fa-plus fa-x"></em>

                                                        </div>
                                                        <div class="col-xs-10 pv-lg">
                                                            <div class="m10" style="font-size: 13px;"><b>Norms Details</b></div>
                                                        </div>
                                                    </div>
                                                    <div class="row row-table panel panel-default" id="panelDemo3">

                                                        <div ng-class="{'panel-heading-collapsed':panelDemo3}" class="panel-heading panel-heading-collapsed" style="background-color:#f7f5f5;">

                                                            <label class="text-primary">  API Verifications</label>
                                                            <paneltool tool-collapse="tool-collapse" ng-init="panelDemo3=true" class="pull-right">
                                                                <a href="#" panel-collapse="" tooltip="Expand / Collapse" ng-click="panelDemo3 = !panelDemo3" class="ng-scope" tabindex="0">
                                                                    <em ng-show="panelDemo3" class="glyphicon glyphicon-chevron-down" aria-hidden="false"></em>
                                                                    <em ng-show="!panelDemo3" class="glyphicon glyphicon-chevron-up ng-hide" aria-hidden="true"></em>
                                                                </a>
                                                            </paneltool>
                                                        </div>
                                                        <div collapse="panelDemo3" class="panel-wrapper collapse" style="height: 0px;">
                                                            <div class="row row-table formstaticbtn" ng-click="tan_verification()" style="background-color:#e9e7e7;">
                                                                <div class="col-xs-2 text-center  pv-lg">
                                                                    <em class="fa fa-plus fa-x"></em>

                                                                </div>
                                                                <div class="col-xs-10 pv-lg">
                                                                    <div class="m10" style="font-size: 13px;"><b>TAN</b></div>
                                                                </div>
                                                            </div>
                                                            <div class="row row-table formstaticbtn" ng-click="companyllpno_vertification()" style="background-color:#f7f5f5;">
                                                                <div class="col-xs-2 text-center  pv-lg">
                                                                    <em class="fa fa-plus fa-x"></em>

                                                                </div>
                                                                <div class="col-xs-10 pv-lg">
                                                                    <div class="m10" style="font-size: 13px;"><b>Company&LLP No</b></div>
                                                                </div>
                                                            </div>
                                                            <div class="row row-table formstaticbtn" ng-click="mcasign_vertification()" style="background-color:#e9e7e7;">
                                                                <div class="col-xs-2 text-center  pv-lg">
                                                                    <em class="fa fa-plus fa-x"></em>

                                                                </div>
                                                                <div class="col-xs-10 pv-lg">
                                                                    <div class="m10" style="font-size: 13px;"><b>MCA Signatories</b></div>
                                                                </div>
                                                            </div>
                                                            <div class="row row-table formstaticbtn" ng-click="iecdetailed_vertification()" style="background-color:#f7f5f5;">
                                                                <div class="col-xs-2 text-center  pv-lg">
                                                                    <em class="fa fa-plus fa-x"></em>

                                                                </div>
                                                                <div class="col-xs-10 pv-lg">
                                                                    <div class="m10" style="font-size: 13px;"><b>IEC Detailed Profile</b></div>
                                                                </div>
                                                            </div>
                                                            <div class="row row-table formstaticbtn" ng-click="fssai_vertification()" style="background-color:#e9e7e7;">
                                                                <div class="col-xs-2 text-center  pv-lg">
                                                                    <em class="fa fa-plus fa-x"></em>

                                                                </div>
                                                                <div class="col-xs-10 pv-lg">
                                                                    <div class="m10" style="font-size: 13px;"><b>FSSAI License </b></div>
                                                                </div>
                                                            </div>
                                                            <div class="row row-table formstaticbtn" ng-click="fda_vertification()" style="background-color:#f7f5f5;">
                                                                <div class="col-xs-2 text-center  pv-lg">
                                                                    <em class="fa fa-plus fa-x"></em>

                                                                </div>
                                                                <div class="col-xs-10 pv-lg">
                                                                    <div class="m10" style="font-size: 13px;"><b>FDA License</b></div>
                                                                </div>
                                                            </div>
                                                            <div class="row row-table formstaticbtn" ng-click="gst_verification()" style="background-color:#e9e7e7;">
                                                                <div class="col-xs-2 text-center  pv-lg">
                                                                    <em class="fa fa-plus fa-x"></em>

                                                                </div>
                                                                <div class="col-xs-10 pv-lg">
                                                                    <div class="m10" style="font-size: 13px;"><b>GST</b></div>
                                                                </div>
                                                            </div>
                                                            <div class="row row-table formstaticbtn" ng-click="lpgid_verification()" style="background-color:#f7f5f5;">
                                                                <div class="col-xs-2 text-center  pv-lg">
                                                                    <em class="fa fa-plus fa-x"></em>

                                                                </div>
                                                                <div class="col-xs-10 pv-lg">
                                                                    <div class="m10" style="font-size: 13px;"><b>LPG ID</b></div>
                                                                </div>
                                                            </div>
                                                            <div class="row row-table formstaticbtn" ng-click="shop_vertification()" style="background-color:#e9e7e7;">
                                                                <div class="col-xs-2 text-center  pv-lg">
                                                                    <em class="fa fa-plus fa-x"></em>

                                                                </div>
                                                                <div class="col-xs-10 pv-lg">
                                                                    <div class="m10" style="font-size: 13px;"><b>Shop and Establishment</b></div>
                                                                </div>
                                                            </div>
                                                            <div class="row row-table formstaticbtn" ng-click="rcauthadv_vertification()" style="background-color:#f7f5f5;">
                                                                <div class="col-xs-2 text-center  pv-lg">
                                                                    <em class="fa fa-plus fa-x"></em>

                                                                </div>
                                                                <div class="col-xs-10 pv-lg">
                                                                    <div class="m10" style="font-size: 13px;"><b>Vehicle RC Authentication - Advanced</b></div>
                                                                </div>
                                                            </div>
                                                            <div class="row row-table formstaticbtn" ng-click="rcsearch_vertification()" style="background-color:#e9e7e7;">
                                                                <div class="col-xs-2 text-center  pv-lg">
                                                                    <em class="fa fa-plus fa-x"></em>

                                                                </div>
                                                                <div class="col-xs-10 pv-lg">
                                                                    <div class="m10" style="font-size: 13px;"><b>Vehicle RC Search</b></div>
                                                                </div>
                                                            </div>
                                                            <div class="row row-table formstaticbtn" ng-click="propertytax_vertification()" style="background-color:#f7f5f5;">
                                                                <div class="col-xs-2 text-center  pv-lg">
                                                                    <em class="fa fa-plus fa-x"></em>

                                                                </div>
                                                                <div class="col-xs-10 pv-lg">
                                                                    <div class="m10" style="font-size: 13px;"><b>Property Tax</b></div>
                                                                </div>
                                                            </div>
                                                            <div class="row row-table formstaticbtn" ng-click="probe42_api()" style="background-color:#e9e7e7;">
                                                                <div class="col-xs-2 text-center  pv-lg">
                                                                    <em class="fa fa-plus fa-x"></em>
                                                                </div>
                                                                <div class="col-xs-10 pv-lg">
                                                                    <div class="m10" style="font-size: 13px;"><b>Probe42</b></div>
                                                                </div>
                                                            </div>
                                                            <div class="row row-table formstaticbtn" ng-click="crimecheck_record()" style="background-color:#f7f5f5;">
                                                                <div class="col-xs-2 text-center  pv-lg">
                                                                    <em class="fa fa-plus fa-x"></em>

                                                                </div>
                                                                <div class="col-xs-10 pv-lg">
                                                                    <div class="m10" style="font-size: 13px;"><b> CrimeCheck Record </b></div>
                                                                </div>
                                                            </div>
                                                            <div class="row row-table formstaticbtn" ng-click="crimecheckreport_realtime()" style="background-color:#e9e7e7;">
                                                                <div class="col-xs-2 text-center  pv-lg">
                                                                    <em class="fa fa-plus fa-x"></em>

                                                                </div>
                                                                <div class="col-xs-10 pv-lg">
                                                                    <div class="m10" style="font-size: 13px;"><b> CrimeCheck Report - RealTime </b></div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-9 col-md-9 col-sm-9" style="padding-left:0px;" style="padding-right:32px">
                                    <div class="panel">
                                        <div class="panel-heading portlet-handler text-bold" style="background-color:#F1EFEF;"><h style="font-size:14px" class="m10">Add Genetic Code </h></div>
                                        <div class="panel-body">
                                            <div class="row">
                                                <div class="col-lg-12 col-sm-12 col-md-12">
                                                    <div class="col-lg-12 col-sm-12 col-md-12">
                                                        <div class="row">
                                                            <div class="col-sm-12 col-md-12 col-lg-12">
                                                                <div class="dd-handle ng-scope">
                                                                    <div class="row">
                                                                        <div class="col-sm-12 col-md-12 col-lg-12">
                                                                            <p class="text-primary" style="font-size:14px;"><b> Genetic Code by Underwriting Team </b></p>
                                                                            <hr />
                                                                            <div class="col-lg-6 col-md-6 col-sm-6">
                                                                                <label class="col-form-label"> Genetic Code <span style="color:red"> *</span></label>
                                                                                <br />
                                                                                <select name="GeneticCode" id="GeneticCode" chosen="" ng-options="m.geneticcode_name for m in genetic_list"
                                                                                        type="text" class="form-control parsley-error" required="" ng-model="cboGeneticCode">
                                                                                    <option value=""> ----- Select From Dropdown -----</option>
                                                                                </select>
                                                                                <span ng-show="form.validateInput('GeneticCode', 'required')" class="text-danger">This field is required</span>
                                                                            </div>
                                                                            <div class="col-lg-6 col-md-6 col-sm-6">
                                                                                <label> Status <span style="color:red"> *</span></label>
                                                                                <div class="radio c-radio">
                                                                                    <label>
                                                                                        <input type="radio" id="Status" name="Status" value="Yes" ng-model="rdbStatus" required="" />
                                                                                        &nbsp;&nbsp;<span class="fa fa-circle"></span>Yes
                                                                                    </label>
                                                                                    <label>
                                                                                        <input type="radio" id="Status" name="Status" value="No" ng-model="rdbStatus" required="" />
                                                                                        <span class="fa fa-circle"></span>No
                                                                                    </label>
                                                                                </div>
                                                                                <span ng-show="form.validateInput('Status', 'required')" class="text-danger">This field is required</span>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <br />
                                                                    <div class="row">
                                                                        <div class="col-lg-12 col-md-12 col-sm-12">
                                                                            <div class="col-lg-12 col-md-12 col-sm-12">
                                                                                <label>Observation(s) <span style="color:red"> *</span></label>
                                                                                <textarea style="resize:vertical;" rows="4" name="observations" id="observations" placeholder="Enter Observation(s)..." aria-multiline="true" tabindex="0" aria-invalid="false" maxlength="1000"
                                                                                          ng-model="txtgenetic_remarks" class="form-control" required=""></textarea>
                                                                                <span ng-show="form.validateInput('observations', 'required')" class="text-danger">This field is required</span>
                                                                                <br />
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <br />
                                                                    <div class="row">
                                                                        <div class="col-lg-12 col-md-12 col-sm-12">
                                                                            <div class="text-center">
                                                                                <button type="submit" class="btn btn-primary" style="background-color:#09385f;color:white;"
                                                                                        ng-click="add_creditgeneticcode()">
                                                                                    <i class="fa fa-plus"></i>&nbsp;&nbsp;Add
                                                                                </button>

                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <br />
                                                                    <div class="row">
                                                                        <div class="col-lg-12 col-md-12 col-sm-12">
                                                                            <div class="col-lg-12 col-md-12 col-sm-12 dd-handle ng-scope">
                                                                                <p class="text-primary" style="font-size:14px;"><b> Genetic Code Summary </b></p>
                                                                                <hr />
                                                                                <div class="table-responsive table-bordered">
                                                                                    <table class="table">
                                                                                        <thead class="bg-gray text-white">
                                                                                            <tr>
                                                                                                <th>S.No</th>
                                                                                                <th>Genetic Code</th>
                                                                                                <th>Status</th>
                                                                                                <th>Observation(s)</th>
                                                                                                <th>Action</th>
                                                                                            </tr>
                                                                                        </thead>
                                                                                        <tbody>
                                                                                            <tr ng-repeat="data in mstgeneticcode_list">
                                                                                                <td>{{$index+1}}</td>
                                                                                                <td>{{data.geneticcode_name}}</td>
                                                                                                <td>{{data.geneticcode_status}}</td>
                                                                                                <td>{{data.geneticcode_remarks}}</td>
                                                                                                <td class="text-nowrap">
                                                                                                    <button title="Edit" type="button" ng-click="geneticcode_edit(data.creditgeneticcode_gid)" class="btn btn-green btn-xs">
                                                                                                        <em class="fa fa-edit"></em>
                                                                                                    </button>
                                                                                                    <button title="Delete" type="button" ng-click="geneticcode_delete(data.creditgeneticcode_gid)"
                                                                                                            class="btn btn-danger btn-xs">
                                                                                                        <em class="fa fa-trash-o"></em>
                                                                                                    </button>
                                                                                                </td>
                                                                                            </tr>

                                                                                        </tbody>
                                                                                    </table>
                                                                                </div>
                                                                                <br />
                                                                            </div>
                                                                        </div>

                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <br />
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="text-center">
                                <br />
                                <button ng-click="Back()" type="button" class="btn btn-info"><i class="fa fa-arrow-circle-left"></i>&nbsp;&nbsp;Back</button>
                            </div>
                            <br />
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <script type="text/ng-template" id="/editgeneticcode.html">
        <md-toolbar>
            <div class="md-toolbar-tools" style="background-color:rgb(63, 110, 181);">
                <em style="font-size:16px" class="fa fa-edit"></em>&nbsp;<label style="font-size:16px"> Edit Genetic Code </label>
                <span flex></span>
                <button ng-click="ok()" class="pull-right btn btn-primary"><i class="fa fa-close"></i></button>
            </div>

        </md-toolbar>
        <div class="modal-content">
            <div class="modal-body ng-scope">
                <form novalidate="" name="editgeneticcode" ng-submit="form.editgeneticcode()" autocomplete="off" class="form-validate form-horizontal">
                    <div class="row ">
                        <div class="col-sm-12 col-md-12 col-lg-12">
                            <div class="row">
                                <div class="col-sm-12 col-md-12 col-lg-12">
                                    <label class="col-form-label"> Genetic Code </label>
                                    <br />
                                    <span>{{lblgeneticcode_name}}</span>
                                </div>
                            </div>
                            <br />
                            <div class="row">
                                <div class="col-sm-12 col-md-12 col-lg-12">
                                    <label> Status <span style="color:red"> *</span></label>
                                    <div class="radio c-radio">
                                        <label>
                                            <input type="radio" id="Status" name="Status" value="Yes" ng-model="rdbeditgenetic_status" />
                                            &nbsp;&nbsp;<span class="fa fa-circle"></span>Yes
                                        </label>
                                        <label>
                                            <input type="radio" id="Status" name="Status" value="No" ng-model="rdbeditgenetic_status" />
                                            <span class="fa fa-circle"></span>No
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <br />
                            <div class="row">
                                <div class="col-sm-12 col-md-12 col-lg-12">
                                    <label>Observation(s) <span style="color:red"> *</span></label>
                                    <textarea rows="6" placeholder="Enter Observation(s) ..." required="" aria-multiline="true" tabindex="0" aria-invalid="false" maxlength="1000"
                                              ng-model="txteditgenetic_remarks" class="form-control"></textarea>
                                    <br />
                                </div>
                            </div>
                            <br />

                        </div>
                    </div>

                    <div class="text-center">
                        <button type="button" class="btn btn-success btn-md" ng-disabled="editgeneticcode.$invalid" ng-click="update_geneticcode()"><i class="fa fa-arrow-circle-right"></i>&nbsp;&nbsp;Update</button>&nbsp;&nbsp;
                        <button ng-click="ok()" class="btn btn-danger"><i class="fa icon-close"></i>&nbsp;&nbsp;Close</button>

                    </div>
                    <br />
                </form>
            </div>
        </div>
    </script>
</div>