<h3>
    Document Checklist
</h3>
<div ng-controller="AgrTrnSuprCadDocChecklistCheckerSummaryController">
    <div class="panel">
        <br />
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="col-lg-2 col-md-6 col-sm-12">
                    <p style="color:#09385f;font-size: 17px;"><b>Checker Summary</b></p>
                    <hr />
                </div>
                <div class="col-lg-2 col-md-6 col-sm-12">
                    <button type="button" class="btn btn-labeled" ng-click="maker()" style="width:200px;height:50px;border:1px solid rgb(179, 177, 177); ">
                        <div class="pull-right label" style="background-color:#838383;padding-top:5px;padding-bottom:5px;"> <b> {{cadmaker_count -- makerfollowup_count}}</b></div>
                        <b style="font-size: 14px;"> Maker </b>
                    </button>
                    <br />
                </div>
                <div class="col-lg-2 col-md-6 col-sm-12">
                    <button type="button" class="btn btn-labeled" ng-click="checker()" style="width:200px;height:50px;border:1px solid rgb(179, 177, 177); background-color: #84cbdb;">
                        <div class="pull-right label" style="background-color:#838383;padding-top:5px;padding-bottom:5px;"> <b> {{cadchecker_count -- checkerfollowup_count}}</b></div>
                        <b style="font-size: 14px;"> Checker </b>
                    </button>
                    <br />
                </div>
                <div class="col-lg-2 col-md-6 col-sm-12">
                    <button type="button" class="btn btn-labeled" ng-click="approval()" style="width:200px;height:50px;border:1px solid rgb(179, 177, 177);">
                        <div class="pull-right label" style="background-color:#838383;padding-top:5px;padding-bottom:5px;"> <b> {{cadcheckerapproval_count}}</b></div>
                        <b style="font-size: 14px;">Approval</b>
                    </button>
                    <br />
                </div>
                <div class="col-lg-2 col-md-6 col-sm-12">
                    <button type="button" class="btn btn-labeled" ng-click="approvalcompleted()" style="width:200px;height:50px;border:1px solid rgb(179, 177, 177);">
                        <div class="pull-right label" style="background-color:#838383;padding-top:5px;padding-bottom:5px;"> <b> {{approvalcompleted_count}}</b></div>
                        <b style="font-size: 14px;">Approval Completed</b>
                    </button>
                    <br />
                </div>
                <div class="col-lg-2 col-md-6 col-sm-12">

                </div>
            </div>
        </div>
        <tabset justified="true">
            <tab ng-click="checklistCheckerPendingSummary()">
                <tab-heading>
                    Pending <label style="font-size:11px;" class="label label-info pull-right">{{cadchecker_count}}</label>
                </tab-heading>
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <div class="table-responsive">
                                <table datatable="ng" class="table table-hover table-striped">
                                    <thead>
                                        <tr class="text-white nowrap" style="background-color:#09385f;">
                                            <th> S.No </th>
                                            <th> Application Number</th>
                                            <th> Customer URN </th>
                                            <th> Customer Name </th>
                                            <th> AC Approved Date </th>
                                            <th> Sanction Reference Number</th>
                                            <!--<th> Approval Status </th>
                                            <th> AC Group </th>
                                            <th> CAD Group </th>
                                            <th> Maker Submitted Date </th>
                                            <th> Maker Submitted By </th>-->
                                            <th class="text-center">Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="data in sanctionmaker_list">
                                            <td data-title="'S.No'"> {{$index+1}} </td>
                                            <td data-title="'Application Number'"> {{data.application_no}} </td>
                                            <td data-title="'Customer URN'"> {{data.customer_urn}} </td>
                                            <td data-title="'Customer Name'"> {{data.customer_name}} </td>
                                            <td data-title="'AC Approved Date'"> {{data.ccapproved_date}} </td>
                                            <td data-title="'Sanction Reference Number'"> {{data.sanction_refno}} </td>
                                            <!--<td data-title="'Approval Status'"> {{data.approval_status}} </td>
                                            <td data-title="'AC Group'"> {{data.ccgroup_name}} </td>
                                            <td data-title="'CAD Group'"> {{data.cadgroupname}} </td>
                                            <td data-title="'Maker Submitted Date'"> {{data.cadaccepted_date}} </td>
                                            <td data-title="'Maker Submitted By'"> {{data.cadaccepted_by}} </td>-->
                                            <td align="center" class="nowrap">
                                                <button title="View" ng-click="view(data.application_gid)" class="btn btn-info">
                                                    <em class="fa fa-eye"></em>
                                                </button>
                                                <button title="Process" ng-click="process(data.application_gid, data.created_by)" style="background-color:#871490;" class="btn btn-pink">
                                                    <em class="fa fa-spinner"></em>
                                                </button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </tab>
            <tab ng-click="checklistCheckerFollowupSummary()">
                <tab-heading>
                    Followup <label style="font-size:11px;" class="label label-info pull-right">{{checkerfollowup_count}}</label>
                </tab-heading>
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <div class="table-responsive">
                                <table datatable="ng" class="table table-hover table-striped">
                                    <thead>
                                        <tr class="text-white nowrap" style="background-color:#09385f;">
                                            <th> S.No </th>
                                            <th> Application Number</th>
                                            <th> Customer URN </th>
                                            <th> Customer Name </th>
                                            <th> AC Approved Date </th>
                                            <th> Sanction Reference Number</th>
                                            <!--<th> Approval Status </th>
                                            <th> AC Group </th>
                                            <th> CAD Group </th>
                                            <th> Maker Submitted Date </th>
                                            <th> Maker Submitted By </th>-->
                                            <th class="text-center">Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="data in checklistfollowup_list">
                                            <td data-title="'S.No'"> {{$index+1}} </td>
                                            <td data-title="'Application Number'"> {{data.application_no}} </td>
                                            <td data-title="'Customer URN'"> {{data.customer_urn}} </td>
                                            <td data-title="'Customer Name'"> {{data.customer_name}} </td>
                                            <td data-title="'AC Approved Date'"> {{data.ccapproved_date}} </td>
                                            <td data-title="'Sanction Reference Number'"> {{data.sanction_refno}} </td>
                                            <!--<td data-title="'Approval Status'"> {{data.approval_status}} </td>
                                            <td data-title="'AC Group'"> {{data.ccgroup_name}} </td>
                                            <td data-title="'CAD Group'"> {{data.cadgroupname}} </td>
                                            <td data-title="'Maker Submitted Date'"> {{data.cadaccepted_date}} </td>
                                            <td data-title="'Maker Submitted By'"> {{data.cadaccepted_by}} </td>-->
                                            <td align="center" class="nowrap">
                                                <button title="View" ng-click="view(data.application_gid)" class="btn btn-info">
                                                    <em class="fa fa-eye"></em>
                                                </button>
                                                <button title="Process" ng-click="process(data.application_gid, data.created_by,'Y')" style="background-color:#871490;" class="btn btn-pink">
                                                    <em class="fa fa-spinner"></em>
                                                </button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </tab>
        </tabset>

        <br />
    </div>
</div>