<h3>
    Template - CAM Generate
</h3>
<style>
    #static {
        border-collapse: collapse;
        width: 100%;
    }

        #static td, #static th {
            border: 1px solid #ddd;
            padding: 4px;
        }

        #static tr:nth-child(even) {
            background-color: #fff;
        }

        #static tr:hover {
            background-color: #e4eaec;
        }

        #static th {
            padding-top: 5px;
            padding-bottom: 5px;
            text-align: center;
            background-color: #e4eaec;
            color: #656565 !important;
        }
</style>
<style>
    .vl {
        border-left: 1.5px ridge;
        border-right: 1.5px ridge;
    }

    .tabheight {
        padding-top: 10px;
    }
</style>
<style>
    .v2 {
        border-left: 1.5px ridge;
        border-right: 1.5px ridge;
        height: 36px;
    }

    .v3 {
        border-right: 1.5px ridge;
        height: 36px;
    }

    .v4 {
        border-right: 1.5px ridge;
        height: 150px;
    }

    .textboxstyle {
        border-radius: 10px;
        border-color: lightgray;
        display: block;
        width: 100%;
        height: 30px;
        padding: 6px 16px;
        font-size: 14px;
        line-height: 1.52857143;
        color: #3a3f51;
        background-color: #ffffff;
        background-image: none;
        border: 1px solid #B0B8BA;
    }
</style>

<div ng-controller="AgrTrnSuprCAMGenerateController as dpick">
    <div id="panelDemo8" class="panel panel-primary">
        <div class="panel-heading ">
            <span class="btn-label">
                CAM Generate
            </span>

        </div>
        <br />
        <div>
            <div class="col-sm-12 col-md-12 col-lg-12">
                <div>
                    <div class="row" ng-show="cam_content!='' && cam_content!=null">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <div class="col-lg-12 col-md-12 col-sm-12">
                                <label ng-click="camdocdownload(lspath,lsname)" class="pull-right">
                                    <a download="" href="" id="btnpdf" style="font-size:13px;"> Click Here to Download </a>
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="simple">
                        <div ng-show="cam_content!='' && cam_content!=null">
                            <textarea id="test1" ng-show="editMode" froala ng-model="cam_content" class="nw-editor__src" style="overflow-x: scroll;"> </textarea>
                        </div>
                        <div ng-hide="cam_content!='' && cam_content!=null">
                            <textarea id="test1" ng-show="editMode" froala ng-model="content" class="nw-editor__src" style="overflow-x: scroll;"> </textarea>
                        </div>
                    </div>
                    <br />
                </div>
            </div>
            <br />


        </div>
        <br />
        <div class="row">
        </div>
        <div class="row">
            <div class="text-center">
                <button ng-click="WordSave(content)" ng-disabled="" class="btn btn-primary">
                    <i class="fa fa-save"></i>&nbsp;&nbsp;Save
                </button>
                <button ng-click="WordGenerate(content)" ng-disabled="" class="btn btn-success">
                    <i class="fa fa-check"> <a download="" href="" id="btnpdf" style="display:none;"></a></i>&nbsp;&nbsp;Generate
                </button>

                <button ng-click="back()" class="btn btn-info"><i class="fa fa-arrow-circle-left fa-1x"></i>&nbsp;&nbsp;Back</button>
            </div>
            <br>
        </div>
    </div>
</div>