<h3>
    Physical Document Follow up
</h3>
<div ng-controller="AgrTrnCadPhysicalDocFollowupSummaryController">
    <div class="panel">
        <br>
        <div class="row">
            
        </div>
        <div class="row panel-body">
            <div class="col-lg-12 col-md-12 col-sm-12">
               
                        <div class="row">
                            <br>
                            <div class="col-lg-12 col-md-12 col-sm-12">
                                <div class="col-lg-12 col-md-12 col-sm-12">
                                    <div class="table-responsive">
                                        <table datatable="ng" class="table table-hover table-striped">
                                            <thead>
                                                <tr class="text-white nowrap" style="background-color:#09385f;">
                                                    <th> S.No </th>
                                                    <th> Application Number</th>
                                                    <th> Customer Name </th>
                                                    <th> AC Approved Date </th>
                                                    <th> Approval Status </th>
                                                    <!--<th> Sanction Ref.No </th>-->
                                                    <th> CAD Group </th>
                                                    <th> CAD Accepted Date </th>
                                                    <th> CAD Accepted By </th>
                                                    <th> Status</th>
                                                   
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr ng-repeat="data in scannedcheckerapprovalpendinglist">
                                                    <td data-title="'S.No'"> {{$index+1}} </td>
                                                    <td data-title="'Application Number'"> {{data.application_no}} </td>
                                                    <td data-title="'Customer Name'"> {{data.customer_name}} </td>
                                                    <td data-title="'AC Approved Date'"> {{data.ccapproved_date}} </td>
                                                    <td data-title="'Approval Status'"> {{data.approval_status}} </td>
                                                    <!--<td data-title="'Sanction Ref.No'"> </td>-->
                                                    <td data-title="'CAD Group'"> {{data.cadgroupname}} </td>
                                                    <td data-title="'CAD Accepted Date'"> {{data.cadaccepted_date}} </td>
                                                    <td data-title="'CAD Accepted By'"> {{data.cadaccepted_by}} </td>
                                                    <td data-title="'CAD Status'"> {{data.followupstatus}} </td>
                                                    
                                                    
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                  
                  
              
            </div>
        </div>


        <br />
    </div>
</div>