<style>
    .formstatic {
        position: fixed;
        width: 22%;
    }

    .formstaticbtn:hover {
        background-color: rgb(89, 86, 90);
        color: rgb(31, 26, 102);
        text-decoration: underline;
        font-weight: bold;
    }
</style>
<h3>
    Credit Underwriting
</h3>
<div ng-controller="AgrTrnCreditIndividualExistingBankAddController as form">
    <div class="panel">
        <form name="form.formValidate" ng-submit="form.submitForm()" novalidate="" class="form-validate form-horizontal">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <div class="panel-heading" style="background-color: #191370;color:#ffffff">
                        <b>Add Credit Individual Details - {{txtindividual_name}} / {{txtstakeholder_type}} </b>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-lg-12 col-sm-12 col-md-12">
                                <div class="col-lg-3 col-md-3 col-sm-3" style="padding-left:10px;">
                                    <div class="">
                                        <div id="panelPortlet13" class="panel">
                                            <div class="panel-heading portlet-handler text-bold text-center  align-middle" style="background-color:#F1EFEF"><h style="font-size:14px" class="m10">Credit Individual Add Forms</h></div>

                                            <div class="panel-body">
                                                <div class="panel widget">
                                                    <div class="row row-table formstaticbtn" ng-click="individual_docchecklist()" style="background-color:#f7f5f5">
                                                        <div class="col-xs-2 text-center  pv-lg">
                                                            <em class="fa fa-plus fa-x"></em>

                                                        </div>
                                                        <div class="col-xs-10 pv-lg">
                                                            <div class="m10" style="font-size: 13px;"><b>Add Document Checklist </b></div>
                                                        </div>
                                                    </div>
                                                    <div class="row row-table formstaticbtn" ng-click="individual_covenantdocchecklist()" style="background-color:#e9e7e7">
                                                        <div class="col-xs-2 text-center  pv-lg">
                                                            <em class="fa fa-plus fa-x"></em>

                                                        </div>
                                                        <div class="col-xs-10 pv-lg">
                                                            <div class="m10" style="font-size: 13px;"><b>Add Covenant Checklist </b></div>
                                                        </div>
                                                    </div>
                                                    <div class="row row-table formstaticbtn" ng-click="individual_bureauadd()" style="background-color:#f7f5f5">
                                                        <div class="col-xs-2 text-center  pv-lg">
                                                            <em class="fa fa-plus fa-x"></em>

                                                        </div>
                                                        <div class="col-xs-10 pv-lg">
                                                            <div class="m10" style="font-size: 13px;"><b> Add Bureau Details</b></div>
                                                        </div>
                                                    </div>
                                                    <div class="row row-table formstaticbtn" ng-click="individual_bankaccount()" style="background-color:#e9e7e7;">
                                                        <div class="col-xs-2 text-center  pv-lg">
                                                            <em class="fa fa-plus fa-x"></em>

                                                        </div>
                                                        <div class="col-xs-10 pv-lg">
                                                            <div class="m10" style="font-size: 13px;"><b>Add Bank Account Details </b></div>
                                                        </div>
                                                    </div>
                                                    <div class="row row-table formstaticbtn" ng-click="individual_existingbankaccount()" style="background-color:#f7f5f5;">
                                                        <div class="col-xs-2 text-center  pv-lg">
                                                            <em class="fa fa-plus fa-x"></em>

                                                        </div>
                                                        <div class="col-xs-10 pv-lg">
                                                            <div class="m10" style="font-size: 13px;"><b>Add Existing Bank Facility </b></div>
                                                        </div>
                                                    </div>
                                                    <div class="row row-table formstaticbtn" ng-click="individual_repayment()" style="background-color:#e9e7e7;">
                                                        <div class="col-xs-2 text-center  pv-lg">
                                                            <em class="fa fa-plus fa-x"></em>

                                                        </div>
                                                        <div class="col-xs-10 pv-lg">
                                                            <div class="m10" style="font-size: 13px;"><b>Add Repayment Track Record </b></div>
                                                        </div>
                                                    </div>
                                                    <div class="row row-table formstaticbtn" ng-click="individual_PSLdata()" style="background-color:#f7f5f5;">
                                                        <div class="col-xs-2 text-center  pv-lg">
                                                            <em class="fa fa-plus fa-x"></em>

                                                        </div>
                                                        <div class="col-xs-10 pv-lg">
                                                            <div class="m10" style="font-size: 13px;"><b>Add PSL Data Flagging </b></div>
                                                        </div>
                                                    </div>
                                                    <div class="row row-table formstaticbtn" ng-click="company_bankstatement()" style="background-color:#e9e7e7;">
                                                        <div class="col-xs-2 text-center  pv-lg">
                                                            <em class="fa fa-plus fa-x"></em>

                                                        </div>
                                                        <div class="col-xs-10 pv-lg">
                                                            <div class="m10" style="font-size: 13px;"><b>Bank Statement Analysis </b></div>
                                                        </div>
                                                    </div>
                                                    <div class="row row-table formstaticbtn" ng-click="individual_observation()" style="background-color:#f7f5f5;">
                                                        <div class="col-xs-2 text-center  pv-lg">
                                                            <em class="fa fa-plus fa-x"></em>

                                                        </div>
                                                        <div class="col-xs-10 pv-lg">
                                                            <div class="m10" style="font-size: 13px;"><b>Norms Details</b></div>
                                                        </div>
                                                    </div>
                                                    <div class="row row-table panel panel-default" id="panelDemo3">

                                                        <div ng-class="{'panel-heading-collapsed':panelDemo3}" class="panel-heading panel-heading-collapsed" style="background-color:#e9e7e7;">

                                                            <label class="text-primary">  API Verifications</label>
                                                            <paneltool tool-collapse="tool-collapse" ng-init="panelDemo3=true" class="pull-right">
                                                                <a href="#" panel-collapse="" tooltip="Expand / Collapse" ng-click="panelDemo3 = !panelDemo3" class="ng-scope" tabindex="0">
                                                                    <em ng-show="panelDemo3" class="glyphicon glyphicon-chevron-down" aria-hidden="false"></em>
                                                                    <em ng-show="!panelDemo3" class="glyphicon glyphicon-chevron-up ng-hide" aria-hidden="true"></em>
                                                                </a>
                                                            </paneltool>
                                                        </div>
                                                        <div collapse="panelDemo3" class="panel-wrapper collapse" style="height: 0px;">

                                                            <div class="row row-table formstaticbtn" ng-click="iecdetailed_vertification()" style="background-color:#f7f5f5;">
                                                                <div class="col-xs-2 text-center  pv-lg">
                                                                    <em class="fa fa-plus fa-x"></em>

                                                                </div>
                                                                <div class="col-xs-10 pv-lg">
                                                                    <div class="m10" style="font-size: 13px;"><b>IEC Detailed Profile</b></div>
                                                                </div>
                                                            </div>
                                                            <div class="row row-table formstaticbtn" ng-click="fssai_vertification()" style="background-color:#e9e7e7;">
                                                                <div class="col-xs-2 text-center  pv-lg">
                                                                    <em class="fa fa-plus fa-x"></em>

                                                                </div>
                                                                <div class="col-xs-10 pv-lg">
                                                                    <div class="m10" style="font-size: 13px;"><b>FSSAI License </b></div>
                                                                </div>
                                                            </div>
                                                            <div class="row row-table formstaticbtn" ng-click="fda_vertification()" style="background-color:#f7f5f5;">
                                                                <div class="col-xs-2 text-center  pv-lg">
                                                                    <em class="fa fa-plus fa-x"></em>

                                                                </div>
                                                                <div class="col-xs-10 pv-lg">
                                                                    <div class="m10" style="font-size: 13px;"><b>FDA License</b></div>
                                                                </div>
                                                            </div>
                                                            <div class="row row-table formstaticbtn" ng-click="lpgid_vertification()" style="background-color:#e9e7e7;">
                                                                <div class="col-xs-2 text-center  pv-lg">
                                                                    <em class="fa fa-plus fa-x"></em>

                                                                </div>
                                                                <div class="col-xs-10 pv-lg">
                                                                    <div class="m10" style="font-size: 13px;"><b>LPG ID</b></div>
                                                                </div>
                                                            </div>
                                                            <div class="row row-table formstaticbtn" ng-click="shop_vertification()" style="background-color:#f7f5f5;">
                                                                <div class="col-xs-2 text-center  pv-lg">
                                                                    <em class="fa fa-plus fa-x"></em>

                                                                </div>
                                                                <div class="col-xs-10 pv-lg">
                                                                    <div class="m10" style="font-size: 13px;"><b>Shop and Establishment</b></div>
                                                                </div>
                                                            </div>
                                                            <div class="row row-table formstaticbtn" ng-click="rcauthadv_vertification()" style="background-color:#e9e7e7;">
                                                                <div class="col-xs-2 text-center  pv-lg">
                                                                    <em class="fa fa-plus fa-x"></em>

                                                                </div>
                                                                <div class="col-xs-10 pv-lg">
                                                                    <div class="m10" style="font-size: 13px;"><b>Vehicle RC Authentication - Advanced</b></div>
                                                                </div>
                                                            </div>
                                                            <div class="row row-table formstaticbtn" ng-click="rcsearch_vertification()" style="background-color:#f7f5f5;">
                                                                <div class="col-xs-2 text-center  pv-lg">
                                                                    <em class="fa fa-plus fa-x"></em>

                                                                </div>
                                                                <div class="col-xs-10 pv-lg">
                                                                    <div class="m10" style="font-size: 13px;"><b> Vehicle RC Search </b></div>
                                                                </div>
                                                            </div>
                                                            <div class="row row-table formstaticbtn" ng-click="propertytax_vertification()" style="background-color:#e9e7e7;">
                                                                <div class="col-xs-2 text-center  pv-lg">
                                                                    <em class="fa fa-plus fa-x"></em>

                                                                </div>
                                                                <div class="col-xs-10 pv-lg">
                                                                    <div class="m10" style="font-size: 13px;"><b> Property Tax </b></div>
                                                                </div>
                                                            </div>
                                                            <div class="row row-table formstaticbtn" ng-click="crimecheck_record()" style="background-color:#f7f5f5;">
                                                                <div class="col-xs-2 text-center  pv-lg">
                                                                    <em class="fa fa-plus fa-x"></em>
    
                                                                </div>
                                                                <div class="col-xs-10 pv-lg">
                                                                    <div class="m10" style="font-size: 13px;"><b> CrimeCheck Record </b></div>
                                                                </div>
                                                            </div>
                                                            <div class="row row-table formstaticbtn" ng-click="crimecheckreport_realtime()" style="background-color:#e9e7e7;">
                                                                <div class="col-xs-2 text-center  pv-lg">
                                                                    <em class="fa fa-plus fa-x"></em>
    
                                                                </div>
                                                                <div class="col-xs-10 pv-lg">
                                                                    <div class="m10" style="font-size: 13px;"><b>CrimeCheck Report - RealTime</b></div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-9 col-md-9 col-sm-9" style="padding-left:0px;" style="padding-right:32px">
                                    <div class="panel">
                                        <div class="panel-heading portlet-handler text-bold" style="background-color:#F1EFEF;"><h style="font-size:14px" class="m10">Add Existing Bank Facility </h></div>
                                        <div class="panel-body">
                                            <div class="row">
                                                <div class="col-lg-12 col-sm-12 col-md-12">
                                                    <div class="col-lg-12 col-sm-12 col-md-12">
                                                        <div class="row">
                                                            <div class="col-sm-12 col-md-12 col-lg-12">
                                                                <div class="dd-handle ng-scope">
                                                                    <div class="row">
                                                                        <div class="col-sm-12 col-md-12 col-lg-12">
                                                                            <p class="text-primary" style="font-size:14px;"><b> Existing Bank Details </b></p>
                                                                            <hr />
                                                                            <div class="col-lg-4 col-md-4 col-sm-4">
                                                                                <label class="col-form-label"> Bank Name<span style="color:red"> *</span> </label>
                                                                                <br />
                                                                                <select name="bankdtlname" id="bankdtlname" chosen="" ng-options="m.bankdtl_name for m in bankdtl_list" required=""
                                                                                        type="text" class="form-control parsley-error" ng-model="cboBankName">
                                                                                    <option value=""> ----- Select From Dropdown -----</option>
                                                                                </select>
                                                                                <span ng-show="form.validateInput('bankdtlname', 'required')" class="text-danger">This field is required</span>
                                                                            </div>
                                                                            <div class="col-lg-4 col-md-4 col-sm-4">
                                                                                <label class="col-form-label"> Facility Type </label>
                                                                                <br />
                                                                                <select name="credit_underwriting_facility_type" id="credit_underwriting_facility_type" chosen="" ng-options="m.credit_underwriting_facility_type for m in creditunderwritingfacilitytype_list"
                                                                                        type="text" class="form-control parsley-error" ng-model="cboFacilityType">
                                                                                    <option value=""> ----- Select From Dropdown -----</option>
                                                                                </select>
                                                                            </div>
                                                                            <div class="col-lg-4 col-md-4 col-sm-4">
                                                                                <div ng-controller="MstCreditIndividualExistingBankAddController as dp">
                                                                                    <label class="col-form-label"> Facility Sanctioned On </label>
                                                                                    <br />
                                                                                    <p class="input-group">
                                                                                        <input type="text" id="FacilitySanctionedOn" name="FacilitySanctionedOn" ng-model="$parent.txtfacilitysanction_date" datepicker-popup="{{dp.format}}"
                                                                                               style="height:36px;" is-open="dp.open1" min-date="dp.minDate" datepicker-options="dp.dateOptions"
                                                                                               close-text="Close" class="form-control" placeholder="DD-MM-YYYY" />
                                                                                        <span class="input-group-btn">
                                                                                            <button type="button" ng-click="dp.calender1($event)" style="height:36px;" class="btn btn-default">
                                                                                                <em class="fa fa-calendar"></em>
                                                                                            </button>
                                                                                        </span>
                                                                                    </p>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <br />
                                                                    <div class="row">
                                                                        <div class="col-sm-12 col-md-12 col-lg-12">
                                                                            <div class="col-lg-4 col-md-4 col-sm-4">
                                                                                <label class="col-form-label"> Type of existing funded </label>
                                                                                <br />
                                                                                <select name="fundedtypeindicator_name" id="fundedtypeindicator_name" chosen="" ng-options="m.fundedtypeindicator_name for m in fundedtypeindicator_list"
                                                                                        type="text" class="form-control parsley-error" ng-model="cboTypeofexistingfunded">
                                                                                    <option value=""> ----- Select From Dropdown -----</option>
                                                                                </select>
                                                                            </div>
                                                                            <div class="col-lg-4 col-md-4 col-sm-4">
                                                                                <label class="col-form-label"> Sanctioned Limit</label>
                                                                                <br />
                                                                                <input type="text" ng-model="txtSanctioned_Limit" name="SanctionedLimit" id="SanctionedLimit" tabindex="0" class="form-control" maxlength="15" 
                                                                                ng-change="SanctionedLimit()" ng-pattern="/^[0-9,]+(\.[0-9]{1,2})?$/" step="0.01" style="text-align:right;" />
                                                                                <span style="font-style:italic;">Number in words:</span>
                                                                                <span id="words_totalamount4" style="color:#003c96fc;" class="text-bold"></span>
                                                                            </div>
                                                                            <div class="col-lg-4 col-md-4 col-sm-4">
                                                                                <label class="col-form-label"> Instalment Frequency </label>
                                                                                <br />
                                                                                <select name="creditinstalmentfrequency_name" id="creditinstalmentfrequency_name" chosen="" ng-options="m.creditinstalmentfrequency_name for m in creditinstalmentfrequency_list"
                                                                                        type="text" class="form-control parsley-error" ng-model="cboInstalmentfrequency">
                                                                                    <option value=""> ----- Select From Dropdown -----</option>
                                                                                </select>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <br />
                                                                    <div class="row">
                                                                        <div class="col-sm-12 col-md-12 col-lg-12">
                                                                            <div class="col-lg-4 col-md-4 col-sm-4">
                                                                                <label class="col-form-label"> Instalment amount </label>
                                                                                <br />
                                                                                <input type="text" ng-model="txtInstalment_amount" name="Instalmentamount" id="Instalmentamount" tabindex="0" class="form-control" maxlength="15"
                                                                                ng-change="Instalmentamount()" ng-pattern="/^[0-9,]+(\.[0-9]{1,2})?$/" step="0.01" style="text-align:right;" />
                                                                                <span style="font-style:italic;">Number in words:</span>
                                                                                <span id="words_totalamount1" style="color:#003c96fc;" class="text-bold"></span>
                                                                            </div>
                                                                            <div class="col-lg-4 col-md-4 col-sm-4">
                                                                                <label class="col-form-label"> Outstanding Amount </label>
                                                                                <br />
                                                                                <input type="text" ng-model="txtOutstanding_amount" name="Outstandingamount" id="Outstandingamount" tabindex="0" class="form-control" maxlength="15" 
                                                                                ng-change="Outstandingamount()" ng-pattern="/^[0-9,]+(\.[0-9]{1,2})?$/" step="0.01" style="text-align:right;"/>
                                                                                <span style="font-style:italic;">Number in words:</span>
                                                                                <span id="words_totalamount2" style="color:#003c96fc;" class="text-bold"></span>
                                                                            </div>
                                                                            <div class="col-lg-4 col-md-4 col-sm-4">
                                                                                <div ng-controller="MstCreditIndividualExistingBankAddController as dp">
                                                                                    <label class="col-form-label"> Record Date </label>
                                                                                    <br />
                                                                                    <p class="input-group">
                                                                                        <input type="text" id="RecordDate" name="RecordDate" ng-model="$parent.txtRecord_Date" datepicker-popup="{{dp.format}}"
                                                                                               style="height:36px;" is-open="dp.open2" min-date="dp.minDate" datepicker-options="dp.dateOptions"
                                                                                               close-text="Close" class="form-control" placeholder="DD-MM-YYYY" />
                                                                                        <span class="input-group-btn">
                                                                                            <button type="button" ng-click="dp.calender2($event)" style="height:36px;" class="btn btn-default">
                                                                                                <em class="fa fa-calendar"></em>
                                                                                            </button>
                                                                                        </span>
                                                                                    </p>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <br />
                                                                    <div class="row">
                                                                        <div class="col-sm-12 col-md-12 col-lg-12">
                                                                            <div class="col-lg-4 col-md-4 col-sm-4">
                                                                                <label class="col-form-label"> Overdue amount </label>
                                                                                <br />
                                                                                <input type="text" ng-model="txtOverdue_amount" name="Overdueamount" id="Overdueamount" tabindex="0" class="form-control" maxlength="15" 
                                                                                ng-change="Overdueamount()" ng-pattern="/^[0-9,]+(\.[0-9]{1,2})?$/" step="0.01" style="text-align:right;"/>
                                                                                <span style="font-style:italic;">Number in words:</span>
                                                                                <span id="words_totalamount3" style="color:#003c96fc;" class="text-bold"></span>
                                                                            </div>
                                                                            <div class="col-lg-4 col-md-4 col-sm-4">
                                                                                <label class="col-form-label"> Overdue if any (DPD) </label>
                                                                                <br />
                                                                                <input type="text" ng-model="txtoverdue_dpd" name="Overduedpd" id="Overduedpd" tabindex="0" class="form-control" maxlength="15" 
                                                                                ng-change="Overduedpd()" ng-pattern="/^[0-9,]+(\.[0-9]{1,2})?$/" step="0.01" style="text-align:right;" />
                                                                                <span style="font-style:italic;">Number in words:</span>
                                                                                <span id="words_totalamount5" style="color:#003c96fc;" class="text-bold"></span>
                                                                            </div>
                                                                            <div class="col-lg-4 col-md-4 col-sm-4">
                                                                                <label class="col-form-label"> Account Classification </label>
                                                                                <br />
                                                                                <select name="creditaccountclassification_name" id="creditaccountclassification_name" chosen="" ng-options="m.creditaccountclassification_name for m in creditaccountclassification_list"
                                                                                        type="text" class="form-control parsley-error" ng-model="cboAccountClassification">
                                                                                    <option value=""> ----- Select From Dropdown -----</option>
                                                                                </select>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <br />
                                                                    <div class="row">
                                                                        <div class="col-lg-12 col-md-12 col-sm-12">
                                                                            <div class="col-lg-12 col-md-12 col-sm-12">
                                                                                <label>Remarks </label>
                                                                                <textarea style="resize:vertical;" rows="4" name="Remarks" id="Remarks" placeholder="Enter Remarks..." aria-multiline="true" tabindex="0" aria-invalid="false" maxlength="3000"
                                                                                          ng-model="txtremarks" class="form-control"></textarea>
                                                                                <br />
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <br />
                                                                    <div class="row">
                                                                        <div class="col-lg-12 col-md-12 col-sm-12">
                                                                            <div class="text-center">
                                                                                <button type="submit" class="btn btn-primary" style="background-color:#09385f;color:white;"
                                                                                        ng-click="add_creditexistingbankdtl()">
                                                                                    <i class="fa fa-plus"></i>&nbsp;&nbsp;Add
                                                                                </button>

                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <br />
                                                                    <div class="row">
                                                                        <div class="col-lg-12 col-md-12 col-sm-12">
                                                                            <div class="col-lg-12 col-md-12 col-sm-12 dd-handle ng-scope">
                                                                                <p class="text-primary" style="font-size:14px;"><b> Existing Bank Facility Summary </b></p>
                                                                                <hr />
                                                                                <div class="table-responsive table-bordered">
                                                                                    <table class="table">
                                                                                        <thead class="bg-gray text-white">
                                                                                            <tr>
                                                                                                <th>S.No</th>
                                                                                                <th>Bank Name</th>
                                                                                                <th>Created Date</th>
                                                                                                <th>Created By</th>
                                                                                                <th>Updated Date</th>
                                                                                                <th>Updated by </th>
                                                                                                <th>Action</th>
                                                                                            </tr>
                                                                                        </thead>
                                                                                        <tbody>
                                                                                            <tr ng-repeat="data in individualexistingbank_list">
                                                                                                <td>{{$index+1}}</td>
                                                                                                <td>{{data.bank_name}}</td>
                                                                                                <td>{{data.created_date}}</td>
                                                                                                <td>{{data.created_by}}</td>
                                                                                                <td>{{data.updated_date}}</td>
                                                                                                <td>{{data.updated_by}}</td>
                                                                                                <td class="text-nowrap">
                                                                                                    <button title="Edit" type="button" ng-click="creditexistingbank_edit(data.existingbankfacility_gid)" class="btn btn-green btn-xs">
                                                                                                        <em class="fa fa-edit"></em>
                                                                                                    </button>
                                                                                                    <button title="Delete" type="button" ng-click="creditexistingbank_delete(data.existingbankfacility_gid)"
                                                                                                            class="btn btn-danger btn-xs">
                                                                                                        <em class="fa fa-trash-o"></em>
                                                                                                    </button>
                                                                                                </td>
                                                                                            </tr>
                                                                                        </tbody>
                                                                                    </table>
                                                                                </div>
                                                                                <br />
                                                                            </div>
                                                                        </div>

                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <br />
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="text-center">
                                <br />
                                <button ng-click="Back()" type="button" class="btn btn-info"><i class="fa fa-arrow-circle-left"></i>&nbsp;&nbsp;Back</button>
                            </div>
                            <br />
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>

</div>