@media screen and (max-width: 480px) {
    .menu-bar {
        display: none;
    }
    .icon-user {
        display: none;
    }
}

.menu-bar{
    background: linear-gradient(to right, #378a37, rgb(109 190 101) ,rgb(248 192 62), rgb(239 116 35 / 1));
    /*background:#378a37;*/
    text-align: left;
    font-weight:bold;
    height: 54px;
}
.menu-bar ul{
    display: inline-flex;
    list-style: none;
    color: #fff;
}
.menu-bar ul li {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-transform: uppercase;
    font-weight: 100;
    margin-top:10px;
    margin-right:10px;
    padding:10px;
}

.menu-bar ul li a {
    text-decoration: none;
    color:#fff;
    font-weight:bold;
}
.menu-bar ul li a:hover{
   
   overflow: hidden;
   cursor: pointer;
   
}
.menu-bar .fa {
    margin-right: 8px;
}
.submenu-1{
    font-weight: unset;
    display: none;
    opacity: 95%;
    margin-top: 10px;
    transition: width 2s, height 4s;
}

.menu-bar ul li:hover .submenu-1{
    display: block; 
    position: absolute;
    background: #378a37;
}
.menu-bar ul li:hover .submenu-1 ul{
    display: block;
    margin-left:10px;
}
.menu-bar ul li:hover .submenu-1 ul li {
    margin-top: 0;
    width:180px;
    padding:10px;
    /* border-bottom: 1px solid #a2e2ff; */
    background: transparent;
    border-radius: 0;
    margin-left:-30px;
    text-align: left;
    text-transform: none;
    cursor: pointer;
}
.menu-bar ul li:hover .submenu-1 ul li:last-child {
    border-bottom:none;
}
.menu-bar ul li:hover .submenu-1 ul li a:hover{
  	font-size: 13px;
	font-weight: 700;
	color: #ffffff;
	padding-top: 10px;
	padding-bottom: 10px;
	border: 0;
	letter-spacing: 0;
	font-family: 'Lato', sans-serif;
	-webkit-transition: all .2s ease-in-out;
	-o-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
}
.fa-angle-right{
    margin-left: 8px;
    margin-top: 3px;
    float: right;
}
.submenu-2{
    font-weight: bolder;
    display: none;
    opacity: 98%;
}
.hover-me:hover .submenu-2{
    position: absolute;
    display: block;
    margin-left: 170px;
    margin-top: -30px;
    background: rgb(94 172 86 / 1);
}
.menu-icon{
    margin-right: 5px;
}