<h3>DN Tracker Report</h3>
<div style="font-size:11px;" ng-controller="dnTrackerReportcontroller as dpick" class="container-fluid">
    <style>
        .vl {
            border-left: 1.5px ridge;
            border-right: 1.5px ridge;
        }

        .tabheight {
            padding-top: 10px;
        }
    </style>
    <style>
        .labelsvalue {
            font-family: Trebuchet MS, Arial;
            font-size: 11px;
            color: #27528a;
            font-weight: bold;
            padding-top: 2px;
            padding-right: 5px;
            padding-bottom: 2px;
            padding-left: 5px;
            text-align: left;
        }
        .v2 {
            border-left: 1.5px ridge;
        }
        .v3 {
            border-right: 1.5px ridge;
        }
    </style>
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="col-lg-5 col-sm-5 col-md-5">
            </div>
            <div class="col-lg-6  col-sm-6 col-md-6">
            </div>
            <div class="col-lg-1 col-sm-1 col-md-1 pull-right">
                &nbsp;&nbsp; &nbsp;<button type="button" class="btn btn-success" ng-click="export()" title="Export Excel"><i class="fa fa-file-excel-o"></i><a download="" href="" id="btnpdf" style="display:none;"></a></button>&nbsp;
            </div>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-lg-12">
            <!-- START panel-->
            <div id="panelDemo13" class="panel panel-default">
                <div class="panel-body table-responsive">
                    <table datatable="ng" class="row-border hover">
                        <thead>
                            <tr class="bg-primary text-white">
                                <th>URN</th>
                                <th>Customer Name</th>
                                <th>Vertical</th>
                                <th>Sanction Ref No</th>
                                <th class="nowrap">Sanction Date</th>
                                <th class="nowrap">Sanction Amount</th>
                                <th>Status</th>
                                <th>DN1 Details</th>
                                <th>DN2 Details</th>
                                <th>DN3 Details</th>

                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="data in dn_list">
                                <td data-title="URN">{{data.customer_urn}}</td>
                                <td class="nowrap" data-title="Customer Name">{{data.customer_name}}</td>
                                <td data-title="Vertical">{{data.vertical}}</td>
                                <td class="nowrap" data-title="Sanction Ref no">{{data.dn1sanctionref_no}}</td>
                                <td class="nowrap" data-title="Sanction Date">{{data.dn1sanction_date}}</td>
                                <td class="nowrap" data-title="Sanction Amount">{{data.dn1sanction_amount}}</td>
                                <td class="nowrap" data-title="DN Status">{{data.dnstatus}}</td>
                                <td data-title="DN1 Status" class="nowrap">
                                    <table width="100%">
                                        <tr class="bb">
                                            <td></td>
                                            <td></td>
                                        </tr>
                                        <tr class="bb">
                                            <td align="left" class="v2">
                                                Generated Date :<label class="labelsvalue">  {{data.dn1generated_date}}</label>
                                            </td>
                                            <td align="left" class="v2 v3">
                                                Courier Ref No :<label class="labelsvalue">  {{data.dn1courier_refno}}</label>
                                            </td>
                                        </tr>
                                        <tr class="bb">
                                            <td align="left" class="v2">
                                                Generated By :<label class="labelsvalue">{{data.dn1generated_by}} </label>
                                            </td>
                                            <td align="left" class="v2 v3">
                                                Couriered Date/Center: <label class="labelsvalue">{{data.dn1courier_date}}/{{data.dn1courier_center}}</label>
                                            </td>
                                        </tr>
                                        <tr class="bb">
                                            <td align="left" class="v2 ">
                                                Sent Date : <label class="labelsvalue">{{data.dn1sent_date}} </label>
                                            </td>
                                            <td align="left" class="v2 v3">
                                                Couriered By :<label class="labelsvalue"> {{data.dn1couriered_by}}</label>
                                            </td>
                                        </tr>
                                        <tr class="bb">
                                            <td align="left" class="v2">
                                                Sent By :<label class="labelsvalue">  {{data.dn1sent_by}}</label>
                                            </td>
                                            <td align="left" class="v2 v3">
                                                Courier Status/Date :<label class="labelsvalue">  {{data.dn1courier_status}}/{{data.dn1delivered_date}}</label>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                                <td data-title="DN2 Status" class="nowrap">
                                    <table width="100%">
                                        <tr class="bb">
                                            <td></td>
                                            <td></td>

                                        </tr>
                                        <tr class="bb">
                                            <td align="left" class="v2">
                                                Generated Date :<label class="labelsvalue">  {{data.dn2generated_date}}</label>
                                            </td>
                                            <td align="left" class="v2 v3">
                                                Courier Ref No :<label class="labelsvalue">  {{data.dn2courier_refno}}</label>
                                            </td>
                                        </tr>
                                        <tr class="bb">
                                            <td align="left" class="v2">
                                                Generated By :<label class="labelsvalue">{{data.dn2generated_by}}</label>
                                            </td>
                                            <td align="left" class="v2 v3">
                                                Couriered Date/Center: <label class="labelsvalue">{{data.dn2courier_date}}/{{data.dn2courier_center}}</label>
                                            </td>
                                        </tr>
                                        <tr class="bb">
                                            <td align="left" class="v2 ">
                                                Sent Date : <label class="labelsvalue">{{data.dn2sent_date}} </label>
                                            </td>
                                            <td align="left" class="v2 v3">
                                                Couriered By :<label class="labelsvalue"> {{data.dn2couriered_by}}</label>
                                            </td>
                                        </tr>
                                        <tr class="bb">
                                            <td align="left" class="v2">
                                                Sent By :<label class="labelsvalue">  {{data.dn2sent_by}}</label>
                                            </td>
                                            <td align="left" class="v2 v3">
                                                Courier Status/Date :<label class="labelsvalue">  {{data.dn2courier_status}}/{{data.dn2delivered_date}}</label>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                                <td data-title="DN3 Status" class="nowrap">
                                    <table width="100%">
                                        <tr class="bb">
                                            <td></td>
                                            <td></td>
                                        </tr>
                                        <tr class="bb">
                                            <td align="left" class="v2">
                                                Generated Date :<label class="labelsvalue">  {{data.dn3generated_date}}</label>
                                            </td>
                                            <td align="left" class="v2 v3">
                                                Courier Ref No :<label class="labelsvalue">  {{data.dn3courier_refno}}</label>
                                            </td>
                                        </tr>
                                        <tr class="bb">
                                            <td align="left" class="v2">
                                                Generated By :<label class="labelsvalue"> {{data.dn3generated_by}}</label>
                                            </td>
                                            <td align="left" class="v2 v3">
                                                Couriered Date/Center: <label class="labelsvalue">{{data.dn3courier_date}}/{{data.dn3courier_center}}</label>
                                            </td>
                                        </tr>
                                        <tr class="bb">
                                            <td align="left" class="v2 ">
                                                Sent Date : <label class="labelsvalue">{{data.dn3sent_date}} </label>
                                            </td>
                                            <td align="left" class="v2 v3">
                                                Couriered By :<label class="labelsvalue"> {{data.dn3couriered_by}}</label>
                                            </td>
                                        </tr>
                                        <tr class="bb">
                                            <td align="left" class="v2">
                                                Sent By :<label class="labelsvalue">  {{data.dn3sent_by}}</label>
                                            </td>
                                            <td align="left" class="v2 v3">
                                                Courier Status/Date :<label class="labelsvalue">  {{data.dn3courier_status}}/{{data.dn3delivered_date}}</label>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

</div>
