<h3>Legal SR Report</h3>
<div style="font-size:11px;" ng-controller="legalsrreportcontroller as dpick" class="container-fluid">
    <style>
        .vl {
            border-left: 1.5px ridge;
            border-right: 1.5px ridge;
        }

        .tabheight {
            padding-top: 10px;
        }
    </style>
    <style>
        .labelsvalue {
            font-family: Trebuchet MS, Arial;
            font-size: 11px;
            color: #27528a;
            font-weight: bold;
            padding-top: 2px;
            padding-right: 5px;
            padding-bottom: 2px;
            padding-left: 5px;
            text-align: left;
        }

        .v2 {
            border-left: 1.5px ridge;
        }

        .v3 {
            border-right: 1.5px ridge;
        }
    </style>
    <div class="row">
      
            <div class="col-lg-4  col-sm-4 col-md-4">

                <strong class="mt0">Customer Name </strong><br />
                <input ng-model="customer" style="width:375px;height:30px" />
            </div>


            <div class="col-lg-4  col-sm-4 col-md-4">
                <strong class="mt0">Month</strong><br />
                <select id="month_date" name="month_date" dropzone="" ng-model="month_date" required=""
                        class="form-control ng-valid ng-touched ng-valid-parse" size="1">
                    <option value="">---Select Month---</option>
                    <option value="01">01</option>
                    <option value="02">02</option>
                    <option value="03">03</option>
                    <option value="04">04</option>
                    <option value="05">05</option>
                    <option value="06">06</option>
                    <option value="07">07</option>
                    <option value="08">08</option>
                    <option value="09">09</option>
                    <option value="10">10</option>
                    <option value="11">11</option>
                    <option value="12">12</option>
                    <option value="{{data.month_date}}">{{data.month_date}}</option>
                </select>


            </div>



            <div class="col-lg-4  col-sm-4 col-md-4">
                <strong class="mt0">Year</strong><br />
                <input ng-model="year_date" style="height:30px" />

                <button type="button" class="btn btn-green btn-md" style="background-color:#23b1e6;" ng-disabled="userform.$invalid" ng-click="search()" title="Search"><i class="fa fa-search"></i></button>&nbsp;&nbsp;

            </div>
        
        </div>
    <!--<div style="text-align:right:right">
        <button type="button" class="btn btn-green btn-md" style="background-color:#23b1e6;" ng-disabled="userform.$invalid" ng-click="search()" title="Search"><i class="fa fa-search"></i></button>&nbsp;&nbsp;
    </div>-->
  
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12">
       
            <div>
                <div style="text-align:right">
                    <button type="button" class="btn btn-success"  ng-disabled="userform.$invalid" ng-click="export()" title="Export Excel"><i class="fa fa-file-excel-o"></i><a download="" href="" id="btnpdf" style="display:none;"></a>
                    </button>&nbsp;&nbsp;

                </div>
            </div>
            <!--<div class="col-lg-4 col-md-4 col-sm-4">
                <div class="input-group">
                    <input type="text" ng-model="searchtxt" placeholder="Search Here .." class="form-control input-sm" />
                    <span class="input-group-btn">
                        <button type="submit" class="btn btn-default btn-sm">
                            <i class="fa fa-search"></i>
                        </button>
                    </span>
                </div>
            </div>-->
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-lg-12">
            <!-- START panel-->
            <div id="panelDemo13" class="panel panel-default">
                <div class="panel-body table-responsive">
                    <table datatable="ng" class="row-border hover">
                        <thead>
                            <tr class="bg-primary text-white">
                                <th style="text-align:center">Ref no</th>
                                <th style="text-align:center">Initiated By</th>
                                <th style="text-align:center">Initiated Date</th>
                                <th style="text-align:center">Department</th>
                                <th style="text-align:center">Customer URN</th>
                                <th style="text-align:center">Customer Name</th>
                                <th style="text-align:center">Authentication Status</th>
                                <th style="text-align:center">Authentication Date</th>
                                <th style="text-align:center">Authentication Remarks</th>
                                <th style="text-align:center">ODC Approval Status</th>

                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="data in legalSR_list">
                                <td style="text-align:center" data-title="REF NO">{{data.srref_no}}</td>
                                <td style="text-align:center" class="nowrap" data-title="Initiated by">{{data.raised_by}}</td>
                                <td style="text-align:center" data-title="Initiated Date">{{data.created_date}}</td>
                                <td style="text-align:center" data-title="Deprtment">{{data.raised_by_department}}</td>
                                <td style="text-align:center" data-title="Customer URN">{{data.customer_urn}}</td>
                                <td style="text-align:center" data-title="Customer Name">{{data.customer_name}}</td>                                                                                
                                <td style="text-align:center" data-title="Authentication Status">{{data.auth_status}}</td>
                                <td style="text-align:center" data-title="Authentication Date">{{data.auth_date}}</td>
                                <td style="text-align:center" data-title="Authentication Remarks">{{data.auth_remarks}}</td>                        
                                <td style="text-align:center" data-title="Approval Status">{{data.approval_status}}</td>                       
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

