<a href="#/app/lawyerPayment">
    <button type="button" title="Back" class="pull-right btn btn-sm btn-primary">
        <em class="fa fa-arrow-circle-left fa-1x"></em>
    </button>
</a>
<h3>
    Lawyer Payment Summary
</h3>
<div ng-controller="LglTrnInvoiceSummary">
    <div class="panel">
        <div class="panel-body">
          
            <div class="row" style="color :brown ;font-size:130%;font-weight :bold;">
          &nbsp;&nbsp;  {{case_type}} - {{caseref_no}}
            </div>
            <br />
            <div class="table-responsive">
                <table id="statictable" class="row-border hover">
                    <thead>
                        <tr class="bg-primary-light text-white">
                            <th style="display:none;">S.NO</th>
                            <th>Invoice Number</th>
                            <th>Invoice Date</th>
                            <th>Invoice Amount</th>
                            <th>Raised By</th>
                            <th>Created Date</th>
                            <th>Status</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="data in invoicelist">
                            <td data-title="'S.No'" style="display:none;">{{$index+1}} </td>
                            <td data-title="Invoice Number">{{data.invoice_refno}}</td>
                            <td data-title="Invoice Date"  style="text-align:center;">{{data.invoice_date}}</td>
                            <td data-title="Invoice Amount" style="text-align:right;">{{data.invoice_amount}}</td>
                            <td data-title="Created By">{{data.created_by}}</td>
                            <td data-title="Created Date"  style="text-align:center;">{{data.created_date}}</td>
                            <td data-title="Invoice Status">{{data.invoice_status}}</td>
                            <td  style="text-align:center;">
                                <button title="View" class="btn btn-info btn-sm"
                                        ng-click="viewinvoice(data.lawyerinvoicedtl_gid)">
                                    <em class="fa fa-eye"></em>
                                </button>

                            </td>
                        </tr>
                    </tbody>
                </table>

            </div>

        </div>
        
    </div>
    <br/>
    <div>
        <div class="text-center">
            <button ng-click="back()" class="btn btn-info"><i class="fa fa-arrow-circle-left"></i>&nbsp;&nbsp;Back</button>
        </div>
    </div>
</div>