<h3>
    DASHBOARD
</h3>
<div ng-controller="rptdashboardcontroller">
    
  
    <!-- <iframe width="1700" height="580" src="https://app.powerbi.com/view?r=eyJrIjoiYzU2OTA2ODktZTIyNy00ODhmLTk1ZGEtOGVlZmRlZDNjYzY3IiwidCI6IjUwZjYwNzFmLWJiZmUtNDAxYS04ODAzLTY3Mzc0OGU2MjllMiIsImMiOjh9"> -->
    <!-- <iframe width="1700" height="580" src="https://app.powerbi.com/groups/aea3d4a2-0d16-47f1-833f-b76f28304455/reports/840b51d5-cbeb-437d-aa88-91b7e53c340c/ReportSection"></iframe> -->
    <!-- <iframe id="report" ng-show="selectedReport" src="{ {selectedReport} }" frameborder="0" seamless style="height: 400px;" class="col-sm-12"></iframe> style="height: 600px; width: 1500px;"-->
    

    <div id="dashboardContainer" style="height: 1080px; width: 1500;"></div>
</div>