<h3>
    Featured Course
</h3>
<div ng-controller="featuredCoursecontroller">      
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12">
           
            <div class="col-lg-10 col-md-10 col-sm-10">

            </div>
            <div class="col-lg-2 col-md-2 col-sm-2">
                <button type="button" title="back" class="btn btn-success btn-sm" ng-click="featuredcourseback()">
                    <span class="btn-label">
                        <i class="fa fa-arrow-left"></i>
                    </span>Back
                </button>
            </div>
            <div class="col-lg-5.8 col-md-5.8 col-sm-5.8">
            </div>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-lg-12">
            <!-- START panel-->
            <div id="panelDemo13" class="panel panel-default">
                <div class="panel-body table-responsive">
                    <table datatable="ng" class="row-border hover">
                        <thead>
                            <tr class="bg-success text-white">
                                <th>S.NO</th>
                                <th>COURSE REF NO</th>
                                <th>COURSE TITLE</th>
                                <th>COURSE AUTHOR</th>
                                <th>COURSE DURATION</th>
                                <th>ACTION</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="data in course">
                                <td data-title="'S.No'">{{$index+1}}</td>
                                <td data-title="'Vertical code'">{{data.coarse_code}}</td>
                                <td data-title="'Vertical Name'">{{data.coarse_name}}</td>
                                <td data-title="'Action'" class="nowrap">
                                    <button title="Remove" ng-click="delete(data.course_gid)" class="btn btn-danger">
                                        <em class="icon icon-trash "></em>
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>
    </div>
