<h3>
    Add Template
</h3>
<div ng-controller="idasMstAddTemplateController">
    <div class="panel">
        <div class="row">
            <div class="col-lg-12 col-sm-12 col-md-12">
                <h3 style="color:#141478;"> &nbsp;&nbsp; Create Template </h3>
            </div>
        </div>
        <br/>
        <div class="row">
            <div class="col-lg-12 col-sm-12 col-md-12">
            <div class="col-lg-5 col-sm-5 col-md-5">
                <label><strong>Template Name</strong></label>
                <input type="text" ng-model="templatename" tabindex="0" class="form-control" /></div>
                <div class="col-lg-1 col-sm-1 col-md-1"></div>
                <div class="col-lg-5 col-sm-5 col-md-5">
                <label><strong>Template Type</strong></label>
                    <select name="templatetype" id="templatetype" ng-options="m.templatetype_name for m in cbotemplatetype_list"
                    ng-model="cbotemplatetype" class="form-control" required ></select>
                </div>
                <br>
                <br>
            </div>
        </div>
        <br>

       <!-- <div class="row">
            <div class="col-lg-12 col-sm-12 col-md-12">
                <div class="col-lg-5 col-sm-5 col-md-5">
                <label><strong>Template Content</strong></label>
                <div class="pd-sm-10">

                    <div class="row">
    
                        <div class="col-lg-12 col-sm-12 col-md-12">
                               
                            <div class="row">
                                <div class="col-lg-12 col-md-12 col-sm-12">
                                    <label> Email Signature</label>
    
                                    <div text-angular="" ng-model="EmailSignature"
                                            placeholder="Type Email Signature..." name="wysiswyg-editor" class="btn-group-justified">
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div> -->

        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <label> Template Content</label>
                    <div>
                        <div class="simple">
                            <textarea id="test" ng-show="editMode" froala ng-model="content" class="nw-editor__src"> </textarea>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </br>
        <div class="row">
            <div class="text-center">

                <button ng-click="submitTemplate()" ng-disabled="" class="btn btn-success">
                    <i class="fa fa-check"></i>&nbsp;&nbsp;Submit
                </button>

                <button ng-click="back()" class="btn btn-primary"><i class="fa fa-arrow-circle-left fa-1x"></i>&nbsp;&nbsp;Back</button>
            </div>
            <br>
        </div>
        
    
</div>