<h3>
    NOC & NDC Report
</h3>
<div ng-controller="idasTrnNocAndNdcReportController">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="col-lg-10 col-sm-10 col-md-10">
            </div>
            <div class="col-lg-2 col-sm-2 col-md-2 " style="text-align:right;padding-bottom:10px;">
                <button type="button" class="btn btn-success" ng-click="excelnocandndc()" title="Export Excel"><i class="fa fa-file-excel-o"></i><a download="" href="" id="btnpdf" style="display:none;"></a></button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <br /><label style="background-color:white;left:90%;"> Export Excel </label>
            </div>
        </div>
    </div>
    <div class="panel">
        <br />
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <div class="table-responsive">
                        <table datatable="ng" class="table table-hover table-striped">
                            <thead>
                                <tr class="text-white" style="background-color:#09385f;">
                                    <th>S.No</th>
                                    <th class="nowrap"> Name of the Customer</th>
                                    <th class="nowrap"> Vertical</th>
                                    <th class="nowrap"> Sanction Ref number</th>
                                    <th class="nowrap">Loan Account Numbers</th>
                                    <th class="nowrap"> Sanction Date</th>
                                    <th class="nowrap"> Loan Closure Date</th>
                                    <th class="nowrap"> NDC NOC Request Date</th>
                                    <th class="nowrap">NOC NDC Issuance Date</th>
                                    <th class="nowrap"> Maker Name</th>
                                    <th class="nowrap"> Checker Name</th>
                                    <th class="nowrap"> Created By </th>
                                    <th class="nowrap"> Created Date </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="data in nocandndc_list ">
                                    <td data-title="'S.No'">{{$index+1}}</td>
                                    <td data-title="'Name of the Customer'" >{{data.customer_name}}</td>
                                    <td data-title="'Vertical'" >{{data.vertical_name}}</td>
                                    <td data-title="'Sanction Ref number'" >{{data.sanction_ref_no}}</td>
                                    <td data-title="'Loan Account Numbers'" >{{data.loan_account_no}}</td>
                                    <td data-title="'Sanction Date'" >{{data.sanction_date}}</td>
                                    <td data-title="'Loan Closure Date'" >{{data.loan_closure_date}}</td>
                                    <td data-title="'NDC NOC Request Date'">{{data.nocandndc_date}}</td>
                                    <td data-title="'NOC NDC Issuance Date'">{{data.noc_issuance_date}}</td>
                                    <td data-title="'Maker Name" >{{data.maker_name}}</td>
                                    <td data-title="'Checker Name'" >{{data.checker_name}}</td>
                                    <td data-title="'Created By'">{{data.created_by}}</td>
                                    <td data-title="'Created Date'">{{data.created_date}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <br />
    </div>
</div>