<h3>
    Company Policies
    <a href="#/app/hrmDashboard">
        <button type="button" title="Back" class="pull-right btn btn-sm btn-default">
            <em class="fa fa-arrow-circle-left text-info fa-1x"></em>
        </button>
    </a>
</h3>
<div ng-controller="companypoliciescontroller">
    <div ng-repeat="data in policy_list">
        <div class="panel widget">
            <div style="background-image: url('app/img/bg-blue.jfif')" class="panel-body bg-center">
                <div class="row row-table">
                    <div class="col-xs-12 text-white">
                        <h4 class="m0">{{data.company_policies}}</h4>
                    </div>
                </div>
            </div>
            <div class="panel-body">
                <p ng-bind-html=trustAsHtml(data.policies_description)></p>
            </div>
        </div>

    </div>

</div>
