<h3>
    Add Checkpoint
</h3>
<div ng-controller="AtmMstCheckpointAddController">
    <div id="panelDemo8" class="panel panel-primary ">
        <div class="panel-heading">
            <div class="row">
                <div class="col-lg-11 col-md-11 col-sm-11">

                    <span class="btn-label">
                        <i class="fa fa-plus"></i>
                    </span> Add Checkpoint
                    </div>
                <div class="col-lg-1 col-md-1 col-sm-1">
                    <button type="button" class="btn btn-primary btn-md" style="color:#FFFFFF;background-color:#5454b9;font-size: 13px;" title="Checkpoint Import Excel" ng-click="importexcel(checkpointgroup_gid)">
                        <i class="fa fa-file-excel-o"></i>
                    </button>
                    </div>
                </div>
            </div>
                <div class="modal-body ng-scope">
                    <div class="row">
                        <form name="checklistaudit" id="checklistaudit" novalidate="" class="form-validate mb-lg" autocomplete="off">
                            <div class="row">
                                <div class="col-sm-12 col-sm-12 col-sm-12">
                                    <div class="col-lg-4 col-md-4 col-sm-4">
                                        <label><strong>Checkpoint Intent </strong> <span style="color:red">*</span></label>
                                        <textarea ng-model="txtcheckpoint_intent" style="resize:vertical;" maxlength="3000" rows="3" required aria-multiline="true" tabindex="0" aria-invalid="false" class="mda-form-control"></textarea>
                                    </div>
                                    <div class="col-lg-8 col-md-8 col-sm-8">
                                        <label><strong>Checkpoint Description </strong><span style="color:red">*</span></label>
                                        <textarea ng-model="txtcheckpoint_description" style="resize:vertical;" maxlength="15000" required rows="3" aria-multiline="true" tabindex="0" aria-invalid="false" class="mda-form-control"></textarea>

                                    </div>

                                </div>
                            </div>
                            <br />
                            <div class="row">
                                <div class="col-sm-12 col-sm-12 col-sm-12">
                                    <div class="col-lg-2 col-md-2 col-sm-2">
                                        <label><strong>Risk Category </strong> <span style="color:red">*</span> </label>
                                        <select name="RiskCategory" id="RiskCategory" ng-options="m.riskcategory_name for m in riskcategory_list" chosen=""
                                                ng-model="cboriskcategory" class="chosen-select form-control" required style="height:37px;">
                                            <option value=""></option>
                                        </select>
                                    </div>
                                    <div class="col-lg-2 col-md-2 col-sm-2">
                                        <label><strong>Positive Conformity </strong><span style="color:red">*</span> </label>
                                        <select name="positiveconfirmity" id="positiveconfirmity" ng-options="m.positiveconfirmity_name for m in positiveconfirmity_data" chosen=""
                                                ng-model="cbopositiveconfirmity" class="chosen-select form-control" required style="height:37px;">
                                            <option value=""></option>
                                        </select>
                                    </div>
                                    <div class="col-lg-8 col-md-8 col-sm-8">
                                        <label><strong>Note To Auditor </strong></label>
                                        <textarea ng-model="txtnoteto_auditor" style="resize:vertical;" maxlength="5000" rows="3" aria-multiline="true" tabindex="0" aria-invalid="false" class="mda-form-control"></textarea>
                                    </div>

                                </div>
                            </div>
                            <br />
                            <div class="row">
                                <div class="col-sm-12 col-sm-12 col-sm-12">
                                    <div class="col-lg-10 col-md-10 col-sm-10">
                                        <label><strong>Yes-Disposition </strong> <span style="color:red">*</span></label>
                                        <textarea ng-model="txtyes_disposition" style="resize:vertical;" maxlength="5000" rows="3" aria-multiline="true" tabindex="0" required aria-invalid="false" class="mda-form-control"></textarea>
                                    </div>
                                    <div class="col-lg-2 col-md-2 col-sm-2">
                                        <label><strong>Yes-Score </strong> <span style="color:red">*</span></label>
                                        <input type="number" ng-model="txtyes_score" ng-change="changevalue()" style="text-align:center;" tabindex="0" maxlength="10" class="form-control" required />
                                    </div>
                                </div>
                            </div>
                            <br />
                            <div class="row">
                                <div class="col-sm-12 col-sm-12 col-sm-12">
                                    <div class="col-lg-10 col-md-10 col-sm-10">
                                        <label><strong>No-Disposition </strong> <span style="color:red">*</span></label>
                                        <textarea ng-model="txtno_disposition" style="resize:vertical;" maxlength="5000" rows="3" aria-multiline="true" tabindex="0" required aria-invalid="false" class="mda-form-control"></textarea>
                                    </div>
                                    <div class="col-lg-2 col-md-2 col-sm-2">
                                        <label><strong>No-Score </strong> <span style="color:red">*</span></label>
                                        <input type="number" ng-model="txtno_score" ng-change="changevalue()" style="text-align:center;" maxlength="10" tabindex="0" class="form-control" required />
                                    </div>
                                </div>
                            </div>
                            <br />
                            <div class="row">
                                <div class="col-sm-12 col-sm-12 col-sm-12">
                                    <div class="col-lg-10 col-md-10 col-sm-10">
                                        <label><strong>Partial-Disposition </strong> <span style="color:red">*</span></label>
                                        <textarea ng-model="txtpartial_disposition" style="resize:vertical;" maxlength="5000" rows="3" aria-multiline="true" tabindex="0" required aria-invalid="false" class="mda-form-control"></textarea>
                                    </div>
                                    <div class="col-lg-2 col-md-2 col-sm-2">
                                        <label><strong>Partial-Score </strong> <span style="color:red">*</span></label>
                                        <input type="number" ng-model="txtpartial_score" ng-change="changevalue()" style="text-align:center;" maxlength="10" tabindex="0" class="form-control" required />
                                    </div>
                                </div>
                            </div>
                            <br />
                            <div class="row">
                                <div class="col-sm-12 col-sm-12 col-sm-12">
                                    <div class="col-lg-10 col-md-10 col-sm-10">
                                        <label><strong>NA-Disposition </strong> <span style="color:red">*</span></label>
                                        <textarea ng-model="txtna_disposition" style="resize:vertical;" maxlength="5000" rows="3" aria-multiline="true" tabindex="0" required aria-invalid="false" class="mda-form-control"></textarea>
                                    </div>
                                    <div class="col-lg-2 col-md-2 col-sm-2">
                                        <label><strong>NA-Score </strong> <span style="color:red">*</span></label>
                                        <input type="number" ng-model="txtna_score" ng-change="changevalue()" style="text-align:center;" maxlength="10" tabindex="0" class="form-control" required />
                                    </div>
                                </div>
                            </div>
                            <br />
                            <div class="row">
                                <div class="col-sm-12 col-sm-12 col-sm-12">
                                    <div class="col-lg-10 col-md-10 col-sm-10">

                                    </div>
                                    <div class="col-lg-2 col-md-2 col-sm-2">
                                        <label><strong>Total Score </strong> <span style="color:red">*</span></label>
                                        <input type="text" readonly ng-model="txt_totalscore" style="text-align:right;" tabindex="0" class="form-control" required />
                                    </div>
                                </div>
                            </div>
                            <br />

                        </form>
                    </div>
                    <div class="row">
                        <div class="text-center">
                            <button type="button" class="btn btn-success btn-md" ng-disabled="checklistaudit.$invalid" ng-click="submitAdd()"><i class="fa fa-arrow-circle-right"></i>&nbsp;&nbsp;Submit</button>&nbsp;&nbsp;
                            <button ng-click="back()" class="btn btn-info"><i class="fa fa-arrow-circle-left"></i>&nbsp;&nbsp;Back</button>
                        </div>
                    </div>


                </div>
            </div>
        </div>
<script type="text/ng-template" id="/importexcel.html">
    <div class="modal-header bg-blue-600 ng-scope">
        <h4 id="myModalLabel" class="modal-title">
            <span class="btn-label bg-blue-600">
                <em class="fa fa-plus"></em>
                Checkpoint Import Excel
            </span>
        </h4>
    </div>
    <div class="modal-body ng-scope">
        <div class="pd-sm-10">
            <br />
            <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-12">
                    <div class="row">
                        <div class="col-md-12 col-lg-12 col-sm-12">
                            <div class="col-lg-4 col-md-4 col-sm-4">
                                <a ng-click="downloadtemplate_importexcel()" style="font-size: 13px;">
                                    <b> Click here to download Template </b>
                                </a>
                            </div>
                            <div class="col-lg-2 col-md-2 col-sm-2">
                                <label> Upload Excel : </label>
                            </div>
                            <div class="col-md-4 col-lg-4 col-sm-4">
                                <input type="file" id="fileimport" ng-model="test_document"
                                       onchange="angular.element(this).scope().excelupload(this.files, angular.element(this).scope().documentupload, this.name)"
                                       data-classbutton="btn btn-default" data-classinput="form-control inline" data-button-text="Select" />
                                &nbsp;
                            </div>
                            <div class="col-md-2 col-lg-2 col-sm-2">
                                <button title="Upload Excel" ng-click="uploadexcel()" class="btn btn-info">
                                    <em class="icon-cloud-upload"></em>
                                </button>
                                <span>
                                    <button title="Cancel Upload" ng-click="uploadexcelcancel()" class="btn btn-danger">
                                        <i class="fa icon-close"></i>
                                    </button>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <br />
                <div class="class">
                    <br />
                    <div class="text-center">
                        <button ng-click="ok()" class="btn btn-danger"><i class="fa icon-close"></i>&nbsp;&nbsp;Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</script>
