<h3>
    Checkpoint Group View
</h3>
<div ng-controller="AtmMstChecklistMasterAuditViewController">
    <div id="panelDemo8" class="panel panel-primary ">
        <div class="panel-heading">
            <span class="btn-label">
                <i class="fa fa-eye"></i>
            </span>Checkpoint Group View
        </div>
        <div class="modal-body ng-scope">
            <div class="row">
                <div class="row">
                    <div class="col-sm-12 col-sm-12 col-sm-12 ">
                        <div class="col-lg-3 col-md-3 col-sm-3">
                            <label><strong>CheckpointGroup </strong></label>
                            <br />
                            {{cbocheckpointgroup}}
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-3">
                            <label><strong>Check Point Intent </strong></label>
                            <br />
                            {{txtcheckpoint_intent}}
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-3">
                            <label><strong>Check Point Description </strong> </label>
                            <br />
                            {{txtcheckpoint_description}}
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-3">
                            <label><strong>Risk Category </strong>  </label>
                            <br />
                            {{cboriskcategory}}
                        </div>
                        
                    </div>

                </div>

                <br />
                <div class="row">
                    <div class="col-sm-12 col-sm-12 col-sm-12">
                        <div class="col-lg-3 col-md-3 col-sm-3">
                            <label><strong>Positive Conformity </strong>  </label>
                            <br />
                            {{cbopositiveconfirmity}}
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-3">
                            <label><strong>Note To Auditor </strong> </label>
                            <br />
                            {{txtnoteto_auditor}}
                        </div>                        
                        <div class="col-lg-3 col-md-3 col-sm-3">
                            <label><strong> Yes-Disposition </strong></label>
                            <br />
                            {{txtyes_disposition}}
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-3">
                            <label><strong> Yes-Score </strong></label>
                            <br />
                            {{txtyes_score}}
                        </div>
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col-sm-12 col-sm-12 col-sm-12">
                        <div class="col-lg-3 col-md-3 col-sm-3">
                            <label><strong>No-Disposition </strong> </label>
                            <br />
                            {{txtno_disposition}}
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-3">
                            <label><strong> No-Score </strong></label>
                            <br />
                            {{txtno_score}}
                        </div> 
                        <div class="col-lg-3 col-md-3 col-sm-3">
                            <label><strong>Partial-Disposition</strong> </label>
                            <br />
                            {{txtpartial_disposition}}
                        </div>                     
                        <div class="col-lg-3 col-md-3 col-sm-3">
                            <label><strong> Partial-Score </strong></label>
                            <br />
                            {{txtpartial_score}}
                        </div>                                                                     
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col-sm-12 col-sm-12 col-sm-12">
                        <div class="col-lg-3 col-md-3 col-sm-3">
                            <label><strong>NA-Disposition </strong> </label>
                            <br />
                            {{txtna_disposition}}
                        </div> 
                        <div class="col-lg-3 col-md-3 col-sm-3">
                            <label><strong> NA-Score </strong></label>
                            <br />
                            {{txtna_score}}
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-3">
                            <label><strong>Total Score</strong> </label>
                            <br />
                            {{txt_totalscore}}
                        </div>
                    </div>
                </div>
                <br />
                <div class="text-center">
                    <button ng-click="checklistback()" class="btn btn-info"><i class="fa fa-arrow-circle-left"></i>&nbsp;&nbsp;Back</button>
                </div>
            </div>
        </div>
    </div>
</div>
