<style>
    .tabactivecolorstyle {
        background-color: #84cbdb;
    }
</style>
<h3>
    Audit Visit Report
</h3>
<div ng-controller="AtmRptAuditVisitReportSummaryController">

    <button type="button" title="Audit Visit Report" class="btn btn-info btn-sm" ng-click="createauditvisit()">
        <span class="btn-label">
            <i class="fa fa-plus"></i>
        </span> Audit Visit Report
    </button>
    <br><br>
    <div class="panel">
        <div class="panel-body">
            <div class="row">
          
                <div class="col-lg-2 col-md-6 col-sm-12">
                    <button type="button" id="opentab" class="btn btn-labeled tabactivecolorstyle" ng-click="reportpending()" style="width:200px;height:48px;background-color: #84cbdb;border:1px solid rgb(179, 177, 177)">
                        <div class="pull-right label" style="background-color:#838383;padding-top:5px;padding-bottom:5px;"> <b> {{pending}}</b></div>
                        <b style="font-size: 14px;"> Approval Pending</b>
                    </button>
                </div>
                <div class="col-lg-2 col-md-6 col-sm-12">
                    <button type="button" id="approvedtab" class="btn btn-labeled" ng-click="reportapproved()" style="width:200px;height:50px;border:1px solid rgb(179, 177, 177);">
                        <div class="pull-right label" style="background-color:#838383;padding-top:5px;padding-bottom:5px;"> <b> {{approved}}</b></div>
                        <b style="font-size: 14px;">Approved </b>
                    </button>
                </div>
                
            </div>
        </div>
        <br /><br />
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="table-responsive">
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <table datatable="ng" class="table table-hover table-striped">
                            <thead>
                                <tr class="text-white" style="background-color:#09385f;">
                                    <th>S.No</th>
                                    <th>AuditVisitReportRef Number</th>
                                    <th>Entity</th>
                                    <th>Customer Name</th>
                                    <th>Date of Visit</th>
                                    <th>Approval Status</th>
                                    <th>Created By</th>
                                    <th>Created Date </th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="list in VisitReportList">
                                    <td>{{$index+1}}</td>
                                    <td>{{list.auditvisitreportref_no}}</td>
                                    <td>{{list.entity_name}}</td>
                                    <td>{{list.customer_name}}</td>
                                    <td>{{list.visitreport_date}}</td>
                                    <td>{{list.approval_status}}</td>
                                    <td>{{list.created_by}}</td>
                                    <td>{{list.created_date}}</td>
                                    <td class="nowrap" data-title="'Action'">
                                        <button title="view" ng-click="viewauditvisitreport(list.visitreport_gid)"
                                                class="btn btn-info">
                                            <em class="fa fa-eye"></em>
                                        </button>
                                        <button title="Edit" ng-click="editauditvisitreport(list.visitreport_gid)" class="btn btn-green">
                                            <em class="fa fa-edit"></em>
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>



