<h3>
    Sample Upload
</h3>
<div ng-controller="AtmTrnSamplingController">
    <div class="panel">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <br />
                    <div class="table-responsive">
                        <table datatable="ng" class="table table-hover table-striped">
                            <thead>
                                <tr class="text-white" style="background-color:#09385f;">
                                    <th> S.No </th>
                                    <th> Created By </th>
                                    <th> Sample Unique ID</th>
                                    <th> Sample Name </th>
                                    <th> Tagged Employee </th>
                                    <!--<th> SamFin Code </th>-->
                                    <!--<th> SamAgro Code </th>-->
                                    <!--<th> Date of Code Creation </th>-->
                                    <th> Created Date </th>
                                    <th class="text-center">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="data in sample_list ">
                                    <td data-title="'S.No'" class="text-center"> {{$index+1}} </td>
                                    <td data-title="'Created By'">{{data.created_by}}</td>
                                    <td data-title="'Sample Unique ID'">{{data.audit_uniqueno}}</td>
                                    <td data-title="'Sample Name'">{{data.sample_name}}</td>
                                    <td style="text-decoration:underline;text-decoration-color:#49afcd;">
                                        <label style="padding-right:25px; font-size: 15px;text-decoration:underline;text-decoration-color:#49afcd;"
                                               ng-click="showPopover(data.sampleimport_gid, data.sample_name)">
                                            <em class="fa fa-info-circle" style="font-size:24px;align-content:center;"></em>
                                        </label>
                                    </td>  
                                    <!--<td data-title="'SamFin Code'">{{data.samfin_code}}</td>
                                    <td data-title="'SamAgro Code'">{{data.samagro_code}}</td>-->
                                    <!--<td data-title="'Date of Code Creation'">{{data.codecreation_date}}</td>-->
                                    <!--<td align="center">
                                        <em class="fa fa-info-circle" ng-click=notetoauditor(data.sampleimport_gid,data.noteto_auditor) style="font-size:24px;align-content:center;"></em>
                                    </td>-->
                                    <td data-title="'Created Date'">{{data.created_date}} </td>
                                    <td class="nowrap" data-title="'Action'" style="text-align: center;" ng-switch="data.status">
                                        <button title="View" ng-click="view(data.sampleimport_gid,data.auditcreation_gid)" class="btn btn-info">
                                            <em class="fa fa-eye"></em>
                                        </button>

                                        <button title="Tag User" ng-click="btntaguser(data.sampleimport_gid, data.auditcreation_gid)" style="color:white;" class="btn bg-deep-purple-400">
                                            <em class="fa fa-tag"></em>
                                        </button>
                                        <button title="Raise Query" ng-click="raisequery(data.sampleimport_gid)" class="btn btn-warning">
                                            <em class="fa fa-bolt "></em>
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <br>
                    </div>
                </div>
                <br>
            </div>
        </div>
        <div class="ng-scope">
            <div class="text-center">
                <button ng-click="back()" class="btn btn-info"><i class="fa fa-arrow-circle-left"></i>&nbsp;&nbsp;Back</button>
            </div>
        </div>
        <br />
    </div>
    <br>
</div>

<!--<script type="text/ng-template" id="/raisequery.html">
    <md-toolbar>
        <div class="md-toolbar-tools" style="background-color:rgb(63, 110, 181);">
            <h2><em class="fa fa-bolt"></em>&nbsp;Raise Query</h2>
            <span flex></span>

        </div>
    </md-toolbar>
    <div class="modal-body ng-scope">
        <form name="raisequery" id="raisequery" novalidate="" class="form-validate mb-lg" autocomplete="off">

            <div class="pd-sm-10">

                <div class="row ">
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <label>Customer Business Hierarchy:<span style="color:red">*</span></label>
                    </div>
                </div>
                <br />
                <div class="row ">
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <label>Select Vertical <span style="color:red">*</span></label>
                        <select name="cboemployees" chosen="" tabindex="2"
                                ng-options="m.employee_name for m in employee_list" required=""
                                ng-model="cbovertical" class="chosen-select form-control"></select>
                    </div>
                </div>

                <br />
                <div class="row ">
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <label>Select User <span style="color:red">*</span></label>
                        <select name="cboemployees" chosen="" tabindex="2" multiple="multiple" 
                                ng-options="m.employee_name for m in employee_list" required=""
                                ng-model="cbovertical" class="chosen-select form-control"></select>
                    </div>
                </div>
                <br />


                <div class="class">
                    <div class="text-center">
                        <a class="btn btn-success" ng-click="btnconfirm()" ng-disabled="raisequery.$invalid">
                            <em class="fa fa-check"></em>
                            <span>Confirm</span>
                        </a>
                        <a class="btn btn-danger" ng-click="ok()">
                            <em class="fa fa-close"></em>
                            <span>Cancel</span>
                        </a>
                    </div>
                </div>

            </div>

        </form>

    </div>

</script>-->

<script type="text/ng-template" id="/raisequery.html">
    <md-toolbar>
        <div class="md-toolbar-tools" style="background-color:rgb(63, 110, 181);">
            <h2><em class="fa fa-bolt"></em>&nbsp;Raise Query</h2>
            <span flex></span>

        </div>
    </md-toolbar>
    <div class="modal-body ng-scope">
        <form name="raisequery" id="raisequery" novalidate="" class="form-validate mb-lg" autocomplete="off">

            <div class="pd-sm-10">

                <!--<div class="row ">
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <label>Customer Business Hierarchy:<span style="color:red">*</span></label>
                    </div>
                </div>

                <br />-->

                <div class="row ">
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <label>Select User <span style="color:red">*</span></label>
                        <select name="cboemployees" chosen="" tabindex="0" multiple="multiple"
                                ng-options="m.employee_name for m in employee_list" required=""
                                ng-model="cboemployee_name" class="chosen-select form-control"></select>
                    </div>
                </div>
                <br />
                <div class="row ">
                    <div class="col-sm-12 col-sm-12 col-sm-12 ">
                        <div class="mda-form-group float-label">
                            <textarea ng-model="txtdescription" style="resize:vertical;" rows="4" aria-multiline="true" tabindex="0" aria-invalid="false" class="mda-form-control"></textarea>
                            <label>Description *</label>
                        </div>
                    </div>
                </div>
                <br />

                <div class="text-center">
                    <button type="button" class="btn btn-success btn-md" ng-click="submit()"><i class="fa fa-arrow-circle-right"></i>&nbsp;&nbsp;Submit</button>&nbsp;&nbsp;
                    <button ng-click="ok()" class="btn btn-danger"><i class="fa icon-close"></i>&nbsp;&nbsp;Close</button>
                </div>


            </div>

        </form>

    </div>

</script>



<script type="text/ng-template" id="/taguser.html">
    <md-toolbar>
        <div class="md-toolbar-tools" style="background-color:rgb(63, 110, 181);">
            <h2><em class="fa fa-bolt"></em>&nbsp;Tag User</h2>
            <span flex></span>

        </div>
    </md-toolbar>
    <div class="modal-body ng-scope">
        <form name="taguser" id="taguser" novalidate="" class="form-validate mb-lg" autocomplete="off">
            <div class="pd-sm-10">
                <!--<div class="row ">
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <label>Reporting Hierarchy:<span style="color:red">*</span></label>
                    </div>
                </div>
                <br />-->
                <div class="row ">
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <div class="col-sm-4 col-sm-4 col-sm-4">
                            <label> Sample Name </label>
                        </div>
                        <div class="col-sm-8 col-sm-8 col-sm-8">
                            {{txtsample_name}}
                        </div>
                    </div>
                </div>
                <br />
                <div class="row ">
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <label>Select User <span style="color:red">*</span></label>
                        <select name="cboemployees" chosen="" tabindex="2" multiple="multiple" 
                                ng-options="m.employee_name for m in employee_list" required=""
                                ng-model="cboemployee_name" class="chosen-select form-control"></select>
                    </div>
                </div>
                <br />


                <div class="class">
                    <div class="text-center">
                        <a class="btn btn-success" ng-click="btnconfirm()" ng-disabled="taguser.$invalid">
                            <em class="fa fa-check"></em>
                            <span>Confirm</span>
                        </a>
                        <a class="btn btn-danger" ng-click="ok()">
                            <em class="fa fa-close"></em>
                            <span>Cancel</span>
                        </a>
                    </div>
                </div>
            </div>

        </form>
    </div>


</script>
<script type="text/ng-template" id="/showemployee.html">

    <div class="panel-body text-center">
        <div class="table-responsive">
            <table class="table hover table-striped row-border">

                <thead>
                    <tr style="text-align: left;height:40px;">
                        <th style="color:white;background:#7986cb;width:2%;text-align:center;">{{sample_name}}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>

                        <td style="width:2%; text-align:left"><b> Employee Name : </b> <br /></td>
                    </tr>
                    <tr style="text-align: left;height:20px;">
                        <td data-title="'Credit head'" style="width:2%; text-align:left"> {{employee_name}}</td>
                    </tr>
                </tbody>

            </table>
        </div>
        <div>
            <div class="text-center">

                <button ng-click="ok()" class="btn btn-danger"><i class="fa icon-close">&nbsp;&nbsp;</i>Close</button>
            </div>
        </div>
    </div>
</script>




