.WaterMarkedTextBox
        {
            height: 16px;
            width: 145px;
            padding: 2px 2 2 2px;
            border: 1px solid #BEBEBE;
            background-color:#FFE8C3;
            color: gray;
            font-size: 8pt;
            text-align: left;
        }
        .WaterMarkedTextBoxPSW
        {
            background-position: center;
			height: 24px;
            width: 145px;
            padding: 2px 2 2 2px;
            border: 1px solid #BEBEBE;
            background-color:#FFE8C3;
            color: white;
            vertical-align: middle;
            text-align: left;
            background-image: url(../images/psw_wMark.png);
            background-repeat: no-repeat;
        }
        .NormalTextBox
        {
            height: 16px;
            width: 168px;
        }
.WaterMarkedMultiTextBox
        {
           width: 145px;
			height: 60px;
            padding: 2px 2 2 2px;
            border: 1px solid #BEBEBE;
            background-color:#FFE8C3;
            color: gray;
            font-size: 8pt;
            text-align: left;
        }
        .WaterMarkedmultiTextBoxPSW
        {
            background-position: center;
			width: 145px;
			height: 60px;
            padding: 2px 2 2 2px;
            border: 1px solid #BEBEBE;
            background-color:#FFE8C3;
            color: white;
            vertical-align: middle;
            text-align: left;
            background-image: url(../images/psw_wMark.png);
            background-repeat: no-repeat;
        }
        .NormalmultiTextBox
        {
            height: 16px;
            width: 168px;
        }
